Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): accept one file only
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/FileUploadSection.tsx
Due: eslint, prettier

feat(be): add validateJoinableStudyGroup in study service
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

chore(infra): initialize ansible project structure
  infra/ansible/ansible.cfg
  infra/ansible/inventory/production/hosts
  infra/ansible/inventory/stage/hosts
  infra/ansible/requirements.yml
Due: prettier

fix(infra): remove default inventory to enforce explicit environment selection
  infra/ansible/ansible.cfg
Due: none

fix(infra): add kustomize overlay source for redis-credentials secret
  infra/k8s/argocd/applications/redis.yaml
Due: prettier

chore(infra): initialize ansible project structure (#3524)
  infra/ansible/ansible.cfg
  infra/ansible/inventory/production/hosts
  infra/ansible/inventory/stage/hosts
  infra/ansible/requirements.yml
Due: prettier

feat(runner): add trace and log data (#3488)
  apps/runner/backend/go.mod
  apps/runner/backend/go.sum
  apps/runner/backend/instrumentation.go
  apps/runner/backend/logger.go
  apps/runner/backend/main.go
  apps/runner/pod-manager/go.mod
  apps/runner/pod-manager/go.sum
  apps/runner/pod-manager/instrumentation.go
  apps/runner/pod-manager/logger.go
  apps/runner/pod-manager/pod-manager.go
  apps/runner/pod-manager/runner_state_store.go
  infra/k8s/runner/overlays/production/configmap.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

feat(infra): add publickey ssh playbook and some public keys
  infra/ansible/inventory/production/hosts
  infra/ansible/inventory/stage/hosts
  infra/ansible/playbooks/setup_ssh_keys.yml
  infra/ansible/requirements.yml
  infra/ansible/ssh_publickey/infra.pub
Due: prettier

chore(infra): set up grafana alerting pipeline with discord (#3502)
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/monitoring/grafana/base/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/production/alerting/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/production/kustomization.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/kustomization.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

refactor(infra): use [all:vars] for ansible_port instead of per-host
  infra/ansible/inventory/production/hosts
  infra/ansible/inventory/stage/hosts
Due: none

refactor(infra): use ansible_port variable for sshd_config port setting
  infra/ansible/playbooks/setup_ssh_keys.yml
Due: prettier

fix(infra): use correct RabbitMQ dashboard input
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

feat(infra): add publickey ssh playbook and some public keys (#3525)
  infra/ansible/inventory/production/hosts
  infra/ansible/inventory/stage/hosts
  infra/ansible/playbooks/setup_ssh_keys.yml
  infra/ansible/requirements.yml
  infra/ansible/ssh_publickey/infra.pub
Due: prettier

feat(infra): add rabbitmq monitoring with prometheus and grafana dashboard (#3508)
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/otel-collector/otel-collector.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/service-monitor.yaml
Due: prettier

feat(infra): add lab and raspberrypi ansible inventory
  infra/ansible/inventory/lab/hosts
  infra/ansible/inventory/raspberrypi/hosts
Due: none

chore(infra); update public key for 박태수
  infra/ansible/ssh_publickey/infra.pub
Due: none

feat(infra): add lab and raspberrypi ansible inventory (#3526)
  infra/ansible/inventory/lab/hosts
  infra/ansible/inventory/raspberrypi/hosts
  infra/ansible/ssh_publickey/infra.pub
Due: none

feat(be): implement polygon tool upload
  apps/backend/apps/admin/src/polygon/file/file.service.ts
  apps/backend/apps/admin/src/polygon/polygon.module.ts
  apps/backend/apps/admin/src/polygon/polygon.resolver.ts
  apps/backend/apps/admin/src/polygon/polygon.service.ts
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

fix(fe): fix commented design
  apps/frontend/app/(client)/(main)/problem/_components/MyProblem.tsx
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
Due: eslint, prettier

feat(infra): add Redis password authentication (#3405)
  apps/backend/.env.example
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/libs/cache/src/cache-config.service.ts
  docker-compose.yml
  infra/k8s/admin-api/base/deployment.yaml
  infra/k8s/argocd/applications/redis.yaml
  infra/k8s/client-api/base/deployment.yaml
  infra/k8s/redis/base/admin-credentials.yaml
  infra/k8s/redis/base/kustomization.yaml
  infra/k8s/redis/overlays/production/credentials.yaml
  infra/k8s/redis/overlays/production/kustomization.yaml
  infra/k8s/redis/overlays/stage/credentials.yaml
  infra/k8s/redis/overlays/stage/kustomization.yaml
  infra/k8s/redis/values.yaml
Due: eslint, prettier

chore(infra): add some ssh pubkey and refactor comments format
  infra/ansible/ssh_publickey/infra.pub
Due: none

feat(infra): add TLS encryption for RabbitMQ AMQP communication
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/iris/src/connector/rabbitmq/consumer.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/plag/src/connector/rabbitmq/consumer.go
  apps/plag/src/connector/rabbitmq/producer.go
  infra/k8s/admin-api/base/configmap.yaml
  infra/k8s/client-api/base/configmap.yaml
  infra/k8s/iris/base/configmap.yaml
  infra/k8s/plag/base/configmap.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: eslint, prettier

fix(infra): treat RABBITMQ_SSL env var as string instead of boolean
  apps/backend/libs/amqp/src/amqp.module.ts
Due: eslint, prettier

fix(infra): verify RabbitMQ TLS certificate using CA cert instead of skipping verification
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/iris/src/connector/rabbitmq/consumer.go
  infra/k8s/admin-api/base/deployment.yaml
  infra/k8s/admin-api/base/kustomization.yaml
  infra/k8s/admin-api/base/rabbitmq-ca-cert.yaml
  infra/k8s/client-api/base/deployment.yaml
  infra/k8s/client-api/base/kustomization.yaml
  infra/k8s/client-api/base/rabbitmq-ca-cert.yaml
  infra/k8s/iris/base/deployment.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/base/rabbitmq-ca-cert.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: eslint, prettier

fix(infra): replace InsecureSkipVerify with CA cert validation for RabbitMQ TLS
  apps/backend/libs/amqp/src/amqp.module.ts
  infra/k8s/admin-api/base/rabbitmq-ca-cert.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: eslint, prettier

fix(infra): add management HTTPS config to prevent operator health check failure
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
Due: prettier

fix(infra): add RabbitMQ TLS CA cert to plag service
  infra/k8s/plag/base/deployment.yaml
  infra/k8s/plag/base/kustomization.yaml
  infra/k8s/plag/base/rabbitmq-ca-cert.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: prettier

fix(infra): resolve merge conflict in admin-api deployment
  infra/k8s/admin-api/base/deployment.yaml
Due: prettier

fix(infra): resolve merge conflict in client-api deployment
  infra/k8s/client-api/base/deployment.yaml
Due: prettier

feat(infra): add TLS encryption for RabbitMQ AMQP communication (#3445)
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/iris/src/connector/rabbitmq/consumer.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/plag/src/connector/rabbitmq/consumer.go
  apps/plag/src/connector/rabbitmq/producer.go
  infra/k8s/admin-api/base/configmap.yaml
  infra/k8s/admin-api/base/deployment.yaml
  infra/k8s/admin-api/base/kustomization.yaml
  infra/k8s/admin-api/base/rabbitmq-ca-cert.yaml
  infra/k8s/client-api/base/configmap.yaml
  infra/k8s/client-api/base/deployment.yaml
  infra/k8s/client-api/base/kustomization.yaml
  infra/k8s/client-api/base/rabbitmq-ca-cert.yaml
  infra/k8s/iris/base/configmap.yaml
  infra/k8s/iris/base/deployment.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/base/rabbitmq-ca-cert.yaml
  infra/k8s/plag/base/configmap.yaml
  infra/k8s/plag/base/deployment.yaml
  infra/k8s/plag/base/kustomization.yaml
  infra/k8s/plag/base/rabbitmq-ca-cert.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: eslint, prettier

feat(infra): add CI workflow for infra(ansible)
  .github/workflows/ci-infra.yml
Due: prettier

fix(infra): remove pip cache option from setup-python
  .github/workflows/ci-infra.yml
Due: prettier

fix(infra): pin python version to 3.12 for ansible-lint compatibility
  .github/workflows/ci-infra.yml
Due: prettier

fix(infra): replace manual pip install with ansible/ansible-lint action
  .github/workflows/ci-infra.yml
Due: prettier

fix(infra): change ci - infra name (add space)
  .github/workflows/ci-infra.yml
Due: prettier

fix(infra): add run_once to localhost-delegated tasks in setup_ssh_keys
  infra/ansible/playbooks/setup_ssh_keys.yml
Due: prettier

fix(infra): optimize setup_ssh_keys playbook with run_once and query plugin
  infra/ansible/playbooks/setup_ssh_keys.yml
Due: prettier

fix(infra): se dynamic ARGOCD_VERSION for Helm installation
  infra/bootstrap-cluster.sh
Due: none

fix(infra): fix DR gaps discovered during Stage cluster recovery test (#3452)
  infra/aws/sealed-secrets-backup/secrets-manager.tf
  infra/bootstrap-cluster.sh
  infra/k8s/argocd/README.md
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
  infra/k8s/argocd/applications/argocd.yaml
  infra/k8s/argocd/applications/cert-manager.yaml
  infra/k8s/argocd/applications/minio-operator.yaml
  infra/k8s/argocd/applications/otel-operator.yaml
  infra/k8s/argocd/applications/rabbitmq-operator.yaml
  infra/k8s/argocd/applications/redis-operator.yaml
  infra/k8s/argocd/applications/reflector.yaml
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
  infra/k8s/sealed-secrets-backup/README.md
  infra/k8s/sealed-secrets-backup/base/cronjob.yaml
  infra/k8s/sealed-secrets-backup/overlays/production/kustomization.yaml
Due: prettier, terraformfmt

fix(infra): remove 'edited' types from trigger in ci-infra
  .github/workflows/ci-infra.yml
Due: prettier
