Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(runner): move echo message handling to after stdin write (#3477)
  apps/runner/backend/main.go
Due: none

fix(runner): ensure early return on stdin write error in wsHandler (#3475)
  apps/runner/backend/main.go
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

feat(fe): delete case for saving img (#3484)
  apps/frontend/next.config.ts
Due: eslint, prettier

fix(fe): update cn function for font token (#3485)
  apps/frontend/libs/utils.ts
Due: eslint, prettier

fix(fe): rename coolNeutral to cool-neutral (#3487)
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

fix(runner): revert to original logic (#3479)
  apps/runner/backend/main.go
Due: none

feat(fe): add cool neutral palette (#3486)
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

feat(ci): speed up frontend preview builds (#3489)
  .github/workflows/ci.yml
  apps/frontend/Dockerfile
Due: prettier

feat(fe): make problem create container (#3436)
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CheckerPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CollaborationPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/GeneratorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/JudgePage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateSkeletons.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/StatementPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/TestsPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/UploadButton.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ValidatorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/page.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/style.module.css
  apps/frontend/public/icons/file_gray.svg
  apps/frontend/public/icons/upload-gray.svg
  apps/frontend/public/icons/upload-white.svg
  apps/frontend/public/icons/x.svg
Due: eslint, prettier

feat(fe): create client qna page (#3177)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaColumns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/QnaDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/[commentOrder]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/create/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/table/DataTablePagination.tsx
  apps/frontend/app/admin/course/[courseId]/_components/CourseQnaAnsweredTab.tsx
  apps/frontend/app/admin/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/course/_components/QnaTable.tsx
  apps/frontend/app/admin/course/_components/QnaTableColumns.tsx
  apps/frontend/components/Icons.tsx
  apps/frontend/public/icons/lock-gray.svg
  apps/frontend/types/type.ts
Due: eslint, prettier

feat(be): add duplicate course with input parameters (#3457)
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/group/model/duplicate-course.input.ts
  apps/backend/schema.gql
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
  apps/frontend/graphql/course/mutation.ts
  collection/instructor/Course/Duplicate Course/Succeed.bru
Due: eslint, prettier

fix(fe): change management scroll bar logic (#3482)
  apps/frontend/app/admin/course/page.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/shadcn/scroll-area.tsx
Due: eslint, prettier

feat(fe): create problem tabs (#3481)
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTabs.tsx
  apps/frontend/app/(client)/(main)/problem/creating/page.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/app/(client)/(main)/problem/my-problem/page.tsx
  apps/frontend/components/shadcn/tabs.tsx
Due: eslint, prettier

feat(fe): make course notice page
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentEditor.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentsSection.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
Due: eslint, prettier

chore(fe): discard required tag
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

feat(fe): add signup page layout
  apps/frontend/app/(client)/signup/layout.tsx
Due: eslint, prettier

feat(fe): add signup page entry
  apps/frontend/app/(client)/signup/page.tsx
Due: eslint, prettier

chore(fe): add signup page assets
  apps/frontend/public/icons/asterisk-gray.svg
  apps/frontend/public/logos/codedang-with-text-white.svg
  apps/frontend/public/signup/background.png
Due: none

feat(fe): route signup button to signup page
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: eslint, prettier

feat(fe): create signup form card UI
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
Due: eslint, prettier

feat(fe): add signup-specific header
  apps/frontend/components/auth/SignUpPage/SignUpHeader.tsx
Due: eslint, prettier

feat(fe): create course management qna
  apps/frontend/app/admin/course/[courseId]/_components/CourseQnaAnsweredTab.tsx
  apps/frontend/app/admin/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/course/_components/QnaDetailModal.tsx
  apps/frontend/app/admin/course/_components/QnaTable.tsx
  apps/frontend/app/admin/course/_components/QnaTableColumns.tsx
  apps/frontend/graphql/qna/mutation.ts
  apps/frontend/graphql/qna/queries.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): adjust font weight setting in mac os
  apps/frontend/app/globals.css
Due: prettier

docs(be): fix typo in admin announcement
  apps/backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

feat(iris): migrate Task interface to BuildUnit/sendResult pattern
  .gitignore
  apps/iris/example/request/example_generate_request.json
  apps/iris/src/handler/build_unit.go
  apps/iris/src/handler/generate/factory.go
  apps/iris/src/handler/generate/models.go
  apps/iris/src/handler/generate/task.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge/factory.go
  apps/iris/src/handler/judge/models.go
  apps/iris/src/handler/judge/task.go
  apps/iris/src/handler/run/factory.go
  apps/iris/src/handler/run/models.go
  apps/iris/src/handler/run/task.go
  apps/iris/src/handler/task_runner.go
  apps/iris/src/handler/validate/factory.go
  apps/iris/src/handler/validate/task.go
  apps/iris/src/loader/element.go
  apps/iris/src/loader/postgres.go
  apps/iris/src/loader/s3.go
  apps/iris/src/router/router.go
  apps/iris/src/service/testcase/data.go
  apps/iris/src/service/testcase/manager.go
  apps/iris/tests/data/submission/1_generate.json
Due: none

feat(be): add end_time column to StudyInfo and remove totalStudyTime from UserGroup
  apps/backend/prisma/migrations/20260323082030_add_endtime_and_remove_totalstudytime/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(be): add durationHours field to CreateStudyDto
  apps/backend/apps/client/src/study/dto/study.dto.ts
Due: eslint, prettier

feat(be): include durationHours from dto and calculate endTime in createStudyGroup
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

feat(be): add isEnded flag in study group response
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

docs(be): fix typo in admin assignment
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

feat(be): include endTime in study group selection and add validation for joining ended groups
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

feat(be): add endTime handling and validation for updating study groups
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

revert: this reverts commit 3938774e4a6284ea4 8401e7a352ba68d9fac8d8f a405f8eb48566fcd61bdbe2e079f56945714e212
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.resolver.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/apps/client/src/group/interface/user-group-data.interface.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
Due: eslint, prettier

refactor(fe): change variable names
  apps/frontend/app/admin/course/_components/QnaDetailModal.tsx
Due: eslint, prettier

feat(iris): implement testcase persistence and complete generate handler
  apps/iris/main.go
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/handler/build_unit.go
  apps/iris/src/handler/generate/factory.go
  apps/iris/src/handler/generate/generate-handler_test.go
  apps/iris/src/handler/generate/models.go
  apps/iris/src/handler/generate/task.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge/task.go
  apps/iris/src/handler/run/factory.go
  apps/iris/src/handler/run/task.go
  apps/iris/src/handler/validate/models.go
  apps/iris/src/handler/validate/task.go
  apps/iris/src/loader/element.go
  apps/iris/src/loader/postgres.go
  apps/iris/src/router/router.go
  apps/iris/src/service/testcase/manager.go
  apps/iris/tests/data/submission/1_generate.json
Due: none

feat(iris): update JSON request/response formats and improve logging in handlers
  apps/iris/example/request/example_generate_request.json
  apps/iris/example/request/example_validate_request.json
  apps/iris/example/response/example_generate_response.json
  apps/iris/example/response/example_validate_response.json
  apps/iris/src/handler/generate/task.go
  apps/iris/src/handler/interface.go
  apps/iris/src/loader/postgres.go
  apps/iris/src/router/router.go
  apps/iris/tests/data/submission/1_generate.json
Due: none

feat(be): make getStudyGroups retrieve only active studyGroup
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

feat(fe): change design in duplicate course
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
Due: eslint, prettier

feat(fe): fix semester layout (single line)
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
Due: eslint, prettier

fix(fe): redesign contest main page (#3430)
  apps/frontend/app/(client)/(main)/_components/DataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestFeatureCard.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestFeatureList.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestHeader.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainBanner.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestSubBanner.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTitleFilter.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/components/shadcn/table.tsx
  apps/frontend/libs/utils.ts
  apps/frontend/public/icons/dashboard-blue.svg
  apps/frontend/public/icons/grade-blue.svg
  apps/frontend/public/icons/laptop-coding-blue.svg
  apps/frontend/public/icons/pen-blue.svg
Due: eslint, prettier
