Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(fe): fix semester layout (single line) (#3500)
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
Due: eslint, prettier

feat(infra): add alerting pipeline for AlertManager and Grafana Alerting
  infra/k8s/monitoring/grafana/overlays/production/kustomization.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/kustomization.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

feat(infra): add prometheus Kustomize overlays for AlertManager SealedSecrets
  infra/k8s/argocd/applications/monitoring/prometheus.yaml
  infra/k8s/monitoring/prometheus/overlays/production/alertmanager-config.yaml
  infra/k8s/monitoring/prometheus/overlays/production/kustomization.yaml
  infra/k8s/monitoring/prometheus/overlays/stage/alertmanager-config.yaml
  infra/k8s/monitoring/prometheus/overlays/stage/kustomization.yaml
Due: prettier

chore(infra): RDS 스토리지 5→10GB 증설 및 백업·모니터링 활성화
  infra/aws/storage/database.tf
Due: terraformfmt

style: fix prettier formatting for monitoring yaml files
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

chore: add SealedSecrets for Discord webhook alerting
  infra/k8s/monitoring/grafana/overlays/production/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/stage/discord-webhook.yaml
  infra/k8s/monitoring/prometheus/overlays/production/alertmanager-discord-webhook.yaml
  infra/k8s/monitoring/prometheus/overlays/stage/alertmanager-discord-webhook.yaml
Due: prettier

refactor: use url_file for AlertManager Discord webhook
  infra/k8s/monitoring/prometheus/overlays/production/alertmanager-config.yaml
  infra/k8s/monitoring/prometheus/overlays/production/kustomization.yaml
  infra/k8s/monitoring/prometheus/overlays/stage/alertmanager-config.yaml
  infra/k8s/monitoring/prometheus/overlays/stage/kustomization.yaml
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

fix: rename Grafana webhook secret key to DISCORD_WEBHOOK_URL
  infra/k8s/monitoring/grafana/overlays/production/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/stage/discord-webhook.yaml
Due: prettier

feat: add RDS FreeableMemory and DatabaseConnections alerts
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
Due: prettier

refactor: split AWS alert rules into separate values file
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/monitoring/grafana/overlays/production/values-aws-alerts.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values-aws-alerts.yaml
Due: prettier

docs: add comment explaining empty stage aws alerts file
  infra/k8s/monitoring/grafana/overlays/stage/values-aws-alerts.yaml
Due: prettier

chore: add .kube/ to gitignore
  .gitignore
Due: none

docs: add kubeconfig setup guide to contributing
  CONTRIBUTING.md
Due: none

chore: add KUBECONFIG to .envrc
  .envrc
Due: none

docs(be): add submission order info
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

feat(be): include endTime validation in getStudyGroup
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

fix(be): add IsNumberString validation to invitationCode in CreateStudyDto
  apps/backend/apps/client/src/study/dto/study.dto.ts
  apps/backend/apps/client/src/study/study.controller.ts
Due: eslint, prettier

fix(be): update end time calculation in updateStudyGroup method
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

feat(fe): make notice frame
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/NoticeList.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentEditor.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentsSection.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/page.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/CreateNoticeButton.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/CreateNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeButton.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/page.tsx
  apps/frontend/graphql/course/mutation.ts
  apps/frontend/graphql/course/notice-mutation.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

refactor(iris): validation and error handling in the Iris application
  apps/iris/src/handler/errors.go
  apps/iris/src/handler/extract.go
  apps/iris/src/handler/generate/factory.go
  apps/iris/src/handler/generate/generateHandler_test.go
  apps/iris/src/handler/generate/task.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge/factory.go
  apps/iris/src/handler/judge/judgeHandler_test.go
  apps/iris/src/handler/judge/task.go
  apps/iris/src/handler/parseError.go
  apps/iris/src/handler/result.go
  apps/iris/src/handler/run/factory.go
  apps/iris/src/handler/run/models.go
  apps/iris/src/handler/run/runHandler_test.go
  apps/iris/src/handler/run/task.go
  apps/iris/src/handler/runner.go
  apps/iris/src/handler/runnerError.go
  apps/iris/src/handler/task.go
  apps/iris/src/handler/taskError.go
  apps/iris/src/handler/validate/factory.go
  apps/iris/src/handler/validate/models.go
  apps/iris/src/handler/validate/task.go
  apps/iris/src/handler/validate/validateHandler_test.go
  apps/iris/src/router/response.go
  apps/iris/src/router/router.go
  apps/iris/src/service/build/error.go
  apps/iris/src/service/build/unit.go
  apps/iris/src/utils/getEnv.go
  apps/iris/src/utils/randString.go
Due: none

feat(fe): remove sidebar and implement course tabs
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/table/DataTablePagination.tsx
  apps/frontend/app/admin/_components/table/DataTableRoot.tsx
  apps/frontend/app/admin/_components/table/DataTableSearchBar.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/page.tsx
  apps/frontend/app/admin/course/[courseId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
  apps/frontend/app/admin/course/_components/AssignmentTable.tsx
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
  apps/frontend/app/admin/layout.tsx
Due: eslint, prettier

fix(fe): adjust font weight setting in mac os (#3494)
  apps/frontend/app/globals.css
Due: prettier

fix(fe): change table design
  apps/frontend/app/(client)/(main)/_components/DataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemInfiniteTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
  apps/frontend/app/(client)/(main)/problem/page.tsx
  apps/frontend/app/(client)/_libs/queries/problem.ts
  apps/frontend/components/PaginatorV2.tsx
Due: eslint, prettier

fix(fe): bug fix on course and contest
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/course/_components/InputForm.tsx
Due: eslint, prettier

fix(be): replace acceptedProblemNum to finalScore temporaily
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): modify contest leaderboard to apply identical rank
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(fe): korean patch
  apps/frontend/app/(client)/(main)/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTabs.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
Due: eslint, prettier

feat(infra): add rabbitmq monitoring with prometheus and grafana dashboard
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/otel-collector/otel-collector.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/service-monitor.yaml
Due: prettier

feat(test): add k6 load test for submission judging pipeline
  .gitignore
  tests/load/README.md
  tests/load/payloads/normal/solution.c
  tests/load/payloads/normal/solution.cpp
  tests/load/payloads/normal/solution.java
  tests/load/payloads/normal/solution.py
  tests/load/payloads/normal/solution.pypy.py
  tests/load/payloads/villain/fork-attempt.pypy.py
  tests/load/payloads/villain/infinite-loop.c
  tests/load/payloads/villain/memory-bomb.cpp
  tests/load/payloads/villain/output-flood.java
  tests/load/payloads/villain/resource-hog.py
  tests/load/results/.gitkeep
  tests/load/submission-load.js
Due: eslint, prettier

fix(be): replace acceptedProblemNum to finalScore temporaily (#3507)
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(infra): use explicit datasource input mapping for rabbitmq dashboard
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

fix(test): remove unused LANGUAGES const and truncate error log body
  tests/load/submission-load.js
Due: eslint, prettier

chore(infra): regenerate sealed secrets with correct cluster contexts
  infra/k8s/monitoring/grafana/overlays/production/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/stage/discord-webhook.yaml
  infra/k8s/monitoring/prometheus/overlays/production/alertmanager-discord-webhook.yaml
  infra/k8s/monitoring/prometheus/overlays/stage/alertmanager-discord-webhook.yaml
Due: prettier

chore: exclude k6 load test scripts from eslint
  eslint.config.mjs
Due: none

fix(iris): handle contain-hidden-testcases property on judge request … (#2995)
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/router.go
  apps/iris/src/service/testcase/filter.go
  apps/iris/src/service/testcase/manager.go
Due: none

feat(fe): implement problem create solution tab (#3490)
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/JudgePage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateSkeletons.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
  apps/frontend/public/icons/coding.svg
  apps/frontend/public/icons/info-icon-gray.svg
  apps/frontend/public/icons/trashcan2-gray.svg
Due: eslint, prettier

fix(be): modify getProblem permission
  apps/backend/apps/admin/src/problem/services/problem.service.ts
Due: eslint, prettier

fix(be): modify getProblem permission (#3510)
  apps/backend/apps/admin/src/problem/services/problem.service.ts
Due: eslint, prettier

fix(be): bypass getAssignmentsByProblemId if empty sharedGroup
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
