Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore(fe): add type assertion to url
  frontend-client/components/EditorResizablePanel.tsx
Due: none

chore(fe): remove unnecessary code
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
Due: none

fix: add language type
  frontend-client/stores/editor.ts
  frontend-client/types/type.ts
Due: eslint, prettier

fix: resolve type miss and minor bugs
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/testcase.input.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

docs: submission bruno docs & rename API
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/announcement/announcement.service.ts
  collection/admin/Announcement/Create Announcement/Error: Invalid Problem ID.bru
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcements/Succeed.bru
  collection/admin/Announcement/Update Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
Due: eslint, prettier

fix: fix minor things
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/testcase.input.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): modify get-problem, get-problems to return testcases from s3
  backend/apps/admin/src/problem/model/problem-with-testcase.ts
  backend/apps/admin/src/problem/problem.module.ts
  backend/apps/admin/src/problem/problem.resolver.spec.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/prisma/seed.ts
Due: eslint, prettier

docs(be): add testcase field
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
Due: none

docs(be): temporary comment out
  backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

chore: sort problem submission
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(fe): add data table skeleton
  frontend-client/app/admin/problem/page.tsx
Due: none

feat(be): implement business and unknown exception filter
  backend/apps/client/src/app.module.ts
  backend/libs/exception/src/business.exception.ts
Due: eslint, prettier

fix: change incompatible types
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): apply exception filter to admin module
  backend/apps/admin/src/admin.module.ts
Due: eslint, prettier

fix: fix minor bugs in notice page (#1415)
  backend/apps/client/src/notice/notice.service.ts
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
Due: eslint, prettier

feat(be): make use of existing resolver chain pattern
  backend/apps/admin/src/problem/model/problem-with-testcase.ts
  backend/apps/admin/src/problem/problem.module.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
Due: eslint, prettier

fix: change file name
  backend/prisma/seed.ts
Due: eslint, prettier

test(be): rewrite test code to revised code
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.resolver.spec.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): modify get-problem, get-problems to return testcases from s3 (#1431)
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/prisma/seed.ts
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
Due: eslint, prettier

feat: change updateTestcases logic
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/testcase.input.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

test: fix test code for updateProblem
  backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

refactor: change inputtype name
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/testcase.input.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

chore: change JUDGE Handler span attribute type
  iris/src/handler/judge-handler.go
Due: gofmt

fix(fe): change gql query and response type
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none

fix(fe): change gql query and response type (#1436)
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none

fix(infra): turn keep-alive off for caddy backend
  Caddyfile
Due: none

docs(be): add some user client api docs
  collection/client/User/(TODO) Reset Password/401- Unauthorized.bru
  collection/client/User/(TODO) Send Pin for Password Reset/Succeed.bru
  collection/client/User/(TODO) Send Pin to New Email/422- Duplicate Email.bru
  collection/client/User/(TODO) Sign Up/422- Bad Password.bru
  collection/client/User/(TODO) Sign Up/422- Duplicate Username.bru
  collection/client/User/(TODO) Sign Up/422- Not Authenticated.bru
  collection/client/User/(TODO) Sign Up/Succeed.bru
  collection/client/User/(TODO) Sign Up/[400] Bad Username.bru
  collection/client/User/(TODO) Sign Up/[401] Unauthorized.bru
  collection/client/User/(TODO) Update Email/Succeed.bru
  collection/client/User/(TODO) Verify Pin and Issue Jwt/500- Invalid Pin.bru
  collection/client/User/(TODO) Verify Pin and Issue Jwt/Succeed.bru
  collection/client/User/Send Pin for Password Reset/Succeed.bru
  collection/client/User/Send Pin for Password Reset/[401] Unauthorized.bru
  collection/client/User/Send Pin to New Email/Succeed.bru
  collection/client/User/Send Pin to New Email/[422] Duplicate Email.bru
  collection/client/User/Verify Pin and Issue Jwt/Succeed.bru
  collection/client/User/Verify Pin and Issue Jwt/[401] Invalid Pin.bru
  collection/client/User/[TODO] Reset Password/Succeed.bru
  collection/client/User/[TODO] Reset Password/[401] Unauthorized.bru
  collection/client/User/[TODO] Reset Password/[422] Bad Password.bru
Due: none

chore: resolve type error
  frontend-client/app/admin/problem/[id]/page.tsx
Due: none

fix(infra): turn keep-alive off for caddy backend (#1437)
  Caddyfile
  frontend-client/app/admin/problem/[id]/page.tsx
Due: none

fix(be): modify expose field
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

fix(be): add type
  backend/apps/client/src/problem/dto/problem.response.dto.ts
Due: eslint, prettier

fix(be): modify getProblem sample field (#1439)
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

fix(fe): revise use pagination hook
  frontend-client/lib/usePagination.ts
Due: eslint, prettier

feat(fe): change pagination colors to meet editor design
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/components/Paginator.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/tailwind.config.ts
Due: eslint, prettier

feat(fe): add pagination to submission list
  frontend-client/app/problem/[problemId]/submission/page.tsx
Due: none

fix(fe): remove unnecessary code
  frontend-client/lib/usePagination.ts
Due: eslint, prettier

chore(fe): adjust column size
  frontend-client/app/problem/[problemId]/submission/page.tsx
Due: none

fix(be): change updating problem testcases logic for Admin (#1435)
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/testcase.input.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix: increase take to 100
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none
