Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

chore(fe): modify gap of items
  apps/frontend/components/PaginatorV2.tsx
  apps/frontend/components/shadcn/pagination.tsx
Due: eslint, prettier

feat(fe): make Admin Qna Table (#3194)
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/_components/table/DataTableRoot.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/AdminQnaContentArea.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/ContestQnaAnsweredTab.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/ContestQnaTable.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/ContestQnaTableColumns.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/QnaDetailModal.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/context/RefetchingQnaStoreProvider.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/page.tsx
  apps/frontend/components/DeleteButton.tsx
  apps/frontend/components/Modal.tsx
  apps/frontend/components/shadcn/dialog.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

feat(fe): enable assignment problem rejudge
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTable.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/graphql/submission/mutations.ts
Due: eslint, prettier

feat(fe): enable bulk testcase zip upload
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_components/TestcaseUploadModal.tsx
  apps/frontend/app/admin/problem/_components/ZipUploadModal.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): block checkbox when uploading testcases via zip
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
Due: eslint, prettier

chore(fe): modify classname of PaginationButton
  apps/frontend/components/shadcn/pagination.tsx
Due: eslint, prettier

chore(fe): make bg invisible for inactive prev/next button (#3218)
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/components/PaginatorV2.tsx
  apps/frontend/components/shadcn/button.tsx
  apps/frontend/components/shadcn/pagination.tsx
Due: eslint, prettier

feat(fe): use Modal
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/components/Modal.tsx
Due: eslint, prettier

fix(fe): disable when uploading bulks
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/components/Modal.tsx
Due: eslint, prettier

fix(fe): distribute weight between hidden and simple
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

chore(fe): shorten text
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Due: eslint, prettier

fix(be): fix tc scoreWeight update
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

fix(be): fix tc scoreWeight update (#3221)
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

feat(fe): apply main page design of instagram cards (#3122)
  apps/frontend/app/(client)/(main)/_components/InstagramArea.tsx
  apps/frontend/app/(client)/(main)/_components/InstagramCard.tsx
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
  apps/frontend/libs/instagram.ts
  apps/frontend/next.config.ts
  apps/frontend/public/icons/instagram-logo.svg
Due: eslint, prettier

feat(be): judge only not outdated TC
  apps/iris/src/loader/postgres.go
Due: none

feat(be): judge only not outdated TC (#3222)
  apps/iris/src/loader/postgres.go
Due: none

fix(fe): update development image URL in next.config.ts
  apps/frontend/next.config.ts
Due: eslint, prettier

fix(infra): add MEDIA_BUCKET_NAME in configmap.yaml
  infra/k8s/frontend/base/configmap.yaml
Due: prettier

feat(fe): enable bulk testcase zip upload (#3220)
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_components/TestcaseUploadModal.tsx
  apps/frontend/app/admin/problem/_components/ZipUploadModal.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/components/Modal.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

feat(fe): use Modal
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Due: eslint, prettier

fix(fe): wait for updateProblem before rejudge request
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Due: eslint, prettier

fix(fe): fix typo
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Due: eslint, prettier

feat(fe): block button when updating
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Due: eslint, prettier

fix(fe): update problem before rejudge request
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
Due: eslint, prettier

fix(fe): fix apollo cache problem
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
Due: eslint, prettier

feat(fe): enable assignment problem rejudge (#3219)
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTable.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/BelongedContestTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/graphql/submission/mutations.ts
Due: eslint, prettier

fix(iris): delete cgroup path each testcase juding ended
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/sandbox.go
Due: none

fix(infra): fetch v1.0.0-alpha.4 libjudger when build iris image
  .devcontainer/Dockerfile
  apps/iris/Dockerfile
Due: none

feat(infra): test self hosted runner for github action
  .github/workflows/ci.yml
Due: prettier

fix(infra): fix runs on tag
  .github/workflows/ci.yml
Due: prettier

fix(iris): directly using os module when delete dir
  apps/iris/src/handler/judge-handler.go
Due: none

fix(infra): do not use self runner on test backend
  .github/workflows/ci.yml
Due: prettier

chore(fe): test if it works with github runner
  .github/workflows/ci.yml
Due: prettier

feat(infra): use local cache
  .github/workflows/ci.yml
Due: prettier

fix(infra): fix cache path
  .github/workflows/ci.yml
Due: prettier

feat(infra): only run frontend build
  .github/workflows/ci.yml
Due: prettier

feat(infra): use skkuding-4f-5
  .github/workflows/ci.yml
Due: prettier

feat(infra): run lint on skkuding-4f-5
  .github/workflows/ci.yml
Due: prettier

feat(infra): do not use skkuding-4f-5
  .github/workflows/ci.yml
Due: prettier

chore(infra): test frontend build
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
