Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore(be): change clarification service code to resolve type error 바뀐 contestProblem db schema의 type error를 resolve하기 위해 코드를 수정했습니다.
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/client/src/clarification/clarification.service.ts
Due: eslint, prettier

chore(be): update pnpm-lock
  pnpm-lock.yaml
Due: prettier

fix(be): remove duplicate code
  backend/apps/client/src/user/user.controller.ts
Due: eslint, prettier

fix(infra): keep env files in dev server
  .github/workflows/cd-dev.yml
Due: prettier

feat: implement invitation apis for groups (#832)
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/libs/cache/src/keys.ts
  backend/libs/constants/src/time.constants.ts
  backend/libs/exception/src/business.exception.ts
  frontend/src/user/group/components/GroupListSection.vue
Due: eslint, prettier

chore(be): change baseUrl in environment
  collection/client/environments/Local.bru
Due: none

docs(be): add get group workbooks bruno docs
  collection/client/Workbook/Get All Group Workbooks/Succeed.bru
  collection/client/Workbook/Get Group Workbooks/Succeed.bru
Due: none

docs(be): add 400 invalid cursor value bruno docs
  collection/client/Workbook/Get Group Workbooks/400: Invalid cursor value.bru
Due: none

docs(be): add 403 forbidden resource bruno docs
  collection/client/Workbook/Get Group Workbooks/403: Forbidden resource.bru
Due: none

docs: add 400 validation failed and change 403 forbidden bruno docs
  collection/client/Workbook/Get Group Workbooks/400: Validation failed.bru
  collection/client/Workbook/Get Group Workbooks/403: Forbidden resource.bru
Due: none

docs(be): add OPEN_SPACE get workbooks bruno api docs
  collection/client/Workbook/Get All Workbooks (open space)/Succeed.bru
  collection/client/Workbook/Get Workbooks (open space)/400: Invalid cursor value.bru
  collection/client/Workbook/Get Workbooks (open space)/400: Validation failed.bru
  collection/client/Workbook/Get Workbooks (open space)/Succeed.bru
Due: none

docs(be): add get group workbook bruno api docs
  collection/client/Workbook/Get Group Workbook by ID/404: Nonexistent Workbook.bru
  collection/client/Workbook/Get Group Workbook by ID/Succeed.bru
  collection/client/Workbook/Get Group Workbook by ID/test.bru
  collection/client/Workbook/Get Workbooks (open space)/Succeed.bru
Due: none

docs(be): add 403 forbidden error bruno docs
  collection/client/Workbook/Get Group Workbook by ID/403: Forbidden resource.bru
Due: none

docs(be): add openspace get workbook by id bruno api
  collection/client/Workbook/Get Workbook by ID (open space)/404: Nonexistent Workbook.bru
  collection/client/Workbook/Get Workbook by ID (open space)/Succeed.bru
Due: none

fix(infra): keep env files in dev server (#950)
  .github/workflows/cd-dev.yml
Due: prettier

chore: combine github oauth keys
  .github/workflows/cd-prod.yml
Due: prettier

chore(be): change github signup - github 회원가입 페이지로 redirection하던 로직 - 회원가입 페이지 url만 만들어서 반환하는 것으로 수정
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

chore(be): modify githubStrategy - github 로그인으로부터 이메일 받도록 수정 - 그에 따라 회원가입 시 유저 정보에 이메일 저장 - 회원가입 페이지 url 쿼리에도 이메일 정보 추가
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/auth/interface/social-user.interface.ts
  backend/apps/client/src/user/dto/social-signup.dto.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/auth/src/github/github.strategy.ts
  backend/prisma/migrations/20231102152425_make_email_not_null/migration.sql
  backend/prisma/schema.prisma
Due: eslint, prettier

docs(be): add client contest module api docs
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get group contest by ID/404: Nonexistent contest.bru
  collection/client/Contest/Get group contest by ID/Succeed.bru
  collection/client/Contest/Get group finished contests/403: Not a user of the group.bru
  collection/client/Contest/Get group finished contests/Succeed.bru
  collection/client/Contest/Get group ongoing & upcoming contests/403: Not a user of the group.bru
  collection/client/Contest/Get group ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/401: Unauthorized.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Participate group contest/Succeed.bru
Due: none

fix(fe): removed sidebar items temporarily
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

fix(fe): fixed somthing typo
  frontend/src/admin/pages/[groupId]/problem/index.vue
Due: eslint, prettier

feat(fe): init nextjs & add workspace
  .eslintignore
  .prettierignore
  frontend-client/.eslintrc.json
  frontend-client/.gitignore
  frontend-client/.prettierrc
  frontend-client/README.md
  frontend-client/app/favicon.ico
  frontend-client/app/globals.css
  frontend-client/app/layout.tsx
  frontend-client/app/page.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/postcss.config.js
  frontend-client/public/next.svg
  frontend-client/public/vercel.svg
  frontend-client/tailwind.config.ts
  frontend-client/tsconfig.json
  lefthook.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skkuding.code-workspace
Due: eslint, prettier

fix(fe): change prettier setting
  .prettierignore
  frontend-client/.prettierrc
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): page routing
  frontend-client/app/contest/page.tsx
  frontend-client/app/globals.css
  frontend-client/app/group/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/notice/page.tsx
  frontend-client/app/page.tsx
  frontend-client/app/problem/page.tsx
Due: prettier

fix(fe): remove eslint ignore
  .eslintignore
Due: none

feat(fe): init nextjs
  .eslintignore
  .prettierignore
  frontend-client/.eslintrc.json
  frontend-client/.gitignore
  frontend-client/.prettierrc
  frontend-client/app/contest/page.tsx
  frontend-client/app/favicon.ico
  frontend-client/app/globals.css
  frontend-client/app/group/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/notice/page.tsx
  frontend-client/app/page.tsx
  frontend-client/app/problem/page.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/postcss.config.js
  frontend-client/public/next.svg
  frontend-client/public/vercel.svg
  frontend-client/tailwind.config.ts
  frontend-client/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skkuding.code-workspace
Due: eslint, prettier

fix(fe): lefthook add jsx, tsx
  lefthook.yml
Due: prettier

fix(fe): removed sidebar items, fixed typo (#956)
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

feat(fe): lint tsx, jsx file
  package.json
Due: none

chore: fix typo
  package.json
Due: none

fix: integrate eslint config with root
  .eslintrc.js
  frontend-client/.eslintrc.js
  frontend-client/.eslintrc.json
Due: eslint, prettier

fix: apply global prettier config
  .prettierrc
  frontend-client/.prettierrc
  frontend-client/app/layout.tsx
Due: none

chore: add new line at the end of file
  .eslintignore
  .prettierignore
Due: none

feat(ci): check frontend client build
  .github/workflows/ci.yml
Due: prettier

feat(fe): client next.js scaffolding (#959)
  .eslintignore
  .eslintrc.js
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc
  frontend-client/.eslintrc.js
  frontend-client/.gitignore
  frontend-client/app/contest/page.tsx
  frontend-client/app/favicon.ico
  frontend-client/app/globals.css
  frontend-client/app/group/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/notice/page.tsx
  frontend-client/app/page.tsx
  frontend-client/app/problem/page.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/postcss.config.js
  frontend-client/public/next.svg
  frontend-client/public/vercel.svg
  frontend-client/tailwind.config.ts
  frontend-client/tsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skkuding.code-workspace
Due: eslint, prettier

feat(be): change function name for updating user profile
  backend/apps/client/src/user/dto/update-userprofile.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

feat(be): ensure user is not the only group leader before deletion
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

feat(be): support deletion of users in db
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/group/model/group.input.ts
  backend/prisma/migrations/20231109131322_enable_user_deletion/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: eslint, prettier

fix(be): fix type errors
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/group/mock/group.mock.ts
  backend/apps/client/src/notice/notice.service.spec.ts
Due: eslint, prettier
