Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat(fe): make tiptap component
  frontend-client/app/admin/_components/Tiptap.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/ui/form.tsx
  frontend-client/components/ui/label.tsx
  frontend-client/components/ui/toggle.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat: update version
  pnpm-lock.yaml
Due: prettier

fix(fe): edit input style, add create button
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix: remove group item
  frontend-client/app/(main)/_components/Header.tsx
Due: none

fix: change sign in to log in
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
Due: none

feat: management button
  frontend-client/app/(main)/_components/UserDropdown.tsx
Due: none

feat(fe): add hint source switch, change margin to gap
  frontend-client/app/admin/problem/create/_components/Lable.tsx
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix: change SKKU Coding Platform to Codedang
  frontend-client/app/(main)/contest/layout.tsx
  frontend-client/app/(main)/notice/layout.tsx
  frontend-client/app/(main)/problem/layout.tsx
Due: none

fix: change contest list title and carousel
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/page.tsx
Due: none

fix: remove problem counts section
  frontend-client/app/(main)/problem/_components/ProblemNumber.tsx
  frontend-client/app/(main)/problem/page.tsx
Due: none

feat: fix acrate
  frontend-client/app/(main)/problem/_components/Columns.tsx
Due: none

fix: change sign in to log in
  frontend-client/app/(main)/_components/SignUp.tsx
Due: none

fix: update language store logic
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
Due: none

chore: fix typo
  frontend-client/app/(main)/_components/UserDropdown.tsx
Due: none

feat(fe): wrap up a client part (#1321)
  frontend-client/app/(main)/_components/Header.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/UserDropdown.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/layout.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/notice/layout.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/app/(main)/problem/_components/ProblemNumber.tsx
  frontend-client/app/(main)/problem/layout.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SubmitButton.tsx
  frontend-client/app/problem/[id]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
  frontend-client/lib/utils.ts
Due: eslint, prettier

feat(fe): add example textarea for sample and testcase
  frontend-client/app/admin/problem/create/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/page.tsx
Due: none

docs(be): re-write admin problem module api docs (#1296)
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (1).bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (2).bru
  collection/admin/Problem/Delete a Problem/NOT_FOUND.bru
  collection/admin/Problem/Get Contest Problems/NOT_FOUND.bru
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get ContestProblems by ID/Succeed.bru
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems by ID/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/NOT_FOUND.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
  collection/admin/Problem/Get a Problem/NOT_FOUND.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
  collection/admin/Problem/Update ContestProblems Order/NOT_FOUND.bru
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
  collection/admin/Problem/Update ContestProblems Order/UNPROCESSABLE.bru
  collection/admin/Problem/Update WorkbookProblems Order/NOT_FOUND.bru
  collection/admin/Problem/Update WorkbookProblems Order/Succeed.bru
  collection/admin/Problem/Update WorkbookProblems Order/UNPROCESSABLE.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
  collection/admin/Problem/Update a Problem/UNPROCESSABLE (1).bru
  collection/admin/Problem/Update a Problem/UNPROCESSABLE (2).bru
Due: eslint, prettier

fix: use Dialog for hyperlink
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TextEditor.tsx
Due: none

fix: change zod version
  frontend-client/package.json
  frontend-client/tsconfig.json
  pnpm-lock.yaml
Due: prettier

fix: node to bundler
  frontend-client/tsconfig.json
Due: none

fix: change hyperlink button
  frontend-client/components/TextEditor.tsx
Due: none

fix: delete label
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix: add label ui
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): make tiptap component (#1320)
  frontend-client/components/TextEditor.tsx
  frontend-client/components/ui/form.tsx
  frontend-client/components/ui/label.tsx
  frontend-client/components/ui/toggle.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): add zod and react hook form
  frontend-client/app/admin/problem/create/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix(fe): fix sample testcase state problems
  frontend-client/app/admin/problem/create/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix(fe): unregister hint and source when switch is off
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix(fe): add todo comment, fix remove example function, add key to list
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix(be): problem sorting
  backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

fix(fe): add key to testcase list
  frontend-client/app/admin/problem/create/page.tsx
Due: none

chore(fe): wrap form with scroll area
  frontend-client/app/admin/problem/create/page.tsx
Due: none

feat(fe): add useInfiniteQuery to implement useInfiniteScroll hook
  frontend-client/app/layout.tsx
  frontend-client/lib/providers.tsx
  frontend-client/lib/useInfiniteScroll.ts
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(fe): add useInview
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

feat(fe): add useEffect to detect url change
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

chore(fe): add comments
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

fix(fe): fix jsdoc for type error
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

feat(fe): implement NoticeInfiniteTable
  frontend-client/app/(main)/notice/_components/NoticeInfiniteTable.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/lib/useInfiniteScroll.ts
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(fe): set clipLoader before fetching
  frontend-client/app/(main)/notice/_components/NoticeInfiniteTable.tsx
Due: none

chore(fe): change 'take' value
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

feat(fe): implement ProblemInfiniteTable
  frontend-client/app/(main)/problem/_components/ProblemInfiniteTable.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
