Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

chore: change terraform structure
  infra/deploy/.terraform.lock.hcl
  infra/deploy/main.tf
  infra/deploy/provider.tf
  infra/deploy/variable.tf
  infra/local/.terraform.lock.hcl
  infra/local/main.tf
  infra/local/variable.tf
  infra/modules/codedang-tf-backend/backend.tf
Due: none

chore: fix github action deploy.yml working-directory
  .github/workflows/deploy.yml
Due: prettier

chore: fix github action deploy.yml module name
  .github/workflows/deploy.yml
Due: prettier

chore: ignore minio port in gitpod
  .gitpod.yml
Due: prettier

chore: remove todo
  .github/workflows/ci.yml
Due: prettier

feat: build in parallel
  .github/workflows/deploy.yml
Due: prettier

fix: configure aws for terraform
  .github/workflows/deploy.yml
Due: prettier

fix: adjust frontend bundle path
  .github/workflows/deploy.yml
Due: prettier

chore: set up cname record for cloudfront
  infra/modules/codedang-infra/cloudfront.tf
Due: none

feat: setup codedang.com domain
  infra/modules/codedang-infra/route53.tf
Due: none

fix: add missing properties of route53
  infra/modules/codedang-infra/route53.tf
Due: none

fix: import existing route53
  infra/modules/codedang-infra/route53.tf
Due: none

fix: setup route53 without validation
  infra/modules/codedang-infra/route53.tf
Due: none

fix: activate route53 validation
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/route53.tf
Due: none

fix: add ssl_support_method
  infra/modules/codedang-infra/cloudfront.tf
Due: none

feat: enable manual deploy trigger
  .github/workflows/deploy.yml
Due: prettier

fix: create certificate before cloudfront apply
  infra/modules/codedang-infra/cloudfront.tf
Due: none

fix: disable cloudfront alias
  infra/modules/codedang-infra/cloudfront.tf
Due: none

fix: create certificate in us-east-1
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/route53.tf
Due: none

fix: add us-east-1 provider
  infra/modules/codedang-infra/route53.tf
Due: none

fix: use dns certificate
  infra/modules/codedang-infra/route53.tf
Due: none

chore: fix typo
  infra/modules/codedang-infra/route53.tf
Due: none

fix: use us-east-1 for certificate validation
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/route53.tf
Due: none

fix: replace wrong certificate arn
  infra/modules/codedang-infra/cloudfront.tf
Due: none

feat: enable deploying environment
  .github/workflows/deploy.yml
Due: prettier

fix: use acm certificate only
  infra/modules/codedang-infra/cloudfront.tf
Due: none

fix(fe): fixed to call each group api onclick
  frontend/src/user/group/components/GroupListSection.vue
Due: eslint, prettier

fix: use acm certificate only (#672)
  infra/modules/codedang-infra/cloudfront.tf
Due: none

feat: update carousel content
  frontend/src/common/assets/github.svg
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

fix: load carousel synchronously
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

feat(fe): make a new carousel component (#666)
  frontend/src/common/assets/dummy.png
  frontend/src/common/assets/github.svg
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/layouts/default.vue
  frontend/src/user/home/components/Carousel.story.vue
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

feat(be): implement testCase upload
  backend/apps/admin/src/problem/problem.module.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  thunder-tests/collections/tc_col_codedang-admin-api.json
Due: eslint, prettier

feat(fe): change card design in a home page
  frontend/src/common/components/Molecule/NewCard.vue
  frontend/src/user/home/components/ContestItem.vue
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

fix(fe): login modal appear when user clicked group without loggin in
  frontend/src/user/group/components/GroupListSection.vue
Due: eslint, prettier

feat(fe): add href
  frontend/src/user/home/components/ContestItem.vue
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

docs(be): add uploadFile documentation
  thunder-tests/collections/tc_col_codedang-admin-api.json
Due: none

[ImgBot] Optimize images
  backend/apps/client/src/email/templates/logo.png
  docs/intro/backend-preview.png
  docs/intro/frontend-preview.png
  docs/intro/git-clone.png
  docs/intro/new-wsl-window.png
  docs/intro/remote-containers.png
  docs/intro/remote-wsl.png
  docs/intro/reopen-in-container.png
  docs/intro/vscode-download.png
  docs/project/github-projects.png
  frontend/src/common/assets/dummy.png
  frontend/src/common/assets/github.svg
  frontend/src/common/assets/skkudingLogo.png
Due: none

feat(be): add InvalidFileFormatException
  backend/apps/admin/src/problem/model/problem.constants.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/problem.output.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/libs/exception/src/business.exception.ts
  thunder-tests/collections/tc_col_codedang-admin-api.json
Due: eslint, prettier

feat(fe): add user profile store
  frontend/package.json
  frontend/src/common/store/user.ts
  frontend/src/main.ts
  pnpm-lock.yaml
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
