Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore(be): modify test code
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
Due: eslint, prettier

chore(be): install required package for processing decimal type on gql
  apps/backend/package.json
  apps/backend/schema.gql
  pnpm-lock.yaml
Due: prettier

feat(be): change finalScore type to decimal
  apps/backend/prisma/migrations/20251023132126_change_final_score_type_to_decimal/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
Due: none

chore(be): modify finalScore calculation due to decimal
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
Due: eslint, prettier

chore(be): fix test errors
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

feat(fe): modify for toggle visible according to API (#3237)
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
Due: eslint, prettier

feat(fe): modify leaderboard errorPage (#3234)
  apps/frontend/app/(client)/(code-editor)/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/_components/LeaderboardError.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/error.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
  apps/frontend/components/ChannelIO.tsx
Due: eslint, prettier

refactor(fe): refactor level badge
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
  apps/frontend/app/(client)/(main)/problem/_components/Columns.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemColumns.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentProblemColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/shared/_components/SharedProblemTableColumns.tsx
  apps/frontend/components/LevelBadge.tsx
Due: eslint, prettier

chore(fe): cleanup classnames
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
  apps/frontend/components/LevelBadge.tsx
Due: eslint, prettier

refactor(infra): follow previous convention
  infra/k8s/arc/kustomization.yaml
  infra/k8s/arc/namespace.yaml
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

docs(infra): add README.md for arc
  infra/k8s/arc/README.md
Due: none

feat(infra): introduce actions runner controller (#3228)
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
  .github/workflows/ci.yml
  infra/k8s/arc/README.md
  infra/k8s/arc/github-app-secret.yaml
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

Revert "feat(infra): introduce actions runner controller (#3228)"
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
  .github/workflows/ci.yml
  infra/k8s/arc/README.md
  infra/k8s/arc/github-app-secret.yaml
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

revert(infra): introduce actions runner controller (#3240)
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
  .github/workflows/ci.yml
  infra/k8s/arc/README.md
  infra/k8s/arc/github-app-secret.yaml
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

fix(infra): fix cd-stage workflow
  .github/workflows/cd-stage-k8s.yml
Due: prettier

fix(infra): fix cd-prod workflow
  .github/workflows/cd-prod-k8s.yml
Due: prettier

fix(infra): fix ci cache
  .github/workflows/ci.yml
Due: prettier

chore(infra): fix lint error
  .github/workflows/ci.yml
Due: prettier

chore(infra): add permission for detecting pr number
  .github/workflows/ci.yml
Due: prettier

feat(infra): introduce arc and fix workflows (#3241)
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
  .github/workflows/ci.yml
  infra/k8s/arc/README.md
  infra/k8s/arc/github-app-secret.yaml
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

feat(be): implement getProblemTestcase
  apps/backend/apps/admin/src/problem/resolvers/testcase.resolver.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

chore(be): query only id of sharedGroups
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

chore(be): add bruno for getTestcase
  apps/backend/schema.gql
  collection/admin/Problem/Get a Testcase/NOT_FOUND.bru
  collection/admin/Problem/Get a Testcase/Succeed.bru
Due: none

feat(be): create course notice api (#3158)
  apps/backend/apps/admin/src/group/group.module.ts
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/group/model/course-notice.input.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/apps/client/src/group/dto/courseNotice.dto.ts
  apps/backend/apps/client/src/group/enum/course-notice-order.enum.ts
  apps/backend/apps/client/src/group/group.controller.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/apps/client/src/notice/notice.controller.ts
  apps/backend/apps/client/src/notice/notice.module.ts
  apps/backend/libs/pipe/src/course-notice-order.pipe.ts
  apps/backend/libs/pipe/src/index.ts
  apps/backend/prisma/migrations/20250828113501_add_course_notice/migration.sql
  apps/backend/prisma/migrations/20250901080917_remove_problem_relation_in_course_notice/migration.sql
  apps/backend/prisma/migrations/20250920134752_add_is_visible_and_is_deleted_to_course_notice_comment/migration.sql
  apps/backend/prisma/migrations/20250924071153_delete_is_read_on_course_notice_read_record/migration.sql
  apps/backend/prisma/migrations/20251007113340_migrate_course_notice_record_to_read_by/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/schema.gql
  collection/admin/Course/Clone Course Notices/Succeed.bru
  collection/admin/Course/Create Course Notice/Succeed.bru
  collection/admin/Course/Delete Course Notice/Succeed.bru
  collection/admin/Course/Update Course Notice/Succeed.bru
  collection/client/Course/Create course notice comment/Succeed.bru
  collection/client/Course/Delete course notice comment/Succeed.bru
  collection/client/Course/Get all course notices/Succeed.bru
  collection/client/Course/Get course notice by ID/Succeed.bru
  collection/client/Course/Get course notice comments/Succeed.bru
  collection/client/Course/Get latest course notice/Succeed.bru
  collection/client/Course/Get unread course notice count/Succeed.bru
  collection/client/Course/Modify course notice comment/Succeed.bru
Due: eslint, prettier

feat(be): implement get testcase (#3242)
  apps/backend/apps/admin/src/problem/resolvers/testcase.resolver.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/schema.gql
  collection/admin/Problem/Get a Testcase/NOT_FOUND.bru
  collection/admin/Problem/Get a Testcase/Succeed.bru
Due: eslint, prettier

feat(fe): use ErrorMessage component and modify typo
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

feat(be): change record score type to decimal (#3238)
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/package.json
  apps/backend/prisma/migrations/20251023123035_change_record_score_type_to_decimal/migration.sql
  apps/backend/prisma/migrations/20251023132126_change_final_score_type_to_decimal/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
  pnpm-lock.yaml
Due: eslint, prettier

refactor(fe): refactor clear
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
Due: eslint, prettier

feat(fe): add table skeleton and modal opening
  apps/frontend/app/admin/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/course/_components/QnaTable.tsx
  apps/frontend/app/admin/course/_components/QnaTableColumns.tsx
Due: eslint, prettier

feat(fe): add depedency
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

feat(fe): modify dependency
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

feat(fe): fetch intput and output of each testcase whenever selecting each in list
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/_components/code-editor/TestcasePanel.tsx
  apps/frontend/app/admin/_components/code-editor/libs/util.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
  apps/frontend/graphql/problem/queries.ts
  apps/frontend/graphql/submission/queries.ts
  apps/frontend/stores/testcaseStore.ts
Due: eslint, prettier

chore(be): change to new amqp module 1
  apps/backend/apps/admin/src/check/check-pub.service.ts
  apps/backend/apps/admin/src/check/check.module.ts
  apps/backend/apps/admin/src/check/check.service.ts
Due: eslint, prettier

chore(be): separate amqp service to check and judge
  apps/backend/apps/admin/src/check/check-pub.service.ts
  apps/backend/apps/admin/src/check/check-sub.service.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/backend/libs/amqp/src/amqp.service.ts
Due: eslint, prettier

chore(be): make queues for check api
  .envrc
  apps/backend/libs/amqp/src/amqp.service.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
  scripts/init-rabbitmq.ts
Due: eslint, prettier

fix(be): setup storage and mq
  .envrc
  apps/backend/apps/admin/src/check/check-sub.service.ts
  apps/backend/apps/admin/src/check/model/check-response.dto.ts
  apps/backend/schema.gql
  apps/plag/.env.example
  apps/plag/src/loader/s3.go
  scripts/init-storage.ts
Due: eslint, prettier

feat(fe): unify variable names
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

chore(be): more precise error message
  apps/plag/src/service/check/manager.go
Due: none

feat(fe): delete useless values
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

feat(fe): add text with the sum of testcase weights equal to 100 (#3206)
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier
