Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore(be): modify get-problem functions to check is-visible
  backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

fix: ignore generated files for apollo extension
  apollo.config.js
Due: eslint, prettier

fix: fix lockfile
  pnpm-lock.yaml
Due: prettier

chore(be): remove unused pipe
  backend/apps/admin/src/contest/contest.resolver.ts
Due: eslint, prettier

feat(fe): change badge status when registered
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
Due: none

refactor(be): upload problem method
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): remove comments
  backend/apps/admin/src/problem/model/problem.input.ts
Due: eslint, prettier

feat(be): implement get-contest api (#1370)
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  collection/admin/Contest/Get Contest/NOT_FOUND.bru
  collection/admin/Contest/Get Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Succeed.bru
Due: eslint, prettier

chore(be): add is-visible field to problem model (#1366)
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/prisma/migrations/20240213051227_add_is_visible_to_problem_model/migration.sql
  backend/prisma/schema.prisma
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (1).bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (2).bru
  collection/admin/Problem/Update a Problem/Succeed.bru
Due: eslint, prettier

fix(be): remove comments
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

feat: add status at data table
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(be): add eng title, descriptions field to problem model
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/prisma/migrations/20240215062711_add_english_information_to_problem_model/migration.sql
  backend/prisma/schema.prisma
Due: eslint, prettier

chore(be): modify seed.ts - seed.ts의 첫 번째 Problem에 영문 설명(html 파일) 추가
  backend/prisma/__fixtures__/problem/1-description-eng.html
  backend/prisma/__fixtures__/problem/1-input-eng.html
  backend/prisma/__fixtures__/problem/1-output-eng.html
  backend/prisma/seed.ts
Due: eslint, prettier

fix(fe): change login toast message (#1336)
  frontend-client/app/(main)/_components/SignIn.tsx
Due: none

feat(fe): 1322 admin problem create info (#1331)
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/components/ui/checkbox.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix(fe): change a header position (#1326)
  frontend-client/app/(main)/_components/Header.tsx
Due: none

fix(fe): change text wrap to whitespace (#1334)
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/admin/_components/GroupSelect.tsx
  frontend-client/app/admin/layout.tsx
Due: none

feat(fe): add graphql fetcher (#1315)
  frontend-client/app/admin/layout.tsx
  frontend-client/lib/utils.ts
  frontend-client/lib/vars.ts
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(fe): edit Data Table's title area (#1339)
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/notice/_components/Columns.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
Due: none

feat(be): add get tags api (#1341)
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Tags/Succeed.bru
Due: eslint, prettier

fix(be): problem sorting (#1324)
  backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

feat(fe): add cancel feature in problem table sort button (#1340)
  frontend-client/components/SortButton.tsx
Due: none

fix(be): modify the logic of calculating total field (#1345)
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

feat(be): check judge delay and its cause (#1313)
  .env.development
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.module.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/package.json
  collection/client/Submission/Check Delay/Succeed.bru
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-client.tf
  pnpm-lock.yaml
Due: eslint, prettier

chore(be): add total field to get-problems apis (#1330)
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  collection/client/Problem/Get problems/Succeed.bru
Due: eslint, prettier

fix(cd): omit working-directory since it already set (#1353)
  .github/workflows/reset-seed.yml
Due: prettier

fix(fe): edit admin sidebar (#1360)
  frontend-client/app/admin/_components/SideBar.tsx
  frontend-client/app/admin/contest/page.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/notice/page.tsx
  frontend-client/app/admin/page.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/app/admin/user/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableColumnHeader.tsx
  frontend-client/components/DataTablePagination.tsx
Due: none

feat(fe): problem list datatable (#1357)
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableColumnHeader.tsx
  frontend-client/components/DataTablePagination.tsx
  frontend-client/components/OptionSelect.tsx
Due: none

feat(be): implement the unregister a upcoming contest feature (#1297)
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/prisma/seed.ts
  collection/client/Contest/Unregister Contest/403: Cannot unregister ongoing or ended contest.bru
  collection/client/Contest/Unregister Contest/404: No Contest found.bru
  collection/client/Contest/Unregister Contest/404: No ContestRecord found.bru
  collection/client/Contest/Unregister Contest/Succeed.bru
Due: eslint, prettier

fix(fe): edit login and logout (#1363)
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/UserDropdown.tsx
Due: none

feat(fe): add create problem page (#1323)
  frontend-client/app/admin/problem/create/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/_components/Lable.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/components/TextEditor.tsx
  frontend-client/components/ui/form.tsx
  frontend-client/components/ui/textarea.tsx
  frontend-client/lib/vars.ts
  frontend-client/types/type.ts
Due: eslint, prettier

feat(cd): applying updated seed on stage-server by manual trigger (#1351)
  .github/workflows/reset-seed.yml
Due: prettier

fix(deps): fix invalid go version format in go.mod (#1343)
  iris/go.mod
  renovate.json
Due: none

feat(be): implement the availability of the user contest participation feat (#1328)
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/libs/auth/src/guard.decorator.ts
  backend/libs/auth/src/jwt/jwt-auth.guard.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get contest by ID/[404] Contest does not exist.bru
  collection/client/Contest/Get contest by ID/[404] Nonexistent Contest.bru
Due: eslint, prettier

test(be): modify problem object
  backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

fix(fe): add fallback style of text editor (#1374)
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/components/TextEditor.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(fe): admin problem datatable toolbar (#1381)
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableColumnHeader.tsx
  frontend-client/components/DataTableFacetedFilter.tsx
Due: none
