Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}

fix(fe): fix dropdown props
  frontend/src/common/components/Molecule/Dropdown.vue
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

fix(fe): fix modal style
  frontend/src/common/components/Molecule/Modal.vue
Due: eslint, prettier

fix(be): specify type of the variables
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.service.ts
Due: eslint, prettier

fix: create explicit color mapper
  frontend/src/common/components/Molecule/Badge.vue
Due: eslint, prettier

chore(fe): resolve conflict
  frontend/src/home/components/CarouselItem.vue
Due: eslint, prettier

feat(be): Implement group manager and member guard
  backend/src/contest/contest.service.ts
  backend/src/group/group.module.ts
  backend/src/group/group.service.ts
  backend/src/group/guard/group-manager.guard.ts
  backend/src/group/guard/group-member.guard.ts
Due: eslint, prettier

chore(be): add group manager guard - add group manager guard to contest admin controller
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.module.ts
Due: eslint, prettier

feat(fe): create story for search-bar and pagination-table
  frontend/src/common/components/Molecule/SearchBar.story.vue
  frontend/src/common/components/Organism/PaginationTable.story.vue
Due: eslint, prettier

refactor(be): use JwtAuthGuard as global
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/guard/jwt-auth.guard.ts
  backend/src/common/decorator/public.decorator.ts
Due: eslint, prettier

feat(be): implement role-based guard
  backend/src/common/decorator/roles.decorator.ts
  backend/src/user/guard/roles.guard.ts
Due: eslint, prettier

test(be): add group manager, member service test
  backend/src/group/group.service.spec.ts
Due: eslint, prettier

chore: add thunder client extenstion
  .devcontainer/devcontainer.json
Due: none

fix(be): canActivate function cannot be resolved. Implement CanActivate explicitly
  backend/src/auth/guard/jwt-auth.guard.ts
Due: eslint, prettier

chore: add jest extension and setting
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

chore: add git-history and git-graph extension
  .devcontainer/devcontainer.json
Due: none

fix(be): change baseUrl in tsconfig file
  backend/src/auth/guard/jwt-auth.guard.ts
  backend/tsconfig.json
Due: eslint, prettier

fix(be): add UserService provider to AuthController test file
  backend/src/auth/auth.controller.spec.ts
Due: eslint, prettier

chore: don't use jest autoRun option
  .vscode/settings.json
Due: none

chore: sort lines ascending
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

chore: add vscode exts to gitpod
  .gitpod.yml
Due: prettier

chore: remove exmaple component
  frontend/src/common/components/Organism/OrganismComponent.vue
Due: eslint, prettier

fix: alter broken link
  docs/index.md
Due: none

chore: add project pages
  docs/.vitepress/config.ts
  docs/project/hierarchy.md
  docs/project/tech-stack.md
Due: eslint, prettier

chore: add button story examples
  frontend/src/common/components/Atom/Button.story.vue
Due: eslint, prettier

chore: don't add git extension
  .devcontainer/devcontainer.json
Due: none

fix(be): change test expect boolean method - toBeTruthy() -> toBe(true) - toBeFalsy() -> toBe(false)
  backend/src/contest/contest.service.spec.ts
  backend/src/group/group.service.spec.ts
Due: eslint, prettier

refactor(be): change the order of service method
  backend/src/contest/contest.service.spec.ts
  backend/src/contest/contest.service.ts
Due: eslint, prettier

refactor(be): remove variable used only once
  backend/src/contest/contest-admin.controller.ts
  backend/src/contest/contest.service.spec.ts
Due: eslint, prettier

chore: remove git history and git graph
  .gitpod.yml
Due: prettier

chore: write getting started page
  docs/intro/index.md
Due: none

chore: add wip sign
  docs/group-admin/contest.md
  docs/group-admin/group.md
  docs/group-admin/main.md
  docs/group-admin/notice.md
  docs/group-admin/problem.md
  docs/group-admin/workbook.md
  docs/intro/getting-started.md
  docs/project/deploy.md
  docs/project/hierarchy.md
  docs/project/roadmap.md
  docs/project/tech-stack.md
  docs/user/contest.md
  docs/user/group.md
  docs/user/main.md
  docs/user/notice.md
  docs/user/problem.md
Due: none

chore(fe): reflect feedback
  frontend/src/common/components/Molecule/Badge.story.vue
  frontend/src/common/components/Molecule/Badge.vue
Due: eslint, prettier

test(be): add basic notice create, update service test
  backend/src/notice/notice.service.spec.ts
Due: eslint, prettier

fix(fe): add Modal story and change props
  frontend/src/common/components/Molecule/Modal.story.vue
  frontend/src/common/components/Molecule/Modal.vue
Due: eslint, prettier

feat: add dev container vscode extensions (#132)
  .devcontainer/devcontainer.json
  .gitpod.yml
  .vscode/settings.json
Due: prettier

chore(fe): reflect most of feedbacks
  frontend/package.json
  frontend/src/common/components/Molecule/Pagination.vue
  frontend/src/common/components/Molecule/SearchBar.vue
  frontend/src/common/components/Organism/PaginationTable.story.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/common/styles/style.css
  frontend/src/home/pages/index.vue
  pnpm-lock.yaml
Due: eslint, prettier

chore(fe): fix codes
  frontend/src/home/components/Carousel.vue
  frontend/src/home/components/CarouselItem.vue
Due: eslint, prettier

refactor: refactor style code
  frontend/src/common/components/Molecule/Tab.vue
Due: eslint, prettier

chore(fe): delete type prop
  frontend/src/common/components/Molecule/ProgressCard.vue
Due: eslint, prettier

chore(fe): apply changes in component
  frontend/src/common/components/Molecule/ProgressCard.story.vue
Due: eslint, prettier
