Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(be): implement cache handler
  iris/src/handler/cache-handler.go
  iris/src/handler/judge-handler.go
Due: gofmt

chore: fix pnpm lock
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): change footer design
  frontend-client/app/(main)/_components/Footer.tsx
Due: none

fix(fe): change metabase url and downgrade sharp (#1189)
  frontend-client/app/layout.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(be): set module groupmemberguard
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.module.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.module.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.module.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.module.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.module.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/apps/client/src/workbook/workbook.module.ts
  backend/libs/auth/src/guard.decorator.ts
Due: eslint, prettier

feat(fe): fixed design of problem card
  frontend-client/app/(main)/_components/ProblemCard.tsx
Due: none

fix: change style
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/page.tsx
Due: none

chore: typo error
  frontend-client/app/(main)/_components/ContestCard.tsx
Due: none

chore: add gap
  frontend-client/app/(main)/page.tsx
Due: none

feat(fe): contest card, problem card design change (#1193)
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/page.tsx
Due: none

feat(fe): change footer design (#1192)
  frontend-client/app/(main)/_components/Footer.tsx
Due: none

fix: change footer style
  frontend-client/app/(main)/_components/Footer.tsx
Due: none

refactor: change card design
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/components.json
  frontend-client/components/ui/card.tsx
Due: none

fix: prettier error
  frontend-client/components/ui/card.tsx
Due: none

refactor(fe): change card and footer design (#1194)
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/Footer.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/components.json
  frontend-client/components/ui/card.tsx
Due: none

feat(fe): add problem list page (#1169)
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.ts
  frontend-client/app/(main)/_components/NavLink.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/(main)/problem/_components/SearchBar.tsx
  frontend-client/app/(main)/problem/_components/SortableHeader.tsx
  frontend-client/app/(main)/problem/_components/TagSwitch.tsx
  frontend-client/app/(main)/problem/_components/UpandDownButton.tsx
  frontend-client/app/(main)/problem/layout.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/_components/Badge.tsx
  frontend-client/app/_components/Carousel.tsx
  frontend-client/app/_components/ContestCard.tsx
  frontend-client/app/_components/ProblemCard.tsx
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/_components/TimeDiff.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/components/Paginator.tsx
  frontend-client/components/ui/badge.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/components/ui/switch.tsx
  frontend-client/lib/usePagination.ts
  frontend-client/package.json
  frontend-client/types/type.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): remove top folder
  frontend-client/app/(main)/contest/[id]/@tabs/layout.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/top/page.tsx
Due: none

feat(fe): add green border to active tab
  frontend-client/app/(main)/contest/[id]/@tabs/layout.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
Due: none

fix(fe): add type to import statement
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
Due: none

fix(fe): use fetcher get
  frontend-client/app/(main)/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/page.tsx
Due: none

style(fe): change active tab to primary
  frontend-client/app/(main)/contest/[id]/@tabs/layout.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
Due: none

chore(fe): add register button
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
Due: none

feat(fe): add contest status and timediff
  frontend-client/app/(main)/contest/[id]/layout.tsx
Due: none

fix(fe): change ongoing time to red
  frontend-client/app/(main)/contest/[id]/layout.tsx
Due: none

feat(fe): add temporary problem table
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
Due: none

fix(fe): change some paddings
  frontend-client/app/(main)/contest/[id]/layout.tsx
Due: none

feat(be): impletment router and handler for cache eviction
  iris/main.go
  iris/src/handler/cache-handler.go
  iris/src/router/router.go
  iris/tests/data/cache/evict.json
Due: gofmt

fix(be): error handling in cache handler and cache manager
  iris/src/handler/cache-handler.go
  iris/src/loader/cache/source.go
Due: gofmt

chore(be): modify test json file for evict
  iris/tests/data/cache/evict.json
Due: none

fix(fe): add contest problem interface
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/[id]/layout.tsx
Due: none

feat: save changed design
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix(fe): show results only if response is ok
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/[id]/layout.tsx
Due: none

fix(fe): componentize contest tabs
  frontend-client/app/(main)/contest/[id]/@tabs/layout.tsx
  frontend-client/app/(main)/contest/_components/ContestTabs.tsx
Due: none

feat: save parallel
  frontend-client/app/problem/[id]/_components/Description.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/page.tsx
Due: none

style(fe): add tabs bottom border
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/_components/ContestTabs.tsx
Due: none

fix(be): remove redundant problem controller handler
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

feat: save
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/page.tsx
Due: none

fix(fe): delete component folder in app directory
  frontend-client/app/_components/Badge.tsx
  frontend-client/app/_components/Carousel.tsx
  frontend-client/app/_components/ContestCard.tsx
  frontend-client/app/_components/ProblemCard.tsx
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/_components/TimeDiff.tsx
Due: none

fix(fe): delete component folder in app directory (#1199)
  frontend-client/app/_components/Badge.tsx
  frontend-client/app/_components/Carousel.tsx
  frontend-client/app/_components/ContestCard.tsx
  frontend-client/app/_components/ProblemCard.tsx
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/_components/TimeDiff.tsx
Due: none

feat(fe): add carousel data
  frontend-client/app/(main)/_components/Carousel.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/public/dummy.png
  frontend-client/public/github.svg
  frontend-client/public/skkudingLogo.png
Due: none
