Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): delete previous middle banner component and image
  apps/frontend/app/(client)/(main)/_components/MiddleContestBanner.tsx
  apps/frontend/public/banners/mainpage_middle_banner.png
Due: eslint, prettier

chore(be): remove unnecessary fields
  apps/backend/prisma/schema.prisma
Due: none

chore(be): add migration & fix seed data
  apps/backend/prisma/migrations/20260520052424_fix_schema_simpler_for_whitelist_removing/migration.sql
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(fe): redesign instagram cards
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

chore(fe): adjust font of failure text
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

fix(fe): fix typo error
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

fix(fe): keep instagram cards center
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

feat(fe): add skeleton UI
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

fix(fe): update signup form fields and UI
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
  apps/frontend/components/auth/SignUpPage/signup.schema.ts
Due: eslint, prettier

feat(fe): impl main page middle banner (#3570)
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
  apps/frontend/app/(client)/(main)/_components/MiddleContestBanner.tsx
  apps/frontend/app/(client)/(main)/page.tsx
  apps/frontend/app/admin/course/[courseId]/_components/CourseQnaAnsweredTab.tsx
  apps/frontend/app/admin/course/[courseId]/qna/page.tsx
  apps/frontend/public/banners/mainpage_middle_banner.png
  apps/frontend/public/banners/middle-banner.png
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

feat(be): improve group ID extraction in GroupLeaderGuard for GraphQL context
  .devcontainer/devcontainer-lock.json
  apps/backend/libs/auth/src/roles/group-leader.guard.ts
Due: eslint, prettier

chore(be): modify schema for removing whitelist
  apps/backend/prisma/schema.prisma
Due: none

chore(be): change profileImage field name key to url
  apps/backend/prisma/schema.prisma
Due: none

chore(be): fill values in new User field to solve CI type check error
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/client/src/auth/auth.service.spec.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
  apps/backend/prisma/seed.ts
Due: eslint, prettier

chore(be): fix fieldname
  apps/backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

chore(be): add migration
  apps/backend/prisma/migrations/20260520103226_add_fields_for_whitelist_removing/migration.sql
Due: none

feat(fe): redesign main page instagram cards (#3572)
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

feat(fe): modity course notice client
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentEditor.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentsSection.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/useNoticeComments.ts
  apps/frontend/app/admin/course/[courseId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeModal.tsx
  apps/frontend/components/AlertModal.tsx
Due: eslint, prettier

feat(fe): create course management qna
  apps/frontend/app/admin/course/[courseId]/_components/CourseQnaAnsweredTab.tsx
  apps/frontend/app/admin/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/course/_components/QnaDetailModal.tsx
  apps/frontend/app/admin/course/_components/QnaTable.tsx
  apps/frontend/app/admin/course/_components/QnaTableColumns.tsx
  apps/frontend/graphql/qna/mutation.ts
  apps/frontend/graphql/qna/queries.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

refactor(fe): change variable names
  apps/frontend/app/admin/course/_components/QnaDetailModal.tsx
Due: eslint, prettier

feat(fe): make qna tab
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/course/[courseId]/layout.tsx
  apps/frontend/app/admin/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/course/_components/QnaTable.tsx
Due: eslint, prettier

fix(fe): modify icons
  apps/frontend/app/admin/course/_components/QnaDetailModal.tsx
  apps/frontend/app/admin/course/_components/QnaTableColumns.tsx
  apps/frontend/public/icons/lock-gray.svg
Due: eslint, prettier

feat(fe): delete useless annotation
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentEditor.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentsSection.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/useNoticeComments.ts
Due: eslint, prettier

fix(infra): disable temporary tflint rules
  .github/workflows/ci.yml
  .tflint.hcl
Due: prettier

feat(infra): add terraform, k8s lint ci
  .github/workflows/ci.yml
Due: prettier

fix(infra): configure tflint required version exception
  .github/workflows/ci.yml
  .tflint.hcl
Due: prettier

chore(be): add UseDisableContestRolesGuard
  apps/backend/apps/admin/src/contest/contest.resolver.ts
Due: eslint, prettier

chore(be): update comment
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

feat(be): remove unnecessary fields from comment object
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

chore(be): modify schema for removing whitelist (#3573)
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/client/src/auth/auth.service.spec.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
  apps/backend/prisma/migrations/20260520103226_add_fields_for_whitelist_removing/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(fe): update submission query to conditionally include contestId and assignmentId
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(be): change exception handling in inviteCollavorator
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.ts
Due: eslint, prettier

feat(be): change exception handling in requestCollaboration
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.ts
Due: eslint, prettier

feat(be): add consuming logic for message result & change name of submissionId
  apps/backend/apps/admin/src/polygon/model/polygon-tool-result.dto.ts
  apps/backend/apps/admin/src/polygon/polygon-sub.service.ts
Due: eslint, prettier

fix(be): fix msg type definition for check & judge AMQP and add exception for undefined msg case
  apps/backend/libs/amqp/src/amqp.service.ts
Due: eslint, prettier

fix(be): separate msg handler callback method and enhance type safety
  apps/backend/libs/amqp/src/amqp.service.ts
Due: eslint, prettier

fix(fe): change info icon size
  apps/frontend/components/AlertModal.tsx
  apps/frontend/public/icons/info.svg
Due: eslint, prettier

fix(fe): change about comments
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

chore(fe): change text spec
  apps/frontend/app/(client)/(main)/_components/NewProblemCard.tsx
Due: eslint, prettier

chore(be): remove unique from nickname
  apps/backend/prisma/schema.prisma
Due: none
