Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

fix(infra): add ecs task role for ses (#801)
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/ecs.tf
Due: none

fix: disable redis cluster mode
  infra/modules/codedang-infra/redis.tf
Due: none

fix(infra): disable redis cluster mode (#802)
  infra/modules/codedang-infra/redis.tf
Due: none

docs: add admin manual
  docs/.vitepress/config.ts
  docs/group-admin/group.md
  docs/group-admin/login.md
  docs/group-admin/main.md
  docs/group-admin/notice.md
  docs/group-admin/pic/group-approval.png
  docs/group-admin/pic/group-config-detail.png
  docs/group-admin/pic/group-create-detail.png
  docs/group-admin/pic/group-detail.png
  docs/group-admin/pic/group-member.png
  docs/group-admin/pic/management.png
  docs/group-admin/pic/myGroup.png
  docs/group-admin/pic/problem-create-detail.png
  docs/group-admin/pic/problem-create.png
  docs/group-admin/problem.md
  docs/user/contest.md
  docs/user/main.md
Due: eslint, prettier

docs: add admin manual (#803)
  docs/.vitepress/config.ts
  docs/group-admin/group.md
  docs/group-admin/login.md
  docs/group-admin/main.md
  docs/group-admin/notice.md
  docs/group-admin/pic/group-approval.png
  docs/group-admin/pic/group-config-detail.png
  docs/group-admin/pic/group-create-detail.png
  docs/group-admin/pic/group-detail.png
  docs/group-admin/pic/group-member.png
  docs/group-admin/pic/management.png
  docs/group-admin/pic/myGroup.png
  docs/group-admin/pic/problem-create-detail.png
  docs/group-admin/pic/problem-create.png
  docs/group-admin/problem.md
  docs/user/contest.md
  docs/user/main.md
Due: eslint, prettier

feat: add servers
  docs/openapi.yaml
Due: prettier

feat: add tags
  docs/openapi.yaml
Due: prettier

feat: move api page location
  docs/.vitepress/config.ts
  docs/api/index.md
  docs/api/openapi.yaml
  docs/public/api.html
Due: eslint, prettier

feat(fe): change dashboard logo
  frontend/src/common/components/Atom/CodingPlatformLogo.story.vue
  frontend/src/common/components/Atom/CodingPlatformLogo.vue
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

feat: add accent color to sidebar
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

fix: handle empty data before api call
  frontend/src/admin/pages/[groupId]/index.vue
Due: eslint, prettier

feat: replace group dashboard main name
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

feat(fe): change dashboard logo (#807)
  frontend/src/admin/pages/[groupId]/index.vue
  frontend/src/common/components/Atom/CodingPlatformLogo.story.vue
  frontend/src/common/components/Atom/CodingPlatformLogo.vue
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

test(be): make test code for admin user api
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
  thunder-tests/collections/tc_col_codedang-admin-api.json
Due: eslint, prettier

feat: use single instance in redis
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/redis.tf
Due: none

feat: update create problem schema
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/user/problem/types.ts
Due: eslint, prettier

feat: use single instance in redis (#809)
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/redis.tf
Due: none

style: apply mono font to testcases
  frontend/src/admin/components/CreateProblemModal.vue
Due: eslint, prettier

feat: support selecting multiple languages
  frontend/src/admin/components/CreateProblemModal.vue
Due: eslint, prettier

chore: handle clicking editor out of content
  frontend/src/common/components/Organism/TextEditor.vue
Due: eslint, prettier

feat: ecs, asg-template 연동
  infra/modules/codedang-infra/admin-asg-template.tf
  infra/modules/codedang-infra/client-asg-template.tf
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris-asg-template.tf
Due: none

chore: use vmodel to toggle modal
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/admin/pages/[groupId]/problem/index.vue
Due: eslint, prettier

chore: apply knit
  knip.json
  package.json
  pnpm-lock.yaml
Due: prettier

chore: change tailwind config file
  knip.json
Due: none

chore: use implicit config
  package.json
Due: none

fix(be): modify type validation (#776)
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore: add testcase-server workspace
  knip.json
Due: none

chore: remove default settings
  knip.json
Due: none

chore: use relative import
  backend/.mocharc.json
Due: none

feat: use vue compiler
  knip.json
  knip.ts
Due: eslint, prettier

feat: handle import alias
  knip.ts
Due: eslint, prettier

[ImgBot] Optimize images
  docs/group-admin/pic/group-approval.png
  docs/group-admin/pic/group-config-detail.png
  docs/group-admin/pic/group-create-detail.png
  docs/group-admin/pic/group-detail.png
  docs/group-admin/pic/group-member.png
  docs/group-admin/pic/management.png
  docs/group-admin/pic/myGroup.png
  docs/group-admin/pic/problem-create-detail.png
  docs/group-admin/pic/problem-create.png
Due: none

feat(be): add github login controller - 깃허브 로그인 페이지로 redirection하는 controller 생성 - 이후 로직은 구현 필요
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/auth/auth.module.ts
  backend/libs/auth/src/github/github.strategy.ts
  backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat: add form validation
  frontend/package.json
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/common/components/Atom/InputItem.vue
  pnpm-lock.yaml
Due: eslint, prettier

feat: add problem creating mutation
  frontend/package.json
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/common/components/Atom/TextEditorButton.vue
  pnpm-lock.yaml
Due: eslint, prettier

fix(be): validate judger response without error
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

feat(fe): add problem creating feature for admin (#815)
  frontend/package.json
  frontend/src/admin/components/CreateProblemModal.vue
  frontend/src/admin/pages/[groupId]/contest/[id]/index.vue
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Atom/TextEditorButton.vue
  frontend/src/common/components/Organism/TextEditor.vue
  frontend/src/user/problem/types.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(be): validate judger response without error (#816)
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

fix(be): validate accepted judge result
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

fix(be): validate accepted judge result (#817)
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
