Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

docs(be): add bruno api docs for unregister a upcoming contest feature
  collection/client/Contest/Unregister Contest/403: Cannot unregister ongoing or ended contest.bru
  collection/client/Contest/Unregister Contest/404: No Contest found.bru
  collection/client/Contest/Unregister Contest/404: No ContestRecord found.bru
  collection/client/Contest/Unregister Contest/Succeed.bru
Due: none

fix(be): fix contest controller to resolve the business exception wrapper error
  backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

docs: update notice API docs so that it keeps convention
  collection/admin/Notice/Create Notice/NOT_FOUND.bru
  collection/admin/Notice/Create Notice/Success.bru
  collection/admin/Notice/Delete Notice/NOT_FOUND.bru
  collection/admin/Notice/Delete Notice/Success.bru
  collection/admin/Notice/Get Notices/Success.bru
  collection/admin/Notice/Get a Notice/NOT_FOUND.bru
  collection/admin/Notice/Get a Notice/Success.bru
  collection/admin/Notice/Update Notice/NOT_FOUND.bru
  collection/admin/Notice/Update Notice/Success.bru
Due: none

fix: delete order by
  backend/apps/admin/src/notice/notice.service.ts
Due: eslint, prettier

feat(be): admin notice api module (#1188)
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/group/group.module.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/notice/model/notice.input.ts
  backend/apps/admin/src/notice/notice.module.ts
  backend/apps/admin/src/notice/notice.resolver.ts
  backend/apps/admin/src/notice/notice.service.spec.ts
  backend/apps/admin/src/notice/notice.service.ts
  backend/apps/admin/src/user/user.service.ts
  backend/prisma/schema.prisma
  collection/admin/Notice/Create Notice/NOT_FOUND.bru
  collection/admin/Notice/Create Notice/Success.bru
  collection/admin/Notice/Delete Notice/NOT_FOUND.bru
  collection/admin/Notice/Delete Notice/Success.bru
  collection/admin/Notice/Get Notices/Success.bru
  collection/admin/Notice/Get a Notice/NOT_FOUND.bru
  collection/admin/Notice/Get a Notice/Success.bru
  collection/admin/Notice/Update Notice/NOT_FOUND.bru
  collection/admin/Notice/Update Notice/Success.bru
Due: eslint, prettier

chore: send traces is batches in production mode
  backend/apps/admin/src/tracer.ts
  backend/apps/client/src/tracer.ts
Due: eslint, prettier

feat(be): replace problem order pipe
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/libs/pipe/src/index.ts
  backend/libs/pipe/src/problem-order.pipe.ts
  backend/libs/pipe/src/zod-validation.pipe.ts
  backend/libs/types/src/index.ts
  backend/libs/types/src/problem-order.type.ts
Due: eslint, prettier

fix(fe): change protection condition for a admin page
  frontend-client/middleware.ts
Due: eslint, prettier

fix(fe): change protection condition for a admin page (#1308)
  frontend-client/middleware.ts
Due: eslint, prettier

docs(be): modify assert option
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Delete a Problem/Succeed.bru
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
  collection/admin/Problem/Update WorkbookProblems Order/Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
Due: none

docs(be): delete args table - 새롭게 정해진 convention에 따라 args를 설명하는 표 삭제
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Delete a Problem/Succeed.bru
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
  collection/admin/Problem/Update WorkbookProblems Order/Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
Due: none

docs(be): modify assert
  collection/admin/Problem/Get Contest Problems/NOT_FOUND.bru
Due: none

fix(be): apply http error
  backend/apps/admin/src/problem/problem.resolver.ts
Due: eslint, prettier

fix(be): change problemOrder type
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/libs/pipe/src/problem-order.pipe.ts
  backend/libs/pipe/src/zod-validation.pipe.ts
  backend/libs/types/src/problem-order.type.ts
Due: eslint, prettier

chore(be): remove zodvalidation files
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/problem/schema/problem-order.schema.ts
  backend/libs/pipe/src/zod-validation.pipe.ts
Due: eslint, prettier

docs(be): modify api docs
  collection/admin/Problem/Get WorkbookProblems/NOT_FOUND.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
  collection/admin/Problem/Update ContestProblems Order/NOT_FOUND.bru
  collection/admin/Problem/Update WorkbookProblems Order/NOT_FOUND.bru
Due: none

feat(be): check delay method with axios and rabbitmq metric cosumer capacity
  backend/apps/client/src/submission/dto/check-delay.dto.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.ts
  collection/client/Submission/Check Delay/Succeed.bru
Due: eslint, prettier

feat(fe): add fetchergql to utils
  frontend-client/lib/utils.ts
  frontend-client/lib/vars.ts
  frontend-client/package.json
Due: eslint, prettier

chore(fe): comment out group select popover
  frontend-client/app/admin/layout.tsx
  pnpm-lock.yaml
Due: prettier

chore(be): admin server build speed up
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/notice/model/notice.input.ts
  backend/apps/admin/src/notice/notice.resolver.ts
  backend/apps/admin/src/notice/notice.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/template.input.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/prisma/schema.prisma
Due: eslint, prettier

fix(be): httpmodule import to testfile
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

chore(be): admin server build speed up (#1314)
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/notice/model/notice.input.ts
  backend/apps/admin/src/notice/notice.resolver.ts
  backend/apps/admin/src/notice/notice.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/template.input.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/prisma/schema.prisma
Due: eslint, prettier

feat(infra): deploy new frontend with nextjs (#1311)
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  .github/workflows/documentation.yml
  Caddyfile
  backend/libs/auth/src/kakao/kakao.strategy.ts
  infra/deploy/.terraform.lock.hcl
  infra/deploy/main.tf
  infra/deploy/variable.tf
  infra/local/main.tf
  infra/local/variable.tf
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/rabbitmq.tf
  infra/modules/codedang-infra/s3.tf
  infra/modules/codedang-infra/security-group.tf
  infra/modules/codedang-infra/variables.tf
Due: eslint, prettier

fix: refresh on submit and swich tab
  frontend-client/app/problem/[id]/_components/SubmitButton.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
  frontend-client/lib/utils.ts
Due: eslint, prettier

fix(be): delete debugging msg
  backend/apps/client/src/submission/submission.controller.ts
Due: eslint, prettier

fix(be): delete enum
  backend/apps/client/src/submission/dto/check-delay.dto.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore(be): sperate declaration
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix: fix pnpm lock
  pnpm-lock.yaml
Due: prettier

fix(be): fix service code to change business exception handling
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

test(be): fix service test code due to change in service code
  backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

fix(be): fix controller to change service layer exception handling
  backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

docs(be): fix bruno api docs
  collection/client/Contest/Unregister Contest/404: No Contest found.bru
  collection/client/Contest/Unregister Contest/404: No ContestRecord found.bru
Due: none

fix: editor language setting
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
Due: none

feat(be): set default penalty as the start time of the contest
  backend/apps/client/src/contest/contest.service.ts
  backend/prisma/schema.prisma
Due: eslint, prettier

feat: update contest records when handling judger message
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/libs/constants/src/submission.constants.ts
Due: eslint, prettier

fix: store contest & workbook information in submission
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore: seed contest records
  backend/prisma/migrations/20240205101705_manually_set_intial_penalty_time/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: eslint, prettier

fix(be): fix lint error
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/prisma/seed.ts
Due: eslint, prettier

feat(be): introduce database for testing (#1257)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.development
  .github/workflows/ci.yml
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/package.json
  backend/prisma/seed.ts
  docker-compose.yml
  pnpm-lock.yaml
  scripts/setup.sh
Due: eslint, prettier

feat(fe): scaffold create problem page using basic textarea
  frontend-client/app/admin/problem/create/_components/Lable.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/ui/textarea.tsx
Due: none
