Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

docs(be): add getFixedNotices api docs
  collection/client/Notice/Get all fixed group notices/Succeed.bru
  collection/client/Notice/Get all fixed notices/Succeed.bru
Due: none

feat(be): add acceptedRate in schema
  backend/prisma/migrations/20231228064346_add_accepted_rate/migration.sql
  backend/prisma/schema.prisma
Due: none

feat(be): add pino logger for Nestjs (#1070)
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/main.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/app.module.ts
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/main.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/libs/logger/src/index.ts
  backend/libs/logger/src/pino-option.logger.ts
  backend/libs/logger/tsconfig.lib.json
  backend/nest-cli.json
  backend/package.json
  backend/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier

fix: fix lock file
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

chore(be): modify getNotices, getFixedNotices - getNotices는 isFixed=false인 notice만, - getFixedNotices는 isFixed=true인 notice만 가져오도록 수정
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
Due: eslint, prettier

chore(be): add prisma migration script
  backend/prisma/migrations/20231005075014_/migration.sql
Due: none

fix(infra): modify cd-dev.yml and docker-compose.yml to solve 404 Error
  .github/workflows/cd-dev.yml
  docker-compose.yml
Due: prettier

docs(be): modify getFixedNotice api docs
  collection/client/Notice/Get all fixed group notices/Succeed.bru
  collection/client/Notice/Get all fixed notices/Succeed.bru
Due: none

feat(be): implement updating accepted rate for submission
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore(be): modify getFixedNotices to get take - take 지정할 수 있도록 수정
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.ts
Due: eslint, prettier

docs(be): modify getFixedNotices api docs
  collection/client/Notice/Get all fixed group notices/Succeed.bru
  collection/client/Notice/Get all fixed notices/Succeed.bru
Due: none

fix(infra): allow cors for email-auth
  Caddyfile
Due: none

fix(deps): pnpm-lock
  pnpm-lock.yaml
Due: prettier

test(be): modify submission test code
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore(be): modify mock file
  backend/apps/client/src/problem/mock/problem.mock.ts
Due: eslint, prettier

fix(fe): added validation trigger, made to verify code upon change
  frontend-client/app/_components/SignUpEmailVerify.tsx
Due: none

chore(be): modify mock files
  backend/apps/admin/src/problem/mock/mock.ts
Due: eslint, prettier

fix(infra): allow cors for email-auth (#1083)
  Caddyfile
Due: none

chore(be): modify getFixedNotices to always get take
  backend/apps/client/src/notice/notice.controller.ts
Due: eslint, prettier

feat: import carousel component from shadcn
  frontend-client/components/ui/carousel.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(be): implement get fixed notices api (#1081)
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  collection/client/Notice/Get all fixed group notices/Succeed.bru
  collection/client/Notice/Get all fixed notices/Succeed.bru
Due: eslint, prettier

fix(fe): fixed nextModal to be function
  frontend-client/app/_components/SignUpWelcome.tsx
Due: none

fix(fe): email verify, welcome in signup, signupregister not done
  frontend-client/app/_components/ModalForm.tsx
  frontend-client/app/_components/SignUp.tsx
Due: none

feat(be): modify get Problems
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

feat(be): modify prisma schema
  backend/prisma/migrations/20231228064346_add_accepted_rate/migration.sql
  backend/prisma/migrations/20231228083547_add_ac_rate/migration.sql
  backend/prisma/schema.prisma
Due: none

fix(be): let frontend access email-auth header with cors
  backend/apps/client/src/main.ts
Due: eslint, prettier

fix(be): let frontend access email-auth header with cors (#1084)
  backend/apps/client/src/main.ts
Due: eslint, prettier

fix(infra): modify cd-dev.yml run step
  .github/workflows/cd-dev.yml
Due: prettier

chore(be): remove unused variables
  backend/apps/client/src/announcement/announcement.service.spec.ts
Due: eslint, prettier

fix(infra): modify cd-dev.yml and docker-compose.yml to solve 404 Error (#1082)
  .github/workflows/cd-dev.yml
  docker-compose.yml
Due: prettier

feat(fe): add input condition, change button color based on condition
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

feat(fe): navigation active link
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/NavLink.tsx
  frontend-client/package.json
Due: none

fix(fe): remove toast
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

chore(fe): removed comments, console logs
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/_components/SignUpEmailVerify.tsx
Due: none

feat(fe): 1067-nav-active-link
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/NavLink.tsx
Due: none

fix(fe): change zod schema password to 8-20
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

feat(fe): navigation active link
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/NavLink.tsx
Due: none

chore(be): change data type from @generated to @prisma/client
  backend/apps/client/src/problem/dto/create-user-problem.dto.ts
Due: eslint, prettier

feat(be): implement add-problems api
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

chore(be): remove unused log
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
