Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore(fe): edit color of tailwind config (#1893)
  apps/frontend/components/ui/badge.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

feat(be): fix logic
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

test(be): solve test error
  apps/backend/apps/client/src/submission/mock/problem.mock.ts
Due: eslint, prettier

feat(fe): redesign admin problem list
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
  apps/frontend/components/DataTableLevelFilter.tsx
  apps/frontend/components/ui/checkbox.tsx
  apps/frontend/components/ui/table.tsx
Due: eslint, prettier

feat(fe): initialize e2e test
  playwright-frontend/package-lock.json
  playwright-frontend/package.json
  playwright-frontend/pages/auth.page.ts
  playwright-frontend/pages/home.page.ts
  playwright-frontend/playwright.config.ts
  playwright-frontend/test-results/.last-run.json
  playwright-frontend/tests/auth/login.test.ts
  playwright-project/package-lock.json
  playwright-project/package.json
  playwright-project/playwright.config.ts
  playwright-project/test-results/.last-run.json
Due: eslint, prettier

feat(fe): implement image upload (#1862)
  apps/frontend/components/TextEditor.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(fe): refactor admin contest structure (#1863)
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/ErrorMessage.tsx
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/Label.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/error.tsx
  apps/frontend/app/admin/contest/[id]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[id]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/contest/[id]/edit/error.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemListLabel.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/contest/_components/TimeForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/AddableForm.tsx
  apps/frontend/app/admin/problem/_components/InfoForm.tsx
  apps/frontend/app/admin/problem/_components/Label.tsx
  apps/frontend/app/admin/problem/_components/LimitForm.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
  apps/frontend/app/admin/problem/_components/VisibleForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
  apps/frontend/app/admin/problem/utils.ts
  apps/frontend/app/admin/utils.ts
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/public/period.svg
Due: eslint, prettier

feat(fe): redesign admin problem list table
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
  apps/frontend/components/DataTableLangFilter.tsx
  apps/frontend/components/DataTableLevelFilter.tsx
  apps/frontend/components/ui/badge.tsx
  apps/frontend/components/ui/checkbox.tsx
Due: eslint, prettier

fix(ci): revert lefthook to 1.7.1
  package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): update carousel
  apps/frontend/app/(main)/_components/Carousel.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/public/carousel1.svg
  apps/frontend/public/carousel2.svg
  apps/frontend/public/carousel3.svg
Due: eslint, prettier

feat(fe): replace mono font
  apps/frontend/app/(main)/_components/Carousel.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/app/layout.tsx
Due: eslint, prettier

chore(fe): fix carousel margin
  apps/frontend/app/(main)/_components/Carousel.tsx
Due: eslint, prettier

chore(fe): change font weight
  apps/frontend/app/(main)/_components/Carousel.tsx
Due: eslint, prettier

feat(iris): customizing sandbox result to codedang logic
  apps/iris/src/handler/errors.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
Due: none

fix(iris): commented logic applied
  apps/iris/src/handler/interface.go
Due: none

fix(fe): fix css
  apps/frontend/app/(main)/_components/Carousel.tsx
  apps/frontend/app/(main)/page.tsx
Due: eslint, prettier

feat(fe): redesign footer
  apps/frontend/app/(main)/_components/Footer.tsx
Due: eslint, prettier

feat(fe): redesign main page carousel (#1900)
  apps/frontend/app/(main)/_components/Carousel.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/public/carousel1.svg
  apps/frontend/public/carousel2.svg
  apps/frontend/public/carousel3.svg
Due: eslint, prettier

feat(fe): redesign header
  apps/frontend/app/(main)/_components/Header.tsx
  apps/frontend/app/(main)/_components/NavLink.tsx
  apps/frontend/app/(main)/layout.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/public/codedang.svg
Due: eslint, prettier

chore(fe): improve tailwind code and remove unused language
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/components/DataTableAdmin.tsx
Due: eslint, prettier

feat(fe): redesign header and footer
  apps/frontend/app/(main)/_components/Footer.tsx
  apps/frontend/app/(main)/_components/Header.tsx
  apps/frontend/app/(main)/_components/NavLink.tsx
  apps/frontend/app/(main)/layout.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/Cover.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/ui/button.tsx
  apps/frontend/public/codedang.svg
Due: eslint, prettier

feat(fe): redesign header and footer
  apps/frontend/app/(main)/_components/Header.tsx
Due: eslint, prettier

feat(fe): redesign header and footer
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/ui/button.tsx
Due: eslint, prettier

chore(be): rename student-id
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/client/src/auth/auth.service.spec.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/user/dto/signup.dto.ts
  apps/backend/apps/client/src/user/dto/social-signup.dto.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
  apps/backend/prisma/migrations/20240801094119_add_student_id_and_major_field_in_contest_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Due: eslint, prettier

docs(be): add student-id and major
  collection/client/User/Sign Up/Succeed.bru
Due: none

docs(be): student-id fix
  collection/client/User/Sign Up/Succeed.bru
Due: none

feat(be): add student-id and major field (#1806)
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/client/src/auth/auth.service.spec.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/user/dto/signup.dto.ts
  apps/backend/apps/client/src/user/dto/social-signup.dto.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
  apps/backend/prisma/migrations/20240801094119_add_student_id_and_major_field_in_contest_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/client/User/Sign Up/Succeed.bru
Due: eslint, prettier

feat(fe): redesign header and footer
  apps/frontend/app/(main)/_components/Footer.tsx
Due: eslint, prettier

chore(be): solve lint error
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore(be): add cascade on announcement model
  apps/backend/prisma/migrations/20240801120143_add_cascade_on_announcement_model/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

chore(be): add cascade on announcement model (#1905)
  apps/backend/prisma/migrations/20240801120143_add_cascade_on_announcement_model/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

chore(be): rename
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-submission-information.model.ts
Due: eslint, prettier

test(be): add test
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat(be): handle visibleLockTime in deleteContest
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): add docs
  apps/backend/apps/admin/src/contest/model/contest-submission-information.model.ts
  collection/admin/Contest/Get Contest Submission Summaries/Success.bru
Due: eslint, prettier

fix(be): remove unique constraint on student-id field
  apps/backend/prisma/migrations/20240801151746_delete_unique_on_student_id_field/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

chore(be): add migration
  apps/backend/prisma/migrations/20240801094119_add_student_id_and_major_field_in_contest_model/migration.sql
  apps/backend/prisma/migrations/20240801151746_delete_unique_on_student_id_field/migration.sql
  apps/backend/prisma/migrations/20240801152242_add_student_id_and_major_field/migration.sql
Due: none

fix(be): remove unique constraint on student-id field (#1906)
  apps/backend/prisma/migrations/20240801094119_add_student_id_and_major_field_in_contest_model/migration.sql
  apps/backend/prisma/migrations/20240801152242_add_student_id_and_major_field/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(fe): redesign headerandfooter
  apps/frontend/app/(main)/_components/Footer.tsx
  apps/frontend/app/(main)/_components/Header.tsx
Due: eslint, prettier
