Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

docs(be): add client user jsdoc (#3374)
  apps/backend/apps/client/src/email/email.service.ts
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

refactor(infra): migrate ArgoCD to Helm chart management (#3383)
  infra/k8s/argocd/README.md
  infra/k8s/argocd/applications/argocd-image-updater.yaml
  infra/k8s/argocd/applications/argocd.yaml
  infra/k8s/argocd/applications/cert-manager.yaml
  infra/k8s/argocd/applications/kubernetes-dashboard.yaml
  infra/k8s/argocd/applications/sealed-secrets.yaml
  infra/k8s/argocd/cert-manager-values.yaml
  infra/k8s/argocd/github-app-repo-creds.yaml
  infra/k8s/argocd/ingress.yaml
  infra/k8s/argocd/kubernetes-dashboard-values.yaml
  infra/k8s/argocd/notifications-secret.yaml
  infra/k8s/argocd/notifications.yaml
  infra/k8s/argocd/values.yaml
  infra/k8s/internal/base/admin-user.yaml
  infra/k8s/internal/base/dashboard-ingress.yaml
  infra/k8s/internal/base/kustomization.yaml
  infra/k8s/internal/overlays/stage/kustomization.yaml
Due: prettier

feat(infra): centralize monitoring backend storage to single MinIO (#3380)
  infra/k8s/argocd/applications/monitoring/minio.yaml
  infra/k8s/monitoring/loki/values.yaml
  infra/k8s/monitoring/minio/base/kustomization.yaml
  infra/k8s/monitoring/minio/base/namespace.yaml
  infra/k8s/monitoring/minio/base/tenant.yaml
  infra/k8s/monitoring/minio/overlays/production/ingress.yaml
  infra/k8s/monitoring/minio/overlays/production/kustomization.yaml
  infra/k8s/monitoring/minio/overlays/production/tenant-config.yaml
  infra/k8s/monitoring/minio/overlays/production/users.yaml
  infra/k8s/monitoring/minio/overlays/stage/kustomization.yaml
  infra/k8s/monitoring/minio/overlays/stage/tenant-config.yaml
  infra/k8s/monitoring/minio/overlays/stage/users.yaml
  infra/k8s/monitoring/minio/tenant-config.yaml
  infra/k8s/monitoring/minio/users.yaml
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

chore(be): modify schema
  apps/backend/prisma/schema.prisma
Due: none

chore(be): apply migration
  apps/backend/prisma/migrations/20260214092902_modify_polygon_schema/migration.sql
Due: none

fix(infra): remove deprecated helm.oci field for ArgoCD v3.x compatibility
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

fix(infra): configure ArgoCD ingress for HTTP backend and dashboard timeout
  infra/k8s/argocd/kubernetes-dashboard-values.yaml
  infra/k8s/argocd/values.yaml
Due: prettier

feat(infra): prevent auto-deletion of PVCs for stateful resources
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/argocd/applications/monitoring/minio.yaml
  infra/k8s/argocd/applications/rabbitmq.yaml
  infra/k8s/argocd/applications/redis.yaml
Due: prettier

feat(infra): add ArgoCD admin password as SealedSecret
  infra/k8s/argocd/values.yaml
Due: prettier

fix(infra): correct extraArgs format for Loki and Tempo Helm charts
  infra/k8s/monitoring/loki/values.yaml
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

fix(infra): correct Tempo Helm chart extraArgs format and MinIO port
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

chore(infra): disable finalizers and prune for stateful applications
  infra/k8s/argocd/applications/minio-stage.yaml
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/argocd/applications/monitoring/minio.yaml
  infra/k8s/argocd/applications/monitoring/prometheus.yaml
  infra/k8s/argocd/applications/monitoring/tempo.yaml
  infra/k8s/argocd/applications/postgres-stage.yaml
  infra/k8s/argocd/applications/rabbitmq.yaml
  infra/k8s/argocd/applications/redis.yaml
  infra/k8s/argocd/applications/sealed-secrets-backup.yaml
  infra/k8s/argocd/applications/sealed-secrets.yaml
Due: prettier

chore(infra): apply finalizer safety to grafana ApplicationSet
  infra/k8s/argocd/applications/monitoring/grafana.yaml
Due: prettier

fix(infra): argocd v3.x migration and monitoring stack fixes (#3426)
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
  infra/k8s/argocd/applications/minio-stage.yaml
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/argocd/applications/monitoring/minio.yaml
  infra/k8s/argocd/applications/monitoring/prometheus.yaml
  infra/k8s/argocd/applications/monitoring/tempo.yaml
  infra/k8s/argocd/applications/postgres-stage.yaml
  infra/k8s/argocd/applications/rabbitmq.yaml
  infra/k8s/argocd/applications/redis.yaml
  infra/k8s/argocd/applications/sealed-secrets-backup.yaml
  infra/k8s/argocd/applications/sealed-secrets.yaml
  infra/k8s/argocd/kubernetes-dashboard-values.yaml
  infra/k8s/argocd/values.yaml
  infra/k8s/monitoring/loki/values.yaml
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

fix(infra): configure ArgoCD ingress to use HTTP backend port 80
  infra/k8s/argocd/values.yaml
Due: prettier

fix(infra): fix Loki MinIO connection and canary URL issues
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

fix(infra): re-seal argocd-dex-github-oauth with current cluster key
  infra/k8s/argocd/values.yaml
Due: prettier

fix(infra): configure Dex to use envFrom for GitHub OAuth credentials
  infra/k8s/argocd/values.yaml
Due: prettier

fix(infra): remove non-functional ArgoCD credentialTemplates for ghcr.io
  infra/k8s/argocd/values.yaml
Due: prettier

fix(infra): fix ArgoCD OCI Helm chart URL format for ARC
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

feat(infra): add automated cluster bootstrap scripts
  infra/bootstrap-cluster.sh
  infra/install-tools.sh
  infra/k8s/argocd/README.md
Due: none

fix(infra): rotate ArgoCD admin password
  infra/k8s/argocd/values.yaml
Due: prettier

docs(infra): move sealed-secrets restore docs to backup directory
  infra/k8s/argocd/README.md
  infra/k8s/sealed-secrets-backup/README.md
Due: none

refactor(infra): reorganize Helm values files for consistency
  infra/k8s/argocd/applications/cert-manager.yaml
  infra/k8s/argocd/applications/kubernetes-dashboard.yaml
  infra/k8s/cert-manager/values.yaml
  infra/k8s/kubernetes-dashboard/values.yaml
Due: prettier

fix(infra): update ArgoCD password with past mtime
  infra/k8s/argocd/values.yaml
Due: prettier

chore(infra): update ArgoCD chart version to 9.4.2 (v3.3.0)
  infra/k8s/argocd/applications/argocd.yaml
Due: prettier

chore(infra): remove unused ghcr-credential SealedSecret
  infra/k8s/argocd/values.yaml
Due: prettier

chore(infra): update kubeseal to v0.30.0 and simplify install script
  infra/install-tools.sh
Due: none

docs(infra): add repository cloning prerequisite to ArgoCD setup
  infra/k8s/argocd/README.md
Due: none

Initial commit
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-label.yml
  infra/k8s/argocd/applications/frontend-preview.yaml
Due: prettier

feat(fe): implement typography token
  apps/frontend/app/(client)/(main)/text-test/page.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

fix(fe): redesign contest main page
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestFeatureCard.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestFeatureList.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestHeader.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainBanner.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestSubBanner.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTitleFilter.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/components/shadcn/table.tsx
  apps/frontend/libs/utils.ts
  apps/frontend/public/icons/dashboard-blue.svg
  apps/frontend/public/icons/grade-blue.svg
  apps/frontend/public/icons/laptop-coding-blue.svg
  apps/frontend/public/icons/pen-blue.svg
Due: eslint, prettier

fix(fe): append hour to bar tooltip
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/UserAnalysisContent.tsx
Due: eslint, prettier

style(fe): adjust radius for bars
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/UserAnalysisContent.tsx
Due: eslint, prettier

fix(fe): adjust radius with expected type
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/UserAnalysisContent.tsx
Due: eslint, prettier

fix(infra): resolve ArgoCD and monitoring stack issues after v3.x migration (#3427)
  infra/bootstrap-cluster.sh
  infra/install-tools.sh
  infra/k8s/argocd/README.md
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
  infra/k8s/argocd/applications/argocd.yaml
  infra/k8s/argocd/applications/cert-manager.yaml
  infra/k8s/argocd/applications/kubernetes-dashboard.yaml
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/argocd/values.yaml
  infra/k8s/cert-manager/values.yaml
  infra/k8s/kubernetes-dashboard/values.yaml
  infra/k8s/monitoring/loki/values.yaml
  infra/k8s/sealed-secrets-backup/README.md
Due: prettier

chore(fe): add progress icons
  apps/frontend/public/icons/progress-blue.svg
  apps/frontend/public/icons/progress-green.svg
  apps/frontend/public/icons/progress.svg
Due: none

feat(fe): impl problem create page in new url
  apps/frontend/app/(client)/(main)/(create)/problem/create/page.tsx
Due: eslint, prettier
