Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): handle blank name in datatable
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/page.tsx
  frontend-client/components/DataTable.tsx
Due: none

fix(fe): add align top to common data table cell
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/DataTable.tsx
  frontend-client/components/DataTable.tsx
Due: none

refactor: change tag design, flex layout to grid layout
  frontend-client/app/problem/[id]/_components/Description.tsx
  frontend-client/app/problem/[id]/_components/DescriptionLoading.tsx
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/components/ui/accordion.tsx
  frontend-client/package.json
  frontend-client/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix: lint error
  frontend-client/components/ui/carousel.tsx
  pnpm-lock.yaml
Due: prettier

fix: ignore timediff hydration warning
  frontend-client/app/(main)/_components/TimeDiff.tsx
Due: none

feat(fe): problem editor (#1276)
  frontend-client/app/problem/[id]/_components/Description.tsx
  frontend-client/app/problem/[id]/_components/DescriptionLoading.tsx
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/loading.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/components/ui/accordion.tsx
  frontend-client/components/ui/carousel.tsx
  frontend-client/components/ui/skeleton.tsx
  frontend-client/package.json
  frontend-client/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

feat: adjust error message width
  frontend-client/app/(main)/error.tsx
Due: none

fix(fe): handle expand with css
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/ExpandableCell.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/styles.css
  frontend-client/components/DataTable.tsx
Due: prettier

feat: add loading fallback in contest page
  frontend-client/.eslintrc.js
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/app/(main)/contest/page.tsx
Due: eslint, prettier

fix: resolve build error
  frontend-client/app/problem/[id]/_components/DescriptionLoading.tsx
Due: none

feat(ci): disable linting on nexjts build
  frontend-client/next.config.js
Due: eslint, prettier

fix(ci): do not perform typecheck for frontend-client
  .github/workflows/ci.yml
Due: prettier

feat(fe): show register button only if contest is upcoming
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
Due: none

fix(fe): fix contest top props
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
Due: none

docs: add Bruno API docs convention (#1275)
  docs/intro/bruno.md
  docs/intro/graphql-docs.png
Due: none

feat(fe): add Hint section and darker background
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(fe): add hint section and darker background (#1279)
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/_components/Tab.tsx
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(fe): remove images.dt.s
  frontend-client/next.config.js
  frontend-client/types/images.d.ts
Due: eslint, prettier

feat(fe): clear button
  frontend-client/app/problem/[id]/_components/EditorHeader.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/components/ui/alert-dialog.tsx
  frontend-client/package.json
  frontend-client/stores/editor.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): resolve 504 timeout error in vercel (#1251)
  .github/workflows/ci.yml
  frontend-client/.eslintrc.js
  frontend-client/app/(main)/_components/ContestCards.tsx
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/(main)/_components/TimeDiff.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/error.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/(main)/problem/_components/ProblemNumber.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/problem/[id]/_components/DescriptionLoading.tsx
  frontend-client/components/ui/skeleton.tsx
  frontend-client/lib/utils.ts
  frontend-client/public/error.webp
  frontend-client/types/images.d.ts
Due: eslint, prettier

test(be): add missing await
  backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

feat(fe): add submission table
  frontend-client/app/problem/[id]/submission/_components/Columns.tsx
  frontend-client/app/problem/[id]/submission/_components/DataTable.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

fix(be): convert array result to single element
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/prisma/migrations/20240118065339_selective_problemtestcase_in_submissionresult/migration.sql
  backend/prisma/migrations/20240125075319_testcase_id_reborn/migration.sql
  backend/prisma/migrations/20240201071405_judge_by_testcase_id/migration.sql
  iris/main.go
  iris/src/connector/factory.go
  iris/src/connector/http/connector.go
  iris/src/handler/judge-handler.go
  iris/src/router/response.go
Due: eslint, prettier, gofmt

chore(fe): remove unnecessary div
  frontend-client/app/(main)/_components/SignUp.tsx
Due: none

fix(be): seed.ts
  backend/prisma/seed.ts
Due: eslint, prettier

chore(fe): remove unnecessary cn
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
Due: none

fix(fe): change auth modal responsive (#1274)
  frontend-client/app/(main)/_components/AuthModal.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend-client/app/(main)/_components/SignUpRegister.tsx
  frontend-client/app/(main)/_components/SignUpWelcome.tsx
  frontend-client/stores/authModal.ts
Due: eslint, prettier

fix(be): .spec.ts modification
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

fix(be): go format
  iris/src/connector/factory.go
  iris/src/connector/http/connector.go
Due: gofmt

fix(be): spec modify
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

chore(fe): change text color green to lime, adjust width of columns
  frontend-client/app/problem/[id]/submission/_components/Columns.tsx
  frontend-client/app/problem/[id]/submission/page.tsx
Due: none

feat: add apollo server error formatter
  backend/apps/admin/src/admin.module.ts
  backend/libs/exception/src/apollo-error-formatter.ts
  backend/libs/exception/src/graphql-error.exception.ts
  backend/libs/exception/src/index.ts
Due: eslint, prettier

fix: make resolvers throw HTTP Exceptions
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/problem/problem.resolver.ts
Due: eslint, prettier

feat: add registered finished contests in get contest/auth API
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix: delete status property
  backend/libs/exception/src/apollo-error-formatter.ts
Due: eslint, prettier

feat(fe): add clarification table (#1277)
  frontend-client/app/(main)/contest/[id]/@tabs/_components/ParticipateButton.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/styles.css
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/[id]/layout.tsx
  frontend-client/components/DataTable.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

fix(iris): resolve iris folder creation failure
  docker-compose.yml
Due: prettier

fix(iris): resolve iris folder creation failure (#1286)
  docker-compose.yml
Due: prettier

feat(be): seeding input output examples
  backend/prisma/seed.ts
Due: eslint, prettier

chore(be): add code-size field to submission model
  backend/apps/client/src/submission/submission.service.ts
  backend/prisma/migrations/20240201082532_add_codesize_to_submission/migration.sql
  backend/prisma/schema.prisma
Due: eslint, prettier
