Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(infra): use port 9000 and stage host for choesuna-react-app
  infra/k8s/onboarding/choesuna-react-app/deployment.yaml
  infra/k8s/onboarding/choesuna-react-app/ingress.yaml
  infra/k8s/onboarding/choesuna-react-app/service.yaml
Due: prettier

fix(infra): use port 9000 and stage host for choesuna-react-app (#3661)
  infra/k8s/onboarding/choesuna-react-app/deployment.yaml
  infra/k8s/onboarding/choesuna-react-app/ingress.yaml
  infra/k8s/onboarding/choesuna-react-app/service.yaml
Due: prettier

fix(fe): environment set for debugging
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
Due: eslint, prettier

fix(fe): make slot-changing event
  apps/frontend/libs/hooks/usePaginationV2.ts
Due: eslint, prettier

fix(fe): table data loading fix
  apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
Due: eslint, prettier

fix(fe): rollback debugger
  apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
  apps/frontend/libs/hooks/usePaginationV2.ts
Due: eslint, prettier

fix(fe): delete debugger
  apps/frontend/libs/hooks/usePaginationV2.ts
Due: eslint, prettier

fix(infra): support PostgreSQL TLS connections (#3647)
  apps/iris/src/loader/postgres.go
  apps/iris/src/loader/postgres_test.go
  apps/plag/src/loader/postgres.go
  apps/plag/src/loader/postgres_test.go
  infra/aws/storage/database.tf
  infra/aws/storage/main.tf
  infra/aws/storage/outputs.tf
Due: terraformfmt

fix(be): scope course notice mutations to groupId
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/group/model/course-notice.input.ts
  apps/backend/apps/client/src/group/group.controller.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/prisma/seed.ts
  apps/backend/schema.gql
Due: eslint, prettier

feat(be): improve group ID extraction for course notice access
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/libs/auth/src/roles/group-leader.guard.ts
Due: eslint, prettier

fix(be): handle submissions without judgeable testcases
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(fe): debugger deletion-last
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
Due: eslint, prettier

fix(be): revert unnecessary groupId fallback in GroupLeaderGuard
  apps/backend/libs/auth/src/roles/group-leader.guard.ts
Due: eslint, prettier

fix(be): verify source group ownership on cloneCourseNotice
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier

docs(be): explain why hidden comment author info is kept
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): compare actual title/content on notice update read-reset
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier

chore(be): update bruno collections for groupId-scoped notice API
  collection/admin/Course/Clone Course Notices/Succeed.bru
  collection/admin/Course/Create Course Notice/Succeed.bru
  collection/admin/Course/Delete Course Notice/Succeed.bru
  collection/admin/Course/Update Course Notice/Succeed.bru
  collection/client/Course/Get course notice by ID/Succeed.bru
Due: none

fix(be): match notice count filters with the notice list query
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): keep one public notice per course in seed data
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(be): modify user service unit test
  apps/backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

chore(be): modify sign up bruno
  collection/client/User/Sign Up/Succeed.bru
  collection/client/User/Sign Up/[400] Bad Username.bru
  collection/client/User/Sign Up/[401] Unauthorized.bru
  collection/client/User/Sign Up/[409] Duplicate Username.bru
  collection/client/User/Sign Up/[422] Not Authenticated.bru
  collection/client/User/Sign Up/[422] SKKU Without Appropriate Email.bru
  collection/client/User/Sign Up/[422] SKKU Without StudentId.bru
Due: none

chore(be): modify update user bruno
  collection/client/User/Update User/Optionally update.bru
  collection/client/User/Update User/Update All Fields of User.bru
Due: none

fix(be): admin bypass for clone ownership check, mask studentId in comments
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

feat(be): make notice page (#3663)
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/group/model/course-notice.input.ts
  apps/backend/apps/client/src/group/group.controller.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/prisma/seed.ts
  apps/backend/schema.gql
  collection/admin/Course/Clone Course Notices/Succeed.bru
  collection/admin/Course/Create Course Notice/Succeed.bru
  collection/admin/Course/Delete Course Notice/Succeed.bru
  collection/admin/Course/Update Course Notice/Succeed.bru
  collection/client/Course/Get course notice by ID/Succeed.bru
Due: eslint, prettier

feat(fe): match course notice admin UI to design spec
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/exam/page.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/CreateNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeTableContent.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/NoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/importNoticeTableColumns.tsx
  apps/frontend/app/admin/course/_components/NoticeTable.tsx
  apps/frontend/graphql/course/mutation.ts
Due: eslint, prettier

feat(fe): make course notice page
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeColumns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentEditor.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentsSection.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/useNoticeComments.ts
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/page.tsx
  apps/frontend/app/admin/_components/ApolloProvider.tsx
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/exam/page.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/CreateNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/DeleteNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeTableContent.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/importNoticeTableColumns.tsx
  apps/frontend/app/admin/course/_components/NoticeTable.tsx
  apps/frontend/components/AlertModal.tsx
  apps/frontend/graphql/course/mutation.ts
  apps/frontend/public/icons/exclamation_mark.svg
  apps/frontend/public/icons/lock_blue.svg
  apps/frontend/public/icons/trashcan2_grey.svg
  apps/frontend/types/type.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): fix ProblemTable SlotNavigation (#3662)
  apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
  apps/frontend/libs/hooks/usePaginationV2.ts
Due: eslint, prettier

fix(be): finalize contest submissions without judgeable testcases
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

chore(infra): remove infra onboarding files
  infra/k8s/onboarding/README.md
  infra/k8s/onboarding/choesuna-react-app/deployment.yaml
  infra/k8s/onboarding/choesuna-react-app/ingress.yaml
  infra/k8s/onboarding/choesuna-react-app/service.yaml
  infra/k8s/onboarding/deployment.yaml
  infra/k8s/onboarding/ingress.yaml
  infra/k8s/onboarding/kjk-app/deployment.yaml
  infra/k8s/onboarding/kjk-app/ingress.yaml
  infra/k8s/onboarding/kjk-app/service.yaml
  infra/k8s/onboarding/namespace.yaml
  infra/k8s/onboarding/service.yaml
  infra/k8s/onboarding/taehun_onboarding/deployment.yaml
  infra/k8s/onboarding/taehun_onboarding/ingress.yaml
  infra/k8s/onboarding/taehun_onboarding/service.yaml
Due: prettier

chore(infra): remove infra onboarding tf files
  infra/aws/dns/_onboarding.tf
Due: terraformfmt

chore(infra): remove infra onboarding files (#3665)
  infra/aws/dns/_onboarding.tf
  infra/k8s/onboarding/README.md
  infra/k8s/onboarding/choesuna-react-app/deployment.yaml
  infra/k8s/onboarding/choesuna-react-app/ingress.yaml
  infra/k8s/onboarding/choesuna-react-app/service.yaml
  infra/k8s/onboarding/deployment.yaml
  infra/k8s/onboarding/ingress.yaml
  infra/k8s/onboarding/kjk-app/deployment.yaml
  infra/k8s/onboarding/kjk-app/ingress.yaml
  infra/k8s/onboarding/kjk-app/service.yaml
  infra/k8s/onboarding/namespace.yaml
  infra/k8s/onboarding/service.yaml
  infra/k8s/onboarding/taehun_onboarding/deployment.yaml
  infra/k8s/onboarding/taehun_onboarding/ingress.yaml
  infra/k8s/onboarding/taehun_onboarding/service.yaml
Due: prettier, terraformfmt

feat(be): set default email
  apps/backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

chore(fe): apply svgr
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/CommandsList.tsx
  apps/frontend/app/admin/_components/tiptap/HeadingStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/InsertNodeBar.tsx
  apps/frontend/app/admin/_components/tiptap/ListStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/TextStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/UndoRedoBar.tsx
  apps/frontend/public/icons/sort.svg
  apps/frontend/public/icons/texteditor-bold.svg
  apps/frontend/public/icons/texteditor-bulletlist.svg
  apps/frontend/public/icons/texteditor-code.svg
  apps/frontend/public/icons/texteditor-codeblock.svg
  apps/frontend/public/icons/texteditor-equation.svg
  apps/frontend/public/icons/texteditor-expand.svg
  apps/frontend/public/icons/texteditor-file.svg
  apps/frontend/public/icons/texteditor-h1.svg
  apps/frontend/public/icons/texteditor-h2.svg
  apps/frontend/public/icons/texteditor-h3.svg
  apps/frontend/public/icons/texteditor-image.svg
  apps/frontend/public/icons/texteditor-italic.svg
  apps/frontend/public/icons/texteditor-link.svg
  apps/frontend/public/icons/texteditor-numberedlist.svg
  apps/frontend/public/icons/texteditor-redo.svg
  apps/frontend/public/icons/texteditor-shrink.svg
  apps/frontend/public/icons/texteditor-stikethrough.svg
  apps/frontend/public/icons/texteditor-table.svg
  apps/frontend/public/icons/texteditor-underline.svg
  apps/frontend/public/icons/texteditor-undo.svg
  apps/frontend/public/icons/trashcan2-gray.svg
Due: eslint, prettier

fix(fe): move course notice page under (overview)/notice route
  apps/frontend/app/admin/course/[courseId]/(overview)/exam/page.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/page.tsx
Due: eslint, prettier

feat(fe): redesign course notice admin list and import modal
  apps/frontend/app/admin/_components/table/DataTableRoot.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/CreateNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/DeleteNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/ImportNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/ImportNoticeTableContent.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/NoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/importNoticeTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeTableContent.tsx
  apps/frontend/app/admin/course/_components/NoticeTable.tsx
  apps/frontend/app/admin/course/_components/NoticeTableColumns.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

refactor(fe): integrate qna components
  apps/frontend/app/(client)/(code-editor)/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/page.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/qna/page.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): add type check
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CommentsArea.tsx
Due: eslint, prettier

fix(fe): integrate types
  apps/frontend/app/(client)/(code-editor)/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaColumns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/QnaDetailView.tsx
  apps/frontend/app/admin/course/_components/QnaDetailModal.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

refactor(fe): add expanded types
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainTable.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): use currentColor fill for clock and exclamation mark icons
  apps/frontend/public/icons/clock.svg
  apps/frontend/public/icons/exclamation_mark.svg
Due: none
