Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(be): fix test error
  apps/backend/apps/admin/src/contest/test/contest-qna.service.spec.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

chore(be): modify async error
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

feat(fe): block input/output field when uploading Zip
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

fix(fe): fix admin finalscore (#3249)
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/FinalScoreForm.tsx
Due: eslint, prettier

feat(fe): modify testcasefield
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

fix(be): fix test error 2
  apps/backend/apps/admin/src/contest/test/contest-qna.service.spec.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

chore(be): modify visible locktime
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/test/contest-qna.service.spec.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): fix test error 3
  apps/backend/apps/admin/src/contest/test/contest-qna.service.spec.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): fix test error 4
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

feat(be): add testcase count in assignmentScoreSummary
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/assignment/model/score-summary.ts
  apps/backend/schema.gql
Due: eslint, prettier

docs(be): modify bruno query
  collection/instructor/Assignment/Get Assignment Score Summaries/Succeed.bru
  collection/instructor/Assignment/Get Assignment Score Summary of User/Succeed.bru
Due: none

chore(be): modify test code
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
Due: eslint, prettier

fix(be): fix test error 5
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): fix test error 6
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

chore(be): restore to original visible locktime
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
Due: eslint, prettier

chore(be): fix error message
  apps/plag/src/service/check/manager.go
Due: none

chore(fe): modify query
  apps/frontend/graphql/assignment/queries.ts
Due: eslint, prettier

chore(fe): modify problemScore to scoreSummaryByProblem (1)
  apps/frontend/app/admin/_components/code-editor/AssignmentHeader.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/_libs/type.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableOverall.tsx
Due: eslint, prettier

chore(fe): modify problemScore to scoreSummaryByProblem (2)
  apps/frontend/app/admin/course/[courseId]/_components/ParticipationColumns.tsx
Due: eslint, prettier

chore(fe): modify problemScore to scoreSummaryByProblem (3)
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/participant/[userId]/_components/ScoreColumns.tsx
Due: eslint, prettier

chore(fe): modify height & delete duplicated variable
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/ContestOverviewLayout.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterCancelButton.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
Due: eslint, prettier

refactor(be): clean up formatting and update CourseQnA model to use QnACategory enum
  apps/backend/prisma/schema.prisma
Due: none

fix(be): fix plag code parsing error
  apps/plag/src/handler/check-handler.go
  apps/plag/src/loader/element.go
  apps/plag/src/loader/postgres.go
  apps/plag/src/service/check/manager.go
  apps/plag/src/utils/parse_code.go
Due: none

feat(be): add Course QnA creation and comments in seed data
  apps/backend/prisma/migrations/20251102075032_unify_qna_category_enum/migration.sql
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(fe): remove items.isSample/Hidden
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

feat(fe): make delete button for ZIP upload (#3246)
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

feat(be): add general question creation functionality and update existing question details
  collection/client/Course/Create Comment/Succeed (Other Student on Public).bru
  collection/client/Course/Create Comment/Succeed (Staff Comment).bru
  collection/client/Course/Create Comment/Succeed.bru
  collection/client/Course/Create Comment/folder.bru
  collection/client/Course/Create Question/Succeed (Private).bru
  collection/client/Course/Create Question/Succeed (Problem).bru
  collection/client/Course/Create Question/Succeed.bru
  collection/client/Course/Delete Comment/Succeed (Staff Can Delete).bru
  collection/client/Course/Delete Comment/Succeed.bru
  collection/client/Course/Delete Comment/folder.bru
  collection/client/Course/Delete Question/Succeed (Staff Can Delete).bru
  collection/client/Course/Get Question Detail/Succeed (Own Private Question).bru
  collection/client/Course/Get Question Detail/Succeed (Staff Can See Private).bru
  collection/client/Course/Get Question Detail/Succeed.bru
  collection/client/Course/Get Questions List/Succeed (Staff Can See All).bru
  collection/client/Course/Get Questions List/Succeed (With Category Filter).bru
  collection/client/Course/Get Questions List/Succeed (With IsAnswered Filter).bru
  collection/client/Course/Get Questions List/Succeed (With Problem Filter).bru
  collection/client/Course/Get Questions List/Succeed (With Search).bru
  collection/client/Course/Get Questions List/Succeed (With Week Filter).bru
  collection/client/Course/Update Question/Succeed (Change to Private).bru
  collection/client/Course/Update Question/Succeed (Staff Can Update).bru
  collection/client/Course/Update Question/Succeed.bru
Due: none

refactor(be): rename CourseQnACategory to QnACategory for consistency
  apps/backend/apps/client/src/course/course.service.ts
  apps/backend/prisma/migrations/20250924071743_add_course_qna/migration.sql
  apps/backend/prisma/migrations/20251102075032_unify_qna_category_enum/migration.sql
Due: eslint, prettier

refactor(be): update CourseQnACategory references to QnACategory for consistency
  apps/backend/apps/client/src/course/dto/qna.dto.ts
Due: eslint, prettier

refactor(be): update QnACategory to CourseQnACategory for consistency in migration
  apps/backend/prisma/migrations/20250924071743_add_course_qna/migration.sql
Due: none

refactor(be): unify QnACategory enum and update course_qna category references
  apps/backend/prisma/migrations/20250924071743_add_course_qna/migration.sql
  apps/backend/prisma/migrations/20251102075032_unify_qna_category_enum/migration.sql
Due: none

refactor(be): remove public schema references in course_qna migration
  apps/backend/prisma/migrations/20250924071743_add_course_qna/migration.sql
Due: none

refactor(be): remove unnecessary columns from user table in migration
  apps/backend/prisma/migrations/20250924071743_add_course_qna/migration.sql
Due: none

refactor(be): unify category column in course_qna table and drop CourseQnACategory enum
  apps/backend/prisma/migrations/20250924071743_add_course_qna/migration.sql
  apps/backend/prisma/migrations/20251102075032_unify_qna_category_enum/migration.sql
Due: none

test(be): add unit tests for CourseService with PrismaService mock
  apps/backend/apps/client/src/course/course.service.spec.ts
Due: eslint, prettier

chore(be): load total testcase count from latestSubmission
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

feat(be): add accepted testcase count for each problems (#3251)
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/assignment/model/score-summary.ts
  apps/backend/schema.gql
  apps/frontend/app/admin/_components/code-editor/AssignmentHeader.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/_components/ParticipationColumns.tsx
  apps/frontend/app/admin/course/[courseId]/_libs/type.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/participant/[userId]/_components/ScoreColumns.tsx
  apps/frontend/graphql/assignment/queries.ts
  collection/instructor/Assignment/Get Assignment Score Summaries/Succeed.bru
  collection/instructor/Assignment/Get Assignment Score Summary of User/Succeed.bru
Due: eslint, prettier

feat(infra): connect minio from nextjs through internet instead of internal FQDN
  apps/frontend/next.config.ts
  infra/k8s/admin-api/overlays/stage/configmap.yaml
  infra/k8s/client-api/overlays/stage/configmap.yaml
  infra/k8s/iris/overlays/stage/configmap.yaml
Due: eslint, prettier

fix: update cert-manager cluster issuer to letsencrypt-dns01
  infra/k8s/admin-api/base/ingress.yaml
  infra/k8s/admin-api/overlays/stage/ingress.yaml
  infra/k8s/argocd/ingress.yaml
  infra/k8s/client-api/base/ingress.yaml
  infra/k8s/client-api/overlays/stage/ingress.yaml
  infra/k8s/cloud-beaver/ingress.yaml
  infra/k8s/frontend/base/ingress.yaml
  infra/k8s/internal/base/cluster-issuer-http01.yaml
  infra/k8s/internal/base/dashboard-ingress.yaml
  infra/k8s/minio/ingress.yaml
  infra/k8s/monitoring/grafana/values.yaml
  infra/k8s/monitoring/minio/ingress.yaml
  infra/k8s/monitoring/prometheus/values.yaml
  infra/k8s/rabbitmq/base/ingress.yaml
Due: prettier
