Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

fix(be): comment out t get contestQnAs
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/libs/auth/src/roles/contest-roles.guard.ts
  apps/backend/schema.gql
Due: eslint, prettier

chore(be): comment out in contest.resolver
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

chore(be): add scripts for importing solutions
  apps/backend/scripts/add-solution.ts
Due: eslint, prettier

chore(be): add solution value in seed script
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(fe): allow assignment nullish duetime
  apps/frontend/app/admin/course/[courseId]/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
Due: eslint, prettier

fix(fe): change icon color and name
  apps/frontend/app/admin/problem/_components/ProblemUsage.tsx
  apps/frontend/public/icons/file-pen.svg
  apps/frontend/public/icons/prize.svg
  apps/frontend/public/icons/task-complete.svg
Due: eslint, prettier

fix(fe): update level badge color palette
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

fix(fe): change problem title font size
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
Due: eslint, prettier

fix(fe): remove bottom margin of level badge
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
Due: eslint, prettier

fix(fe): update level badge style
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
Due: eslint, prettier

chore(be): use pre-defined enum for inporting solutions
  apps/backend/prisma/seed.ts
Due: eslint, prettier

chore(be): apply reviewed changes
  apps/backend/scripts/add-solution.ts
Due: eslint, prettier

chore(be): add solution script (#3160)
  apps/backend/prisma/seed.ts
  apps/backend/scripts/add-solution.ts
Due: eslint, prettier

fix(fe): update qna main page alert modal design
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAAlertModal.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
Due: eslint, prettier

feat(fe): make error message to prevent register duetime after starttime
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
Due: eslint, prettier

feat(fe): make error message to prevent register duetime after starttime (#3162)
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
Due: eslint, prettier

fix(fe): remove unused icon
  apps/frontend/public/icons/info-blue.svg
Due: none

fix(fe): allow assignment nullish duetime (#3161)
  apps/frontend/app/admin/course/[courseId]/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
Due: eslint, prettier

fix(infra): rename AWS_ACCESS_KEY_ID with MINIO_ENDPOINT_URL
  infra/k8s/admin-api/overlays/stage/secrets/object-storage.yaml
Due: prettier

feat(fe): modify mainpage mainbanner and midbanner design
  apps/frontend/app/(client)/(main)/_components/Carousel.tsx
  apps/frontend/app/(client)/(main)/_components/MiddleContestBanner.tsx
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
  apps/frontend/app/(client)/(main)/page.tsx
  apps/frontend/public/banners/main_banner.png
  apps/frontend/public/banners/mainpage_middle_banner.png
Due: eslint, prettier

fix(be): modify folder name error
  collection/client/Contest/Get Contest QnA/Succeed.bru
  collection/client/Contest/Get Contest QnA/[403] Cannot access to others QnA during contest.bru
Due: none

fix(be): modify folder name error (#3167)
  collection/client/Contest/Get Contest QnA/Succeed.bru
  collection/client/Contest/Get Contest QnA/[403] Cannot access to others QnA during contest.bru
Due: none

docs(be): add argument take and cursor in GetContestQnAs
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/schema.gql
Due: eslint, prettier

fix(infra): add `AWS_ACCESS_KEY_ID` env var
  infra/k8s/admin-api/overlays/stage/secrets/object-storage.yaml
Due: prettier

feat(fe): render solution for exercise in client editor
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/exercise/[exerciseId]/problem/[problemId]/solution/page.tsx
Due: eslint, prettier

fix(fe): use exerciseId instead of that of assignment
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/exercise/[exerciseId]/problem/[problemId]/solution/page.tsx
Due: eslint, prettier

feat(fe): render solution for exercise in client editor (#3168)
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/exercise/[exerciseId]/problem/[problemId]/solution/page.tsx
Due: eslint, prettier

chore(be): change essential condition cursor and take argument
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/schema.gql
Due: eslint, prettier

docs(be): change essential condition cursor and take argument
  collection/admin/Contest/Get Contest QnA/Succeed.bru
  collection/admin/Contest/Get Contest QnAs/Succeed.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get Resolved QnAs.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get Unresolved QnAs.bru
  collection/admin/Contest/Get Contests/Succeed.bru
  collection/admin/Contest/Update Contest QnA Resolved/Succeed - Toggle to Resolved.bru
  collection/admin/Contest/Update Contest QnA Resolved/Succeed - Toggle to Unresolved.bru
  collection/admin/Contest/Update Contest QnA Resolved/[400] Nonexistent Contest QnA Comments.bru
  collection/admin/Contest/Update Contest QnA Resolved/folder.bru
  collection/admin/login.js
Due: eslint, prettier

feat(be): contestQnA filtering in admin (#3025)
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-qna.input.ts
  apps/backend/libs/auth/src/roles/contest-roles.guard.ts
  apps/backend/schema.gql
  collection/admin/Contest/Get Contest QnA/Succeed.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get Resolved QnAs.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get Unresolved QnAs.bru
  collection/admin/Contest/Get Contests/Succeed.bru
  collection/admin/Contest/Update Contest QnA Resolved/Succeed - Toggle to Resolved.bru
  collection/admin/Contest/Update Contest QnA Resolved/Succeed - Toggle to Unresolved.bru
  collection/admin/Contest/Update Contest QnA Resolved/[400] Nonexistent Contest QnA Comments.bru
  collection/admin/Contest/Update Contest QnA Resolved/folder.bru
  collection/admin/login.js
Due: eslint, prettier

feat(be): sort results by createTime in descending order
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

feat(be): sort results by createTime in descending order (#3169)
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

feat(fe): impl all
  apps/frontend/app/layout.tsx
  apps/frontend/app/manifest.webmanifest
  apps/frontend/components/AlertModal.tsx
  apps/frontend/components/Modal.tsx
  apps/frontend/components/notification/PushPermissionModal.tsx
  apps/frontend/components/shadcn/alert-dialog.tsx
Due: eslint, prettier

fix(fe): translate to eng ver
  apps/frontend/components/notification/PushPermissionModal.tsx
Due: eslint, prettier

fix(fe): apply problem usage modal design (#3051)
  apps/frontend/app/admin/problem/_components/ProblemUsage.tsx
  apps/frontend/graphql/assignment/queries.ts
  apps/frontend/public/icons/arrow-bottom.svg
  apps/frontend/public/icons/file-pen.svg
  apps/frontend/public/icons/info-gray.svg
  apps/frontend/public/icons/mail-line.svg
  apps/frontend/public/icons/prize.svg
  apps/frontend/public/icons/task-complete.svg
Due: eslint, prettier

feat(infra): setup openvpn server to access private VPC subnet from on-premise
  infra/aws/openvpn/.terraform.lock.hcl
  infra/aws/openvpn/bootstrap.sh
  infra/aws/openvpn/ec2.tf
  infra/aws/openvpn/main.tf
  infra/aws/openvpn/security-group.tf
  infra/aws/vpc/.terraform.lock.hcl
  infra/aws/vpc/main.tf
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/route_tables.tf
  infra/aws/vpc/vpc.tf
Due: terraformfmt

feat: push ovpn file to secrets-manager
  infra/aws/openvpn/bootstrap.sh
  infra/aws/openvpn/ec2.tf
  infra/aws/openvpn/iam-role.tf
  infra/aws/openvpn/secrets.tf
Due: terraformfmt

feat: use autoscaling group
  infra/aws/openvpn/ec2-asg.tf
  infra/aws/openvpn/ec2.tf
  infra/aws/openvpn/elastic-ip.tf
Due: terraformfmt

chore: add note with elastic ip re-association
  infra/aws/openvpn/elastic-ip.tf
Due: terraformfmt

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
