Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

fix(fe): fix package
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): admin problem create info
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/components/ui/checkbox.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix: do not add penalty before the first acceptance
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat: generate controller for get contest records
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/submission/submission.controller.ts
Due: eslint, prettier

fix(fe): change a header position
  frontend-client/app/(main)/_components/Header.tsx
Due: none

fix(fe): change a header position (#1326)
  frontend-client/app/(main)/_components/Header.tsx
Due: none

feat: add loading state for problem page
  frontend-client/app/(main)/problem/_components/ProblemInfiniteTable.tsx
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

chore: delete previous tables
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix(be): fix contest controller to support availability of user contest participation feat
  backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

fix(be): fix the contest service to support the availibility of the user contest participation feat
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

test(be): fix the test for the updated service code
  backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

docs(be): fix the bruno api docs
  collection/client/Contest/Get contest by ID/404: Contest does not exist.bru
  collection/client/Contest/Get contest by ID/404: Nonexistent contest.bru
  collection/client/Contest/Get contest by ID/Succeed.bru
Due: none

feat(fe): make info
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TagsSelect.tsx
Due: none

feat(be): add total field to get-problems apis - getProblems, getContestProblmes, getWorkbookProblems에 문제 총 개수 표시
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

docs(be): modify get problems api docs
  collection/client/Problem/Get problems/Succeed.bru
Due: none

feat(fe): add texteditor, update form control
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TextEditor.tsx
Due: none

chore(fe): fix gap between input and error text
  frontend-client/app/admin/problem/create/page.tsx
Due: none

feat(fe): add graphql fetcher (#1315)
  frontend-client/app/admin/layout.tsx
  frontend-client/lib/utils.ts
  frontend-client/lib/vars.ts
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat: add cursor pointer
  frontend-client/components/OptionSelect.tsx
Due: none

fix: change border color
  frontend-client/components/TagsSelect.tsx
Due: none

fix: apply search to tags
  frontend-client/components/TagsSelect.tsx
Due: none

feat(fe): 1322 admin problem create info (#1331)
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/components/ui/checkbox.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix(fe): change text nowrap to white nowrap
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/admin/_components/GroupSelect.tsx
  frontend-client/app/admin/layout.tsx
Due: none

chore(be): modify problems response dto
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/dto/related-problems.response.dto.ts
Due: eslint, prettier

fix(fe): change text wrap to whitespace (#1334)
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/admin/_components/GroupSelect.tsx
  frontend-client/app/admin/layout.tsx
Due: none

test(be): modify problem service test
  backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): env modification
  .env.development
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(fe): change login toast message
  frontend-client/app/(main)/_components/SignIn.tsx
Due: none

feat: add session storage to store scroll
  frontend-client/components/DataTable.tsx
Due: none

fix(fe): change login toast message (#1336)
  frontend-client/app/(main)/_components/SignIn.tsx
Due: none

feat: add ellipsis to controll text overflow
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/notice/_components/Columns.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
Due: none

fix(be): revert
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

feat(fe): add cancel feature in problem table sort button
  frontend-client/components/SortButton.tsx
Due: none

chore: add default value of env vars
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat: add default baseurl for rabbitmq api
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat: change endpoint
  backend/apps/client/src/submission/submission.controller.ts
  collection/client/Submission/Check Delay/Succeed.bru
Due: eslint, prettier

feat(fe): add cancel feature in problem table sort button (#1340)
  frontend-client/components/SortButton.tsx
Due: none

chore: add nestjs-otel package
  backend/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): edit Data Table's title area (#1339)
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/notice/_components/Columns.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
Due: none

feat: add tracing span for submission(MQ, service)
  backend/apps/client/src/app.module.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
