Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

refactor(infra): extract shared alerting config to base
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/monitoring/grafana/base/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/values.yaml
Due: prettier

feat(fe): impl basic page design
  apps/frontend/app/(client)/(main)/problem/_components/MyProblem.tsx
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/my-problem/page.tsx
Due: eslint, prettier

fix(fe): bug fix on course main
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

feat(fe): change card design
  apps/frontend/app/(client)/(main)/problem/_components/MyProblem.tsx
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
Due: eslint, prettier

feat(fe): add icons
  .codex
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
  apps/frontend/public/icons/clock_gray.svg
  apps/frontend/public/icons/memory.svg
  apps/frontend/public/icons/plus-circle-blue.svg
Due: eslint, prettier

fix(fe): common change
  .codex
Due: none

feat(fe): infinite scroll
  apps/frontend/app/(client)/(main)/problem/_components/MyProblem.tsx
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
Due: eslint, prettier

refactor(fe): extract VisibleButtonProps from SignUpPage
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
Due: eslint, prettier

remove skkuding.dev, add runner URL, and add server-5 IP
  infra/aws/dns/main.tf
  infra/aws/dns/runner.tf
Due: terraformfmt

refactor(fe): remove unnecessary toString from name error message
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
Due: eslint, prettier

feat(fe): add password confirmation validation to signup schema
  apps/frontend/components/auth/SignUpPage/signup.schema.ts
Due: eslint, prettier

refactor(fe): update password feedback logic in SignUpPage
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
Due: eslint, prettier

refactor(fe): remove unnecessary toString from error messages
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
Due: eslint, prettier

fix(cache): fix CI Test Backend failure due to undefined Redis password in URL
  apps/backend/libs/cache/src/cache-config.service.ts
Due: eslint, prettier

chore(infra): remove skkuding.dev, add runner URL, and add server-5 IP (#3519)
  infra/aws/dns/main.tf
  infra/aws/dns/runner.tf
Due: terraformfmt

fix(infra): remove duplicate port (#3517)
  infra/k8s/argocd/values.yaml
Due: prettier

fix(fe): bug fix on course main (#3518)
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

feat(fe): add signup page for whitelist removal (#3492)
  apps/frontend/app/(client)/signup/layout.tsx
  apps/frontend/app/(client)/signup/page.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/auth/SignUpPage/SignUpHeader.tsx
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
  apps/frontend/components/auth/SignUpPage/signup.schema.ts
  apps/frontend/components/auth/SignUpPage/signup.type.ts
  apps/frontend/public/icons/asterisk-gray.svg
  apps/frontend/public/logos/codedang-with-text-white.svg
  apps/frontend/public/signup/background.png
Due: eslint, prettier

chore(be): modify schema polygontool
  apps/backend/prisma/schema.prisma
Due: none

feat(fe): impl empty page
  .codex
  apps/frontend/app/(client)/(main)/problem/_components/MyProblem.tsx
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/my-problem/empty/page.tsx
Due: eslint, prettier

fix(fe): add state button on published tab
  apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
Due: eslint, prettier

Update apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
Due: eslint, prettier

Update apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
Due: eslint, prettier

fix(fe): fix gemini code review
  apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTable.tsx
Due: eslint, prettier

feat(test): add k6 load test for submission judging pipeline (#3509)
  .gitignore
  eslint.config.mjs
  tests/load/README.md
  tests/load/payloads/normal/solution.c
  tests/load/payloads/normal/solution.cpp
  tests/load/payloads/normal/solution.java
  tests/load/payloads/normal/solution.py
  tests/load/payloads/normal/solution.pypy.py
  tests/load/payloads/villain/fork-attempt.pypy.py
  tests/load/payloads/villain/infinite-loop.c
  tests/load/payloads/villain/memory-bomb.cpp
  tests/load/payloads/villain/output-flood.java
  tests/load/payloads/villain/resource-hog.py
  tests/load/results/.gitkeep
  tests/load/submission-load.js
Due: eslint, prettier

fix(infra): escape grafana template variables for helm tpl function
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/values.yaml
Due: prettier

feat(be): install websokets, redisAdapter, ioredis for studygroup
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

feat(be): add Redis module and Socket.IO adapter
  apps/backend/libs/redis/src/index.ts
  apps/backend/libs/redis/src/redis-io.adapter.ts
  apps/backend/libs/redis/src/redis.module.ts
  apps/backend/libs/redis/tsconfig.lib.json
Due: eslint, prettier

feat(be): add WebSocket auth to JWT auth guard
  apps/backend/libs/auth/src/jwt/jwt-auth.guard.ts
Due: eslint, prettier

feat(be): integrate Redis module into application
  apps/backend/apps/client/src/app.module.ts
  apps/backend/tsconfig.json
Due: eslint, prettier

feat(be): add Redis WebSocket adapter to main
  apps/backend/apps/client/src/main.ts
Due: eslint, prettier

feat(be): implement collaborator service
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.ts
Due: eslint, prettier

feat(be): implement collaborator resolver
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.resolver.ts
  apps/backend/apps/admin/src/polygon/collaborator/model/collaborator.input.ts
  apps/backend/apps/admin/src/polygon/polygon.module.ts
Due: eslint, prettier

feat(be): add WebSocket gateway for study group
  apps/backend/apps/client/src/study/study.gateway.ts
Due: eslint, prettier

feat(be): add StudyGateway to StudyModule
  apps/backend/apps/client/src/study/study.module.ts
Due: eslint, prettier

feat(be): add collaborator service unit test
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.spec.ts
Due: eslint, prettier

feat(fe): unify pages
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/FileUploadSection.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ScriptSection.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ToolsPage.tsx
Due: eslint, prettier

chore(fe): apply feedback
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/FileUploadSection.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ScriptSection.tsx
Due: eslint, prettier

chore(fe): use info-icon-gray.svg
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/FileUploadSection.tsx
Due: eslint, prettier

feat(fe): modify importnoticemodal
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentEditor.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeCommentsSection.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/useNoticeComments.ts
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/_components/mock.ts
  apps/frontend/app/admin/course/[courseId]/notice/_components/CreateNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/ImportNoticeTableContent.tsx
  apps/frontend/app/admin/course/[courseId]/notice/_components/importNoticeTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/notice/page.tsx
  apps/frontend/app/admin/course/_components/NoticeTable.tsx
Due: eslint, prettier
