Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): add problem order optionselect, connect update problem order api
  apps/frontend/app/admin/contest/create/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/components/OptionSelect.tsx
Due: none

fix: edit update problem order logic, fix build errors
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/components/OptionSelect.tsx
  apps/frontend/components/date-time-picker-demo.tsx
Due: none

fix: add router.refresh
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: none

fix: add orderArray error condition
  apps/frontend/app/admin/contest/create/page.tsx
Due: none

fix(fe): add hamburger button (#1553)
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: none

chore(be): add resolve-field for contest-proble, workbook-problem
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
Due: eslint, prettier

fix(infra): delete files which not in main branch
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/ParticipateButton.tsx
  apps/frontend/app/admin/problem/_components/Lable.tsx
Due: none

chore(be): add resolve-field for contest-problem, workbook-problem (#1557)
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
Due: eslint, prettier

feat(infra): add opentelemetry metric instrumentation (#1375)
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/admin/src/metric.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/apps/client/src/metric.ts
  apps/backend/package.json
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/main.go
  apps/iris/src/observability/metric.go
  pnpm-lock.yaml
Due: eslint, prettier

fix: remove unnecessary line
  apps/backend/apps/client/src/main.ts
Due: eslint, prettier

fix(infra): remove unnecessary line (tracer.init()) (#1558)
  apps/backend/apps/client/src/main.ts
Due: eslint, prettier

fix(infra): change panic to print
  apps/iris/src/observability/metric.go
Due: none

fix(infra): change panic to print (#1559)
  apps/iris/src/observability/metric.go
Due: none

chore(be): change the path of schema.gql in gitignore
  .gitignore
Due: none

chore(be): change the path of schema.gql in gitignore (#1560)
  .gitignore
Due: none

chore: change provider location
  apps/frontend/app/(main)/layout.tsx
  apps/frontend/app/(main)/problem/page.tsx
  apps/frontend/app/(main)/providers.tsx
Due: none

chore: remove previous problem table
  apps/frontend/app/(main)/problem/_components/ProblemTable.tsx
Due: none

feat(fe): implement infinite scroll (#1532)
  apps/frontend/app/(main)/problem/_components/ProblemInfiniteTable.tsx
  apps/frontend/app/(main)/problem/_components/ProblemTable.tsx
  apps/frontend/app/(main)/problem/page.tsx
  apps/frontend/lib/useInfiniteScroll.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(be): implement transaction extension for prisma client https://github.com/prisma/prisma-client-extensions/pull/47 참고하여 작성했습니다
  apps/backend/libs/prisma/src/transaction.extension.ts
Due: eslint, prettier

feat(be): add transaction extension on index ts file
  apps/backend/libs/prisma/src/index.ts
Due: eslint, prettier

feat(be): implement transaction rollback for group service unit test
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): add comments and type
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): add await keyword
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): add chai exclude
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): delete override prisma service func
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): increase timeout for before each hook
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): disable timeout for before each hook
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): add comment
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

test(be): fix comment
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

feat(infra): add opentelemetry trace instrumentation (#1540)
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/admin/src/tracer.ts
  apps/backend/apps/client/src/app.module.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/tracer.ts
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
  apps/infra/modules/codedang-infra/ecs-api-admin.tf
  apps/infra/modules/codedang-infra/ecs-api-client.tf
  apps/infra/modules/codedang-infra/ecs-iris.tf
  apps/infra/modules/codedang-infra/iris/task-definition.tftpl
  apps/infra/modules/codedang-infra/variables.tf
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/main.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/observability/tracer.go
  pnpm-lock.yaml
Due: eslint, prettier

fix: fix pnpm-lock file
  pnpm-lock.yaml
Due: prettier

fix: fix pnpm-lock file (#1563)
  pnpm-lock.yaml
Due: prettier

feat(fe): fix hamburger button when not logged in
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: none
