Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore(be): delete unneeded exception logics on assignment module
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
Due: eslint, prettier

chore(be): upgrade prisma to v6 and delete unneeded exception logics (#2283)
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/notice/notice.controller.ts
  apps/backend/apps/client/src/problem/code-draft.controller.ts
  apps/backend/apps/client/src/user/user.controller.ts
  apps/backend/libs/exception/src/filter.ts
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  pnpm-lock.yaml
Due: eslint, prettier

chore: use self closing tag
  apps/frontend/components/shadcn/carousel.tsx
Due: eslint, prettier

feat(fe): change sse endpoint
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useTestResults.ts
Due: eslint, prettier

fix(be): remove type import to use event-emitter
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
Due: eslint, prettier

fix(fe): change file name
  apps/frontend/app/(client)/(code-editor)/_components/EditorSampleField.tsx
Due: eslint, prettier

chore(fe): apply error boundary in code editor and admin (#2290)
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/[submissionId]/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/[contestId]/participant/[userId]/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/_components/ScoreCautionDialog.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/user/page.tsx
Due: eslint, prettier

chore(fe): change contest to course
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/components/CourseStatusTimeDiff.tsx
Due: eslint, prettier

refactor(iris): integrate judge result code
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/response.go
Due: none

chore: lock-file maintainance
  pnpm-lock.yaml
Due: prettier

fix: restore lost updates
  apps/iris/src/handler/judge-handler.go
Due: none

feat(fe): add sentry custom error
  apps/frontend/app/(client)/(main)/sentry-example-page/page.tsx
  apps/frontend/instrumentation.ts
  apps/frontend/libs/apiError.ts
  apps/frontend/libs/checkError.ts
  apps/frontend/sentry.client.config.ts
Due: eslint, prettier

chore: add promise eslint plugin (#2296)
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/components/auth/FindUserId.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignUpEmailVerify.tsx
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/libs/utils.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): add temporary tabs for contest page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/notice/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
Due: eslint, prettier

feat(fe): add settings.ts files
  apps/frontend/app/(client)/_libs/apis/settings.ts
  apps/frontend/app/(client)/_libs/queries/settings.ts
Due: eslint, prettier

fix(iris): python parameter errcase change
  apps/iris/src/service/sandbox/langConfig.go
Due: none

chore: remove solved comment
  apps/iris/src/service/sandbox/langConfig.go
Due: none

docs(be): add jsdoc on client submission service (#2281)
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore: migration from zod to valibot (#2286)
  apps/frontend/app/(client)/(main)/settings/_libs/schemas.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/components/auth/FindUserId.tsx
  apps/frontend/components/auth/ResetPassword.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignUpEmailVerify.tsx
  apps/frontend/components/auth/SignUpRegister.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(iris): get realTimeLimit value from args parameter
  apps/iris/go.mod
  apps/iris/src/service/sandbox/compiler.go
Due: none

fix(iris): change compile Error type
  apps/iris/src/service/sandbox/compiler.go
Due: none

fix(iris): python parameter change (#2284)
  apps/iris/src/service/sandbox/langConfig.go
Due: none

chore: apply tree shaking
  apps/frontend/package.json
Due: none

feat(fe): refactor settings page but some problems
  apps/frontend/app/(client)/(main)/settings/_components/MajorSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/SaveButton.tsx
  apps/frontend/app/(client)/(main)/settings/page.tsx
Due: eslint, prettier

fix(fe): add temporary tabs for contest page (#2300)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/notice/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTabs.tsx
Due: eslint, prettier

fix(fe): create course types
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCards.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseStatusTimeDiff.tsx
  apps/frontend/components/AssignmentStatusTimeDiff.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

chore: add named export rule
  eslint.config.mjs
Due: none

style(fe): change text color
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
Due: eslint, prettier

feat(fe): add assignment card list
  apps/frontend/app/(client)/(main)/course/_components/AssignmentCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/AssignmentCardList.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard copy.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/components/AssignmentStatusTimeDiff.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

refactor(fe): refactor editor description (#2287)
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorSampleField.tsx
  apps/frontend/app/(client)/(code-editor)/_components/ReferenceDialog.tsx
Due: eslint, prettier

refactor(fe): refactor admin problem edit
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
Due: eslint, prettier

fix(fe): resolve bug blocking contest creation without invitation code
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

feat(fe): delete comments
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/app/(client)/_libs/queries/settings.ts
Due: eslint, prettier

fix(fe): delete unused const
  apps/frontend/app/(client)/(main)/settings/page.tsx
Due: eslint, prettier

fix: remove unnecessary codes
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/compiler.go
Due: none

feat(iris): use local when compiling submitted code (#2297)
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/compiler.go
Due: none

fix(fe): replace type assertion with default value
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
Due: eslint, prettier

fix(fe): resolve bug blocking contest creation without invitation code (#2303)
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier
