Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): revert next env changes
  apps/frontend/next-env.d.ts
Due: eslint, prettier

fix(fe): keep study tab disabled
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

style(fe): format service cards
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

fix(infra): enable Gateway API and correct gateway configurations
  infra/k8s/cert-manager/values.yaml
  infra/k8s/internal/base/gateway.yaml
Due: prettier

fix(fe): add spacing between problem description and divider
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
Due: eslint, prettier

feat(infra): add Traefik HelmChartConfig and gateway resources (#3677)
  infra/k8s/cert-manager/values.yaml
  infra/k8s/internal/base/gateway.yaml
  infra/k8s/internal/base/kustomization.yaml
  infra/k8s/internal/base/traefik-config.yaml
Due: prettier

fix: derive pnpm version from root package manifest
  .devcontainer/devcontainer.json
  apps/backend/Dockerfile
  apps/frontend/package.json
Due: none

fix: derive pnpm version from root package manifest (#3680)
  .devcontainer/devcontainer.json
  apps/backend/Dockerfile
  apps/frontend/package.json
Due: none

fix(infra): refresh Argo CD stage cluster credential
  infra/k8s/argocd/values.yaml
Due: prettier

fix(be): replace outdated check with testcase filtering
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

fix(infra): refresh Argo CD stage cluster credential (#3681)
  infra/k8s/argocd/values.yaml
Due: prettier

fix(infra): stop MinIO application normalization loop
  infra/k8s/argocd/applications/minio-stage.yaml
  infra/k8s/argocd/applications/monitoring/minio.yaml
Due: prettier

fix(infra): stop MinIO application normalization loop (#3684)
  infra/k8s/argocd/applications/minio-stage.yaml
  infra/k8s/argocd/applications/monitoring/minio.yaml
Due: prettier

test(be): add tests for batch update handleJudgerMessage/updateTestcaseJudgeResult
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
Due: eslint, prettier

chore: revert gitignore additions unrelated to batch update scope
  .gitignore
Due: none

feat(fe): make header options
  apps/frontend/app/(client)/(main)/problem/creating/page.tsx
  apps/frontend/app/(client)/(main)/problem/my-problem/page.tsx
  apps/frontend/app/admin/problem/polygon/_components/CheckerPage.tsx
  apps/frontend/app/admin/problem/polygon/_components/CollaborationPage.tsx
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateContainer.tsx
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateSkeletons.tsx
  apps/frontend/app/admin/problem/polygon/_components/SolutionPage.tsx
  apps/frontend/app/admin/problem/polygon/_components/StatementPage.tsx
  apps/frontend/app/admin/problem/polygon/_components/TestCasePage.tsx
  apps/frontend/app/admin/problem/polygon/_components/UploadButton.tsx
  apps/frontend/app/admin/problem/polygon/error.tsx
  apps/frontend/app/admin/problem/polygon/page.tsx
Due: eslint, prettier

feat(fe): move tab to right side
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateContainer.tsx
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateSkeletons.tsx
  apps/frontend/app/admin/problem/polygon/_components/UploadButton.tsx
Due: eslint, prettier

fix(fe): change details
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateContainer.tsx
Due: eslint, prettier

feat(fe): add icons
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateContainer.tsx
  apps/frontend/app/admin/problem/polygon/_components/UploadButton.tsx
  apps/frontend/public/icons/file-thin.svg
  apps/frontend/public/icons/list-box.svg
  apps/frontend/public/icons/people.svg
  apps/frontend/public/icons/upload.svg
Due: eslint, prettier

fix(fe): wipe polygon frontend progress (#3678)
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CheckerPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CollaborationPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/GeneratorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateSkeletons.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/StatementPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/TestsPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/UploadButton.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ValidatorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/page.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/style.module.css
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
  apps/frontend/app/(client)/(main)/page.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTabs.tsx
  apps/frontend/app/(client)/(main)/problem/creating/page.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/app/(client)/(main)/problem/my-problem/page.tsx
  apps/frontend/public/banners/middle-banner.png
  apps/frontend/public/icons/info-icon-gray.svg
  apps/frontend/public/icons/trashcan2-gray.svg
Due: eslint, prettier

fix(fe): improve finished contest button UI
  apps/frontend/app/(client)/(code-editor)/_components/FinishedNoticePanel.tsx
Due: eslint, prettier

fix(fe): reset soulution page
  apps/frontend/app/admin/problem/polygon/_components/SolutionPage.tsx
Due: eslint, prettier

fix(fe): dedupe roster entries and guard empty enrollment inputs
  apps/frontend/app/(client)/(main)/course/_components/RegisterCourseButton.tsx
  apps/frontend/app/admin/course/_components/StudentRosterModal.spec.ts
  apps/frontend/app/admin/course/_components/StudentRosterModal.tsx
Due: eslint, prettier

fix(fe): fix hidden contents bug
  apps/frontend/app/admin/layout.tsx
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateContainer.tsx
  apps/frontend/app/admin/problem/polygon/page.tsx
Due: eslint, prettier

feat(fe): remake problem tabs
  apps/frontend/app/admin/problem/_components/ProblemTabs.tsx
  apps/frontend/app/admin/problem/creating/_components/SharedProblemTable.tsx
  apps/frontend/app/admin/problem/creating/_components/SharedProblemTableColumns.tsx
  apps/frontend/app/admin/problem/creating/error.tsx
  apps/frontend/app/admin/problem/creating/page.tsx
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateContainer.tsx
Due: eslint, prettier

chore(fe): rename files
  apps/frontend/app/admin/problem/creating/_components/CreatingProblemTable.tsx
  apps/frontend/app/admin/problem/creating/_components/CreatingProblemTableColumns.tsx
  apps/frontend/app/admin/problem/creating/page.tsx
Due: eslint, prettier

fix(infra): add gateway http 80 listener
  infra/k8s/internal/base/gateway.yaml
Due: prettier

fix(fe): add spacing between problem description and divider (#3679)
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
Due: eslint, prettier

fix(fe): unify course notice query keys and align client notice list with admin
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeColumns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseNoticeTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/NoticeDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/_components/useNoticeComments.ts
  apps/frontend/app/(client)/(main)/course/[courseId]/notice/[noticeId]/page.tsx
  apps/frontend/app/(client)/_libs/apis/courseNotice.ts
  apps/frontend/app/(client)/_libs/queries/courseNotice.ts
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/ImportNoticeModal.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/notice/_components/ImportNoticeTableContent.tsx
Due: eslint, prettier

refactor(infra): migrate admin-api ingress to gateway
  infra/k8s/admin-api/base/HTTPRoutes.yaml
  infra/k8s/admin-api/base/TLSRedirect.yaml
  infra/k8s/admin-api/base/kustomization.yaml
  infra/k8s/admin-api/overlays/stage/HTTPRoutes.yaml
  infra/k8s/admin-api/overlays/stage/TLSRedirect.yaml
  infra/k8s/admin-api/overlays/stage/kustomization.yaml
Due: prettier

refactor(infra): migrate argocd ingress to gateway
  infra/k8s/argocd/applications/frontend-preview.yaml
  infra/k8s/argocd/values.yaml
Due: prettier

chore(fe): shrink main content
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateContainer.tsx
  apps/frontend/app/admin/problem/polygon/_components/ProblemCreateSkeletons.tsx
  apps/frontend/app/admin/problem/polygon/page.tsx
Due: eslint, prettier

chore(infra): centralize TLSRedirect configuration
  infra/k8s/admin-api/base/TLSRedirect.yaml
  infra/k8s/admin-api/base/kustomization.yaml
  infra/k8s/internal/base/TLSRedirect.yaml
  infra/k8s/internal/base/kustomization.yaml
Due: prettier

fix(be): add assignmentId to CourseQnA
  apps/backend/prisma/migrations/20260812054938_add_assignment_id_composite_fk_to_course_qna/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(be): map assignment to Course Q&A
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): add assignmentId query param to createCourseQnA
  apps/backend/apps/client/src/group/group.controller.ts
Due: eslint, prettier

fix(be): add assignment relation to getCourseQnAs select
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): add assignment relation to getCourseQnA select
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): assignment response fields to null in createCourseQnA
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

feat(be): add user lookup by username
  apps/backend/apps/client/src/user/user.controller.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
  collection/client/User/Get User by Username/Succeed.bru
  collection/client/User/Get User by Username/[400] Invalid Username.bru
  collection/client/User/Get User by Username/[401] Unauthorized.bru
  collection/client/User/Get User by Username/[404] Not Found.bru
Due: eslint, prettier
