Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(fe): add updatetime and align column widths (#2554)
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UseInfoModal.tsx
Due: eslint, prettier

fix(fe): remove is visible switch when instructor (#2562)
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

feat(fe): parse indentation in template code (#2560)
  apps/frontend/app/admin/problem/_components/CodeForm.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
  apps/frontend/app/admin/problem/_components/editor/CodeEditor.tsx
  apps/frontend/app/admin/problem/_components/editor/editorConfig.ts
  apps/frontend/app/admin/problem/_components/editor/formatConfigs.ts
  apps/frontend/app/admin/problem/_components/editor/formatters.ts
  apps/frontend/app/admin/problem/_components/editor/index.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(fe): limit assignment create week (#2567)
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/WeekComboBox.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
Due: eslint, prettier

feat(fe): improve text editor (#2349)
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/CodeBlockComponent.tsx
  apps/frontend/app/admin/_components/tiptap/CommandsList.tsx
  apps/frontend/app/admin/_components/tiptap/FileDownloadNode.tsx
  apps/frontend/app/admin/_components/tiptap/InsertBar.tsx
  apps/frontend/app/admin/_components/tiptap/TextStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/commands.tsx
  apps/frontend/app/admin/_components/tiptap/items.tsx
  apps/frontend/app/admin/_components/tiptap/renderItems.tsx
  apps/frontend/app/admin/_components/tiptap/styles.css
  apps/frontend/components/InsertDialog.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(fe): implement hide panel button in code editor (#2569)
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Due: eslint, prettier

revert(fe): add updatetime and align column widths (#2571)
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UseInfoModal.tsx
Due: eslint, prettier

fix(fe): improve management course design (#2545)
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/submission/[submissionId]/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/SubmissionDetailContent.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/page.tsx
  apps/frontend/app/admin/_components/TimeForm.tsx
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
  apps/frontend/app/admin/course/_components/Columns.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/course/_components/DeleteCourseButton.tsx
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
  apps/frontend/app/admin/course/_components/UpdateCourseButton.tsx
  apps/frontend/app/admin/problem/[problemId]/_components/Columns.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
  apps/frontend/public/logos/excel.png
Due: eslint, prettier

feat(fe): add problem preview page (#2563)
  apps/frontend/app/admin/_components/code-editor/PreviewEditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/[problemId]/page.tsx
  apps/frontend/app/admin/problem/[problemId]/preview/page.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(fe): redesign datatable delete modal (#2568)
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/libs/utils.ts
Due: eslint, prettier

fix(be): logging submit result output (#2572)
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/prisma/migrations/20250323164730_add_output_on_submission_result_table/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

feat(be): add roles on get contest (#2573)
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Get Contest/Succeed.bru
  collection/client/Contest/Get Contest Roles/Succeed.bru
Due: eslint, prettier

fix(be): fix output name error
  apps/backend/apps/admin/src/submission/model/submission-detail.output.ts
Due: eslint, prettier

fix(be): remove legacy column from contest (#2574)
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20250310143440_remove_unused_column_in_contest/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ContestTable.tsx
  apps/frontend/app/admin/contest/_components/ContestTableColumns.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Required Fields Not Entered.bru
  collection/admin/Contest/Create Contest/[ERR] Summary should be string.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
Due: eslint, prettier

fix(be): modify mock data
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
Due: eslint, prettier

fix(be): fix mock data
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
Due: eslint, prettier

fix(be): solve test error
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(be): fix duplicate migration
  apps/backend/prisma/migrations/20250323084033_add_output_to_submission_result_model/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(be): add output seed
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(be): modify getSubmission
  apps/backend/apps/admin/src/submission/model/submission-detail.output.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

docs(be): modify getSubmission docs
  collection/admin/Submission/Get Submission Detail/Succeed.bru
Due: none

fix(be): throw error when contest problemId is missing from orders (#2577)
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

docs(fe): make AdminContestStatusTimeDiff component
  apps/frontend/app/admin/_components/AdminContestStatusTimeDiff.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
Due: eslint, prettier

chore(fe): modify indents
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

fix(infra): fix superuser password problem
  .github/workflows/rc-mask-db.yml
Due: prettier

fix(infra): fix RC's superuser password problem (#2581)
  .github/workflows/rc-mask-db.yml
Due: prettier

fix(fe): change import manager reviewer modal
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerColumns.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerTable.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

fix(be): specify column
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

fix(fe): change level badge tailwind config file
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

feat(be): update creation permission
  apps/backend/apps/admin/src/user/model/creationPermission.model.ts
  apps/backend/apps/admin/src/user/model/user.output.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  apps/backend/apps/admin/src/user/user.service.ts
  collection/admin/User/Update Creation Permission/Succeed.bru
  collection/admin/User/Update Creation Permission/folder.bru
Due: eslint, prettier

chore(be): test
  apps/backend/apps/admin/src/user/user.service.spec.ts
Due: eslint, prettier

fix(fe): change add manager reviewer function and style
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerColumns.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerTable.tsx
  apps/frontend/app/admin/contest/_components/DeleteManagerReviewerButton.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
Due: eslint, prettier

fix(infra): fix resource checking step error, set new rds snapshot, fix rds making workflow
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/database.tf
  apps/infra/rc/storage/outputs.tf
Due: prettier, terraformfmt

feat(fe): implement use-runner hooks
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/RunnerTab.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
Due: eslint, prettier

fix(infra): fix rc workflow and set updated rc rds snapshot (#2583)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/database.tf
  apps/infra/rc/storage/outputs.tf
Due: prettier, terraformfmt

fix(infra): fix checking existing terraform resources workflow error
  .github/workflows/rc-deploy.yml
Due: prettier

fix(infra): fix existing resources destroy error
  .github/workflows/rc-deploy.yml
Due: prettier

fix(be): rename
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-with-participants.model.ts
Due: eslint, prettier

Fix rc existing tf chk (#2584)
  .github/workflows/rc-deploy.yml
Due: prettier

feat(infra): add skku network proxy
  .github/workflows/stage-reset-seed.yml
  .github/workflows/stage-skku-network-proxy.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
