Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(infra): provision Pyroscope Grafana datasource
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

fix(infra): upgrade http links to https without port 80
  infra/aws/dns/codedang.tf
  infra/k8s/internal/base/hsts.yaml
  infra/k8s/internal/base/kustomization.yaml
  infra/k8s/internal/base/traefik-config.yaml
Due: prettier, terraformfmt

fix(be): declare problemCreationMode, Problem Status, ProblemType enum to schema.gql
  apps/backend/schema.gql
Due: none

chore(be): clean up mandeuldang bruno request formatting
  collection/admin/Mandeuldang Problem/Update Mandeuldang Problem/Succeed.bru
Due: none

fix(be): restore mandeuldang admin schema bootstrap
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.module.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.ts
  apps/backend/schema.gql
Due: eslint, prettier

feat(be): update collaborator schema for invitation management
  apps/backend/prisma/migrations/20260923022424_update_mandeuldang_collaborator_invitation/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(be): preserve rejected invitations and track inviter and approval time
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.ts
Due: eslint, prettier

fix(be): update spec file
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.spec.ts
Due: eslint, prettier

docs(be): add comments to create/delete problem service
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
Due: eslint, prettier

fix(infra): upgrade http links to https without port 80 (#3791)
  infra/aws/dns/codedang.tf
  infra/k8s/internal/base/hsts.yaml
  infra/k8s/internal/base/kustomization.yaml
  infra/k8s/internal/base/traefik-config.yaml
Due: prettier, terraformfmt

fix(infra): improve Frigate health probes
  infra/k8s/frigate/base/deployment.yaml
Due: prettier

feat(infra): add frigate manifests (#3736)
  infra/aws/dns/frigate.tf
  infra/k8s/argocd/applications/frigate.yaml
  infra/k8s/frigate/base/configmap.yaml
  infra/k8s/frigate/base/deployment.yaml
  infra/k8s/frigate/base/kustomization.yaml
  infra/k8s/frigate/base/namespace.yaml
  infra/k8s/frigate/base/pvc-config.yaml
  infra/k8s/frigate/base/pvc-media.yaml
  infra/k8s/frigate/base/service.yaml
  infra/k8s/frigate/overlays/stage/HTTPRoutes.yaml
  infra/k8s/frigate/overlays/stage/kustomization.yaml
  infra/k8s/internal/base/gateway.yaml
Due: prettier, terraformfmt

fix(infra): use explicit Frigate camera device path
  infra/k8s/frigate/base/configmap.yaml
Due: prettier

fix(infra): use explicit Frigate camera device path (#3792)
  infra/k8s/frigate/base/configmap.yaml
Due: prettier

feat(admin-api): support zero-downtime restarts
  apps/backend/apps/admin/src/admin.controller.spec.ts
  apps/backend/apps/admin/src/admin.controller.ts
  apps/backend/apps/admin/src/main.ts
  apps/backend/entrypoint.sh
  infra/k8s/admin-api/base/deployment.yaml
Due: eslint, prettier

fix(be): handle collaborator invitation state conflicts
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.ts
Due: eslint, prettier

fix(be): restrict collaboration to mandeuldang problems and protect owner
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.ts
Due: eslint, prettier

fix(infra): raise promtail limits and loki max line size
  infra/k8s/monitoring/loki/values.yaml
  infra/k8s/monitoring/promtail/values.yaml
Due: prettier

fix(be): remove file extension from mandeuldang tool S3 path to prevent orphans
  apps/backend/apps/admin/src/mandeuldang/file/file.service.ts
Due: eslint, prettier

fix(be): return run request from runGenerator
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.service.ts
Due: eslint, prettier

fix(infra): allow Frigate to access USB camera device
  infra/k8s/frigate/base/deployment.yaml
Due: prettier

feat(be): extend collaborator list permissions and response fields
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/model/collaborator.input.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/model/collaborator.output.ts
Due: eslint, prettier

fix(be): define collaborator mutation outputs
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/model/collaborator.output.ts
Due: eslint, prettier

refactor(infra): move readiness checks to service
  apps/backend/apps/admin/src/admin.controller.ts
  apps/backend/apps/admin/src/admin.service.ts
Due: eslint, prettier

fix(infra): propagate redis readiness failures
  apps/backend/apps/admin/src/admin.controller.spec.ts
  apps/backend/apps/admin/src/admin.service.ts
Due: eslint, prettier

feat(infra): add stage generic device plugin
  infra/k8s/argocd/applications/generic-device-plugin.yaml
  infra/k8s/frigate/base/deployment.yaml
  infra/k8s/generic-device-plugin/overlays/stage/daemonset.yaml
  infra/k8s/generic-device-plugin/overlays/stage/kustomization.yaml
Due: prettier

feat(infra): install self-hosted Pyroscope (#3787)
  infra/k8s/argocd/applications/monitoring/pyroscope.yaml
  infra/k8s/monitoring/minio/base/tenant.yaml
  infra/k8s/monitoring/minio/overlays/production/users.yaml
  infra/k8s/monitoring/minio/overlays/stage/users.yaml
  infra/k8s/monitoring/pyroscope/README.md
  infra/k8s/monitoring/pyroscope/values-production.yaml
  infra/k8s/monitoring/pyroscope/values-stage.yaml
  infra/k8s/monitoring/pyroscope/values.yaml
Due: prettier

feat(infra): configure Alloy for Iris profiling (#3788)
  infra/k8s/argocd/applications/monitoring/alloy.yaml
  infra/k8s/monitoring/alloy/README.md
  infra/k8s/monitoring/alloy/values-production.yaml
  infra/k8s/monitoring/alloy/values-stage.yaml
  infra/k8s/monitoring/alloy/values.yaml
Due: prettier

feat(infra): provision Pyroscope Grafana datasource (#3790)
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

feat(be): allow role changes for pending collaborators
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.ts
Due: eslint, prettier

feat(be): implement mandeuldang solution upload and delete
  apps/backend/apps/admin/src/mandeuldang/file/file.service.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.service.ts
Due: eslint, prettier

fix(be): fix mandeuldang update/publish bugs
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
Due: eslint, prettier

fix(be): seed mandeuldangTestFiles for publishable fixures
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(be): close publishProblem race condition
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
Due: eslint, prettier

fix(fe): serialize submission status polling and retry errors
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
Due: eslint, prettier

fix(iris): consume mandeuldang requests on dedicated exchange/queue
  .envrc
  apps/iris/main.go
  apps/iris/src/connector/rabbitmq/producer.go
Due: none

fix(infra): modify frigate deployment.yaml
  infra/k8s/frigate/base/deployment.yaml
Due: prettier

fix(infra): modify frigate resources/limits
  infra/k8s/argocd/applications/generic-device-plugin.yaml
  infra/k8s/frigate/base/deployment.yaml
Due: prettier

fix(iris): classify compiler exit as compile error
  apps/iris/src/service/build/unit.go
  apps/iris/src/service/build/unit_test.go
  apps/iris/src/service/sandbox/judger/compiler.go
  apps/iris/src/service/sandbox/judger/compiler_test.go
Due: none

fix(iris): preserve compiler failure status in compile result
  apps/iris/src/service/sandbox/judger/compiler.go
  apps/iris/src/service/sandbox/judger/compiler_test.go
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
