Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(be): add get tags api
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Tags/Succeed.bru
Due: eslint, prettier

chore(be): add total field to get-problems apis (#1330)
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  collection/client/Problem/Get problems/Succeed.bru
Due: eslint, prettier

feat(infra): add rabbitmq console url as env
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-client.tf
Due: none

fix(be): problem sorting (#1324)
  backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

fix(be): return contest problems in order
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/client/src/problem/problem.repository.ts
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
Due: eslint, prettier

feat: add cause message
  backend/apps/client/src/submission/submission.service.ts
  collection/client/Submission/Check Delay/Succeed.bru
Due: eslint, prettier

chore: remove unused var
  backend/libs/constants/src/rabbitmq.constants.ts
Due: eslint, prettier

feat(be): check judge delay and its cause (#1313)
  .env.development
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.module.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/package.json
  collection/client/Submission/Check Delay/Succeed.bru
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-client.tf
  pnpm-lock.yaml
Due: eslint, prettier

feat(be): add get tags api (#1341)
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Tags/Succeed.bru
Due: eslint, prettier

fix(deps): fix invalid go version format in go.mod
  iris/go.mod
  renovate.json
Due: none

feat(fe): add info components in create problem form
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
Due: none

feat(fe): connect get tags api, edit adminbaseurl, edit dummy data
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/lib/vars.ts
Due: eslint, prettier

fix(be): modify the logic of calculating total field
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

fix(fe): change zod schema and interface
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TextEditor.tsx
  frontend-client/components/ui/form.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

fix(be): modify the logic of calculating total field (#1345)
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

fix(fe): change tag id from string to number, add error text under info components
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TagsSelect.tsx
Due: none

fix(fe): remove error border style, edit limit schema
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix(docs): rename bruno api files
  collection/admin/User/Get User by ID/[ERR] Nonexistent User.bru
Due: none

fix(deps): fix invalid go version format in go.mod (#1343)
  iris/go.mod
  renovate.json
Due: none

feat: add contest APIs
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): connect announcement to contest
  backend/prisma/migrations/20240207142636_connect_announcement_to_contest/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: eslint, prettier

fix(be): get announcements by contest id
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/announcement/announcement.service.ts
  collection/client/Announcement/Get Announcements/400: Related ID not given.bru
  collection/client/Announcement/Get Announcements/Succeed.bru
Due: eslint, prettier

test(be): add missing test for announcement controller
  backend/apps/client/src/announcement/announcement.controller.spec.ts
Due: eslint, prettier

fix(fe): show related problem in announcement page
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/_components/styles.css
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
Due: prettier

fix(fe): show alphabetical problem id in contest problem list
  frontend-client/app/(main)/contest/[id]/@tabs/problem/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/lib/utils.ts
  frontend-client/types/type.ts
Due: eslint, prettier

fix(fe): rename clarification into announcement
  frontend-client/app/(main)/contest/_components/ContestTabs.tsx
Due: none

chore(fe): show accepted rate with fixing-point notation of two digits
  frontend-client/app/(main)/problem/_components/Columns.tsx
Due: none

feat(fe): remove card list if no data is found
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
Due: none

feat(cd): applying updated seed on stage-server by manual trigger
  .github/workflows/update-seed.yml
Due: prettier

fix(fe): fix controller ref error
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TagsSelect.tsx
Due: none

fix(fe): edit interface and schema, change unregister to setting blank string
  frontend-client/app/admin/problem/create/page.tsx
Due: none

feat: add searching on Contest Get APIs
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix: change Registered Contest GET API where option
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

refactor: change parameter sequences for readability
  backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

chore: change name
  .github/workflows/reset-seed.yml
Due: prettier

feat(cd): applying updated seed on stage-server by manual trigger (#1351)
  .github/workflows/reset-seed.yml
Due: prettier

fix(cd): omit working-directory since it already set
  .github/workflows/reset-seed.yml
Due: prettier

fix(be): add a new auth guard decorator
  backend/libs/auth/src/guard.decorator.ts
  backend/libs/auth/src/jwt/jwt-auth.guard.ts
Due: eslint, prettier
