Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(be): allow re-submission when user already passed
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

test(be): remove unused testcases
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

feat(fe): redesign contest list
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  apps/frontend/app/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/(main)/contest/utils.ts
  apps/frontend/public/check-green.svg
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): hide score when isJudgeResultVisible is false
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(main)/contest/[contestId]/layout.tsx
Due: eslint, prettier

feat(be): allow re-submission when user already passed problem (#2049)
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

chore(fe): change solved to success rate (#2047)
  apps/frontend/app/(main)/problem/_components/Columns.tsx
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
Due: eslint, prettier

fix(deps): go module
  apps/iris/go.mod
  apps/iris/go.sum
Due: none

feat(be): apply modified testcase handling logic to update-testcase, delete-problem (#2048)
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(iris): fetch is_hidden_testcase col
  apps/iris/src/loader/element.go
  apps/iris/src/loader/postgres/source.go
Due: none

fix(fe): fix type
  apps/frontend/components/EditorDescription.tsx
Due: eslint, prettier

feat(fe): edit client contest list and table (#2043)
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  apps/frontend/app/(main)/contest/[contestId]/layout.tsx
  apps/frontend/app/(main)/contest/utils.ts
  apps/frontend/app/contest/[contestId]/problem/[problemId]/page.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/public/check-green.svg
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): change admin problem create hint switch field to use textarea
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(infra): add admin terraform variables for load test
  apps/infra/production/codedang/container_definitions/admin_api.json
Due: none

feat(infra): modify sign up code for load test
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

feat(infra): add terraform variables for load test
  apps/infra/production/codedang/variables.tf
Due: terraformfmt

feat(infra): add client terraform variables for load test
  apps/infra/production/codedang/container_definitions/client_api.json
Due: none

feat(infra): add admin module variables
  apps/infra/production/codedang/codedang_service_admin.tf
Due: terraformfmt

feat(infra): add client module variables
  apps/infra/production/codedang/codedang_service_client.tf
Due: terraformfmt

fix(infra): change load user to upper character
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

fix(infra): resolve typo
  apps/infra/production/codedang/container_definitions/admin_api.json
  apps/infra/production/codedang/container_definitions/client_api.json
Due: none

feat(be): forbid score update when submit exists
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

docs(be): resovle test errors
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(fe): render time form after getting values from form
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
Due: eslint, prettier

feat(infra): scale up only api ec2 instance not iris instance
  apps/infra/production/codedang/codedang_api.tf
  apps/infra/production/codedang/codedang_iris.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/autoscaling.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/variables.tf
Due: terraformfmt

feat(infra): increase ecs client service desired count from 1 to 2
  apps/infra/production/codedang/codedang_service_client.tf
Due: terraformfmt

docs(be): add docs for contest overall apis
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  collection/admin/Contest/Get Contest Score Summaries /Succeed.bru
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
  collection/admin/Contest/Get Contest Submission Summaries of Users/Succeed.bru
  collection/admin/Submission/Get Contest Submission Summaries/Succeed.bru
Due: eslint, prettier

feat(iris): implements run router
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/router.go
  apps/iris/src/service/testcase/manager.go
Due: none

feat(be): add run option on client submit api
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
Due: eslint, prettier

fix(be): change is-test query to optional
  apps/backend/apps/client/src/submission/submission.controller.ts
Due: eslint, prettier

feat(infra): increase api asg desired capacity from 1 to 2
  apps/infra/production/codedang/codedang_api.tf
  apps/infra/production/codedang/codedang_iris.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/autoscaling.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/variables.tf
Due: terraformfmt

feat(infra): increase ecs api client service from 1 to 2
  apps/infra/production/codedang/codedang_api.tf
  apps/infra/production/codedang/codedang_service_client.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/variables.tf
Due: terraformfmt

feat(infra): set min capacity of client ecs service to 2
  apps/infra/production/codedang/codedang_service_client.tf
Due: terraformfmt

feat(infra): increase api asg desired capacity and ecs client service desired count (#2054)
  apps/infra/production/codedang/codedang_api.tf
  apps/infra/production/codedang/codedang_iris.tf
  apps/infra/production/codedang/codedang_service_client.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/autoscaling.tf
  apps/infra/production/codedang/modules/cluster_autoscaling/variables.tf
Due: terraformfmt

docs(be): add docs for contest overall apis (#2052)
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  collection/admin/Contest/Get Contest Score Summaries /Succeed.bru
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
  collection/admin/Contest/Get Contest Submission Summaries of Users/Succeed.bru
  collection/admin/Submission/Get Contest Submission Summaries/Succeed.bru
Due: eslint, prettier

fix(fe): fix admin hint toggle and datepicker bug (#2050)
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

fix(fe): add default time and memory limit
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

fix(fe): set title upto 200 characters
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/app/admin/problem/utils.ts
Due: eslint, prettier

fix(fe): prevent testcase score being negative number
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
Due: eslint, prettier

feat(fe): disable button when every score is filled
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

docs(be): add bruno docs
  collection/admin/Contest/Get Contest Score Summaries/Succeed.bru
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
  collection/admin/Contest/Get Contest Submission Summaries of Users/Succeed.bru
  collection/admin/Submission/Get Contest Submissions/Succeed.bru
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
