Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

fix(be): guard mandeuldang testcaseIds reads against undefined toolResult
  apps/backend/apps/admin/src/mandeuldang/mandeuldang-sub.service.ts
Due: eslint, prettier

feat(fe): show course information with tab title (#3754)
  apps/frontend/app/admin/course/[courseId]/(detail)/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/(detail)/exercise/[exerciseId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/(overview)/layout.tsx
Due: eslint, prettier

feat(infra): route iris pprof through kube-apiserver pods/proxy
  apps/iris/main.go
  infra/k8s/internal/base/traefik-config.yaml
  infra/k8s/iris/base/HTTPRoutes.yaml
  infra/k8s/iris/base/apiserver-service.yaml
  infra/k8s/iris/base/deployment.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/base/middlewares.yaml
  infra/k8s/iris/base/rbac.yaml
  infra/k8s/iris/base/service.yaml
  infra/k8s/iris/base/traefik-upstream.yaml
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/iris/overlays/production/pprof-basicauth-credential.yaml
  infra/k8s/iris/overlays/production/pprof-basicauth.yaml
  infra/k8s/iris/overlays/stage/HTTPRoutes.yaml
  infra/k8s/iris/overlays/stage/kustomization.yaml
  infra/k8s/iris/overlays/stage/pprof-basicauth-credential.yaml
  infra/k8s/iris/overlays/stage/pprof-basicauth.yaml
Due: prettier

refactor(infra): remove decommissioned AWS terraform resources (#3756)
  infra/aws/decommission-stage/.terraform.lock.hcl
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/cloudfront.tf
  infra/aws/decommission-stage/compute.tf
  infra/aws/decommission-stage/failover-network.tf
  infra/aws/decommission-stage/iam.tf
  infra/aws/decommission-stage/imports.tf
  infra/aws/decommission-stage/legacy-network.tf
  infra/aws/decommission-stage/load-balancing.tf
  infra/aws/decommission-stage/main.tf
  infra/aws/decommission-stage/message-queue.tf
  infra/aws/decommission-stage/observability.tf
  infra/aws/decommission-stage/removed.tf
  infra/aws/storage/removed.tf
  infra/aws/vpc/private-network.tf
  infra/aws/vpc/removed.tf
  infra/legacy/README.md
  infra/legacy/aws-failover/README.md
Due: terraformfmt

docs(judge): describe workload routing
  apps/backend/apps/client/src/submission/submission-pub.service.ts
Due: eslint, prettier

test(judge): satisfy routing test lint rules
  apps/backend/libs/amqp/src/amqp.service.spec.ts
Due: eslint, prettier

fix(judge): keep split routing keys opt-in
  apps/backend/.env.example
Due: none

feat(judge): configure request routing keys
  apps/backend/.env.example
  apps/backend/libs/amqp/src/amqp.service.spec.ts
  apps/backend/libs/amqp/src/amqp.service.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
Due: eslint, prettier

feat(judge): configure request routing keys (#3724)
  apps/backend/.env.example
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/libs/amqp/src/amqp.service.spec.ts
  apps/backend/libs/amqp/src/amqp.service.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
Due: eslint, prettier

fix(judge): preserve local submission queue priority
  scripts/init-rabbitmq.ts
Due: eslint, prettier

feat(dev): configure local Iris worker launches
  .vscode/launch.json
  apps/iris/.env.example
  apps/iris/README.md
Due: none

fix(infra): mount RabbitMQ CA in judge workers
  infra/k8s/iris/base/deployment-rejudge.yaml
  infra/k8s/iris/base/deployment-test.yaml
Due: prettier

feat(judge): deploy workload-specific worker pools
  .envrc
  apps/iris/.env.example
  apps/iris/README.md
  apps/iris/main.go
  infra/k8s/client-api/base/configmap.yaml
  infra/k8s/iris/base/configmap.yaml
  infra/k8s/iris/base/deployment-rejudge.yaml
  infra/k8s/iris/base/deployment-test.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/iris/overlays/stage/kustomization.yaml
  infra/k8s/rabbitmq/topology/base/topology-judging.yaml
  scripts/init-rabbitmq.ts
Due: eslint, prettier

fix(infra): configure admin API rejudge routing key
  infra/k8s/admin-api/base/configmap.yaml
Due: prettier

feat(judge): deploy workload-specific worker pools (#3723)
  .envrc
  .vscode/launch.json
  apps/iris/.env.example
  apps/iris/README.md
  apps/iris/main.go
  infra/k8s/admin-api/base/configmap.yaml
  infra/k8s/client-api/base/configmap.yaml
  infra/k8s/iris/base/configmap.yaml
  infra/k8s/iris/base/deployment-rejudge.yaml
  infra/k8s/iris/base/deployment-test.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/iris/overlays/stage/kustomization.yaml
  infra/k8s/rabbitmq/topology/base/topology-judging.yaml
  scripts/init-rabbitmq.ts
Due: eslint, prettier

fix(infra): modify rabbitmq server cert secret name
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: prettier

refactor(infra): migrate ingress resoureces to gateway
  infra/k8s/minio/HTTPRoutes.yaml
  infra/k8s/minio/ingress.yaml
  infra/k8s/minio/kustomization.yaml
  infra/k8s/minio/silo-console-ingress.yaml
Due: prettier

feat(fe): adds section column to course list table (#3759)
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/course/_components/Columns.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
Due: eslint, prettier

chore(be): add seed data for mandeuldang update and publish
  apps/backend/prisma/seed.ts
Due: eslint, prettier

test(be): implement bruno docs for mandueldang update and publish
  collection/admin/Mandeuldang Problem/Publish Mandeuldang Problem/Succeed.bru
  collection/admin/Mandeuldang Problem/Publish Mandeuldang Problem/[ERR] Not Owner.bru
  collection/admin/Mandeuldang Problem/Publish Mandeuldang Problem/[ERR] Not Ready.bru
  collection/admin/Mandeuldang Problem/Update Mandeuldang Problem/Succeed.bru
  collection/admin/Mandeuldang Problem/Update Mandeuldang Problem/[ERR] Empty Title.bru
  collection/admin/Mandeuldang Problem/Update Mandeuldang Problem/[ERR] No Collaborator Record.bru
  collection/admin/Mandeuldang Problem/Update Mandeuldang Problem/[ERR] Non-positive Memory Limit.bru
  collection/admin/Mandeuldang Problem/Update Mandeuldang Problem/[ERR] Non-positive Time Limit.bru
  collection/admin/Mandeuldang Problem/Update Mandeuldang Problem/[ERR] Published Problem Breaks Publish Conditions.bru
Due: none

refactor(infra): modify rabbitMQ server cert secret name and migrate silo ingress resources (#3761)
  infra/k8s/minio/HTTPRoutes.yaml
  infra/k8s/minio/ingress.yaml
  infra/k8s/minio/kustomization.yaml
  infra/k8s/minio/silo-console-ingress.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: prettier

feat(infra): route iris pprof through kube-apiserver pods/proxy (#3760)
  apps/iris/main.go
  infra/k8s/internal/base/traefik-config.yaml
  infra/k8s/iris/base/HTTPRoutes.yaml
  infra/k8s/iris/base/apiserver-service.yaml
  infra/k8s/iris/base/deployment.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/base/middlewares.yaml
  infra/k8s/iris/base/rbac.yaml
  infra/k8s/iris/base/service.yaml
  infra/k8s/iris/base/traefik-upstream.yaml
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/iris/overlays/production/pprof-basicauth-credential.yaml
  infra/k8s/iris/overlays/production/pprof-basicauth.yaml
  infra/k8s/iris/overlays/stage/HTTPRoutes.yaml
  infra/k8s/iris/overlays/stage/kustomization.yaml
  infra/k8s/iris/overlays/stage/pprof-basicauth-credential.yaml
  infra/k8s/iris/overlays/stage/pprof-basicauth.yaml
Due: prettier

feat(infra): provision iris pprof client certificate
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/iris/overlays/production/pprof-client.yaml
  infra/k8s/iris/overlays/stage/kustomization.yaml
  infra/k8s/iris/overlays/stage/pprof-client.yaml
Due: prettier

refactor(be): rename polygon collaborator references to mandeuldang
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/collaborator/collaborator.service.ts
  apps/backend/prisma/migrations/20260526100450_rename_viewer_to_reviewer/migration.sql
Due: eslint, prettier

chore(infra): add pub key of sonjangsu
  infra/ansible/ssh_publickey/infra.pub
Due: none

chore(infra): move pub key of sonjangsu to 2024-2 section
  infra/ansible/ssh_publickey/infra.pub
Due: none

chore(infra): add pub key of sonjangsu (#3765)
  infra/ansible/ssh_publickey/infra.pub
Due: none

feat(fe): implement problem collaboration page
  apps/frontend/app/admin/problem/mandeuldang/_components/CollaborationDialogs.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/CollaborationInviteForm.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/CollaborationPage.fixture.ts
  apps/frontend/app/admin/problem/mandeuldang/_components/CollaborationPage.test.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/CollaborationPage.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/CollaborationRoleSelect.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/CollaboratorList.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/UploadButton.test.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/UploadButton.tsx
  apps/frontend/app/admin/problem/mandeuldang/_libs/collaboration.ts
  apps/frontend/app/admin/problem/mandeuldang/_libs/useMandeuldangPermission.ts
  apps/frontend/components/shadcn/alert-dialog.tsx
  apps/frontend/public/images/collaboration/avatar.jpeg
Due: eslint, prettier

fix(be): remove redundant P2025 handling and unused prisma dependency
  apps/backend/apps/admin/src/mandeuldang/file/file.service.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.service.ts
Due: eslint, prettier

fix(be): decouple amqp service from admin-level types, sequential DB reads
  apps/backend/apps/admin/src/mandeuldang/mandeuldang-pub.service.ts
  apps/backend/libs/amqp/src/amqp.service.ts
Due: eslint, prettier

fix(be): add owner/collaborator authorization check for tool upload and delete
  apps/backend/apps/admin/src/mandeuldang/file/file.service.ts
Due: eslint, prettier

fix(be): pass authenticated user context to tool upload/delete for authorization
  apps/backend/apps/admin/src/mandeuldang/file/file.service.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.service.ts
Due: eslint, prettier

feat(be): implement publication service for polygon to run tool files & update rabbitmq constants
  apps/backend/apps/admin/src/polygon/interface/polygonToolRequest.interface.ts
  apps/backend/apps/admin/src/polygon/polygon-pub.service.ts
  apps/backend/apps/admin/src/polygon/polygon.service.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
Due: eslint, prettier

feat(be): implement polygon tool upload
  apps/backend/apps/admin/src/polygon/file/file.service.ts
  apps/backend/apps/admin/src/polygon/polygon.module.ts
  apps/backend/apps/admin/src/polygon/polygon.resolver.ts
  apps/backend/apps/admin/src/polygon/polygon.service.ts
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

fix(be): fix fieldName filePath into fileContent
  apps/backend/prisma/schema.prisma
Due: none

feat(be): add polygon amqp service logic
  apps/backend/libs/amqp/src/amqp.service.ts
Due: eslint, prettier

feat(be): add message result interface
  apps/backend/apps/admin/src/polygon/interface/polygonToolResult.interface.ts
Due: eslint, prettier

chore(be): commit migration file
  apps/backend/prisma/migrations/20260416151922_fix_file_path_into_file_content/migration.sql
Due: none

fix(be): change directory
  apps/backend/apps/admin/src/polygon/model/polygonToolRequest.interface.ts
Due: eslint, prettier

fix(be): add exception logic for empty file delete
  apps/backend/apps/admin/src/polygon/file/file.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
