Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): fix course border style
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
Due: eslint, prettier

fix(fe): fix assignment tab border style
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/AssignmentTabs.tsx
Due: eslint, prettier

feat(fe): delete unused component-duplicateContestButton
  apps/frontend/app/admin/contest/_components/DuplicateContestButton.tsx
  apps/frontend/graphql/contest/mutations.ts
Due: eslint, prettier

fix(fe): change date format and adjust alignment
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
Due: eslint, prettier

fix(fe): delete unused component-duplicateContestButton (#2530)
  apps/frontend/app/admin/contest/_components/DuplicateContestButton.tsx
  apps/frontend/graphql/contest/mutations.ts
Due: eslint, prettier

fix(fe): move component to upper level
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
Due: eslint, prettier

chore(fe): align to problem title
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
Due: eslint, prettier

feat(fe): add client leaderboard page frame
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardColumns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardSolvedList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTableHeader.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/public/icons/medal-bronze.svg
  apps/frontend/public/icons/medal-gold.svg
  apps/frontend/public/icons/medal-silver.svg
Due: eslint, prettier

feat(be): add problem update history on contest (#2529)
  apps/backend/apps/admin/src/announcement/announcement.resolver.ts
  apps/backend/apps/admin/src/announcement/model/announcement.output.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-update-histories.model.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Get Contest Update Histories/Succeed.bru
  collection/client/Problem/Get Contest Problem by ID/Succeed.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Registered but not started.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Unregistered and not finished.bru
  collection/client/Problem/Get Contest Problem by ID/[404] Nonexistent Contest Problem.bru
  collection/client/Problem/Get Contest Problems/Succeed.bru
  collection/client/Problem/Get Contest Problems/[403] Registered but Not Started.bru
  collection/client/Problem/Get Contest Problems/[403] Unregistered and Not Finished.bru
  collection/client/Problem/Get Contest Problems/[404] Nonexistent Contest.bru
Due: eslint, prettier

feat(fe): add scroll event in leaderboard
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTableHeader.tsx
Due: eslint, prettier

feat(fe): make leaderboard frame without backend connection
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTableHeader.tsx
Due: eslint, prettier

fix(iris): change libjudger name
  apps/iris/src/common/constants/constants.go
Due: none

feat(iris): implement java judge feat
  .devcontainer/Dockerfile
  apps/iris/Dockerfile
  apps/iris/entrypoint.sh
  apps/iris/src/service/sandbox/judger/impl.go
  apps/iris/src/service/sandbox/judger/langConfig.go
  docker-compose.yml
  scripts/setup.sh
Due: prettier

fix(iris): fix export container id syntax
  apps/iris/entrypoint.sh
  scripts/setup.sh
Due: none

chore(fe): adjust margin in pixel units
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
Due: eslint, prettier

chore(fe): adjust gap in pixel units
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/SubmissionDetailModal.tsx
Due: eslint, prettier

feat(fe): add codeblock language select
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/CodeBlockComponent.tsx
  apps/frontend/app/admin/_components/tiptap/items.tsx
Due: eslint, prettier

fix(iris): handle compile error message
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/judger/compiler.go
Due: none

fix(fe): fix error
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/commands.tsx
Due: eslint, prettier

fix(fe): fix error
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/commands.tsx
Due: eslint, prettier

fix(fe): fix error
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/CodeBlockComponent.tsx
Due: eslint, prettier

fix(fe): fix error
  apps/frontend/components/InsertDialog.tsx
Due: eslint, prettier

chore(be): add problemorder to create announcement
  apps/backend/apps/admin/src/announcement/announcement.resolver.ts
  apps/backend/apps/admin/src/announcement/announcement.service.ts
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Has No Contest Id.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
Due: eslint, prettier

fix(fe): fix border style (#2531)
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/AssignmentTabs.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
Due: eslint, prettier

feat(fe): add scroll limit to leaderboard table
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/libs/hooks/useWindowSize.ts
Due: eslint, prettier

fix(be): assign contest problem order values in order
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): modify contest problem order seed
  apps/backend/prisma/seed.ts
Due: eslint, prettier

docs(be): modify docs
  collection/admin/Contest/Import Problems to Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Contest/Remove Problems From Contest/Succeed.bru
  collection/admin/Contest/Remove Problems From Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
Due: none

feat(fe): change dropdown to select and add designs
  apps/frontend/app/admin/contest/create/_components/FreezeForm.tsx
  apps/frontend/components/shadcn/select.tsx
Due: eslint, prettier

fix(fe): fix incomplete design for course page for management
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
  apps/frontend/app/admin/course/_components/Columns.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/course/_components/DeleteCourseButton.tsx
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
  apps/frontend/app/admin/course/_components/UpdateCourseButton.tsx
Due: eslint, prettier

feat(fe): add mousedown and mousemove event on leaderboard table
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
Due: eslint, prettier

fix(fe): fix incomplete design for member page for course
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
Due: eslint, prettier

fix(be): fix problem update error
  apps/backend/prisma/migrations/20250318172841_fix_problem_field_enum_typo/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(be): fix problem update error (#2535)
  apps/backend/prisma/migrations/20250318172841_fix_problem_field_enum_typo/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(be): change input format from id to order
  apps/backend/apps/admin/src/announcement/announcement.service.ts
  apps/backend/apps/admin/src/announcement/model/create-announcement.input.ts
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Has No Contest Id.bru
Due: eslint, prettier

chore(be): edit problemorder condition
  apps/backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

chore(be): edit bruno files
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Has No Contest Id.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
Due: none

chore(be): edit create contest bruno file
  collection/admin/Contest/Create Contest/Succeed.bru
Due: none

test(be): modify create announcement test code
  apps/backend/apps/admin/src/announcement/announcement.service.spec.ts
Due: eslint, prettier

fix(fe): change Freezeform
  apps/frontend/app/admin/contest/create/_components/FreezeForm.tsx
  apps/frontend/app/admin/contest/create/_components/PosterUploadForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/components/TextEditor.tsx
Due: eslint, prettier
