Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat(be): add registered finished contests in get contest/auth API (#1283)
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/prisma/seed.ts
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get finished contests/[403] Not a Member of the Group.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/[401] Unauthorized.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/[403] Not a Member of the Group.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
  collection/client/Contest/Get registered ongoing & upcoming contests/Succeed.bru
Due: eslint, prettier

fix(fe): edit login and signup modal (#1382)
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
Due: none

fix(fe): fix broken main page api (#1369)
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none

feat(fe): change logo in editor page (#1384)
  frontend-client/app/problem/[id]/layout.tsx
  frontend-client/public/codedang-editor.svg
Due: none

feat(be): implement get-contest api (#1370)
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  collection/admin/Contest/Get Contest/NOT_FOUND.bru
  collection/admin/Contest/Get Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Succeed.bru
Due: eslint, prettier

chore(be): add is-visible field to problem model (#1366)
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/prisma/migrations/20240213051227_add_is_visible_to_problem_model/migration.sql
  backend/prisma/schema.prisma
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (1).bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (2).bru
  collection/admin/Problem/Update a Problem/Succeed.bru
Due: eslint, prettier

fix(be): bruno
  collection/admin/Problem/Upload Problem/Succeed.bru
Due: none

feat(fe): add useInfiniteQuery to implement useInfiniteScroll hook
  pnpm-lock.yaml
Due: prettier

fix(fe): fix package
  pnpm-lock.yaml
Due: prettier

fix: disable go version upgrade
  renovate.json
Due: none

fix: fix go version format
  iris/go.mod
Due: none

Update schema.prisma
  backend/prisma/schema.prisma
Due: none

fix: fix minor bugs in contest page and api (#1349)
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/client/src/announcement/announcement.controller.spec.ts
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/announcement/announcement.service.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/prisma/migrations/20240207142636_connect_announcement_to_contest/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
  collection/client/Announcement/Get Announcements/Succeed.bru
  collection/client/Announcement/Get Announcements/[400] Related ID Not Given.bru
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/_components/styles.css
  frontend-client/app/(main)/contest/[id]/@tabs/announcement/page.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/clarification/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/_components/Columns.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/ContestTabs.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/lib/utils.ts
  frontend-client/types/type.ts
Due: eslint, prettier

fix(cd): double quotes in tfvars are missing
  .github/workflows/cd-prod.yml
Due: prettier

fix(be): fix the wrong logic of checking the specific refresh token in the refresh token list
  backend/apps/client/src/auth/auth.service.ts
Due: eslint, prettier

test(be): fix the service test code
  backend/apps/client/src/auth/auth.service.spec.ts
Due: eslint, prettier

feat: match service and resolver function name
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/announcement/announcement.service.spec.ts
  backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

fix(cd): double quotes in tfvars are missing (#1390)
  .github/workflows/cd-prod.yml
Due: prettier

feat(be): cascade contest record on user deletion
  backend/prisma/migrations/20240215074930_cascade_contest_record_on_user_delete/migration.sql
  backend/prisma/schema.prisma
Due: none

fix(be): fix return value of get contest records
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(iris): fix go build error
  iris/go.mod
  iris/go.sum
Due: none

feat(fe): edit contest page card list (#1386)
  frontend-client/app/(main)/_components/Badge.tsx
  frontend-client/app/(main)/_components/ContestCard.tsx
  frontend-client/app/(main)/_components/ContestCards.tsx
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/contest/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

fix(iris): fix go build error (#1391)
  iris/go.mod
  iris/go.sum
Due: none

chore: fix test code
  backend/apps/admin/src/announcement/announcement.service.spec.ts
Due: eslint, prettier

fix(cd): double quotes are not parsed
  .github/workflows/cd-prod.yml
Due: prettier

chore: fix ts issue
  backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

fix(be): add isVisible
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(infra): upgrade rds psql to current version
  infra/modules/codedang-infra/db.tf
Due: none

fix(be): remove comments
  backend/prisma/seed.ts
Due: eslint, prettier

feat(cd): trigger amplify build
  .github/workflows/cd-prod.yml
Due: prettier

fix(be): add missing eng-title
  backend/apps/client/src/problem/dto/problem.response.dto.ts
Due: eslint, prettier

chore(be): modify problem model to get english informations (#1388)
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/prisma/__fixtures__/problem/1-description-eng.html
  backend/prisma/__fixtures__/problem/1-input-eng.html
  backend/prisma/__fixtures__/problem/1-output-eng.html
  backend/prisma/migrations/20240215062711_add_english_information_to_problem_model/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: eslint, prettier

fix: fix wrong image push target
  .github/workflows/cd-prod.yml
Due: prettier

fix(cd): wrong run syntax
  .github/workflows/cd-prod.yml
Due: prettier

fix: wrong again :(
  .github/workflows/cd-prod.yml
Due: prettier

fix(cd): resolve cd pipeline errors (#1393)
  .github/workflows/cd-prod.yml
  infra/modules/codedang-infra/db.tf
Due: prettier

docs: update readme
  README.md
Due: none

feat: add useInfiniteQuery to implement useInfiniteScroll hook
  frontend-client/app/(main)/layout.tsx
  frontend-client/app/(main)/providers.tsx
  frontend-client/lib/useInfiniteScroll.ts
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat: implement infiniteScroll hook
  frontend-client/lib/useInfiniteScroll.ts
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
