Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

fix: use seoul image ami
  infra/modules/codedang-infra/ecs-iris-asg.tf
Due: none

fix(infra): use seoul image ami (#836)
  infra/modules/codedang-infra/ecs-iris-asg.tf
Due: none

fix(be): fix according to review
  backend/apps/admin/src/user/model/groupMember.model.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
Due: eslint, prettier

fix: fix target group cloudinit_config data source
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
  infra/modules/codedang-infra/ecs.tf
Due: none

fix: fix target group cloudinit_config data source (#837)
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
  infra/modules/codedang-infra/ecs.tf
Due: none

fix: set alb in public subnet
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/ecs-api-client.tf
Due: none

fix: set alb in public subnet (#839)
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/ecs-api-client.tf
Due: none

feat: using templatefile for launch template user data
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
  infra/modules/codedang-infra/ecs.tf
  infra/modules/codedang-infra/user-data.sh
Due: none

feat: using templatefile for launch template user data (#841)
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
  infra/modules/codedang-infra/ecs.tf
  infra/modules/codedang-infra/user-data.sh
Due: none

fix(be): import graphql-upload alternatively
  backend/apps/admin/src/main.ts
  backend/apps/admin/src/problem/model/problem.input.ts
Due: eslint, prettier

fix: add missing tiptap deps
  frontend/package.json
  pnpm-lock.yaml
Due: prettier

fix: downgrade argon2
  backend/package.json
  pnpm-lock.yaml
Due: prettier

chore: upgrade node to 20 in devcontainer
  .devcontainer/Dockerfile
Due: none

chore: upgrade node version for github action
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/devserver.yml
  .github/workflows/documentation.yml
  .github/workflows/storybook.yml
Due: prettier

chore: upgrade node types to 20
  backend/package.json
  frontend/package.json
  frontend/tsconfig.node.json
  pnpm-lock.yaml
Due: prettier

feat: add contents to home page
  docs/.vitepress/theme/vars.css
  docs/index.md
  docs/public/logo.svg
Due: prettier

feat: add logo
  docs/.vitepress/config.ts
  docs/public/logo.png
Due: eslint, prettier

fix: remove bracket typo from mq host
  infra/modules/codedang-infra/ecs-api-client.tf
Due: none

fix: remove bracket typo from mq host (#843)
  infra/modules/codedang-infra/ecs-api-client.tf
Due: none

feat: make home page title beatiful
  docs/.vitepress/theme/vars.css
Due: prettier

fix: use task role to send email
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/ecs.tf
Due: none

fix(infra): use task role to send email (#844)
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/ecs.tf
Due: none

fix(infra): disable cache for api request
  infra/modules/codedang-infra/cloudfront.tf
Due: none

fix(infra): disable cache for api request (#845)
  infra/modules/codedang-infra/cloudfront.tf
Due: none

feat(iris): remove http testcase loader
  .env.development
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  iris/go.mod
  iris/go.sum
  iris/main.go
  iris/src/data_source/cache/interface.go
  iris/src/data_source/file/interface.go
  iris/src/data_source/http_server/interface.go
  iris/src/data_source/http_server/source.go
  iris/src/loader/cache/interface.go
  iris/src/loader/cache/source.go
  iris/src/loader/file/interface.go
  iris/src/loader/file/source.go
  iris/src/loader/http_server/interface.go
  iris/src/loader/http_server/source.go
  iris/src/loader/interfaces.go
  iris/src/service/testcase/manager.go
Due: gofmt

feat(iris): add s3 client
  iris/go.mod
  iris/go.sum
  iris/main.go
  iris/src/loader/file/source.go
  iris/src/loader/http_server/interface.go
  iris/src/loader/http_server/source.go
  iris/src/loader/s3/interface.go
  iris/src/loader/s3/source.go
Due: gofmt

chore(iris): use production env on aws
  infra/modules/codedang-infra/iris/task-definition.tftpl
Due: none

fix(infra): access redis from iris
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
Due: none

chore: upgrade go
  go.work
Due: none

fix: allow s3 access as task role
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/testcase.tf
Due: none

fix: validate terraform files
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/ecs-iris.tf
Due: none

fix(iris): load testcase with s3 sdk (#847)
  .env.development
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  iris/go.mod
  iris/go.sum
  iris/main.go
  iris/src/data_source/cache/interface.go
  iris/src/data_source/file/interface.go
  iris/src/data_source/file/source.go
  iris/src/data_source/http_server/interface.go
  iris/src/data_source/http_server/source.go
  iris/src/loader/cache/interface.go
  iris/src/loader/cache/source.go
  iris/src/loader/interfaces.go
  iris/src/loader/s3/interface.go
  iris/src/loader/s3/source.go
  iris/src/service/testcase/manager.go
Due: gofmt

feat: set vcpu to 512 for tasks
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/iris/task-definition.tftpl
Due: none

feat: update launch template user data
  infra/modules/codedang-infra/user-data.sh
Due: none

fix(inf): enable task auto-update (#850)
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/iris/task-definition.tftpl
  infra/modules/codedang-infra/user-data.sh
Due: none

fix(infra): add required cloudfront methods
  infra/modules/codedang-infra/cloudfront.tf
Due: none

fix(infra): add required cloudfront methods (#851)
  infra/modules/codedang-infra/cloudfront.tf
Due: none

fix(infra): add missing ecs iris env
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
Due: none

fix(infra): add missing ecs iris env (#852)
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
Due: none

fix(be): fix according to review2
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
