Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): fixed error msg overriding in email verification
  frontend-client/app/_components/SignUpEmailVerify.tsx
Due: none

fix(be): change pin deletion time
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

fix(fe): removed validation states, added trigger onChange
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

fix(fe): removed duplicated error msgs, removed click states
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

fix(fe): removed unused modalForm, specified type of formData
  frontend-client/app/_components/ModalForm.tsx
  frontend-client/app/_components/SignUp.tsx
Due: none

fix(fe): removed unused codes, removed comments
  frontend-client/app/_components/SignUp.tsx
Due: none

feat(fe): add Links to Footer
  frontend-client/app/_components/Footer.tsx
  frontend-client/components/ui/use-toast.ts
Due: eslint, prettier

feat(fe): add toaster to Footer
  frontend-client/app/_components/Footer.tsx
  frontend-client/components/ui/toast.tsx
  frontend-client/components/ui/use-toast.ts
Due: eslint, prettier

chore(fe): deleted console.log for confirmation toaster
  frontend-client/app/_components/Footer.tsx
Due: none

feat(be): implement check-duplicated-username api - 중복된 username인지 여부를 확인하는 api 추가
  backend/apps/client/src/user/dto/username.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

docs(be): add check-duplicated-username api docs
  collection/client/User/Check Duplicated Username/409: Duplicated Username.bru
  collection/client/User/Check Duplicated Username/Succeed.bru
Due: none

test: add test scenarios
  backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

test(be): add check-duplicated-username test
  backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

fix(fe): removed console logs, removed type any in welcome, declared use client
  frontend-client/app/_components/SignUpEmailVerify.tsx
  frontend-client/app/_components/SignUpRegister.tsx
  frontend-client/app/_components/SignUpWelcome.tsx
Due: none

fix(fe): removed unused var error
  frontend-client/app/_components/SignUpEmailVerify.tsx
Due: none

fix: lint
  frontend-client/app/notice/page.tsx
  frontend-client/components/ui/dialog.tsx
  frontend/src/user/group/components/GroupListSection.vue
Due: eslint, prettier

fix: downgrade reflect-metadata
  backend/package.json
  pnpm-lock.yaml
Due: prettier

fix(be): change pin deletion time (#1096)
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

chore(be): modify check-duplicated-username http method - POST에서 GET으로 변경
  backend/apps/client/src/user/user.controller.ts
Due: eslint, prettier

docs(be): modify check-duplicated-username api docs
  collection/client/User/Check Duplicated Username/409: Duplicated Username.bru
  collection/client/User/Check Duplicated Username/Succeed.bru
Due: none

docs(be): remove unused body
  collection/client/User/Check Duplicated Username/409: Duplicated Username.bru
  collection/client/User/Check Duplicated Username/Succeed.bru
Due: none

feat(be): implement check-duplicated-username api (#1099)
  backend/apps/client/src/user/dto/username.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  collection/client/User/Check Duplicated Username/409: Duplicated Username.bru
  collection/client/User/Check Duplicated Username/Succeed.bru
Due: eslint, prettier

feat(fe): navigation active link (#1092)
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/NavLink.tsx
Due: none

chore: fix pnpm lock
  pnpm-lock.yaml
Due: prettier

fix: typedroute error
  frontend-client/app/_components/NavLink.tsx
Due: none

fix(fe): removed unused imports
  frontend-client/app/_components/SignUp.tsx
Due: none

feat(fe): make modal to be closed after submitting, added toast upon signup success and fail
  frontend-client/app/(default)/page.tsx
  frontend-client/app/_components/SignUpRegister.tsx
  frontend-client/components/ui/dialog.tsx
Due: none

fix(fe): fixed error toast description to title
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

fix: href typed error
  frontend-client/app/_components/NavLink.tsx
Due: none

refactor: shorten template code
  frontend-client/app/notice/page.tsx
Due: none

fix: fix type error
  frontend-client/app/notice/page.tsx
Due: none

fix(fe): removed unnecessary props and errors
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/_components/SignUpEmailVerify.tsx
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

fix(fe): assign validation for each inputs
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

fix(fe): added username disable state
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

fix(fe): removed realname available check msg
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

fix(fe): change register button disabled condition
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

chore: use keyof typeof for badge prop types
  frontend-client/app/(default)/_components/Badge.tsx
Due: none

feat: implement carousel
  frontend-client/app/(default)/_components/Carousel.tsx
  frontend-client/app/(default)/page.tsx
Due: none

chore: remove carousel import from shadcn
  frontend-client/components/ui/carousel.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

chore: reflect revised design
  frontend-client/app/(default)/_components/Carousel.tsx
  frontend-client/app/(default)/_components/ContestCard.tsx
  frontend-client/app/(default)/_components/ProblemCard.tsx
  frontend-client/app/(default)/page.tsx
  frontend-client/types/type.ts
Due: eslint, prettier
