Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat(be): change permission for submission detail (#1717)
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  collection/client/Submission/Get Submission by ID/Succeed.bru
  collection/client/Submission/Get Submission by ID/[403] Forbidden.bru
Due: eslint, prettier

chore(be): using env passed from cross-env
  apps/backend/libs/prisma/src/prisma.test.service.ts
Due: eslint, prettier

chore(fe): disable close when click outside modal
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
Due: none

test(be): remove tx
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

fix(be): update testing module prisma-service imports (#1755)
  apps/backend/apps/client/src/announcement/announcement.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/libs/prisma/src/index.ts
  apps/backend/libs/prisma/src/prisma.test.service.ts
Due: eslint, prettier

test(be): make function create test group
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

fix(fe): change problem error handling
  apps/frontend/app/(main)/problem/error.tsx
Due: none

chore(fe): disable close when click outside modal (#1790)
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
Due: none

fix(fe): change notice error handling
  apps/frontend/app/(main)/notice/error.tsx
Due: none

refactor(fe): make error detail component
  apps/frontend/app/(main)/error.tsx
  apps/frontend/app/(main)/notice/error.tsx
  apps/frontend/app/(main)/problem/error.tsx
  apps/frontend/components/ErrorDetail.tsx
Due: none

fix(fe): change notice problem error handling (#1795)
  apps/frontend/app/(main)/notice/error.tsx
  apps/frontend/app/(main)/problem/error.tsx
  apps/frontend/components/ErrorDetail.tsx
Due: none

feat(fe): show skeleton code on code editor (#1782)
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(infra): modify development env file name from .env.stage to .env.development
  .env.development
  .envrc
  .github/workflows/cd-stage.yml
  .github/workflows/reset-seed.yml
  docker-compose.yml
  scripts/deploy.sh
  scripts/setup.sh
Due: prettier

fix(fe): change a detection way of production and stage env
  apps/frontend/lib/utils.ts
  apps/frontend/middleware.ts
Due: eslint, prettier

chore: fix typo error
  apps/frontend/lib/utils.ts
  apps/frontend/middleware.ts
Due: eslint, prettier

fix(infra): modify development env file name (#1797)
  .env.development
  .envrc
  .github/workflows/cd-stage.yml
  .github/workflows/reset-seed.yml
  docker-compose.yml
  scripts/deploy.sh
  scripts/setup.sh
Due: prettier

fix(fe): update error types and schema
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/AddableForm.tsx
  apps/frontend/app/admin/problem/utils.ts
Due: eslint, prettier

feat(fe): add error handle pages
  apps/frontend/app/(main)/contest/error.tsx
  apps/frontend/app/admin/contest/[id]/error.tsx
  apps/frontend/app/admin/contest/create/error.tsx
  apps/frontend/app/admin/contest/error.tsx
  apps/frontend/app/admin/error.tsx
  apps/frontend/app/admin/notice/error.tsx
  apps/frontend/app/admin/problem/[id]/edit/error.tsx
  apps/frontend/app/admin/problem/[id]/error.tsx
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/app/admin/problem/create/error.tsx
  apps/frontend/app/admin/problem/error.tsx
  apps/frontend/app/admin/user/error.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/error.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/error.tsx
  apps/frontend/app/problem/[problemId]/error.tsx
  apps/frontend/app/problem/[problemId]/submission/error.tsx
  apps/frontend/components/ErrorDetail.tsx
Due: none

fix(fe): admin client error handling (#1800)
  apps/frontend/app/(main)/contest/error.tsx
  apps/frontend/app/admin/contest/[id]/error.tsx
  apps/frontend/app/admin/contest/create/error.tsx
  apps/frontend/app/admin/contest/error.tsx
  apps/frontend/app/admin/error.tsx
  apps/frontend/app/admin/notice/error.tsx
  apps/frontend/app/admin/problem/[id]/edit/error.tsx
  apps/frontend/app/admin/problem/[id]/error.tsx
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/app/admin/problem/create/error.tsx
  apps/frontend/app/admin/problem/error.tsx
  apps/frontend/app/admin/user/error.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/error.tsx
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/error.tsx
  apps/frontend/app/contest/error.tsx
  apps/frontend/app/problem/[problemId]/error.tsx
  apps/frontend/app/problem/[problemId]/submission/error.tsx
  apps/frontend/components/ErrorDetail.tsx
Due: none

chore(fe): change to client component
  apps/frontend/app/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(main)/page.tsx
Due: none

chore(fe): change to client component (#1802)
  apps/frontend/app/(main)/_components/ProblemCards.tsx
  apps/frontend/app/(main)/page.tsx
Due: none

fix: remove eslint configurations
  .eslintignore
  .eslintrc.js
  apps/frontend/.eslintrc.js
Due: eslint, prettier

fix: apply eslint flat configuration
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier

fix: glob patterns
  eslint.config.mjs
Due: none

chore: move eslint plugin packages
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

chore: generate output file during tf plan
  .github/workflows/cd-prod-target.yml
Due: prettier

chore: set oicd permission and environment
  .github/workflows/cd-prod-target.yml
Due: prettier

fix(fe): change node env
  apps/frontend/middleware.ts
Due: eslint, prettier

fix(fe): change frontend node env
  apps/frontend/lib/utils.ts
  apps/frontend/middleware.ts
Due: eslint, prettier

fix(fe): other approach to change node env
  apps/frontend/lib/utils.ts
  apps/frontend/middleware.ts
Due: eslint, prettier

chore(be): add condition for stage env value
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

fix(infra): update cd-prod github action to set node_env to production
  .github/workflows/cd-prod.yml
  .github/workflows/cd-stage.yml
  apps/backend/Dockerfile
Due: prettier

fix(infra): add arg for app_env to dockerfile
  apps/iris/Dockerfile
Due: none

fix(infra): update cd-stage github action to set app_env to stage for iris
  .github/workflows/cd-stage.yml
Due: prettier

fix(infra): update cd-prod github action to set app_env to production for iris
  .github/workflows/cd-prod.yml
Due: prettier

fix(infra): set node_env and app_env to local in .env file by setup.sh script
  scripts/setup.sh
Due: none

fix(infra): resolve typo
  apps/iris/Dockerfile
Due: none

fix(fe): change development to local
  apps/frontend/middleware.ts
  apps/frontend/tsconfig.json
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
