Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

chore: add role type
  frontend/src/common/store/user.ts
Due: eslint, prettier

fix: add etag to s3 object
  infra/modules/codedang-infra/s3.tf
Due: none

chore: use specific aws terraform version
  infra/deploy/main.tf
  infra/local/main.tf
Due: none

fix: downgrade @tiptap/starter-kit
  frontend/package.json
  pnpm-lock.yaml
Due: prettier

chore: fix lockfile
  pnpm-lock.yaml
Due: prettier

feat: update header logo
  frontend/src/common/assets/codedang.svg
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

feat: increase minimum height
  frontend/index.html
  frontend/src/common/layouts/default.vue
Due: eslint, prettier

feat: create testserver.yml
  .github/workflows/testserver.yml
Due: prettier

chore: check action on current branch
  .github/workflows/testserver.yml
Due: prettier

feat: update metadata of index.html
  frontend/index.html
Due: none

feat: add favicon
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
Due: none

chore: allow action only from main branch
  .github/workflows/testserver.yml
Due: prettier

chore: update webmanifest
  frontend/public/site.webmanifest
Due: none

chore: remove comments
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

feat: use environment
  .github/workflows/testserver.yml
Due: prettier

fix(cd): add etag to s3 object (#680)
  infra/modules/codedang-infra/s3.tf
Due: none

feat(be): log unexpected errors
  backend/apps/admin/src/admin.controller.ts
  backend/apps/client/src/app.controller.ts
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/contest/contest-admin.controller.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  backend/apps/client/src/main.ts
  backend/apps/client/src/notice/interface/user-notice.interface.ts
  backend/apps/client/src/notice/notice-admin.controller.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/user/dto/get-userprofile.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.ts
  backend/apps/client/src/workbook/workbook-admin.controller.ts
  backend/apps/client/src/workbook/workbook.controller.ts
Due: eslint, prettier

feat: add necessary files for test server
  .github/workflows/testserver.yml
  infra/dev/.env.development
  infra/dev/Caddyfile
  infra/dev/docker-compose.yml
Due: prettier

chore: add concurrency for github action
  .github/workflows/testserver.yml
Due: prettier

chore: change step name
  .github/workflows/testserver.yml
Due: prettier

chore: allow action only on main branch
  .github/workflows/testserver.yml
Due: prettier

chore: rename file to devserver.yml
  .github/workflows/devserver.yml
Due: prettier

chore(be): remove unused authenticated-user class - 사용하지 않는 클래스 삭제
  backend/apps/admin/src/auth/class/authenticated-user.class.ts
  backend/apps/admin/src/auth/interface/authenticated-request.interface.ts
Due: eslint, prettier

chore(be): remove unnecessary logic
  backend/apps/admin/src/problem/dto/file-upload.dto.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(fe): update single time when changing page
  frontend/src/common/composables/api.ts
Due: eslint, prettier

chore: add number to notice title
  backend/prisma/seed.ts
Due: eslint, prettier

fix(fe): update single time when changing page (#689)
  backend/prisma/seed.ts
  frontend/src/common/composables/api.ts
Due: eslint, prettier

feat(be): log unexpected errors (#686)
  backend/apps/admin/src/admin.controller.ts
  backend/apps/client/src/app.controller.ts
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/contest/contest-admin.controller.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  backend/apps/client/src/main.ts
  backend/apps/client/src/notice/interface/user-notice.interface.ts
  backend/apps/client/src/notice/notice-admin.controller.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/user/dto/get-userprofile.dto.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.ts
  backend/apps/client/src/workbook/workbook-admin.controller.ts
  backend/apps/client/src/workbook/workbook.controller.ts
Due: eslint, prettier

chore: change caddyfile domain
  infra/dev/Caddyfile
Due: none

fix: fix broken terraform lockfile
  infra/deploy/.terraform.lock.hcl
  infra/local/.terraform.lock.hcl
Due: none

fix: fix broken terraform lockfile (#690)
  infra/deploy/.terraform.lock.hcl
  infra/local/.terraform.lock.hcl
Due: none

chore: test action in current branch
  .github/workflows/devserver.yml
Due: prettier

chore: allow action only on main branch
  .github/workflows/devserver.yml
Due: prettier

test(be): implement testcode
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.constants.ts
  backend/apps/admin/src/problem/problem.resolver.spec.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  thunder-tests/collections/tc_col_codedang-admin-api.json
Due: eslint, prettier

fix(fe): second try of #689
  frontend/src/common/composables/api.ts
Due: eslint, prettier

fix(fe): second try of #689 (#692)
  frontend/src/common/composables/api.ts
Due: eslint, prettier

feat: setup test server (#683)
  .github/workflows/devserver.yml
  infra/dev/.env.development
  infra/dev/Caddyfile
  infra/dev/docker-compose.yml
Due: prettier

feat(be): add backend logging in admin
  backend/apps/admin/src/group/group.resolver.ts
Due: eslint, prettier

feat(be): set plagiarism-checker server - 유사도검사 서버 기본 세팅
  plagiarism-checker/app.js
  plagiarism-checker/checker/checker.js
  plagiarism-checker/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(be): enable cors
  backend/apps/admin/src/main.ts
  backend/apps/client/src/main.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
