Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

fix: use pnpm deploy
  frontend-client/Dockerfile
  frontend-client/Dockerfile.dockerignore
Due: none

feat: disable api redirection temporarily
  frontend-client/next.config.js
Due: eslint, prettier

fix(fe): change to show available text after checking username
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

feat(fe): add docker file for nextjs (#962)
  frontend-client/Dockerfile
  frontend-client/Dockerfile.dockerignore
  frontend-client/next.config.js
Due: eslint, prettier

chore: add package name
  package.json
Due: none

feat: use es module for vite
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/postcss.config.js
Due: eslint, prettier

fix: remove unused code
  backend/apps/client/src/auth/interface/social-user.interface.ts
  backend/apps/client/src/group/interface/group-join-request.interface.ts
  backend/apps/client/src/user/dto/social-signup.dto.ts
  backend/apps/client/src/user/enum/provider.enum.ts
  backend/libs/constants/src/oauth.constants.ts
  backend/package.json
  frontend-client/components/ui/dropdown-menu.tsx
  frontend-client/package.json
  frontend/package.json
  knip.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(be): fix create user problem dto to reuse submission dto
  backend/apps/client/src/problem/dto/create-user-problem.dto.ts
Due: eslint, prettier

chore(be): add exception handling logic to create-contest - createContest에 group이 존재하지 않는 경우의 예외 처리를 추가
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

Merge remote-tracking branch 'origin' into 1072-notice-detail-page
  backend/apps/client/src/auth/interface/social-user.interface.ts
  backend/apps/client/src/group/interface/group-join-request.interface.ts
  backend/apps/client/src/user/dto/social-signup.dto.ts
  backend/apps/client/src/user/enum/provider.enum.ts
  backend/libs/constants/src/oauth.constants.ts
  backend/package.json
  frontend-client/Dockerfile
  frontend-client/Dockerfile.dockerignore
  frontend-client/components/ui/dropdown-menu.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/postcss.config.js
  knip.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix: add next
  package.json
  pnpm-lock.yaml
Due: prettier

fix: add @tailwindcss/typography
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix: add div tag
  frontend-client/app/layout.tsx
Due: none

feat(fe): notice detail page (#1078)
  .vscode/settings.json
  frontend-client/app/(default)/layout.tsx
  frontend-client/app/_components/Header.tsx
  frontend-client/app/_components/NavLink.tsx
  frontend-client/app/contest/page.tsx
  frontend-client/app/group/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/app/notice/[id]/page.tsx
  frontend-client/app/notice/_components/NoticeTable.tsx
  frontend-client/app/notice/layout.tsx
  frontend-client/app/notice/page.tsx
  frontend-client/app/page.tsx
  frontend-client/app/problem/page.tsx
  frontend-client/components/Cover.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): simplified data used in sign up
  frontend-client/app/_components/SignUpRegister.tsx
Due: none

test(be): add bruno gql api doc for get workbooks by id with cursor(#516) Get Workbooks by ID (cursor 값 존재) bruno gql api 문서를 추가했습니다.
  collection/admin/Workbook/Get Workbooks by ID/Succeed.bru
Due: none

chore(fe): change 100vh to 100dvh
  frontend-client/app/layout.tsx
Due: none

feat(fe): add hover color , new tab link and delete toaster
  frontend-client/app/_components/Footer.tsx
Due: none

fix(be): change prisma migration script to resolve migration error (#516)
  backend/prisma/migrations/20231005075014_/migration.sql
Due: none

fix(be): update workbook model to make workbook id field int on gql schema (#516) schema.gql에서 workbook id 필드를 int로 만들기 위해 workbook 모델을 업데이트했습니다.
  backend/apps/admin/src/workbook/model/workbook.input.ts
  backend/apps/admin/src/workbook/model/workbook.model.ts
Due: eslint, prettier

fix(be): change whitespace on bru file
  collection/admin/Workbook/Get Workbooks by ID/Succeed.bru
Due: none

fix(be): change resolver class and query type from workbook to workbookmodel workbook gql schema의 id가 Int가 아닌 String이기 때문에 resolver class와 query type을 WorkbookModel로 변경함
  backend/apps/admin/src/workbook/workbook.resolver.ts
Due: eslint, prettier

chore(be): add todo comment for future
  backend/apps/admin/src/workbook/model/workbook.model.ts
Due: eslint, prettier

fix(be): fix workbookdetail object type for getworkbook query
  backend/apps/admin/src/workbook/model/workbook.output.ts
Due: eslint, prettier

chore(be): modify import-problems exception handling logic - importProblems에서 이미 추가되어있는 Problem을 다시 추가하려고 할 때 - 예외를 발생시키는 것이 아닌 해당 문제를 무시하고 넘어가는 것으로 처리하도록 수정
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): fix getworkbook service code
  backend/apps/admin/src/workbook/workbook.service.ts
Due: eslint, prettier

docs(be): add admin contest module api docs
  collection/admin/Contest/Add Problems/Error: Nonexistent Contest.bru
  collection/admin/Contest/Add Problems/Succeed.bru
  collection/admin/Contest/Create Contest/Error: End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/Error: Nonexistent Group.bru
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Publicizing Request/Error: Duplicated Publicizing Request.bru
  collection/admin/Contest/Create Publicizing Request/Error: Request Publicizing to OpenSpace.bru
  collection/admin/Contest/Create Publicizing Request/Succeed.bru
  collection/admin/Contest/Delete Contest/Error: Nonexistent Contest.bru
  collection/admin/Contest/Delete Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Succeed.bru
  collection/admin/Contest/Get Publicizing Requests/Succeed.bru
  collection/admin/Contest/Handle Publicizing Request/Error: Nonexistent Publicizing Request.bru
  collection/admin/Contest/Handle Publicizing Request/Succeed.bru
  collection/admin/Contest/Import Problems/404: Nonexistent Contest.bru
  collection/admin/Contest/Import Problems/404: Nonexistent Problem.bru
  collection/admin/Contest/Import Problems/Succeed.bru
  collection/admin/Contest/Update Contest/404: Nonexistent Contest.bru
  collection/admin/Contest/Update Contest/422: End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/Succeed.bru
Due: none

test(be): modify create-contest test code
  backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

chore(fe): modify icon colors and icon hover colors
  frontend-client/app/_components/Footer.tsx
  frontend-client/app/layout.tsx
Due: none

chore(fe): replace `min-h-dvh·flex` with `flex·min-h-dvh`
  frontend-client/app/layout.tsx
Due: none

feat(fe): implement footer (#1098)
  frontend-client/app/_components/Footer.tsx
  frontend-client/app/layout.tsx
  frontend-client/components/ui/toast.tsx
Due: none

fix(fe): move toaster to root layout
  frontend-client/app/layout.tsx
  frontend-client/app/page.tsx
Due: none

chore(be): change comment
  backend/apps/admin/src/workbook/model/workbook.model.ts
Due: eslint, prettier

feat(fe): create admin layout
  frontend-client/app/(main)/_components/Footer.tsx
  frontend-client/app/(main)/_components/Header.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/NavLink.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/app/(main)/group/page.tsx
  frontend-client/app/(main)/layout.tsx
  frontend-client/app/(main)/notice/[id]/page.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/notice/layout.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/app/admin/_components/GroupSelect.tsx
  frontend-client/app/admin/_components/SideBar.tsx
  frontend-client/app/admin/contest/page.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/notice/page.tsx
  frontend-client/app/admin/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/app/admin/user/page.tsx
  frontend-client/app/layout.tsx
  frontend-client/components/ui/command.tsx
  frontend-client/components/ui/popover.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

chore: use alias import
  .vscode/settings.json
  frontend-client/app/(main)/_components/SignUp.tsx
Due: none

feat(be): store problem accepted rate (#1085)
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/problem/dto/problem.response.dto.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/prisma/migrations/20231228083547_add_ac_rate/migration.sql
  backend/prisma/schema.prisma
Due: eslint, prettier

fix: downgrade reflect-metadata
  backend/package.json
  pnpm-lock.yaml
Due: prettier

fix(be): fix workbook input type
  backend/apps/admin/src/workbook/model/workbook.input.ts
Due: eslint, prettier

fix(be): fix workbook module resolver
  backend/apps/admin/src/workbook/workbook.resolver.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
