Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

fix(fe): change params
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
Due: eslint, prettier

feat(fe): make course main responsive
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/app/(client)/(main)/layout.tsx
Due: eslint, prettier

chore(be): modify bruno gql query
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
Due: none

feat(fe): fix unswipeable bug
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
Due: eslint, prettier

feat(be): add toggle ContestQnA Resolved API
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-qna.input.ts
  apps/backend/schema.gql
  collection/admin/Contest/Toggle Contest QnA Resolved/Succeed - Toggle to Resolved.bru
  collection/admin/Contest/Toggle Contest QnA Resolved/Succeed - Toggle to Unresolved.bru
  collection/admin/Contest/Toggle Contest QnA Resolved/[400] Nonexistent Contest QnA Comments.bru
  collection/admin/Contest/Toggle Contest QnA Resolved/[404] Nonexistent Contest QnA.bru
  collection/admin/Contest/Toggle Contest QnA Resolved/[404] Nonexistent Contest.bru
Due: eslint, prettier

style(be): update comments
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): add Toggle Contest QnA Resolved collection and fix Get Contest QnAs collection
  collection/admin/Contest/Get Contest QnAs/Filter by Problem Category.bru
  collection/admin/Contest/Get Contest QnAs/Filter by Specific Problems.bru
  collection/admin/Contest/Get Contest QnAs/Filter by Unresolved QnAs.bru
  collection/admin/Contest/Get Contest QnAs/Succeed.bru
  collection/admin/Contest/Get Contest QnAs/[404] Nonexistent Contest.bru
Due: none

feat(infra): install minio k8s operator for stage
  apps/k8s/minio/README.md
  apps/k8s/minio/ingress.yaml
  apps/k8s/minio/kustomization.yaml
  apps/k8s/minio/namespace.yaml
  apps/k8s/minio/tenant-config.yaml
  apps/k8s/minio/tenant.yaml
  apps/k8s/minio/users.yaml
Due: prettier

chore: add argocd app
  apps/k8s/argocd/applications/minio-stage.yaml
Due: prettier

chore: rename postgres app
  apps/k8s/argocd/applications/postgres-stage.yaml
Due: prettier

chore: add pgadmin
  apps/k8s/postgres/deployment.yaml
  apps/k8s/postgres/ingress.yaml
  apps/k8s/postgres/service.yaml
Due: prettier

fix(fe): update dependency array for proper caching
  apps/backend/schema.gql
  apps/frontend/app/admin/course/_libs/utils.ts
  apps/frontend/components/CountdownStatus.tsx
Due: eslint, prettier

feat(fe): add dialog header in auth modal with hidden state
  apps/frontend/app/(client)/login/page.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: eslint, prettier

feat(fe): update sign-in design
  apps/frontend/app/(client)/login/page.tsx
  apps/frontend/components/auth/AuthLabel.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/components/shadcn/dialog.tsx
Due: eslint, prettier

chore(fe): clearify name of vars and refactor as rendering function
  apps/frontend/components/auth/SignIn.tsx
Due: eslint, prettier

refactor(fe): split sign-up steps
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpEmailVerify.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterAccount.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo.tsx
  apps/frontend/components/auth/SignUp/SignUpSendEmail.tsx
  apps/frontend/components/auth/SignUp/SignUpVerifyEmail.tsx
Due: eslint, prettier

fix(fe): connect API
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/DetailQna.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
Due: eslint, prettier

feat(be): add courseInfo to getAssignmentsByProblemId (#3005)
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
Due: eslint, prettier

feat(be): configure bullMQ
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/contest/contest.module.ts
  apps/backend/apps/admin/src/notification/contest-notification.processor.ts
  apps/backend/apps/admin/src/notification/contest-notification.scheduler.ts
  apps/backend/apps/admin/src/notification/notification.module.ts
Due: eslint, prettier

chore(fe): use absolute path
  apps/frontend/app/layout.tsx
Due: eslint, prettier

feat(be): add notification schedule logic in contest CUD
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
Due: eslint, prettier

chore(be): schema.gql auto-configured
  apps/backend/schema.gql
Due: none

chore(fe): test to get it work
  apps/frontend/app/layout.tsx
Due: eslint, prettier

feat(fe): update design for email verification modal
  apps/frontend/app/(client)/login/page.tsx
  apps/frontend/components/auth/AuthMessage.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpSendEmail.tsx
  apps/frontend/components/auth/SignUp/SignUpVerifyEmail.tsx
  apps/frontend/components/auth/SignUp/api.ts
  apps/frontend/components/shadcn/input.tsx
Due: eslint, prettier

fix(be): clean up seed and migration
  apps/backend/prisma/migrations/20250724085802_add_plagiarism_check_model/migration.sql
  apps/backend/prisma/migrations/20250724092750_add_more_field_in_plagiarism_check_model/migration.sql
  apps/backend/prisma/migrations/20250724093510_add_min_tokens_in_plagiarism_check_model/migration.sql
  apps/backend/prisma/migrations/20250725072218_delete_user_ip_in_check/migration.sql
  apps/backend/prisma/migrations/20250729093648_add_problem_relations_in_check/migration.sql
  apps/backend/prisma/migrations/20250805041918_remove_check_id_in_plagiarism_check/migration.sql
  apps/backend/prisma/migrations/20250806051425_add_check_result_and_cluster_model/migration.sql
  apps/backend/prisma/migrations/20250807030319_expand_check_result_status/migration.sql
  apps/backend/prisma/migrations/20250809144345_change_check_result_relation_to_submission/migration.sql
  apps/backend/prisma/migrations/20250810031110_add_id_field_in_submission_cluster/migration.sql
  apps/backend/prisma/migrations/20250810034924_assert_number_fields_in_checkresult_and_cluster/migration.sql
  apps/backend/prisma/migrations/20250812090136_add_token_error_in_check_result_status/migration.sql
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(be): update QnACategory import path to @generated
  apps/backend/apps/admin/src/contest/model/contest-qna.input.ts
  apps/backend/schema.gql
Due: eslint, prettier

chore(be): delete checkPreviousSubmission totally
  apps/backend/apps/admin/src/check/check-pub.service.ts
  apps/backend/apps/admin/src/check/check.service.ts
  apps/backend/apps/admin/src/check/model/check-request.ts
  apps/backend/apps/admin/src/check/model/create-check.input.ts
  apps/backend/prisma/migrations/20250724085802_add_plagiarism_check_model/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/plag/src/handler/check-handler.go
  apps/plag/src/service/check/manager.go
  collection/admin/Check/Request Check/Request Plagiarism Check.bru
Due: eslint, prettier

chore(be): clean up unnecessary docs in plag
  apps/plag/src/connector/rabbitmq/connector.go
  apps/plag/src/connector/rabbitmq/consumer.go
Due: none

chore(be): remove unnecessary comment
  apps/backend/apps/admin/src/notification/contest-notification.processor.ts
  apps/backend/apps/admin/src/notification/contest-notification.scheduler.ts
Due: eslint, prettier

feat(fe): update course invite modal design
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteManually.tsx
Due: eslint, prettier

chore(be): mocking ContestNotificationScheduler in test
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

chore(be): add missing return of deleteContest
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

fix(fe): replace Modal to AlertModal
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[order]/_components/CommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[order]/_components/DeleteButton.tsx
Due: eslint, prettier

chore(fe): clean imports
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[order]/_components/CommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[order]/_components/DeleteButton.tsx
Due: eslint, prettier

fix(fe): restore old register modal
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpRegister.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo.tsx
  apps/frontend/components/auth/SignUp/SignUpVerifyEmail.tsx
Due: eslint, prettier

feat(be): add search filter
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/dto/contest-qna.dto.ts
Due: eslint, prettier

docs(be): modify bruno
  collection/client/Contest/Get Contest QnAs/Succeed.bru
Due: none

refactor(fe): integerate assignment status time diff among client and management (#2968)
  apps/backend/schema.gql
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
  apps/frontend/app/(client)/(main)/course/_components/AssignmentCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/AssignmentCardList.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentStatus.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/_libs/utils.ts
  apps/frontend/components/AssignmentStatus.tsx
  apps/frontend/components/AssignmentStatusTimeDiff.tsx
  apps/frontend/components/CountdownStatus.tsx
  apps/frontend/components/DateRangeDisplay.tsx
  apps/frontend/components/StatusTimeDiff.tsx
  apps/frontend/libs/utils.ts
  apps/frontend/types/type.ts
  collection/instructor/Submission/Get Assignment Latest Submission/Succeed.bru
Due: eslint, prettier

feat(be): add search filter in contestQnA (#3010)
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/contest/dto/contest-qna.dto.ts
  collection/client/Contest/Get Contest QnAs/Succeed.bru
Due: eslint, prettier

fix(fe): refactoring components
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/Content.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemDropdown.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemSelector.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/SubmitButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/Title.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/page.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
