Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

test(be): add await keywords right before each rejectedwith function
  backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

chore(be): modify problem input type - problem input type에서 visible 여부 설정 가능하도록 변경
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
Due: eslint, prettier

docs(be): modify admin create-problem api docs - input에 isVisible 설정 반영
  collection/admin/Problem/Create Problem/Succeed.bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (1).bru
  collection/admin/Problem/Create Problem/UNPROCESSABLE (2).bru
Due: none

feat(be): implement the availability of the user contest participation feat (#1328)
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/libs/auth/src/guard.decorator.ts
  backend/libs/auth/src/jwt/jwt-auth.guard.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get contest by ID/[404] Contest does not exist.bru
  collection/client/Contest/Get contest by ID/[404] Nonexistent Contest.bru
Due: eslint, prettier

test(be): add is-visible to input
  backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

test(be): add is-visible to problem input
  backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

fix: delete unused error guard
  backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

feat: change business exception handling
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

feat(be): add update-visibility api
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

docs(be): add update-visibility api docs
  collection/admin/Problem/Update Visibility/NOT_FOUND.bru
  collection/admin/Problem/Update Visibility/Succeed.bru
Due: none

chore: change business exception handling
  backend/apps/admin/src/announcement/announcement.resolver.ts
Due: eslint, prettier

fix(fe): fix broken main page api
  frontend-client/app/(main)/_components/ProblemCards.tsx
Due: none

docs: update contest client api
  collection/client/Contest/Get finished contests/[403] Not a Member of the Group.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/[401] Unauthorized.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/[403] Not a Member of the Group.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
  collection/client/Contest/Get registered ongoing & upcoming contests/Succeed.bru
Due: none

fix(fe): fix all problem api responses
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none

fix(fe): fix broken main page api (#1369)
  frontend-client/app/(main)/_components/ProblemCards.tsx
  frontend-client/app/(main)/contest/[id]/@tabs/problem/page.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none

docs: bruno collection docs
  backend/apps/admin/src/announcement/announcement.resolver.ts
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Delete Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcements/Succeed.bru
Due: eslint, prettier

docs: change asserts
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
  collection/client/Contest/Get registered ongoing & upcoming contests/Succeed.bru
Due: none

feat(be): implement get-contest api - 참가자 수 participants를 함께 반환하는 getContest api 구현
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/contest/model/contest-with-participants.model.ts
Due: eslint, prettier

docs(be): add get-contest api docs
  collection/admin/Contest/Get Contest/NOT_FOUND.bru
  collection/admin/Contest/Get Contest/Succeed.bru
Due: none

chore: change prisma exception handler
  backend/apps/admin/src/announcement/announcement.resolver.ts
  backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

fix(fe): add fallback style to text editor
  frontend-client/components/TextEditor.tsx
Due: none

fix: remove left margin of admin sidebar
  frontend-client/app/admin/layout.tsx
Due: none

fix(be): add sample model
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/model/testcase.input.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/prisma/migrations/20240213065504_add_exaple_io_model/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: eslint, prettier

chore(be): remove ProblemOrderList
  backend/apps/client/src/problem/enum/problem-order.enum.ts
Due: eslint, prettier

chore(be): delete useless update-visibility function
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Update Visibility/NOT_FOUND.bru
  collection/admin/Problem/Update Visibility/Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
Due: eslint, prettier

fix(fe): edit create problem query and update problem query
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
Due: none

fix(be): mocking and bruno modification
  backend/apps/admin/src/problem/model/problem.input.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  collection/admin/Problem/Create Problem/Succeed.bru
Due: eslint, prettier

chore: merge main branch
  backend/package.json
  pnpm-lock.yaml
Due: prettier

feat: add codes for automatic instrumentation in client api
  backend/apps/client/src/main.ts
  backend/apps/client/src/tracer.ts
Due: eslint, prettier

feat(infra): rebase main branch
  backend/apps/client/src/main.ts
  backend/apps/client/src/metric.ts
  backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(be): modify get-contest, get-contests to include participants - _count를 활용해 참가자수가 contest 정보에 포함되도록 설정
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.ts
  collection/admin/Contest/Get Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Succeed.bru
Due: eslint, prettier

fix: invalid workbook problem type
  frontend-client/types/type.ts
Due: eslint, prettier

feat(be): replace findMany to rawQuery
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix: resolve type error
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/_components/ProblemCards.tsx
Due: none

test(be): modify test to use contest-with-participants
  backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat: add iris otel default
  iris/go.mod
  iris/go.sum
  iris/main.go
Due: gofmt

fix: update test code
  backend/apps/admin/src/announcement/announcement.service.spec.ts
  backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

feat(fe): add default value to texteditor, resolve description rendering
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/components/TextEditor.tsx
Due: none

feat(fe): add defaultvalue to optionselect and tagselect
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
Due: none

fix: update return type
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
