Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

chore(be): remove duplicated import lines
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

feat(fe): add DataTable empty message property
  apps/frontend/app/(main)/contest/_components/FinishedContestTable.tsx
  apps/frontend/components/DataTable.tsx
  apps/frontend/next.config.js
Due: eslint, prettier

fix(fe): change contest time form (#1622)
  apps/frontend/app/(main)/_components/TimeDiff.tsx
Due: none

feat: add error page
  apps/frontend/app/contest/error.tsx
Due: none

fix: fix to get contest problems in contest page
  apps/frontend/app/contest/[contestId]/problem/[problemId]/page.tsx
  apps/frontend/components/EditorDescription.tsx
Due: none

docs(be): modify documentation files
  collection/admin/User/Delete Group Member/BAD_REQUEST(1).bru
  collection/admin/User/Delete Group Member/BAD_REQUEST(2).bru
  collection/admin/User/Delete Group Member/Succeed.bru
  collection/admin/User/Handle Join Request/CONFLICT.bru
  collection/admin/User/Update Group Member/BAD_REQUEST(1).bru
  collection/admin/User/Update Group Member/BAD_REQUEST(2).bru
  collection/admin/User/Update Group Member/BAD_REQUEST(3).bru
  collection/admin/User/Update Group Member/BAD_REQUEST(4).bru
  collection/client/User/Check Duplicated Username/Succeed.bru
  collection/client/User/Delete Own Account/Succeed.bru
Due: none

chore: remove unused dto
  apps/backend/apps/admin/src/announcement/dto/create-announcement.input.ts
  apps/backend/apps/admin/src/announcement/dto/update-announcement.input.ts
Due: eslint, prettier

fix(be): add prisma migration sql script
  apps/backend/prisma/migrations/20240401074346_add_latest_ac_time_and_chang_cpu_time_to_int/migration.sql
  backend/prisma/migrations/20240125061856_add_latest_accepted_time_to_contest_record/migration.sql
Due: none

feat(fe): add DataTable empty message property (#1623)
  apps/frontend/app/(main)/contest/_components/FinishedContestTable.tsx
  apps/frontend/components/DataTable.tsx
  apps/frontend/next.config.js
Due: eslint, prettier

feat(fe): restrict non-existent contest problem (#1628)
  apps/frontend/app/contest/[contestId]/problem/[problemId]/page.tsx
  apps/frontend/app/contest/error.tsx
  apps/frontend/components/EditorDescription.tsx
Due: none

chore(be): remove file extension
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

docs: update bruno docs
  apps/backend/apps/admin/src/announcement/dto/announcement.input.ts
Due: eslint, prettier

feat(infra): get ec2 instance id and send to grafana agent by using resource label
  apps/backend/apps/client/src/metric.ts
Due: eslint, prettier

feat(infra): get ec2 instance id and send to grafana agent by using resource label for admin api
  apps/backend/apps/admin/src/metric.ts
Due: eslint, prettier

fix: disable create button while isCreating is true
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: none

feat(infra): get ec2 instance id of Iris Server
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/src/observability/metric.go
Due: none

fix(infra): delete specifying data type
  apps/backend/apps/admin/src/metric.ts
  apps/backend/apps/client/src/metric.ts
Due: eslint, prettier

feat(infra): get ec2 instance id and send to monitoring system by using label (#1631)
  apps/backend/apps/admin/src/metric.ts
  apps/backend/apps/client/src/metric.ts
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/src/observability/metric.go
Due: eslint, prettier

fix: create .env before running container
  .devcontainer/devcontainer.json
Due: none

fix: create .env before running container (#1635)
  .devcontainer/devcontainer.json
Due: none

fix: disable create button while isCreating is true (#1633)
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: none

chore: ignore pem key for safety
  .gitignore
Due: none

chore: ignore pem key for safety (#1636)
  .gitignore
Due: none

test(be): add notice-total
  apps/backend/apps/client/src/notice/notice.service.spec.ts
Due: eslint, prettier

feat(deps): install required packages
  apps/backend/package.json
Due: none

feat(be): add nyc configurations
  .gitignore
  apps/backend/.nycrc
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

feat(be): add delete-image and improve image upload, delete logic
  apps/backend/apps/admin/src/problem/model/image.output.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/prisma/migrations/20240406140833_add_image_model/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

docs(be): add delete-image api docs
  apps/iris/go.mod
  collection/admin/Problem/Delete Image/NOT_FOUND.bru
  collection/admin/Problem/Delete Image/Succeed.bru
Due: none

fix: increase title length limit to 200
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: none

feat(fe): add graphql.d.ts file, edit tsconfig, add mutations and queries graphql file
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/graphql/mutations.graphql
  apps/frontend/graphql/queries.graphql
  apps/frontend/tsconfig.json
  apps/frontend/types/graphql.d.ts
Due: eslint, prettier

fix(be): add finish time field on contest record
  apps/backend/prisma/schema.prisma
Due: none

feat(be): add finish time
  apps/backend/prisma/migrations/20240408084124_add_finish_time_on_contest_record/migration.sql
Due: none

feat(be): implement the calculation of contest participants score
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore: increase problem title length limit to 200 (#1641)
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: none

fix(be): change seed script for test
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(be): add accepted problem num increment logic
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore(be): parallelize deleting image logic
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

chore(infra): set exchange as durable
  apps/infra/modules/codedang-infra/rabbitmq.tf
Due: none

chore(infra): set exchange as durable (#1646)
  apps/infra/modules/codedang-infra/rabbitmq.tf
Due: none

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
