Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

fix(be): package.json 2
  package.json
Due: none

fix(be): pnpm-lock
  pnpm-lock.yaml
Due: prettier

fix(be): apply review
  backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat(fe): implement tag switch functionality
  frontend-client/app/problem/_components/ProblemTable.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(be): add participants to contest api (#1144)
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  iris/go.mod
Due: eslint, prettier

chore(be): modify group-member-guard - url query로 groupId가 들어오는 경우 적용 가능하도록 guard 수정
  backend/libs/auth/src/roles/group-member.guard.ts
Due: eslint, prettier

chore: add fixed notices to seed
  backend/prisma/seed.ts
Due: eslint, prettier

feat(be): use fixed query in notice list api
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.ts
Due: eslint, prettier

feat(fe): update notice list api fixed option
  frontend-client/app/(main)/notice/page.tsx
Due: none

docs(be): add fixed option to notice list api
  collection/client/Notice/Get all fixed group notices/Succeed.bru
  collection/client/Notice/Get all fixed notices/Succeed.bru
  collection/client/Notice/Get all notices/Succeed.bru
Due: none

refactor: rename notice methods
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
Due: eslint, prettier

feat(be): add search query to notice list api
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.ts
  collection/client/Notice/Get all notices/Succeed.bru
Due: eslint, prettier

feat: delete cookie
  frontend-client/middleware.ts
Due: eslint, prettier

fix: remove default value of search query
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/problem/problem.controller.ts
Due: eslint, prettier

refactor(be): add search query to notice list api (#1165)
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/prisma/seed.ts
  collection/client/Notice/Get all fixed group notices/Succeed.bru
  collection/client/Notice/Get all fixed notices/Succeed.bru
  collection/client/Notice/Get all notices/Succeed.bru
  frontend-client/app/(main)/notice/page.tsx
Due: eslint, prettier

refactor(be): use consistant error variable name
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
Due: eslint, prettier

refactor(be): use consistant error variable name (#1166)
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
Due: eslint, prettier

feat(be): change submission id
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
Due: none

fix(be): change submission id type
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
Due: none

fix(be): fix typo
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
Due: none

feat(be): change submission id type (#1143)
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/mock/submission.mock.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
  backend/prisma/migrations/20240104072555_change_submission_result_table_name/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: eslint, prettier

chore(fe): fix switch component ui with primary color
  frontend-client/components/ui/switch.tsx
Due: none

feat(fe): implement search with query string
  frontend-client/app/problem/page.tsx
Due: none

fix(fe): set init url with search parameters
  frontend-client/app/problem/page.tsx
Due: none

refactor: get init searchParmas from Page props
  frontend-client/app/problem/page.tsx
Due: none

chore(be): use open-space-id constant
  backend/libs/auth/src/roles/group-member.guard.ts
Due: eslint, prettier

chore(be): modify jwt-auth guard - groupId가 url query로 전달되는 경우 AuthNotNeeded가 작동하지 않도록 수정 - ** 현재 groupId가 필요한 api는 항상 로그인이 필요함
  backend/libs/auth/src/jwt/jwt-auth.guard.ts
Due: eslint, prettier

fix(fe): use zustand in signup instead of props
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend-client/app/(main)/_components/SignUpRegister.tsx
  frontend-client/app/(main)/_components/SignUpWelcome.tsx
  frontend-client/stores/signUpModal.ts
Due: eslint, prettier

style(fe): change signin modal margins
  frontend-client/app/(main)/_components/SignIn.tsx
Due: none

fix(fe): fix eslint disable comment
  frontend-client/stores/signUpModal.ts
Due: eslint, prettier

feat(be): add group-id-validation pipe - group id가 null인 경우와 양수가 아닌 경우를 처리할 수 있는 pipe 추가
  backend/libs/pipe/src/group-id-validation.pipe.ts
Due: eslint, prettier

refactor(be): modify problem module to query-based url - problem 모듈에서 group id 유무로 서로 다른 경로를 가지던 api들의 경로 통합 - url query로 group id를 받을 수 있도록 변경
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/problem.controller.spec.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.module.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
  backend/libs/auth/src/roles/group-member.guard.ts
Due: eslint, prettier

docs(be): remove unused api docs - api 통합에 따라 사용하지 않게 된 group 관련 problem 모듈 api docs 삭제
  collection/client/Problem/Get all problems/Succeed.bru
  collection/client/Problem/Get contest problem by ID/Succeed.bru
  collection/client/Problem/Get contest problems/Succeed.bru
  collection/client/Problem/Get group contest problem by ID/404: Nonexistent problem.bru
  collection/client/Problem/Get group contest problem by ID/Succeed.bru
  collection/client/Problem/Get group contest problems/Succeed.bru
  collection/client/Problem/Get group workbook problem by ID/404: Nonexistent problem.bru
  collection/client/Problem/Get group workbook problem by ID/Succeed.bru
  collection/client/Problem/Get group workbook problems/Succeed.bru
  collection/client/Problem/Get problem by ID/Succeed.bru
  collection/client/Problem/Get workbook problem by ID/Succeed.bru
  collection/client/Problem/Get workbook problems/Succeed.bru
Due: none

fix(be): provide type to the nullable Args explicitly
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/user/user.resolver.ts
Due: eslint, prettier

chore(be): modify group-id-validation pipe - group id는 1부터 시작이므로 0 초과일 때 통과하도록 수정
  backend/libs/pipe/src/group-id-validation.pipe.ts
Due: eslint, prettier

fix(be): provide type to the nullable Args explicitly in GraphQL (#1168)
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/group/group.resolver.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/user/user.resolver.ts
Due: eslint, prettier

feat(fe): added contest card list in contest page
  frontend-client/app/(main)/_components/ContestCardList.tsx
  frontend-client/app/(main)/contest/page.tsx
Due: none

fix(fe): removed console logs and dummy data
  frontend-client/app/(main)/_components/ContestCardList.tsx
Due: none

feat(be): add testcaseId field in payload
  iris/src/handler/judge-handler.go
  iris/src/service/testcase/manager.go
Due: gofmt

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
