Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(be): implement Mandeuldang problem read queries and legacy compat
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.output.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

feat(be): add mandeuldang update input type
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.input.ts
Due: eslint, prettier

feat(be): implement Mandeuldang problem read queries and legacy compatibility (#3732)
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.output.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

Revert "feat(be): implement Mandeuldang problem read queries and legacy compatibility (#3732)"
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.output.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

fix(fe): adapt to course whitelist response type
  apps/frontend/app/admin/course/[courseId]/(overview)/user/_components/InviteByCode.tsx
  apps/frontend/graphql/course/queries.ts
Due: eslint, prettier

fix(fe): satisfy required course whitelist inputs
  apps/frontend/app/admin/course/_components/CreateCourseForm.tsx
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
Due: eslint, prettier

Reapply "feat(be): implement Mandeuldang problem read queries and legacy compatibility (#3732)"
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.output.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

feat(be): update Mandeuldang problem input and output types
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.input.ts
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.output.ts
Due: eslint, prettier

fix(fe): adjust button width
  apps/frontend/app/(client)/tas2891/page.tsx
  apps/frontend/components/shadcn/button.tsx
Due: eslint, prettier

fix(fe): revert base radius
  apps/frontend/components/shadcn/button.tsx
Due: eslint, prettier

refactor(fe): delete icon size
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/components/shadcn/button.tsx
Due: eslint, prettier

revert(fe): revert icon size deletion
  apps/frontend/components/CodeEditor.tsx
  apps/frontend/components/shadcn/button.tsx
Due: eslint, prettier

fix(be): keep legacy Problem response contract non-null
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/libs/constants/src/index.ts
  apps/backend/libs/constants/src/problem.constants.ts
Due: eslint, prettier

fix(be): forbid student id modification
  apps/backend/apps/client/src/user/dto/updateUser.dto.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

refactor(infra): remove iris legacy manifests
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/message-queue.tf
  infra/k8s/iris-legacy/README.md
  infra/k8s/iris-legacy/aws-credentials.yaml
  infra/k8s/iris-legacy/deployment.yaml
  infra/k8s/iris-legacy/external-secret.yaml
  infra/k8s/iris-legacy/namespace.yaml
Due: prettier, terraformfmt

refactor(infra): stage legacy ecs task definitions
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/task-definitions.tf
Due: terraformfmt

refactor(infra): archive legacy aws failover resources
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/removed.tf
  infra/legacy/README.md
  infra/legacy/archive/aws-failover/README.md
  infra/legacy/archive/aws-failover/REPORT.md
  infra/legacy/archive/aws-failover/ecs-task-definitions/change-index.json
  infra/legacy/archive/aws-failover/ecs-task-definitions/manifest.json
  infra/legacy/archive/aws-failover/ecs-task-definitions/revisions.ndjson
  infra/legacy/archive/aws-failover/git-history/fluent-bit.conf
  infra/legacy/archive/aws-failover/live-snapshots/cloudfront-E3MGLL85LUMBTC.json
  infra/legacy/archive/aws-failover/live-snapshots/launch-templates/lt-03771018e83c4c81d.json
  infra/legacy/archive/aws-failover/live-snapshots/launch-templates/lt-0a301a37c0d2f09fd.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-listener-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-listener-rules.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-load-balancer-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-target-group-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-target-health.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-listener-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-listener-rules.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-load-balancer-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-target-group-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-target-health.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/listeners.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/load-balancers.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/tags.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/target-groups.json
  infra/legacy/archive/aws-failover/live-snapshots/mq/broker.json
  infra/legacy/archive/aws-failover/live-snapshots/mq/configuration-revision-1.json
  infra/legacy/archive/aws-failover/live-snapshots/mq/configuration.json
  infra/legacy/archive/aws-failover/live-snapshots/security-groups.json
  infra/legacy/archive/aws-failover/tools/archive.py
  infra/legacy/archive/aws-failover/verify.sh
  infra/legacy/aws-failover/README.md
  infra/legacy/aws-failover/disabled.tf
  infra/legacy/aws-failover/main.tf
  infra/legacy/aws-failover/task-definitions.tf
Due: terraformfmt

chore(infra): remove archive since AWS would keep them
  infra/legacy/archive/aws-failover/README.md
  infra/legacy/archive/aws-failover/REPORT.md
  infra/legacy/archive/aws-failover/ecs-task-definitions/change-index.json
  infra/legacy/archive/aws-failover/ecs-task-definitions/manifest.json
  infra/legacy/archive/aws-failover/ecs-task-definitions/revisions.ndjson
  infra/legacy/archive/aws-failover/git-history/fluent-bit.conf
  infra/legacy/archive/aws-failover/live-snapshots/cloudfront-E3MGLL85LUMBTC.json
  infra/legacy/archive/aws-failover/live-snapshots/launch-templates/lt-03771018e83c4c81d.json
  infra/legacy/archive/aws-failover/live-snapshots/launch-templates/lt-0a301a37c0d2f09fd.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-listener-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-listener-rules.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-load-balancer-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-target-group-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/admin-target-health.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-listener-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-listener-rules.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-load-balancer-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-target-group-attributes.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/client-target-health.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/listeners.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/load-balancers.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/tags.json
  infra/legacy/archive/aws-failover/live-snapshots/load-balancing/target-groups.json
  infra/legacy/archive/aws-failover/live-snapshots/mq/broker.json
  infra/legacy/archive/aws-failover/live-snapshots/mq/configuration-revision-1.json
  infra/legacy/archive/aws-failover/live-snapshots/mq/configuration.json
  infra/legacy/archive/aws-failover/live-snapshots/security-groups.json
  infra/legacy/archive/aws-failover/tools/archive.py
  infra/legacy/archive/aws-failover/verify.sh
Due: none

fix(fe): expand username length limitation (#3728)
  apps/frontend/components/auth/SignUp/SignUpRegisterAccount.tsx
Due: eslint, prettier

fix(fe): forbid student id modification (#3727)
  apps/backend/apps/client/src/user/dto/updateUser.dto.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/apps/client/src/user/user.service.ts
  apps/frontend/app/(client)/(main)/settings/_components/StudentIdSection.tsx
  apps/frontend/app/(client)/(main)/settings/page.tsx
Due: eslint, prettier

refactor(fe): move validator logic to ValidatorPage after #3707 merge
  apps/frontend/app/admin/problem/mandeuldang/_components/SolutionPage.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/ValidatorPage.tsx
  apps/frontend/app/admin/problem/mandeuldang/_components/ValidatorSection.tsx
Due: eslint, prettier

fix(infra): remove deleted mq broker from decommission stage
  infra/aws/decommission-stage/imports.tf
  infra/aws/decommission-stage/message-queue.tf
Due: terraformfmt

refactor(infra): archive legacy aws failover resources (#3734)
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/imports.tf
  infra/aws/decommission-stage/message-queue.tf
  infra/aws/decommission-stage/removed.tf
  infra/legacy/README.md
  infra/legacy/aws-failover/README.md
  infra/legacy/aws-failover/disabled.tf
  infra/legacy/aws-failover/main.tf
  infra/legacy/aws-failover/task-definitions.tf
Due: terraformfmt

feat(fe): modify inputform design
  apps/frontend/app/admin/course/_components/CourseFormFields.tsx
  apps/frontend/app/admin/course/_components/InputForm.tsx
Due: eslint, prettier

feat(infra): add frigate manifests
  infra/k8s/frigate/base/configmap.yaml
  infra/k8s/frigate/base/deployment.yaml
  infra/k8s/frigate/base/kustomization.yaml
  infra/k8s/frigate/base/namespace.yaml
  infra/k8s/frigate/base/pvc-config.yaml
  infra/k8s/frigate/base/pvc-media.yaml
  infra/k8s/frigate/base/service.yaml
  infra/k8s/frigate/overlays/stage/ingress.yaml
  infra/k8s/frigate/overlays/stage/kustomization.yaml
Due: prettier

chore(infra): reconcile production database upgrade (#3713)
  infra/aws/storage/database.tf
Due: terraformfmt

feat(fe): add submission progress UI
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/TestPollingStoreProvider.tsx
Due: eslint, prettier

feat(be): implement mandeuldang update api and publish check service
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.module.ts
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.output.ts
  apps/backend/apps/admin/src/mandeuldang/problem/problem.module.ts
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/publish-check.service.ts
Due: eslint, prettier

refactor(be): reuse whitelist update logic
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier

feat(fe): add contest leaderboard loading screen (#3674)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardSkeleton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(infra): add stage silo migration target
  infra/k8s/minio/SILO-MIGRATION.md
  infra/k8s/minio/kustomization.yaml
  infra/k8s/minio/silo-migration-config.yaml
  infra/k8s/minio/silo-migration-credentials.yaml
  infra/k8s/minio/silo-mirror.yaml
  infra/k8s/minio/silo-pvc.yaml
  infra/k8s/minio/silo-root-credentials.yaml
  infra/k8s/minio/silo-services.yaml
  infra/k8s/minio/silo-statefulset.yaml
  infra/k8s/minio/silo-storage-class.yaml
Due: prettier

fix(infra): seal silo credentials correctly
  infra/k8s/minio/silo-migration-credentials.yaml
  infra/k8s/minio/silo-root-credentials.yaml
Due: prettier

feat(infra): start stage silo synchronization
  infra/k8s/minio/silo-migration-config.yaml
  infra/k8s/minio/silo-mirror.yaml
  infra/k8s/minio/tenant.yaml
Due: prettier

feat(infra): expose stage silo console
  infra/aws/dns/minio.tf
  infra/k8s/minio/SILO-MIGRATION.md
  infra/k8s/minio/kustomization.yaml
  infra/k8s/minio/silo-console-ingress.yaml
  infra/k8s/minio/silo-statefulset.yaml
Due: prettier, terraformfmt

chore(infra): remove unnecessary runbook
  infra/k8s/minio/SILO-MIGRATION.md
Due: none

feat(be): implement mandeuldang publish api
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.ts
Due: eslint, prettier

test(be): implement spec files for update and publish api
  apps/backend/apps/admin/src/mandeuldang/problem/resolvers/problem.resolver.spec.ts
  apps/backend/apps/admin/src/mandeuldang/problem/services/problem.service.spec.ts
Due: eslint, prettier

feat(be): save generated testcase files to MandeuldangTestFile on generator success
  apps/backend/apps/admin/src/mandeuldang/mandeuldang-sub.service.ts
  apps/backend/apps/admin/src/mandeuldang/model/mandeuldang-tool-result.dto.ts
  apps/backend/libs/storage/src/storage.service.ts
Due: eslint, prettier

feat(infra): cut over stage minio to silo
  infra/k8s/minio/ingress.yaml
  infra/k8s/minio/silo-mirror.yaml
Due: prettier

refactor(infra): remove iris legacy manifests (#3733)
  infra/aws/decommission-stage/README.md
  infra/k8s/iris-legacy/README.md
  infra/k8s/iris-legacy/aws-credentials.yaml
  infra/k8s/iris-legacy/deployment.yaml
  infra/k8s/iris-legacy/external-secret.yaml
  infra/k8s/iris-legacy/namespace.yaml
Due: prettier
