Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix: add shell property in setup pnpm
  .github/actions/setup-pnpm/action.yml
Due: prettier

fix: add ignore unknown for ignoring parser error
  .github/workflows/ci.yml
Due: prettier

fix: merge erros
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix: move database migration to current
  apps/backend/prisma/migrations/20240723071405_judge_by_testcase_id/migration.sql
Due: none

fix: apply judge by testcase to calculate contest score calculation method
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix: submission result creation
  apps/backend/apps/client/src/submission/dto/testcase.dto.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/prisma/src/prisma.service.ts
  apps/frontend/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

feat(fe): redesign contestcard component
  apps/frontend/app/(main)/_components/ContestCard.tsx
  apps/frontend/app/(main)/_components/ProblemCard.tsx
  apps/frontend/app/(main)/_components/TimeDiff.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/package.json
Due: eslint, prettier

fix(iris): set exec-result
  apps/iris/src/handler/judge-handler.go
Due: none

fix(be): modify test code
  apps/backend/apps/client/src/submission/mock/testcase.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

fix(fe): modify property key
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/dataIfError.ts
Due: eslint, prettier

fix(fe): modify property key
  apps/frontend/app/problem/[problemId]/submission/_components/dataIfError.ts
Due: eslint, prettier

fix(be): enable prisma logging
  apps/backend/libs/prisma/src/prisma.service.ts
Due: eslint, prettier

feat(be): judge by testcase in iris (#1171)
  apps/backend/apps/client/src/app.module.ts
  apps/backend/apps/client/src/submission/dto/judger-response.dto.ts
  apps/backend/apps/client/src/submission/dto/testcase.dto.ts
  apps/backend/apps/client/src/submission/mock/submission.mock.ts
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/mock/testcase.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/storage/src/content.type.ts
  apps/backend/libs/storage/src/index.ts
  apps/backend/libs/storage/src/s3.provider.ts
  apps/backend/libs/storage/src/storage.module.ts
  apps/backend/libs/storage/src/storage.service.spec.ts
  apps/backend/libs/storage/src/storage.service.ts
  apps/backend/libs/storage/tsconfig.lib.json
  apps/backend/nest-cli.json
  apps/backend/prisma/migrations/20240723071405_judge_by_testcase_id/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  apps/backend/tsconfig.json
  apps/frontend/app/contest/[contestId]/problem/[problemId]/submission/_components/dataIfError.ts
  apps/frontend/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/problem/[problemId]/submission/_components/dataIfError.ts
  apps/frontend/types/type.ts
  apps/iris/main.go
  apps/iris/src/connector/factory.go
  apps/iris/src/connector/http/connector.go
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/connector/rabbitmq/consumer.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/response.go
  apps/iris/src/router/router.go
Due: eslint, prettier

fix(be): fix bruno query grammar
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Submission/Create Submission/404: No Contest found.bru
  collection/client/Submission/Create Submission/Succeed.bru
  collection/client/Submission/Create Submission/Succeed: Contest(AC).bru
  collection/client/Submission/Create Submission/Succeed: Contest(TLE).bru
  collection/client/Submission/Create Submission/Succeed: Contest(WA).bru
Due: none

fix(be): fix bruno query grammar (#1860)
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Submission/Create Submission/404: No Contest found.bru
  collection/client/Submission/Create Submission/Succeed.bru
  collection/client/Submission/Create Submission/Succeed: Contest(AC).bru
  collection/client/Submission/Create Submission/Succeed: Contest(TLE).bru
  collection/client/Submission/Create Submission/Succeed: Contest(WA).bru
Due: none

chore: refactor zod schema, lifting inputStyle
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/app/admin/problem/_components/LimitForm.tsx
  apps/frontend/app/admin/problem/utils.ts
  apps/frontend/app/admin/utils.ts
Due: eslint, prettier

feat(fe): add show state for hint and source for initial state of switch
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
Due: eslint, prettier

refactor: componentize contest problem list label and button
  apps/frontend/app/admin/_components/ContestProblemListLabel.tsx
  apps/frontend/app/admin/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/_components/Label.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/contest/utils.ts
  apps/frontend/app/admin/problem/_components/Label.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
Due: eslint, prettier

feat(fe): implement image upload
  apps/frontend/components/TextEditor.tsx
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/package.json
Due: eslint, prettier

fix(fe): fix pnpm lock file
  pnpm-lock.yaml
Due: prettier

feat(fe): add contest detail in contest overall page
  apps/frontend/app/admin/contest/[id]/page.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/graphql/problem/mutations.ts
  apps/frontend/public/period.svg
Due: eslint, prettier

chore: move directory of components only used in contest
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemListLabel.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemButton.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

feat(fe): implement contest overall tabs using parallel routes
  apps/frontend/app/admin/contest/[id]/@tabs/page.tsx
  apps/frontend/app/admin/contest/[id]/@tabs/submission/page.tsx
  apps/frontend/app/admin/contest/[id]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/contest/[id]/layout.tsx
Due: eslint, prettier

test: init sandbox
  apps/backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat(be): add user ip logging
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  pnpm-lock.yaml
Due: eslint, prettier

feat(be): add default value
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/client/src/user/dto/signup.dto.ts
  apps/backend/apps/client/src/user/dto/social-signup.dto.ts
  apps/backend/apps/client/src/user/user.service.spec.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
  apps/backend/prisma/migrations/20240725114622_add_default_value/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

chore(be): return including enable-copy-paste
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
Due: eslint, prettier

feat(be): add user ip logging
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): remove duplicate args
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): fix test
  apps/backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat(be): select publication of judge results
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/migrations/20240725120844_add_is_judge_result_visible_field_to_contest/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
Due: eslint, prettier

chore(be): return including enable-copy-paste (#1867)
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
Due: eslint, prettier

fix(ci): disable backend e2e-test on cd-stage
  .github/workflows/cd-stage.yml
  collection/client/User/Delete Own Account/Succeed.bru
Due: prettier

refactor(be): create new service classes
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.module.ts
Due: eslint, prettier

refactor(be): move class and interfaces to appropriate dir
  apps/backend/apps/client/src/submission/class/create-submission.dto.ts
  apps/backend/apps/client/src/submission/class/judge-request.ts
  apps/backend/apps/client/src/submission/class/judger-response.dto.ts
  apps/backend/apps/client/src/submission/interface/testcase.dto.ts
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

refactor(be): move test files to test dir
  apps/backend/apps/client/src/submission/test/submission.controller.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

fix(fe): update withSentryconfig usage
  apps/frontend/next.config.js
Due: eslint, prettier

fix(fe): fix sentry initialization
  apps/frontend/instrumentation.ts
  apps/frontend/next.config.js
  apps/frontend/sentry.edge.config.ts
  apps/frontend/sentry.server.config.ts
Due: eslint, prettier

fix(ci): disable backend e2e-test on cd-stage (#1871)
  .github/workflows/cd-stage.yml
  collection/client/User/Delete Own Account/Succeed.bru
Due: prettier

fix(fe): resolve error in non-contest problem by adding initial value
  apps/frontend/components/EditorResizablePanel.tsx
Due: eslint, prettier
