Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

chore(fe): remove signup test
  apps/frontend/playwright/tests/auth/signup.test.ts
Due: eslint, prettier

fix(fe): remove unnecessary line
  apps/frontend/playwright/pages/auth.page.ts
Due: eslint, prettier

fix(iris): decopiling sandbox
  apps/iris/main.go
  apps/iris/src/handler/adaptor.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/handler/resultCode.go
  apps/iris/src/router/response.go
  apps/iris/src/router/router.go
  apps/iris/src/service/sandbox/compiler.go
  apps/iris/src/service/sandbox/judger/compiler.go
  apps/iris/src/service/sandbox/judger/exec.go
  apps/iris/src/service/sandbox/judger/impl.go
  apps/iris/src/service/sandbox/judger/langConfig.go
  apps/iris/src/service/sandbox/judger/runner.go
  apps/iris/src/service/sandbox/judger/statusCode.go
  apps/iris/src/service/sandbox/langConfig.go
  apps/iris/src/service/sandbox/runner.go
  apps/iris/src/service/sandbox/sandbox.go
  apps/iris/src/service/sandbox/statusCode.go
Due: none

chore(fe): remove globals option in vitest config
  apps/frontend/vitest.config.ts
Due: eslint, prettier

fix(iris): apply anonymous field
  apps/iris/src/service/sandbox/judger/impl.go
Due: none

fix(iris): remove unused files
  apps/iris/src/handler/adaptor.go
Due: none

fix(be): modify logic for updating userIp when submitting test
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(fe): improve problem text editor
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/CommandsList.tsx
  apps/frontend/app/admin/_components/tiptap/InsertBar.tsx
  apps/frontend/app/admin/_components/tiptap/TextStyleBar.tsx
  apps/frontend/app/admin/_components/tiptap/commands.tsx
  apps/frontend/app/admin/_components/tiptap/items.tsx
  apps/frontend/app/admin/_components/tiptap/renderItems.tsx
  apps/frontend/app/admin/_components/tiptap/styles.css
  apps/frontend/components/InsertDialog.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(fe): setup @testing-library/jest-dom in vitest
  apps/frontend/package.json
  apps/frontend/vitest.setup.ts
  pnpm-lock.yaml
Due: eslint, prettier

chore(fe): remove mathematics extension
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier

chore(fe): specify width and height for image
  apps/frontend/components/ContestStatusTimeDiff.tsx
Due: eslint, prettier

chore(fe): remove mathematics from code
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
Due: eslint, prettier

chore(fe): add test code for ContestStatusTimeDiff.test.tsx
  apps/frontend/components/ContestStatusTimeDiff.test.tsx
Due: eslint, prettier

refactor(fe): extract widthClass logic into a reusable function
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Due: eslint, prettier

chore: fix typo in prisma schema
  apps/backend/prisma/migrations/20250203082532_add_test_submission_tables/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(fe): contest main page main carousel first draft
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainCarousel.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainCover.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestSubBanner.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/public/banners/trophy-main.png
  apps/frontend/public/banners/trophy-sub.png
Due: eslint, prettier

feat(fe): add backdrop blur for GNB
  apps/frontend/app/(client)/(main)/_components/Header.tsx
Due: eslint, prettier

fix(fe): change text color for second contest main carousel button
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainCarousel.tsx
Due: eslint, prettier

feat(fe): api for most recent contest
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainCarousel.tsx
Due: eslint, prettier

chore: delete white space
  apps/backend/prisma/schema.prisma
Due: none

fix: disable sentry
  apps/frontend/next.config.js
Due: eslint, prettier

feat(fe): implement new Recent Notice design in Course Detail Page
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/RecentNotice.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

feat(fe): implement new Recent Update design in Course Detail Page
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/RecentUpdate.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

feat(fe): create course info box in Course Detail Page
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseInfoBox.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/RecentUpdate.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/public/icons/calendar-default.svg
  apps/frontend/public/icons/person.svg
Due: eslint, prettier

chore(fe): uncomment status of Assignemnt line for resolving CI problem
  apps/frontend/types/type.ts
Due: eslint, prettier

chore(fe): add status field for assignment in OngoingAssignment.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/OngoingAssignments.tsx
Due: eslint, prettier

fix(fe): change contest main cover component name
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainBanner.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestSubBanner.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
Due: eslint, prettier

Update apps/frontend/app/(client)/(main)/course/[courseId]/_components/RecentNotice.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/RecentNotice.tsx
Due: eslint, prettier

feat(fe): add page representation for main banner
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainBanner.tsx
Due: eslint, prettier

chore(fe): apply all comments
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseInfoBox.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/OngoingAssignments.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Sidebar.tsx
  apps/frontend/app/(client)/(main)/course/_components/Cover.tsx
  apps/frontend/public/icons/quarter-ellipse.svg
Due: eslint, prettier

chore(fe): change width for main banner description
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainBanner.tsx
Due: eslint, prettier

fix(fe): fix vitest file range using exclude
  apps/frontend/vitest.config.ts
Due: eslint, prettier

fix(fe): fix lint
  apps/frontend/vitest.config.ts
Due: eslint, prettier

fix(fe): edit contest table and add status column
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
Due: eslint, prettier

feat(be): log test submission data in db (#2316)
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20250203082532_add_test_submission_tables/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

fix: use type inference
  apps/iris/main.go
  apps/iris/src/service/sandbox/judger/impl.go
Due: none

fix(fe): change searchbar icon and border radius
  apps/frontend/app/(client)/(main)/_components/SearchBar.tsx
Due: eslint, prettier

fix(be): using npm when install pnpm on build image
  apps/backend/Dockerfile
Due: none

fix(fe): fix login playwright (#2346)
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/pages/auth.page.ts
  apps/frontend/playwright/tests/auth/login.spec.ts
  apps/frontend/playwright/tests/auth/login.test.ts
  apps/frontend/playwright/tests/auth/signup.test.ts
  apps/frontend/vitest.config.ts
Due: eslint, prettier

fix(fe): change filter icon size
  apps/frontend/app/(client)/(main)/_components/SearchBar.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTitleFilter.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
