Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

fix(be): seperate contest problem controller
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.controller.spec.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.module.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

docs(be): re-write bruno for get problems & submissions
  collection/client/Problem/Get Contest Problem by ID/Succeed.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Registered but not started.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Unregistered and not finished.bru
  collection/client/Problem/Get Contest Problem by ID/[404] Nonexistent Contest Problem.bru
  collection/client/Problem/Get Contest Problems/Succeed.bru
  collection/client/Problem/Get Contest Problems/[403] Registered but Not Started.bru
  collection/client/Problem/Get Contest Problems/[403] Unregistered and Not Finished.bru
  collection/client/Problem/Get Contest Problems/[404] Nonexistent Contest.bru
  collection/client/Problem/Get problem by ID/Succeed.bru
  collection/client/Problem/Get problems/Succeed.bru
  collection/client/Submission/Get Contest Submissions/Succeed.bru
  collection/client/Submission/Get Contest Submissions/[404] Nonexistent Problem.bru
  collection/client/Submission/Get Submission by ID/Succeed.bru
  collection/client/Submission/Get Submission by ID/[404] Nonexistent Problem.bru
  collection/client/Submission/Get Submission by ID/[404] Nonexistent Submission.bru
  collection/client/login.js
Due: eslint, prettier

fix: import only used languages
  frontend-client/components/CodeEditor.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): add filter for userID Search
  frontend-client/app/admin/problem/[id]/_components/Columns.tsx
  frontend-client/app/admin/problem/[id]/_components/DataTable.tsx
Due: none

chore(fe): rename hook files
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  frontend-client/app/problem/[problemId]/submission/page.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/lib/pagination.ts
  frontend-client/lib/storage.ts
Due: eslint, prettier

chore(be): allow local frontend server to request
  backend/apps/client/src/main.ts
Due: eslint, prettier

feat(fe): handle when request is not successful
  frontend-client/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(fe): redesign locked page when submission cannot be accessed
  frontend-client/app/problem/[problemId]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  frontend-client/app/problem/[problemId]/submission/_components/dataIfError.ts
Due: eslint, prettier

fix(infra): expose email auth header with cors request
  Caddyfile
Due: none

fix(fe): fix visualization
  frontend-client/components/TextEditor.tsx
Due: none

feat(fe): change input output whitespace visible (#1511)
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/EditorDescription.tsx
Due: none

feat(fe): apply pretendard font
  frontend-client/app/PretendardVariable.woff2
  frontend-client/app/layout.tsx
  frontend-client/tailwind.config.ts
Due: eslint, prettier

feat: enable turbopack
  frontend-client/next.config.js
Due: eslint, prettier

fix(infra): expose email auth header with cors request (#1520)
  Caddyfile
Due: none

feat(fe): apply pretendard font (#1523)
  frontend-client/app/PretendardVariable.woff2
  frontend-client/app/layout.tsx
  frontend-client/next.config.js
  frontend-client/tailwind.config.ts
Due: eslint, prettier

chore(be): add alt property to return type of image-upload api
  backend/apps/admin/src/problem/model/image-url.output.ts
  backend/apps/admin/src/problem/model/image.output.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Upload Image/Succeed.bru
Due: eslint, prettier

revert: this revert the commit ac747b7beb47d83e9030ac4042f8e6938b107b1f.
  backend/prisma/seed.ts
Due: eslint, prettier

chore(be): declare user id in problem spec
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix: show submission list when not logged in (#1521)
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/main.ts
  backend/apps/client/src/problem/problem.controller.spec.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.module.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/submission/submission.controller.spec.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.module.ts
  backend/apps/client/src/submission/submission.service.ts
  collection/client/Problem/Get Contest Problem by ID/Succeed.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Registered but not started.bru
  collection/client/Problem/Get Contest Problem by ID/[403] Unregistered and not finished.bru
  collection/client/Problem/Get Contest Problem by ID/[404] Nonexistent Contest Problem.bru
  collection/client/Problem/Get Contest Problems/Succeed.bru
  collection/client/Problem/Get Contest Problems/[403] Registered but Not Started.bru
  collection/client/Problem/Get Contest Problems/[403] Unregistered and Not Finished.bru
  collection/client/Problem/Get Contest Problems/[404] Nonexistent Contest.bru
  collection/client/Problem/Get problem by ID/Succeed.bru
  collection/client/Problem/Get problems/Succeed.bru
  collection/client/Submission/Get Contest Submissions/Succeed.bru
  collection/client/Submission/Get Contest Submissions/[404] Nonexistent Problem.bru
  collection/client/Submission/Get Submission by ID/Succeed.bru
  collection/client/Submission/Get Submission by ID/[404] Nonexistent Problem.bru
  collection/client/Submission/Get Submission by ID/[404] Nonexistent Submission.bru
  collection/client/login.js
  frontend-client/app/(main)/contest/[contestId]/@tabs/problem/page.tsx
  frontend-client/app/problem/[problemId]/submission/[submissionId]/page.tsx
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  frontend-client/app/problem/[problemId]/submission/_components/dataIfError.ts
  frontend-client/app/problem/[problemId]/submission/page.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/lib/pagination.ts
  frontend-client/lib/storage.ts
  frontend-client/types/type.ts
Due: eslint, prettier

fix(be): change create tags mutation to create tag mutation
  backend/apps/admin/src/problem/problem-tag.resolver.ts
Due: eslint, prettier

fix(be): change create tags func to create tag func
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

test(be): fix the test code for the updated service code
  backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): change the tag name
  backend/apps/admin/src/problem/mock/mock.ts
Due: eslint, prettier

fix(be): fix the return type of create tag mutation
  backend/apps/admin/src/problem/problem-tag.resolver.ts
Due: eslint, prettier

docs(be): update the bruno graphql docs
  collection/admin/Problem/Create Tags/Succeed.bru
  collection/admin/Problem/Create a Tag/CONFLICT.bru
  collection/admin/Problem/Create a Tag/Succeed.bru
  collection/admin/Problem/Delete a Tag/Succeed.bru
  collection/admin/Problem/Update a Tag/CONFLICT.bru
  collection/admin/Problem/Update a Tag/Succeed.bru
Due: none

fix: load parser at once
  frontend-client/components/CodeEditor.tsx
Due: none

feat(fe): add reset password page
  frontend-client/components/auth/FindUserId.tsx
  frontend-client/components/auth/RecoverAccount.tsx
  frontend-client/components/auth/ResetPassword.tsx
  frontend-client/components/auth/ResetPasswordEmailVerify.tsx
Due: none

fix: add credential include, change fetcher to fetch
  frontend-client/components/auth/ResetPassword.tsx
  frontend-client/components/auth/ResetPasswordEmailVerify.tsx
Due: none

chore(infra): rename testcase to storage
  .devcontainer/devcontainer.json
  .gitpod.yml
  docker-compose.yml
Due: prettier

refactor: change to record
  frontend-client/components/CodeEditor.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(infra): add env for media bucket
  .env.development
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.module.ts
  backend/apps/admin/src/storage/storage.service.ts
  iris/src/loader/s3/source.go
  package.json
  scripts/init-storage.ts
  scripts/setup.sh
Due: eslint, prettier, gofmt

fix(be): delete unnecessary exception catch
  backend/apps/admin/src/problem/problem-tag.resolver.ts
Due: eslint, prettier

docs: update bruno docs
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
Due: none

docs: bruno assert
  collection/admin/Announcement/Create Announcement/Error: Duplicated Announcement.bru
  collection/admin/Announcement/Create Announcement/Error: Invalid Problem ID.bru
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Delete Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Delete Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Get Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcements/Succeed.bru
  collection/admin/Announcement/Update Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
Due: none

chore: update test code
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

docs: write bruno docs
  collection/admin/Announcement/Create Announcement/Error: Duplicated Announcement.bru
  collection/admin/Announcement/Create Announcement/Error: Invalid Problem ID.bru
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Delete Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Delete Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Get Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcements/Succeed.bru
  collection/admin/Announcement/Update Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
Due: none

fix: resolve lockfile
  pnpm-lock.yaml
Due: prettier

fix: pnpm-lock
  pnpm-lock.yaml
Due: prettier

fix(be): delete update tag mutation
  backend/apps/admin/src/problem/problem-tag.resolver.ts
Due: eslint, prettier

fix(be): delete update tag function
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
