Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

refactor(be): add CourseResolver and CourseService to GroupModule providers
  apps/backend/apps/admin/src/group/group.module.ts
Due: eslint, prettier

feat(be): implement Course Q&A management with create, update, delete, and retrieval functionalities
  apps/backend/apps/admin/src/course/model/course-qna.input.ts
  apps/backend/apps/client/src/course/course.controller.ts
  apps/backend/apps/client/src/course/course.service.ts
  apps/backend/apps/client/src/group/dto/qna.dto.ts
  apps/backend/apps/client/src/group/group.controller.ts
  apps/backend/apps/client/src/group/group.module.ts
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

refactor(be): remove CourseModule import from admin and client modules
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/client/src/app.module.ts
Due: eslint, prettier

refactor(be): remove Course module and related files from admin and client
  apps/backend/apps/admin/src/course/course.module.ts
  apps/backend/apps/admin/src/course/course.resolver.ts
  apps/backend/apps/admin/src/course/course.service.ts
  apps/backend/apps/admin/src/course/model/course-qna.input.ts
  apps/backend/apps/client/src/course/course.controller.ts
  apps/backend/apps/client/src/course/course.module.ts
  apps/backend/apps/client/src/course/course.service.spec.ts
  apps/backend/apps/client/src/course/course.service.ts
Due: eslint, prettier

refactor(be): update CourseController constructor to include CourseService
  apps/backend/apps/client/src/group/group.controller.ts
Due: eslint, prettier

test(be): add test code
  apps/backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

chore(be): lint error
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

feat(fe): modify url access
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
Due: eslint, prettier

refactor(infra): group rabbitmq topology resources by domain
  infra/k8s/rabbitmq/base/check-request-queue.yaml
  infra/k8s/rabbitmq/base/check-result-queue.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/result-queue.yaml
  infra/k8s/rabbitmq/base/submission-queue.yaml
  infra/k8s/rabbitmq/base/topology-judging.yaml
  infra/k8s/rabbitmq/base/topology-plagiarism.yaml
Due: prettier

feat(fe): make sidebar on mobile
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/components/auth/MobileMenu.tsx
  apps/frontend/components/shadcn/sheet.tsx
  apps/frontend/public/icons/course-sidebar.svg
  apps/frontend/public/icons/detail-on-mobile.svg
  apps/frontend/public/icons/problem-sidebar.svg
Due: eslint, prettier

fix(be): fix error
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(infra): correct queue names in plagiarism topology configuration
  infra/k8s/rabbitmq/README.md
  infra/k8s/rabbitmq/base/topology-plagiarism.yaml
Due: prettier

feat(infra): setting rabbitMQ and minIO for plag server (#3267)
  infra/k8s/minio/tenant.yaml
  infra/k8s/rabbitmq/README.md
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/result-queue.yaml
  infra/k8s/rabbitmq/base/submission-queue.yaml
  infra/k8s/rabbitmq/base/topology-judging.yaml
  infra/k8s/rabbitmq/base/topology-plagiarism.yaml
Due: prettier

feat(fe): modify course link
  apps/frontend/components/auth/MobileMenu.tsx
Due: eslint, prettier

feat(be): implement download
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): add await on validateRequest
  apps/backend/apps/admin/src/check/check.service.ts
Due: eslint, prettier

fix(be): add await on validateRequest (#3276)
  apps/backend/apps/admin/src/check/check.service.ts
Due: eslint, prettier

chore(infra): add plag dockerfile to cd workflow
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
Due: prettier

feat(be): change client to admin
  apps/backend/apps/admin/src/problem/controllers/problem.controller.ts
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/resolvers/problem.resolver.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
Due: eslint, prettier

fix(be): add missing envs
  .envrc
  apps/iris/main.go
  apps/plag/main.go
Due: none

fix(be): change env name
  .envrc
  apps/iris/main.go
  apps/plag/main.go
Due: none

fix(be): change env name (#3279)
  .envrc
  apps/iris/main.go
  apps/plag/main.go
Due: none

chore(be): update to one problem
  apps/backend/apps/admin/src/problem/controllers/problem.controller.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
Due: eslint, prettier

feat(infra): init plag k8s configs
  infra/k8s/plag/base/configmap.yaml
  infra/k8s/plag/base/deployment.yaml
  infra/k8s/plag/base/kustomization.yaml
  infra/k8s/plag/base/namespace.yaml
  infra/k8s/plag/base/rabbitmq-credentials.yaml
  infra/k8s/plag/overlays/production/database-credentials.yaml
  infra/k8s/plag/overlays/stage/database-credentials.yaml
Due: prettier

fix(be): add error handling
  apps/backend/apps/admin/src/problem/controllers/problem.controller.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
Due: eslint, prettier

chore(be): add bruno
  collection/admin/Problem/Download Problems/Nonexistent Problem.bru
  collection/admin/Problem/Download Problems/Succeed.bru
  collection/admin/Problem/Download Problems/folder.bru
Due: none

fix(fe): add headerstyle to testcases column
  apps/frontend/app/admin/_components/table/DataTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
Due: eslint, prettier

fix(fe): modify time status design
  apps/frontend/components/ContestStatusTimeDiff.tsx
Due: eslint, prettier

fix(fe): adjust changes
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/components/AssignmentStatus.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/public/icons/key-blue.svg
Due: eslint, prettier

fix(fe): modify time status design (#3281)
  apps/frontend/components/ContestStatusTimeDiff.tsx
Due: eslint, prettier

chore(infra): set base deployment
  infra/k8s/plag/base/configmap.yaml
  infra/k8s/plag/base/deployment.yaml
Due: prettier

chore(infra): set without aws credential
  infra/k8s/iris/overlays/stage/configmap.yaml
  infra/k8s/plag/base/deployment.yaml
  infra/k8s/plag/overlays/production/kustomization.yaml
  infra/k8s/plag/overlays/stage/configmap.yaml
  infra/k8s/plag/overlays/stage/kustomization.yaml
Due: prettier

feat(infra): add IAM user and policies for plag on k8s
  infra/aws/k8s-iam/admin-api.tf
  infra/aws/k8s-iam/plag.tf
Due: terraformfmt

feat(infra): add SealedSecret for AWS credentials in stage and production overlays
  infra/aws/k8s-iam/plag.tf
  infra/k8s/plag/overlays/production/aws-credentials.yaml
  infra/k8s/plag/overlays/stage/aws-credentials.yaml
Due: prettier, terraformfmt

feat(infra): add plag-user and AWS credentials for minio
  infra/k8s/minio/tenant.yaml
  infra/k8s/minio/users/plag.yaml
  infra/k8s/plag/overlays/stage/aws-credentials.yaml
Due: prettier

feat(infra): update IAM policies for plag user and change namespace in SealedSecret
  infra/aws/k8s-iam/plag.tf
  infra/k8s/minio/users/plag.yaml
Due: prettier, terraformfmt

chore(infra): remove OTEL environment variable placeholder from deployment files
  infra/k8s/iris/base/deployment.yaml
  infra/k8s/plag/base/deployment.yaml
Due: prettier

chore(infra): modify replicas
  infra/k8s/plag/base/deployment.yaml
  infra/k8s/plag/overlays/stage/kustomization.yaml
Due: prettier

fix(fe): redesign contest announcement tab
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/_components/InvitationModal.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/CreateContestAnnouncement.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/DropDownScrollBar.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/ProblemDropdown.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/ProblemSelector.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/UpdateHistoryBox.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/public/icons/arrow-left-black.svg
  apps/frontend/public/icons/bullet.svg
  apps/frontend/public/icons/calendar_new.svg
  apps/frontend/public/icons/checkbox_gray.svg
  apps/frontend/public/icons/checkbox_white.svg
  apps/frontend/public/icons/copy_white.svg
Due: eslint, prettier
