Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

feat(fe): add carousel component (#137)
  frontend/src/home/components/Carousel.story.vue
  frontend/src/home/components/Carousel.vue
Due: eslint, prettier

chore(fe): simplify code
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

chore(fe): resolve type problem
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

fix: upgrade @vite/plugin-vue to v3
  frontend/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): Add PassWordFindModal- Organism
  frontend/src/common/components/Organism/PasswordFindModal.story.vue
  frontend/src/common/components/Organism/PasswordFindModal.vue
Due: eslint, prettier

feat(fe): Add LogInModal- Organism
  frontend/src/common/components/Organism/LogInModal.story.vue
  frontend/src/common/components/Organism/LogInModal.vue
Due: eslint, prettier

feat(fe): Add SignUpModal- Organism
  frontend/src/common/components/Organism/SignUpModal.story.vue
  frontend/src/common/components/Organism/SignUpModal.vue
Due: eslint, prettier

chore(fe): 컴포넌트 수정
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Molecule/Modal.story.vue
  frontend/src/common/components/Molecule/Modal.vue
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

chore(fe): carousel 추가
  frontend/src/home/pages/index.vue
Due: eslint, prettier

Revert "chore(fe): carousel 추가"
  frontend/src/home/pages/index.vue
Due: eslint, prettier

chore(fe): modal 컴포넌트 완성
  frontend/src/common/components/Molecule/Modal.vue
Due: eslint, prettier

chore(fe): 헤더에 logIn, passwordFind, signUp 컴포넌트 추가
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

feat(fe): Organism에 LogInModal추가
  frontend/src/common/components/Organism/LogInModal.vue
Due: eslint, prettier

feat(fe): Organism에 PasswordFindModal 추가
  frontend/src/common/components/Organism/PasswordFindModal.vue
Due: eslint, prettier

feat(fe): Organism에 SignUpModal 추가
  frontend/src/common/components/Organism/SignUpModal.vue
Due: eslint, prettier

chore(fe): carousel 추가 및 header 컴포넌트 수정
  frontend/src/home/pages/index.vue
Due: eslint, prettier

chore(fe): 사용되지 않는 import 제거
  frontend/src/home/pages/index.vue
Due: eslint, prettier

fix(be): fix schema
  backend/prisma/migrations/20220814092738_remove_display_id_unique_constraint/migration.sql
  backend/prisma/migrations/20220814094300_use_enum_for_problem_difficulty/migration.sql
  backend/prisma/schema.prisma
Due: none

fix(be): call method of user class in group-member guard
  backend/src/group/guard/group-member.guard.ts
Due: eslint, prettier

fix(be): use boolean for prisma include option
  backend/src/problem/problem.repository.ts
Due: eslint, prettier

test(be): fix problem service tests
  backend/src/problem/mock/problem.mock.ts
  backend/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): import usermodule in problem module
  backend/src/problem/problem.module.ts
Due: eslint, prettier

chore(be): add swagger dependencies
  backend/package.json
  pnpm-lock.yaml
Due: prettier

feat(be): apply swagger on main app
  backend/src/main.ts
Due: eslint, prettier

chore: remove vite port setting on gitpod
  .gitpod.yml
Due: prettier

chore: remove vite websocket setting for gitpod
  frontend/histoire.config.ts
  frontend/vite.config.ts
Due: eslint, prettier

Revert "ci: lint pull request title with commitlint"
  .github/workflows/ci.yml
Due: prettier

ci: lint pull request title
  .github/workflows/ci.yml
Due: prettier

fix: resolve broken lockfile
  pnpm-lock.yaml
Due: prettier

chore(be): add prisma language enum
  backend/prisma/migrations/20220814165411_add_problem_language_enum/migration.sql
  backend/prisma/schema.prisma
Due: none

feat(be): implement create public problem submission
  backend/src/submission/dto/createPublicProblemSubmission.dto.ts
  backend/src/submission/submission.controller.ts
  backend/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): add swagger plugin to nest-cli compileroptions
  backend/nest-cli.json
Due: none

chore(fe): connect switch with paginationtable
  frontend/src/common/components/Molecule/Switch.vue
  frontend/src/problem/pages/index.vue
Due: eslint, prettier

chore(fe): simplify problemlistwithouttag
  frontend/src/problem/pages/index.vue
Due: eslint, prettier

feat(fe): add progresscard url
  frontend/src/common/components/Molecule/ProgressCard.vue
  frontend/src/problem/pages/index.vue
Due: eslint, prettier

chore(fe): fix typescript problem
  frontend/src/problem/pages/index.vue
Due: eslint, prettier

chore(fe): fix footer disposition
  frontend/src/common/components/Organism/Footer.vue
Due: eslint, prettier

feat(fe): add App.vue
  frontend/src/App.vue
Due: eslint, prettier

﻿chore: resolve conflicts caused by rebasing
  backend/package.json
  pnpm-lock.yaml
Due: prettier

﻿chore: add @types/nodemailer dependancy by pnpm
  backend/package.json
  pnpm-lock.yaml
Due: prettier
