Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix: rollback go file
  iris/go.mod
  iris/go.sum
  iris/src/service/sandbox/langConfig.go
Due: gofmt

chore(fe): log fetched data
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix: fix acrate percentage
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
Due: none

fix(fe): fix type error
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(fe): implement delete feature in data table
  frontend-client/components/DataTableAdmin.tsx
Due: none

fix: delete cursor
  frontend-client/app/admin/problem/page.tsx
Due: none

fix: create problem page
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
Due: none

fix: add scroll bar
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none

fix(fe): make compatible with code editor language types (#1427)
  frontend-client/components/Codeeditor.tsx
  frontend-client/components/EditorHeader.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/stores/editor.ts
  frontend-client/types/type.ts
Due: eslint, prettier

fix(fe): fix solved percentage (#1449)
  frontend-client/app/(main)/_components/ProblemCard.tsx
  frontend-client/app/(main)/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
Due: none

feat(fe): add submission skeleton
  frontend-client/app/problem/[problemId]/_components/SubmissionLoading.tsx
  frontend-client/app/problem/[problemId]/submission/loading.tsx
Due: none

fix(fe): fix problem list cursor, add ScrollBar for horizontal area (#1455)
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
Due: none

feat(be): find username by emailaddress
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.ts
  collection/client/User/Get Username by Email/Succeed.bru
  collection/client/User/Get Username by Email/[404] Not Found.bru
Due: eslint, prettier

fix(fe): refactor delete with promise all
  frontend-client/components/DataTableAdmin.tsx
Due: none

feat(fe): implement delete feature in data table (#1452)
  frontend-client/components/DataTableAdmin.tsx
Due: none

test(fe): show error message
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix: fix professor's recommendation more button link
  frontend-client/app/(main)/page.tsx
Due: none

test(fe): show error message (#1457)
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix(fe): fix typo in api endpoint
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

feat(fe): add submission detail skeleton
  frontend-client/app/problem/[problemId]/submission/[submissionId]/_components/SubmissionDetailLoading.tsx
  frontend-client/app/problem/[problemId]/submission/[submissionId]/loading.tsx
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionLoading.tsx
  frontend-client/app/problem/[problemId]/submission/loading.tsx
Due: none

fix(fe): fix typo in api endpoint (#1461)
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix(fe): refactor loading components
  frontend-client/app/problem/[problemId]/_components/DescriptionLoading.tsx
  frontend-client/app/problem/[problemId]/loading.tsx
  frontend-client/app/problem/[problemId]/submission/[submissionId]/_components/SubmissionDetailLoading.tsx
  frontend-client/app/problem/[problemId]/submission/[submissionId]/loading.tsx
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionLoading.tsx
  frontend-client/app/problem/[problemId]/submission/loading.tsx
Due: none

feat(be): find username by emailaddress (#1459)
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.ts
  collection/client/User/Get Username by Email/Succeed.bru
  collection/client/User/Get Username by Email/[404] Not Found.bru
Due: eslint, prettier

fix: remove state
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/OptionSelect.tsx
Due: none

test(fe): log error response from fetcher
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix(fe): change type of error response
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix: refactor sample creation in problem page
  frontend-client/app/admin/problem/[id]/page.tsx
Due: none

test(fe): log error response from fetcher (#1463)
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix(fe): fix professor's recommendation more button link (#1458)
  frontend-client/app/(main)/page.tsx
Due: none

chore: take 20 to 200
  frontend-client/app/admin/problem/page.tsx
Due: none

fix(fe): fix update problem bug (#1442)
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/app/admin/problem/utils.ts
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

feat(fe): configure sentry monitor
  frontend-client/.gitignore
  frontend-client/app/global-error.tsx
  frontend-client/next.config.js
  frontend-client/package.json
  frontend-client/sentry.client.config.ts
  frontend-client/sentry.edge.config.ts
  frontend-client/sentry.server.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix: add required prop
  frontend-client/app/global-error.tsx
Due: none

feat: add sentry error example
  frontend-client/app/(main)/error.tsx
  frontend-client/app/api/sentry-example-api/route.ts
  frontend-client/app/global-error.tsx
  frontend-client/app/sentry-example-page/page.tsx
Due: eslint, prettier

fix: do not create api
  frontend-client/app/api/sentry-example-api/route.ts
  frontend-client/app/sentry-example-page/page.tsx
Due: eslint, prettier

refactor(be): aggregate exception filters
  backend/apps/admin/src/admin.module.ts
  backend/apps/client/src/app.module.ts
  backend/libs/exception/src/filter.ts
Due: eslint, prettier

fix(be): improper error message
  backend/apps/client/src/workbook/workbook.service.ts
Due: eslint, prettier

chore(fe): add todo comment in use pagination
  frontend-client/lib/usePagination.ts
Due: eslint, prettier

fix(be): prisma not found error handling
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

feat(fe): add pagination to submission list (#1440)
  frontend-client/app/problem/[problemId]/submission/page.tsx
  frontend-client/components/EditorResizablePanel.tsx
  frontend-client/components/Paginator.tsx
  frontend-client/components/ui/pagination.tsx
  frontend-client/lib/usePagination.ts
  frontend-client/tailwind.config.ts
Due: eslint, prettier
