Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat(fe): header for admin problem list page
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
Due: none

fix: fix href for edit page
  frontend-client/components/DataTableAdmin.tsx
Due: none

feat: add field resolvers
  backend/apps/admin/src/problem/problem.module.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/problem/problemTag.resolver.ts
Due: eslint, prettier

test: add test cases
  backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

test: add seed data
  backend/prisma/seed.ts
Due: eslint, prettier

refactor: add PR review comments
  backend/apps/admin/src/problem/problem-tag.resolver.ts
  backend/apps/admin/src/problem/problem.module.ts
  collection/admin/Problem/Get Problems/Succeed.bru
Due: eslint, prettier

docs: add selection set for getProblems query
  collection/admin/Problem/Get Problems/Succeed.bru
Due: none

fix(be): add problemTag and problemTestcase to Admin Problem GET API (#1397)
  backend/apps/admin/src/problem/problem-tag.resolver.ts
  backend/apps/admin/src/problem/problem.module.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/prisma/seed.ts
  collection/admin/Problem/Get Problems/Succeed.bru
Due: eslint, prettier

chore(be): remove useless comment
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): replace problem order pipe from zodvalidator (#1310)
  backend/apps/client/src/problem/enum/problem-order.enum.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/problem/schema/problem-order.schema.ts
  backend/libs/pipe/src/index.ts
  backend/libs/pipe/src/problem-order.pipe.ts
  backend/libs/pipe/src/zod-validation.pipe.ts
Due: eslint, prettier

fix(be): delete the unnecessary comment
  backend/apps/client/src/auth/auth.service.ts
Due: eslint, prettier

fix(infra): exclude host header for traffic to amplify
  infra/modules/codedang-infra/cloudfront.tf
Due: none

chore: change ecs ec2 instance name
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
Due: none

feat(fe): add language filter and update column
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableLangFilter.tsx
  frontend-client/components/DataTableTagsFilter.tsx
Due: none

feat: use useClient hook
  frontend-client/app/admin/_components/ApolloProvider.tsx
  frontend-client/app/admin/layout.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/lib/utils.ts
Due: eslint, prettier

chore: only ban importing gql from apollo/client
  frontend-client/.eslintrc.js
Due: eslint, prettier

fix(infra): exclude host header for traffic to amplify (#1399)
  infra/modules/codedang-infra/cloudfront.tf
  infra/modules/codedang-infra/ecs-api-asg.tf
  infra/modules/codedang-infra/ecs-iris-asg.tf
Due: none

feat(fe): add contest data table
  frontend-client/app/admin/contest/_components/Columns.tsx
  frontend-client/app/admin/contest/page.tsx
Due: none

feat(fe): add create button, and title
  frontend-client/app/admin/contest/page.tsx
Due: none

feat(fe): add edit problem page (#1376)
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/_components/Lable.tsx
  frontend-client/app/admin/problem/utils.ts
  frontend-client/components/CheckboxSelect.tsx
  frontend-client/components/OptionSelect.tsx
  frontend-client/components/TagsSelect.tsx
  frontend-client/components/TextEditor.tsx
  frontend-client/types/type.ts
Due: eslint, prettier

fix(fe): fix css style
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
Due: none

feat(fe): add cliploader for notice infinite table
  frontend-client/app/(main)/notice/_components/NoticeInfiniteTable.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat: implement problem infinite table
  frontend-client/app/(main)/problem/_components/ProblemInfiniteTable.tsx
  frontend-client/app/(main)/problem/page.tsx
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

fix: disable switch button for later
  frontend-client/app/admin/problem/_components/Columns.tsx
Due: none

feat(fe): header for admin problem list page (#1395)
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/app/admin/problem/page.tsx
  frontend-client/components/DataTableAdmin.tsx
  frontend-client/components/DataTableLangFilter.tsx
  frontend-client/components/DataTableTagsFilter.tsx
Due: none

chore(fe): add loading state for problem
  frontend-client/app/(main)/problem/_components/ProblemInfiniteTable.tsx
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

feat: add session storage to implement scroll saving
  frontend-client/components/DataTable.tsx
Due: none

fix: fix scroll saving
  frontend-client/components/DataTable.tsx
Due: none

feat(infra): add ECS tasks for log routing to Loki (#1213)
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  infra/modules/codedang-infra/variables.tf
Due: none

feat: implement contest infinite table
  frontend-client/app/(main)/contest/_components/Columns.tsx
  frontend-client/app/(main)/contest/_components/ContestInfiniteTable.tsx
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

feat: add searchbar, switch button
  frontend-client/app/(main)/contest/_components/ContestInfiniteTable.tsx
  frontend-client/app/(main)/contest/_components/SwitchButton.tsx
  frontend-client/app/(main)/contest/page.tsx
  frontend-client/components/SearchBar.tsx
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

chore: change default take value
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

chore: delete previous tables
  frontend-client/app/(main)/contest/_components/FinishedContestTable.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
Due: none

fix: fix status type
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

fix: fix finished data type
  frontend-client/lib/useInfiniteScroll.ts
Due: eslint, prettier

feat: add total number of problems
  frontend-client/app/(main)/problem/_components/ProblemInfiniteTable.tsx
  frontend-client/app/(main)/problem/page.tsx
Due: none

feat(fe): add participants to gql query
  frontend-client/app/admin/contest/page.tsx
Due: none

fix: resolve invalid type
  backend/apps/client/src/submission/mock/problem.mock.ts
Due: eslint, prettier

feat(fe): add isvisible field to problem
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
Due: none

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
