Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(infra): make skku-network-proxy terraform configuration
  apps/infra/stage/skku-network-proxy/terraform-configuration/.terraform.lock.hcl
  apps/infra/stage/skku-network-proxy/terraform-configuration/README.md
  apps/infra/stage/skku-network-proxy/terraform-configuration/backend.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/key_pair.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/main.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/modules/key_pair/key_pair.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/modules/key_pair/main.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/modules/key_pair/variables.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/variables.tf
Due: terraformfmt

fix(infra): fix tf resource checking
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

fix(infra): fix terraform existing resource checking (#2587)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

fix(infra): fix db username mismatch and trim rc workflows
  .github/workflows/rc-build-image.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/variables.tf
Due: prettier, terraformfmt

fix(be): rename return value (#2585)
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  apps/backend/apps/admin/src/user/model/creationPermission.model.ts
  apps/backend/apps/admin/src/user/model/user.output.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.ts
  collection/admin/User/Update Creation Permission/Succeed.bru
  collection/admin/User/Update Creation Permission/folder.bru
Due: eslint, prettier

fix(infra): fix db username mismatch and trim rc workflows
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/variables.tf
Due: prettier, terraformfmt

fix(infra): fix rc workflow and rabbitmq username mismatch (#2588)
  .github/workflows/rc-build-image.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/variables.tf
Due: prettier, terraformfmt

feat(fe): add run button on editor-header
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/RunnerTab.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
  apps/frontend/libs/constants.ts
Due: eslint, prettier

fix(fe): save code before run
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
Due: eslint, prettier

chore(fe): replace multiple if statements with switch statement
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
Due: eslint, prettier

chore(fe): move constants
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
  apps/frontend/libs/constants.ts
Due: eslint, prettier

fix(chore): move types
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): fix code after review
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

fix(be): send submission output result (#2580)
  apps/backend/apps/admin/src/submission/model/submission-detail.output.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/prisma/seed.ts
  collection/admin/Submission/Get Submission Detail/Succeed.bru
Due: eslint, prettier

fix(be): return all problems record on admin leaderboard
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

fix(infra): fix rc-mask-db
  .github/workflows/rc-mask-db.yml
Due: prettier

fix(infra): remove db ignore attr checking exception
  .github/workflows/rc-build-image.yml
  apps/infra/rc/storage/database.tf
Due: prettier, terraformfmt

fix(infra): fix rc-mask-db workflow variable (#2591)
  .github/workflows/rc-mask-db.yml
Due: prettier

fix(infra): remove db ignore attr checking exception (#2592)
  .github/workflows/rc-build-image.yml
  apps/infra/rc/storage/database.tf
Due: prettier, terraformfmt

chore(be): add getSubmissionCount and delete uid
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): return all problems record on admin leaderboard (#2590)
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

fix(fe): camel case
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(infra): set stage-skku-proxy terraform
  apps/infra/stage/skku-network-proxy/.terraform.lock.hcl
  apps/infra/stage/skku-network-proxy/instance.tf
  apps/infra/stage/skku-network-proxy/main.tf
  apps/infra/stage/skku-network-proxy/network.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/variables.tf
  apps/infra/stage/skku-network-proxy/variables.tf
Due: terraformfmt

chore(infra): move caddyfile directory
  .github/workflows/cd-stage.yml
  apps/infra/stage/server2/Caddyfile
Due: prettier

chore(be): gql query
  collection/admin/User/Update Creation Permission/Succeed.bru
Due: none

chore(infra): use caddyfile seperately
  apps/infra/stage/skku-network-proxy/Caddyfile
  apps/infra/stage/skku-network-proxy/instance.tf
  apps/infra/stage/skku-network-proxy/main.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/backend.tf
Due: terraformfmt

feat(infra): make github action to deploy skku network proxy
  .github/workflows/skku-network-proxy-deploy.yml
  .github/workflows/skku-network-proxy-init-config.yml
  .github/workflows/stage-skku-network-proxy.yml
Due: prettier

feat(fe): new edit page and change create edit label file name
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/CreateEditContestLabel.tsx
  apps/frontend/app/admin/contest/create/_components/FreezeForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

chore(fe): get rid of unused code
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
Due: eslint, prettier

fix(iris): resolve memory limit exceeded not displayed
  .devcontainer/Dockerfile
  apps/iris/Dockerfile
  apps/iris/entrypoint.sh
  apps/iris/src/service/sandbox/judger/langConfig.go
  apps/iris/src/service/sandbox/sandbox.go
  scripts/setup.sh
Due: none

feat(fe): redesign client assignment page on progress
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/page.tsx
  apps/frontend/app/(client)/_libs/apis/assignment.ts
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/(client)/_libs/apis/problem.ts
  apps/frontend/app/(client)/_libs/queries/assignment.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): use type from type.ts
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/TotalScoreLabel.tsx
Due: eslint, prettier

refactor(fe): remove deleted fields from type AssignmentGrade
  apps/frontend/types/type.ts
Due: eslint, prettier

feat(fe): clone new assignmentAccordion
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordionNew.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
Due: eslint, prettier

fix(fe): remove week info
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordionNew.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
Due: eslint, prettier

fix(infra): seperate get skku network proxy instance ip step
  .github/workflows/skku-network-proxy-deploy.yml
Due: prettier

chore(infra): add comments
  apps/iris/entrypoint.sh
  scripts/setup.sh
Due: none

feat(fe): add Introduction to Leaderboard effect
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
Due: eslint, prettier

fix(iris): resolve memory limit exceeded not displayed (#2594)
  .devcontainer/Dockerfile
  apps/iris/Dockerfile
  apps/iris/entrypoint.sh
  apps/iris/src/service/sandbox/judger/langConfig.go
  apps/iris/src/service/sandbox/sandbox.go
  scripts/setup.sh
Due: none

feat(fe): replace week-level accordian to assignment-level
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordianNew.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordionNew.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/_libs/apis/assignment.ts
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/(client)/_libs/queries/assignment.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
