Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

chore: i
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: j
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: k
  apps/k8s/argocd/notifications.yaml
Due: prettier

feat(fe): add modal trigger
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseUploadModal.tsx
Due: eslint, prettier

chore: l
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: m
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: n
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: o
  apps/k8s/argocd/applications/frontend-preview.yaml
Due: prettier

chore: p
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: q
  apps/k8s/argocd/applications/frontend-preview.yaml
  apps/k8s/argocd/notification-secret.yaml
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: r
  apps/k8s/argocd/applications/frontend-preview.yaml
  apps/k8s/argocd/notifications.yaml
Due: prettier

chore: break frontend
  apps/frontend/Dockerfile
Due: none

Revert "chore: break frontend"
  apps/frontend/Dockerfile
Due: none

feat: add sync-running status
  apps/k8s/argocd/applications/frontend-preview.yaml
  apps/k8s/argocd/notifications.yaml
Due: prettier

feat: handle health progressing and sync complete
  apps/k8s/argocd/notifications.yaml
Due: prettier

fix(fe): fix carousel alignment across screen sizes and limit number of problem cards
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
Due: eslint, prettier

chore: rename
  apps/k8s/argocd/github-app-repo-creds.yaml
  apps/k8s/argocd/notifications-secret.yaml
Due: prettier

fix(be): resolve router conflict
  apps/backend/apps/client/src/notification/notification.controller.ts
Due: eslint, prettier

chore(be): reflect api changes and add bruno files
  apps/backend/schema.gql
  collection/client/Notification/Delete Notification/Succeed.bru
  collection/client/Notification/Get Notifications/Succeed.bru
  collection/client/Notification/Get Unread Count/Succeed.bru
  collection/client/Notification/Mark All As Read/Succeed.bru
  collection/client/Notification/Mark As Read/Succeed.bru
  collection/client/Push Subscription/Create Push Subscription/Succeed.bru
  collection/client/Push Subscription/Delete All Push Subscriptions/Succeed.bru
  collection/client/Push Subscription/Delete Push Subscription/Succeed.bru
  collection/client/Push Subscription/Get VAPID Public Key/Succeed.bru
Due: none

test(be): add test code for notification web push and resolve eslint warning
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/client/src/notification/notification.service.spec.ts
Due: eslint, prettier

chore(be): finish merge
  apps/backend/schema.gql
Due: none

fix(be): resolve errors
  apps/backend/apps/client/src/notification/notification.controller.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier

chore(be): fix gql schema error
  apps/backend/schema.gql
Due: none

fix: inject env at build time
  .github/workflows/ci.yml
  apps/frontend/Dockerfile
  apps/frontend/next.config.js
  apps/k8s/argocd/github-app-repo-creds.yaml
  apps/k8s/argocd/notifications-secret.yaml
Due: eslint, prettier

chore(be): revert unintended dependency upgrades
  pnpm-lock.yaml
Due: prettier

feat(fe): make login page
  apps/frontend/app/(client)/login/page.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/middleware.ts
Due: eslint, prettier

fix(fe): add route
  apps/frontend/components/auth/SignIn.tsx
Due: eslint, prettier

fix(be): add scoreweightnumerator, denominator in schema
  apps/backend/prisma/schema.prisma
Due: none

fix: need to redefine args
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile
  apps/k8s/frontend/base/configmap.yaml
  apps/k8s/frontend/overlays/stage/configmap.yaml
Due: prettier

fix(fe): return signin changes
  apps/frontend/app/(client)/login/page.tsx
  apps/frontend/components/auth/SignIn.tsx
Due: eslint, prettier

fix: wrong build args
  .github/workflows/ci.yml
  apps/k8s/argocd/applications/frontend-preview.yaml
  apps/k8s/argocd/notifications.yaml
Due: prettier

feat(fe): show scoreweight in assessment table (#2921)
  apps/frontend/app/admin/_components/code-editor/AssignmentProblemDropdown.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentOverallTabs.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/UpdateAssignmentProblemRecordForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
  apps/frontend/graphql/submission/queries.ts
Due: eslint, prettier

chore(fe): remove onclick
  apps/frontend/app/admin/problem/_components/TestcaseUploadModal.tsx
Due: eslint, prettier

feat(fe): implement testcase bulk upload (#2920)
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseUploadModal.tsx
  apps/frontend/components/shadcn/pagination.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(be): upload all result of plagiarism check in prisma
  apps/backend/apps/admin/src/check/check-pub.service.ts
  apps/backend/apps/admin/src/check/check-sub.service.ts
  apps/backend/apps/admin/src/check/check.module.ts
  apps/backend/apps/admin/src/check/file.service.ts
  apps/backend/apps/admin/src/check/model/check-request.ts
  apps/backend/apps/admin/src/check/model/check-result.dto.ts
  apps/backend/libs/storage/src/storage.service.ts
  apps/backend/prisma/schema.prisma
  apps/plag/src/service/check/data.go
Due: eslint, prettier

feat(fe): modify scroll bar position
  apps/frontend/app/admin/layout.tsx
Due: eslint, prettier

feat(fe): modify whether the sidebar opens or not
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
Due: eslint, prettier

fix(be): receive check result msg normally
  apps/backend/apps/admin/src/check/check-sub.service.ts
  apps/backend/apps/admin/src/check/model/check-response.dto.ts
  apps/backend/prisma/migrations/20250809144345_change_check_result_relation_to_submission/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
  apps/plag/src/connector/rabbitmq/connector.go
  apps/plag/src/handler/check-handler.go
  apps/plag/src/router/response.go
  apps/plag/src/router/router.go
  apps/plag/src/service/check/manager.go
  apps/plag/src/utils/parse_code.go
Due: eslint, prettier

feat(be): add feat to delete check result json file
  apps/backend/apps/admin/src/check/check-sub.service.ts
  apps/backend/apps/admin/src/check/file.service.ts
  apps/backend/libs/storage/src/storage.service.ts
Due: eslint, prettier

chore: disable cache
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
