Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): capitalize problem letters
  apps/frontend/app/(client)/(main)/problem/layout.tsx
Due: eslint, prettier

chore(fe): delete test page
  apps/frontend/app/(client)/(main)/test/page.tsx
Due: eslint, prettier

fix(fe): update cn function for font token (#3485)
  apps/frontend/libs/utils.ts
Due: eslint, prettier

fix(fe): erase bg-blue
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
Due: eslint, prettier

fix(fe): break down problem progress text design
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
Due: eslint, prettier

fix(fe): add modal closing feature to cancle button
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/UploadButton.tsx
Due: eslint, prettier

feat(fe): make problem create container (#3436)
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CheckerPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CollaborationPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/GeneratorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/JudgePage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateSkeletons.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/StatementPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/TestsPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/UploadButton.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ValidatorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/page.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/style.module.css
  apps/frontend/public/icons/file_gray.svg
  apps/frontend/public/icons/upload-gray.svg
  apps/frontend/public/icons/upload-white.svg
  apps/frontend/public/icons/x.svg
Due: eslint, prettier

chore(fe): rename judge page to solution page
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/JudgePage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

chore(fe): add icons
  apps/frontend/public/icons/bullet-gray.svg
  apps/frontend/public/icons/coding.svg
  apps/frontend/public/icons/info-icon-gray.svg
  apps/frontend/public/icons/trashcan2-gray.svg
Due: none

feat(fe): impl solution tab
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

feat(fe): change duplicate mechanism (no design)
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
  apps/frontend/graphql/course/mutation.ts
Due: eslint, prettier

docs(be): fix jsdoc in admin announcement
  apps/backend/apps/admin/src/announcement/announcement.service.ts
Due: eslint, prettier

docs(be): fix jsdoc in admin assignment
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

fix(fe): fix build error
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

feat(fe): make generator, checker, validator page
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CheckerPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/FileUploadSection.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/GeneratorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ValidatorPage.tsx
  apps/frontend/public/icons/trashcan2-gray.svg
  apps/frontend/public/icons/upload-blue.svg
Due: eslint, prettier

feat(ci): speed up frontend preview builds (#3489)
  .github/workflows/ci.yml
  apps/frontend/Dockerfile
Due: prettier

feat(fe): create client qna page (#3177)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaColumns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/QnaDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/[commentOrder]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/create/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
  apps/frontend/app/admin/_components/table/DataTablePagination.tsx
  apps/frontend/app/admin/course/[courseId]/_components/CourseQnaAnsweredTab.tsx
  apps/frontend/app/admin/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/course/_components/QnaTable.tsx
  apps/frontend/app/admin/course/_components/QnaTableColumns.tsx
  apps/frontend/components/Icons.tsx
  apps/frontend/public/icons/lock-gray.svg
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): change management scroll bar logic (#3482)
  apps/frontend/app/admin/course/page.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/shadcn/scroll-area.tsx
Due: eslint, prettier

chore(fe): add padding in mobile view
  apps/frontend/app/(client)/(main)/contest/page.tsx
Due: eslint, prettier

chore(fe): apply feedback and change border styles
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/FileUploadSection.tsx
Due: eslint, prettier

feat(be): add duplicate course with input parameters (#3457)
  apps/backend/apps/admin/src/group/group.resolver.ts
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/group/model/duplicate-course.input.ts
  apps/backend/schema.gql
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
  apps/frontend/graphql/course/mutation.ts
  collection/instructor/Course/Duplicate Course/Succeed.bru
Due: eslint, prettier

fix(fe): change letters
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTabs.tsx
Due: eslint, prettier

feat(fe): create problem tabs (#3481)
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTabs.tsx
  apps/frontend/app/(client)/(main)/problem/creating/page.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/app/(client)/(main)/problem/my-problem/page.tsx
  apps/frontend/components/shadcn/tabs.tsx
Due: eslint, prettier

fix(fe): fix SNB border round
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateSkeletons.tsx
Due: eslint, prettier

chore(fe): adjust vertical align of delete button
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

chore(fe): apply font token
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestHeader.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
Due: eslint, prettier

fix(fe): fix page design
  apps/frontend/app/(client)/(main)/problem/_components/ProblemInfiniteTable.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/components/shadcn/tabs.tsx
Due: eslint, prettier

chore(fe): replace bullet svg icon with p tag
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
  apps/frontend/public/icons/bullet-gray.svg
Due: eslint, prettier

chore(fe): rename ref
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

fix(fe): fix height changing bug when launch test
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

chore(fe): change order of files
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/SolutionPage.tsx
Due: eslint, prettier

fix(infra): update runner deployment in production (#3467)
  infra/k8s/runner/base/configmap.yaml
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/base/kustomization.yaml
  infra/k8s/runner/base/redis-deployment.yaml
  infra/k8s/runner/base/redis-pvc.yaml
  infra/k8s/runner/base/redis-service.yaml
  infra/k8s/runner/overlays/production/configmap.yaml
  infra/k8s/runner/overlays/production/kustomization.yaml
  infra/k8s/runner/overlays/production/redis-secret.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
  infra/k8s/runner/overlays/stage/deployment-patch.yaml
  infra/k8s/runner/overlays/stage/kustomization.yaml
Due: prettier

fix(be): modify authentication logic for assigment (#3466)
  apps/backend/apps/admin/src/assignment/assignment-problem.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

feat(fe): hide course dashboard assignment and exercise (#3465)
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
Due: eslint, prettier

fix(runner): empty enter (#3474)
  apps/runner/backend/main.go
Due: none

fix(runner): adjust echo message handling in websocket communication (#3472)
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
  apps/runner/backend/main.go
Due: eslint, prettier

fix(infra): optimize runner logic for high performance (#3469)
  apps/runner/pod-manager/pod-manager.go
  apps/runner/pod-manager/runner_state_store.go
  apps/runner/pod-manager/unit_test.go
Due: none

fix(infra): git revert - optimize runner logic for high performance (#3470)
  apps/runner/pod-manager/pod-manager.go
  apps/runner/pod-manager/runner_state_store.go
  apps/runner/pod-manager/unit_test.go
Due: none

fix(infra): restore replica and pool size (#3478)
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

fix(runner): change-pool-size-to-3 (#3476)
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier
