Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): group notice api connected (#423)
  frontend/src/user/group/components/Notice.vue
Due: eslint, prettier

chore: remove old thunder client files
  thunder-tests/_db-backup/thunderCollection.json
  thunder-tests/_db-backup/thunderEnvironment.json
  thunder-tests/_db-backup/thunderclient.json
Due: none

feat(fe): sign up validation and api connection (#574)
  backend/apps/client/src/user/user.controller.ts
  frontend/src/common/components/Atom/InputItem.vue
  frontend/src/common/components/Organism/AuthModal.vue
  frontend/src/common/components/Organism/Login.vue
  frontend/src/common/components/Organism/Signup.vue
  frontend/src/common/store/auth.ts
  pnpm-lock.yaml
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

feat(fe): add group create modal & new inivitation code submission (#623)
  frontend/src/user/group/pages/index.vue
Due: eslint, prettier

feat(fe): add group admin notice page (#628)
  frontend/src/admin/pages/[groupId]/notice/index.vue
Due: eslint, prettier

feat(fe): add group admin contest list (#611)
  frontend/src/admin/pages/[groupId]/contest/index.vue
  frontend/tailwind.config.ts
Due: eslint, prettier

feat(be): add storage module to admin app
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.module.ts
  backend/apps/admin/src/storage/storage.service.spec.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/init-testcase.ts
  backend/package.json
  pnpm-lock.yaml
  scripts/setup.sh
Due: eslint, prettier

chore(be): upload with specified content type
  backend/apps/admin/src/storage/content.type.ts
  backend/apps/admin/src/storage/storage.service.ts
Due: eslint, prettier

fix(be): fix storage service test
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.service.spec.ts
  scripts/setup.sh
Due: eslint, prettier

feat: add save button
  frontend/src/user/group/pages/index.vue
Due: eslint, prettier

Revert "feat(fe): add group create modal & new inivitation code submission (#623)"
  frontend/src/user/group/pages/index.vue
Due: eslint, prettier

chore: remove unused import
  backend/apps/admin/src/storage/storage.service.ts
Due: eslint, prettier

chore: replace minio sdk with aws-sdk
  backend/init-testcase.ts
  backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat: use env variable for s3 client
  .env.development
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/init-testcase.ts
  docker-compose.yml
  scripts/setup.sh
Due: eslint, prettier

chore: skip bucket creation in module
  backend/apps/admin/src/storage/s3.provider.ts
Due: eslint, prettier

chore: remove unused console.log
  backend/libs/auth/src/roles/roles.service.spec.ts
Due: eslint, prettier

feat(be): merge extension into file path
  backend/apps/admin/src/storage/content.type.ts
  backend/apps/admin/src/storage/storage.service.ts
Due: eslint, prettier

feat(be): add storage module to admin app (#637)
  .env.development
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/storage/content.type.ts
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.module.ts
  backend/apps/admin/src/storage/storage.service.spec.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/init-testcase.ts
  backend/libs/auth/src/roles/roles.service.spec.ts
  backend/package.json
  docker-compose.yml
  pnpm-lock.yaml
Due: eslint, prettier

fix(iris): remove auth headers
  iris/main.go
  iris/src/data_source/cache/source.go
  iris/src/data_source/http_server/source.go
Due: gofmt

chore: remove unused env
  .env.development
Due: none

fix(iris): remove auth headers (#643)
  .env.development
  iris/main.go
  iris/src/data_source/cache/source.go
  iris/src/data_source/http_server/source.go
Due: gofmt

fix: replace go-redis package name
  iris/go.mod
  iris/src/data_source/cache/source.go
Due: gofmt

feat: upgrade go dependencies
  iris/go.mod
  iris/go.sum
Due: none

chore: add review for renovate pr
  renovate.json
Due: none

feat: apply esm config for prettier
  frontend/index.html
  prettier.config.mjs
Due: none

fix: upgrade eslint-plugin-prettier
  package.json
  pnpm-lock.yaml
Due: prettier

chore: resolve lint warning
  backend/apps/client/src/group/interface/group-data.interface.ts
Due: eslint, prettier

fix(fe): resolve CI linit error
  frontend/src/user/group/components/Problem.vue
Due: eslint, prettier

feat(fe): add group problem page (#633)
  frontend/src/user/group/components/Problem.vue
  frontend/src/user/group/pages/[id].vue
Due: eslint, prettier

fix: remove deprecated thunder client files
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Due: none

fix(fe): add variable
  frontend/src/user/group/components/Problem.vue
Due: eslint, prettier

fix(fe): add dropped variable (#648)
  frontend/src/user/group/components/Problem.vue
Due: eslint, prettier

fix: remove deprecated thunder client files (#649)
  thunder-tests/thunderEnvironment.json
  thunder-tests/thunderclient.json
Due: none

fix: resolve broken prettier config
  .prettierrc
  prettier.config.mjs
Due: none

fix: resolve broken prettier config (#651)
  .prettierrc
  prettier.config.mjs
Due: none

feat(fe): add group admin contest modal
  frontend/src/admin/pages/[groupId]/contest/CreateContestModal.vue
  frontend/src/admin/pages/[groupId]/contest/create.vue
  frontend/src/admin/pages/[groupId]/contest/index.vue
Due: eslint, prettier

chore: remove inferrable type
  frontend/src/user/problem/pages/index.vue
Due: eslint, prettier

chore(fe): removed comment
  frontend/src/user/group/components/Workbook.vue
Due: eslint, prettier

feat: add group delete modal
  frontend/src/admin/pages/[groupId]/index.vue
Due: eslint, prettier
