Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(infra): replace Kubernetes Dashboard with Headlamp
  infra/k8s/argocd/applications/headlamp.yaml
  infra/k8s/headlamp/values.yaml
Due: prettier

refactor(infra): convert Headlamp to ApplicationSet for multi-env deploy
  infra/k8s/argocd/applications/headlamp.yaml
  infra/k8s/headlamp/overlays/production/values.yaml
  infra/k8s/headlamp/overlays/stage/values.yaml
Due: prettier

chore(infra): add cluster display names to Headlamp
  infra/k8s/headlamp/overlays/production/values.yaml
  infra/k8s/headlamp/overlays/stage/values.yaml
Due: prettier

chore(infra): add cluster display names and TODO for multi-cluster
  infra/k8s/argocd/applications/headlamp.yaml
Due: prettier

style: fix prettier formatting in headlamp values
  infra/k8s/headlamp/overlays/production/values.yaml
  infra/k8s/headlamp/overlays/stage/values.yaml
Due: prettier

fix(infra): set explicit controllerServiceAccount for ARC runner
  infra/k8s/arc/values.yaml
Due: prettier

fix(infra): set explicit controllerServiceAccount for ARC runner (#3434)
  infra/k8s/arc/values.yaml
Due: prettier

feat(fe): impl temporary page files
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CheckerPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/CollaborationPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/DeployPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/GeneratorPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/JudgePage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/StatementPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/TestsPage.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ValidatorPage.tsx
Due: eslint, prettier

feat(fe): make skeleton UIs
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateSkeletons.tsx
Due: eslint, prettier

feat(fe): divide container for handling suspense and error
  apps/frontend/app/(client)/(main)/(create)/problem/create/_components/ProblemCreateContainer.tsx
  apps/frontend/app/(client)/(main)/(create)/problem/create/page.tsx
Due: eslint, prettier

fix(infra): enable TSDB index pre-loading for historical log queries
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

feat(infra): remove previews for stale PR & create previews to only related PR (#3428)
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-label.yml
  infra/k8s/argocd/applications/frontend-preview.yaml
Due: prettier

fix(infra): configure ArgoCD ingress to use HTTP backend port 80 (#3431)
  infra/k8s/argocd/values.yaml
Due: prettier

fix(fe): delete course main banner
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

feat(fe): apply mobile course design (#3363)
  apps/frontend/app/(client)/(main)/_components/StatusBadge.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/_components/RegisterCourseButton.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/components/Icons.tsx
  apps/frontend/public/icons/calendar-gray.svg
  apps/frontend/public/icons/person-gray.svg
Due: eslint, prettier

fix(fe): show hour in bar duration if exitst
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/UserAnalysisContent.tsx
Due: eslint, prettier

fix(infra): replace ineffective finalizers: [] with preserveResourcesOnDeletion
  infra/k8s/argocd/applications/minio-stage.yaml
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/argocd/applications/monitoring/minio.yaml
  infra/k8s/argocd/applications/monitoring/prometheus.yaml
  infra/k8s/argocd/applications/monitoring/tempo.yaml
  infra/k8s/argocd/applications/postgres-stage.yaml
  infra/k8s/argocd/applications/rabbitmq.yaml
  infra/k8s/argocd/applications/redis.yaml
  infra/k8s/argocd/applications/sealed-secrets-backup.yaml
  infra/k8s/argocd/applications/sealed-secrets.yaml
Due: prettier

feat(infra): implement warm pool strategy for runner
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
  apps/runner/backend/go.mod
  apps/runner/backend/main.go
  apps/runner/pod-manager/pod-manager.go
  infra/k8s/runner/base/configmap.yaml
  infra/k8s/runner/overlays/production/configmap.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

fix(infra): set resourcequota to allow 60 runner pods
  apps/runner/pod-manager/pod-manager.go
  infra/k8s/runner/base/resourcequota.yaml
Due: prettier

fix(infra): enable production deployment for runner service
  .github/workflows/cd-prod-k8s.yml
  infra/k8s/argocd/applications/runner.yaml
Due: prettier

fix(infra): enable production deployment for runner service (#3438)
  .github/workflows/cd-prod-k8s.yml
  infra/k8s/argocd/applications/runner.yaml
Due: prettier

fix(infra): change mq to private
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/private-network.tf
  infra/aws/vpc/public-network.tf
Due: terraformfmt

feat(infra): add ecr terraform code
  infra/aws/storage/ecr.tf
  infra/aws/storage/variables.tf
Due: terraformfmt

feat(infra): replace Kubernetes Dashboard with Headlamp (#3433)
  infra/k8s/argocd/applications/headlamp.yaml
  infra/k8s/headlamp/overlays/production/values.yaml
  infra/k8s/headlamp/overlays/stage/values.yaml
Due: prettier

docs(be): add jsdoc to client problem (#3424)
  apps/backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

chore(fe): update input component
  apps/frontend/app/(client)/(main)/input/page.tsx
  apps/frontend/components/shadcn/input.tsx
Due: eslint, prettier

fix(fe): fix instagram responsive layout for mobile
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

feat(infra): add TLS encryption for RabbitMQ AMQP communication
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/iris/src/connector/rabbitmq/consumer.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/plag/src/connector/rabbitmq/consumer.go
  apps/plag/src/connector/rabbitmq/producer.go
  infra/k8s/admin-api/base/configmap.yaml
  infra/k8s/client-api/base/configmap.yaml
  infra/k8s/iris/base/configmap.yaml
  infra/k8s/plag/base/configmap.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: eslint, prettier

fix(infra): change mq to private & add ecr terraform code (#3440)
  infra/aws/storage/ecr.tf
  infra/aws/storage/variables.tf
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/private-network.tf
  infra/aws/vpc/public-network.tf
Due: terraformfmt

fix(infra): implement warm pool strategy for runner (#3439)
  .github/workflows/cd-stage-k8s.yml
  apps/runner/backend/go.mod
  apps/runner/backend/main.go
  apps/runner/pod-manager/pod-manager.go
  infra/k8s/runner/base/configmap.yaml
  infra/k8s/runner/base/resourcequota.yaml
  infra/k8s/runner/overlays/production/configmap.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

feat(be): group tags, comments, join requests, timers, problem drafts
  apps/backend/prisma/schema.prisma
Due: none

feat(be): add migration for study group management and update schema
  apps/backend/prisma/migrations/20260219170316_init_study_group/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(infra): add silent option not to print stderr info
  apps/runner/backend/main.go
Due: none

feat(be): add invitationCode to user data and groupId to submissions
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/apps/client/src/group/interface/user-group-data.interface.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
Due: eslint, prettier

feat(be): add invitationCode field to user data retrieval in group service
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

refactor(be): remove debug logging and unused invitationCode field in getCourse method
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

feat(be): implement study group management with CreateStudyDto and UpdateStudyDto
  apps/backend/apps/client/src/group/dto/study.dto.ts
  apps/backend/apps/client/src/group/group.module.ts
  apps/backend/apps/client/src/group/study.controller.ts
  apps/backend/apps/client/src/group/study.service.ts
Due: eslint, prettier

docs(be): add admin users jsdoc (#3357)
  apps/backend/apps/admin/src/user/user.service.ts
Due: eslint, prettier

docs(be): add admin notice contestproblem jsdoc (#3361)
  apps/backend/apps/admin/src/contest/contest-problem.service.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
Due: eslint, prettier

Update Succeed.bru
  collection/client/Group/Get Groups/Succeed.bru
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
