Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(fe): make title lenth 35
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
Due: eslint, prettier

feat(fe): make qna main page (#3022)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/LoginButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnACategoryFilter.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/SearchBar.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/public/icons/arrow-down.svg
Due: eslint, prettier

fix(fe): turn UTC to korean time
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
Due: eslint, prettier

fix(fe): turn UTC to korean time in single comment
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaSingleComment.tsx
Due: eslint, prettier

fix(fe): modify UI
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/Content.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemDropdown.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemSelector.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
  apps/frontend/public/icons/icon-info-blue.svg
Due: eslint, prettier

feat(fe): get data desc
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateComments.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/FullHeightAccordionContent.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QuestionAnswerArea.tsx
Due: eslint, prettier

feat(fe): make course dashboard (#3020)
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/app/(client)/_libs/queries/assignment.ts
Due: eslint, prettier

fix(infra): seal iris minio credential secret correctly
  apps/k8s/iris/base/deployment.yaml
  apps/k8s/iris/overlays/stage/aws-credentials.yaml
  apps/k8s/iris/overlays/stage/kustomization.yaml
  apps/k8s/iris/overlays/stage/minio-credentials.yaml
Due: prettier

chore: comments
  apps/k8s/iris/overlays/stage/aws-credentials.yaml
Due: prettier

feat(fe): change design of scroll: global.css
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateComments.tsx
  apps/frontend/app/globals.css
Due: eslint, prettier

fix(fe): add authority
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemDropdown.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/SubmitButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/page.tsx
Due: eslint, prettier

feat(fe): delete scroll bar
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateComments.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
  apps/frontend/app/globals.css
Due: eslint, prettier

fix(infra): disable instrumentation in api server
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/client-api/base/configmap.yaml
Due: prettier

feat(fe): impl register info
  apps/frontend/components/auth/AuthLabel.tsx
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo2.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterMajor.tsx
Due: eslint, prettier

feat(fe): add scrollOptions to put accordiontripper at top
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
Due: eslint, prettier

feat(be): add getters of CourseNotice in notice client
  apps/backend/apps/client/src/notice/notice.controller.ts
  apps/backend/apps/client/src/notice/notice.module.ts
  apps/backend/apps/client/src/notice/notice.service.ts
  apps/backend/prisma/migrations/20250828113501_add_course_notice/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

fix(infra): use correct iris iam key
  apps/k8s/iris/overlays/production/aws-credentials.yaml
Due: prettier

feat(fe): make CreateComments position:absolute bottom 0
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
Due: eslint, prettier

fix(infra): seal iris minio credential secret correctly (#3064)
  apps/k8s/iris/base/deployment.yaml
  apps/k8s/iris/overlays/stage/aws-credentials.yaml
  apps/k8s/iris/overlays/stage/kustomization.yaml
  apps/k8s/iris/overlays/stage/minio-credentials.yaml
Due: prettier

fix(infra): disable instrumentation in api server (#3066)
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/client-api/base/configmap.yaml
Due: prettier

fix(infra): use correct iris iam key (#3067)
  apps/k8s/iris/overlays/production/aws-credentials.yaml
Due: prettier

fix(fe): fix assignment accordion finalScore
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
Due: eslint, prettier

fix(be): separate cache db
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/libs/cache/src/cache-config.service.ts
Due: eslint, prettier

test: test
  .github/workflows/cd-prod.yml
  .github/workflows/legacy/cd-prod-frontend.yml
  .github/workflows/legacy/cd-prod-target.yml
  .github/workflows/legacy/cd-prod.yml
  .github/workflows/legacy/rc-acm-validation.yml
  .github/workflows/legacy/rc-build-image.yml
  .github/workflows/legacy/rc-deploy-target.yml
  .github/workflows/legacy/rc-deploy.yml
  .github/workflows/legacy/rc-destroy-target.yml
  .github/workflows/legacy/rc-destroy.yml
  .github/workflows/legacy/rc-init-config.yml
  .github/workflows/legacy/rc-mask-db.yml
  .github/workflows/legacy/skku-network-proxy-deploy.yml
  .github/workflows/legacy/skku-network-proxy-init-config.yml
Due: prettier

fix(be): separate cache db (#3069)
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/libs/cache/src/cache-config.service.ts
Due: eslint, prettier

chore: reuse action
  .github/actions/build-and-push-image/action.yml
  .github/workflows/cd-prod.yml
Due: prettier

Revert "chore: reuse action"
  .github/actions/build-and-push-image/action.yml
  .github/workflows/cd-prod.yml
Due: prettier

fix(fe): remove console log
  apps/frontend/app/admin/course/_components/CreateCourseForm.tsx
Due: eslint, prettier

feat(fe): make accordion modal h full & createcomment bottom
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
Due: eslint, prettier

chore: rename file
  .github/workflows/cd-prod-k8s.yml
Due: prettier

chore: only allow release branch
  .github/workflows/cd-prod-k8s.yml
Due: prettier

feat(fe): make course dashboard responsive
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/components/shadcn/drawer.tsx
  apps/frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(infra): configure new release pipeline with k8s (#3065)
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/legacy/cd-prod-frontend.yml
  .github/workflows/legacy/cd-prod-target.yml
  .github/workflows/legacy/cd-prod.yml
  .github/workflows/legacy/rc-acm-validation.yml
  .github/workflows/legacy/rc-build-image.yml
  .github/workflows/legacy/rc-deploy-target.yml
  .github/workflows/legacy/rc-deploy.yml
  .github/workflows/legacy/rc-destroy-target.yml
  .github/workflows/legacy/rc-destroy.yml
  .github/workflows/legacy/rc-init-config.yml
  .github/workflows/legacy/rc-mask-db.yml
  .github/workflows/legacy/skku-network-proxy-deploy.yml
  .github/workflows/legacy/skku-network-proxy-init-config.yml
Due: prettier

chore(fe): delete unnecessary things
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/page.tsx
Due: eslint, prettier

fix(be): modify permission of users without logging in
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): add bruno testcases
  collection/client/Contest/Create Contest QnA Comment/[403] Cannot comment without logging in.bru
  collection/client/Contest/Create Contest QnA/[403] Cannot post QnA without logging in.bru
  collection/client/Contest/Delete Contest QnA Comment/[403] Cannot delete Comment without logging in.bru
  collection/client/Contest/Delete Contest QnA/[403] Cannot delete QnA without logging in.bru
  collection/client/Contest/Get Contest QnAs/[403] Cannot access QnAs in ongoing contest without logging in.bru
Due: none

feat(fe): update welcome
  apps/frontend/components/auth/AuthLabel.tsx
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterAccount.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo2.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterMajor.tsx
  apps/frontend/components/auth/SignUp/SignUpWelcome.tsx
Due: eslint, prettier

feat(infra): forward codedang domain to k8s
  apps/infra/production/dns/.terraform.lock.hcl
  apps/infra/production/dns/argocd.tf
  apps/infra/production/dns/codedang.tf
  apps/infra/production/dns/docs.tf
  apps/infra/production/dns/k8s-dashboard.tf
  apps/infra/production/dns/main.tf
  apps/infra/production/dns/minio.tf
  apps/infra/production/dns/rabbitmq.tf
  apps/k8s/admin-api/base/ingress.yaml
  apps/k8s/admin-api/overlays/stage/ingress.yaml
  apps/k8s/client-api/base/ingress.yaml
  apps/k8s/client-api/overlays/stage/ingress.yaml
  apps/k8s/frontend/overlays/production/configmap.yaml
  apps/k8s/frontend/overlays/production/ingress.yaml
  apps/k8s/frontend/overlays/production/kustomization.yaml
  apps/k8s/frontend/overlays/stage/configmap.yaml
  apps/k8s/frontend/overlays/stage/ingress.yaml
Due: prettier, terraformfmt

fix(be): use UserNullWhenAuthFailedIfPublic only get methods
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): modify bruno
  collection/client/Contest/Create Contest QnA Comment/[401] Cannot comment without logging in.bru
  collection/client/Contest/Create Contest QnA/[401] Cannot post QnA without logging in.bru
  collection/client/Contest/Delete Contest QnA Comment/[401] Cannot delete Comment without logging in.bru
  collection/client/Contest/Delete Contest QnA/[401] Cannot delete QnA without logging in.bru
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
