Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): add admin contest list (#1403)
  frontend-client/app/admin/contest/_components/Columns.tsx
  frontend-client/app/admin/contest/page.tsx
  iris/src/service/sandbox/langConfig.go
Due: gofmt

feat: add calendar and time picker
  frontend-client/components/date-time-picker-demo.tsx
  frontend-client/components/time-picker-demo.tsx
  frontend-client/components/time-picker-input.tsx
  frontend-client/components/time-picker-utils.tsx
  frontend-client/components/ui/calendar.tsx
  frontend-client/package.json
Due: none

fix(be): change the property name into is registered canRegister: boolean -> isRegistered: boolean로 변경하면서, 관련된 로직을 모두 toggle했습니다
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): change the var names into is registered 변수 이름을 isRegistered로 변경하면서, 관련된 로직을 모두 toggle했습니다
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

test(be): toggle the boolean variables for can register
  backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

docs(be): fix the bruno api doc
  collection/client/Contest/Get contest by ID/Succeed.bru
Due: none

fix(be): convert can register property into is registered (#1542)
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
Due: eslint, prettier

feat: upgrade issue-resolved deps
  backend/package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier

fix: update lockfile
  pnpm-lock.yaml
Due: prettier

chore: move caddyfile into infra folder
  .github/workflows/cd-dev.yml
  apps/infra/stage/Caddyfile
Due: prettier

fix: update iris build context
  .github/workflows/cd-dev.yml
Due: prettier

fix: update backend entrypoint path in dockerfile
  apps/backend/Dockerfile
Due: none

feat: update cd-prod also
  .github/workflows/cd-prod.yml
Due: prettier

fix(infra): update context path for cd-dev pipeline (#1543)
  .github/workflows/cd-dev.yml
  .github/workflows/cd-prod.yml
  apps/backend/Dockerfile
Due: prettier

fix(infra): update terraform dir in cd-prod
  .github/workflows/cd-prod.yml
Due: prettier

fix(infra): update terraform dir in cd-prod (#1544)
  .github/workflows/cd-prod.yml
Due: prettier

refactor(be): remove unused condition
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/notice/notice.service.ts
Due: eslint, prettier

feat(fe): create contest with basic information
  frontend-client/app/admin/contest/_components/Label.tsx
  frontend-client/app/admin/contest/create/page.tsx
  frontend-client/app/admin/contest/page.tsx
  frontend-client/components/date-time-picker-demo.tsx
Due: none

feat(fe): adding register button save
  frontend-client/app/(main)/contest/[contestId]/@tabs/_components/DeregisterButton.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  frontend-client/app/(main)/contest/[contestId]/@tabs/page.tsx
Due: none

feat(fe): connect contest delete api
  frontend-client/components/DataTableAdmin.tsx
  pnpm-lock.yaml
Due: prettier

refactor: combine bucket setup scripts
  package.json
  scripts/init-storage.ts
  scripts/init-testcase.ts
  scripts/setup.sh
Due: eslint, prettier

feat(fe): add edit contest
  frontend-client/app/admin/contest/[id]/page.tsx
  frontend-client/components/date-time-picker-demo.tsx
Due: none

feat: keep otel_endpoint secret
  backend/apps/admin/src/main.ts
  backend/apps/admin/src/tracer.ts
  backend/apps/client/src/main.ts
  backend/apps/client/src/tracer.ts
  infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  infra/modules/codedang-infra/backend/client-task-definition.tftpl
  infra/modules/codedang-infra/ecs-api-admin.tf
  infra/modules/codedang-infra/ecs-api-client.tf
  infra/modules/codedang-infra/ecs-iris.tf
  infra/modules/codedang-infra/iris/task-definition.tftpl
  infra/modules/codedang-infra/variables.tf
  iris/main.go
  iris/src/observability/tracer.go
Due: eslint, prettier, gofmt

feat(fe): add register and deregister button
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/DeregisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
Due: none

feat(fe): implement create contest problem
  frontend-client/app/admin/contest/create/page.tsx
  frontend-client/app/admin/problem/create/page.tsx
Due: none

feat(infra): add backend opentelemtry instrumentation for client and admin api
  backend/apps/admin/src/metric.ts
  backend/apps/client/src/metric.ts
Due: eslint, prettier

feat(fe): register button for upgoing and ongoing
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/DeregisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
Due: none

fix(fe): register for ongoing button
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
Due: none

fix(fe): change deregister button color
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
Due: none

fix(fe): fix toast message
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
Due: none

fix: get rid of comments
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
Due: none

fix(fe): change parameter name
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
Due: none

feat(fe): implement recover account modal (#1526)
  apps/frontend/components/auth/AuthModal.tsx
  apps/frontend/components/auth/FindUserId.tsx
  apps/frontend/components/auth/RecoverAccount.tsx
  apps/frontend/components/auth/ResetPassword.tsx
  apps/frontend/components/auth/ResetPasswordEmailVerify.tsx
  apps/frontend/components/auth/SignIn.tsx
  apps/frontend/stores/authModal.ts
  apps/frontend/stores/recoverAccountModal.ts
Due: eslint, prettier

fix: edit datatable input placeholder
  apps/frontend/app/admin/problem/[id]/_components/DataTable.tsx
Due: none

fix: delete files of frontend-client
  frontend-client/app/admin/problem/[id]/_components/Columns.tsx
  frontend-client/app/admin/problem/[id]/_components/DataTable.tsx
  frontend-client/app/admin/problem/[id]/edit/page.tsx
Due: none

feat(fe): add admin problem detail (#1524)
  apps/frontend/app/admin/problem/[id]/_components/Columns.tsx
  apps/frontend/app/admin/problem/[id]/_components/DataTable.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/app/admin/problem/_components/Label.tsx
Due: none

feat(infra): install packages for opentelemetry instrumentation
  backend/package.json
  pnpm-lock.yaml
Due: prettier

feat(infra): change iris metric exporter url from env not specifying url
  iris/src/observability/metric.go
Due: gofmt

feat(fe): add contest register deregister button (#1545)
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/ParticipateButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(main)/contest/[contestId]/@tabs/page.tsx
Due: none
