Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore: downgrade rabbitmq to v3
  docker-compose.yml
Due: prettier

chore: use devcontainers-extra instead of dead provider(devcontainer-contrib)
  .devcontainer/devcontainer.json
Due: none

chore: use rabbimq-3.13 in docker compose
  docker-compose.yml
Due: prettier

chore(devcontainer): downgrade rabbitmq and change dead devcontainer feature provider (#2834)
  .devcontainer/devcontainer.json
  docker-compose.yml
Due: prettier

feat(fe): conceal status diff when being infinite duetime (#2824)
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentStatus.tsx
Due: eslint, prettier

chore(fe): unify management title text
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/page.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
  apps/frontend/app/admin/course/page.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/problem/shared/page.tsx
  apps/frontend/app/admin/user/page.tsx
Due: eslint, prettier

fix(fe): Update grading availability time and change grading button color
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
Due: eslint, prettier

feat(fe): change contest overview text form
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/GotoContestListButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/page.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/public/icons/calendar_blue.svg
  apps/frontend/public/icons/clock_blue.svg
Due: eslint, prettier

fix(fe): update grading availability time and change grading button color
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
Due: eslint, prettier

chore(fe) : modify ' to &apos;
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
Due: eslint, prettier

fix(fe): fix submission message
  apps/backend/package.json
  apps/frontend/components/StatusTimeDiff.tsx
  collection/client/Auth/folder.bru
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): fix submission message
  apps/frontend/components/StatusTimeDiff.tsx
Due: eslint, prettier

chore(fe): resolve prettier issue
  apps/frontend/components/StatusTimeDiff.tsx
Due: eslint, prettier

fix(fe): resolve self closing issue
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
Due: eslint, prettier

style: unify button styles across all pages
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/page.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

feat(fe): apply responsive featture to all elements
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
Due: eslint, prettier

feat(infra): move iris to on-premise k8s cluster
  apps/infra/production/codedang/message_queue_aws.tf
  apps/infra/production/storage/database.tf
  apps/k8s/argocd/ingress.yaml
  apps/k8s/internal/admin-user.yaml
  apps/k8s/internal/cluster-issuer.yaml
  apps/k8s/internal/dashboard-ingress.yaml
  apps/k8s/iris/aws-credentials.yaml
  apps/k8s/iris/deployment.yaml
  apps/k8s/iris/external-secret.yaml
Due: prettier, terraformfmt

fix(fe): fix button and text color
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/GotoContestListButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
Due: eslint, prettier

chore: change issuer email
  apps/k8s/internal/cluster-issuer.yaml
Due: prettier

chore: simple comments for sealed secret
  apps/k8s/iris/aws-credentials.yaml
Due: prettier

fix(fe): modify tab size
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
Due: eslint, prettier

fix: fix button color
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/GotoContestListButton.tsx
Due: eslint, prettier

chore(fe): unify management title text (#2835)
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/page.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/GroupTable.tsx
  apps/frontend/app/admin/course/[courseId]/user/page.tsx
  apps/frontend/app/admin/course/page.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/problem/shared/page.tsx
  apps/frontend/app/admin/user/page.tsx
Due: eslint, prettier

chore(be): modify exception message in group module
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(fe): fix submission message (#2839)
  apps/frontend/components/StatusTimeDiff.tsx
Due: eslint, prettier

chore(be): modify exception messge in problem module
  apps/backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

chore(be): error message modify admin submission module
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

feat(fe): apply responsive feature to all elements (#2841)
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
Due: eslint, prettier

chore(be): modify exception messge in admin submission module
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

chore(be): modify exception messge in client submission module
  apps/backend/apps/client/src/submission/submission-pub.service.ts
Due: eslint, prettier

chore(be): modify exception messge in user module
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

chore(be): modify exception messages in admin assignment module
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

chore(be): error message modify admin user module
  apps/backend/apps/admin/src/user/user.service.ts
Due: eslint, prettier

chore(be): error message modify admin workbook module
  apps/backend/apps/admin/src/workbook/workbook-problem.service.ts
Due: eslint, prettier

chore(be): error message modify admin contest module
  apps/backend/apps/admin/src/contest/contest-problem.service.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

docs: update contributing guide
  CONTRIBUTING.md
Due: none

style(fe): unify button styles across all pages
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
Due: eslint, prettier

fix:fix button line height
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/GotoContestListButton.tsx
Due: eslint, prettier

fix:Fix PrevNext button line height
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
Due: eslint, prettier

chore: fix prettier formatting in PrevNextbutton
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
Due: eslint, prettier
