Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(be): apply test coverage (#1637)
  .gitignore
  apps/backend/.nycrc
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

fix(be): make admin to get all contest submissions
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): make admin to get all contest submissions (#1651)
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): make admin to get all contest submissions - 어드민이 모든 제출을 볼 수 있도록 합니다. - 전 커밋의 계속해서 제출이 보이지 않던 문제를 해결합니다.
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): make admin to get all contest submissions (#1652)
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix: resolve go deps error
  apps/iris/go.mod
Due: none

fix: update go deps
  apps/iris/go.mod
  apps/iris/go.sum
Due: none

fix: resolve lint errors
  .eslintignore
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint, prettier

fix: resolve pnpm version conflict
  .github/actions/setup-pnpm/action.yml
  .npmrc
  package.json
Due: prettier

fix(fe): change contest to startTime ascending order
  apps/frontend/app/(main)/contest/_components/ContestCardList.tsx
Due: none

fix(fe): change contest to startTime ascending order (#1654)
  apps/frontend/app/(main)/contest/_components/ContestCardList.tsx
Due: none

fix(be): integrate problem exposeTIme isVisible
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/model/problem.constants.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/submission/mock/problem.mock.ts
  apps/backend/prisma/migrations/20240409084147_remove_problem_is_visible/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(be): redact req log password
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

docs: update bruno docs
  collection/admin/Announcement/Create Announcement/Error: Duplicated Announcement.bru
  collection/admin/Announcement/Create Announcement/Error: Invalid Problem ID.bru
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Delete Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Delete Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Get Announcement/Succeed.bru
  collection/admin/Announcement/Get Announcements/Succeed.bru
  collection/admin/Announcement/Update Announcement/Error: Invalid Announcement ID.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
Due: none

fix(be): redact req log password (#1657)
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

fix: upgrade renovate golang constraint version
  renovate.json
Due: none

fix(fe): change mailfilled icon
  apps/frontend/app/(main)/_components/Footer.tsx
Due: none

fix: upgrade renovate golang constraint version (#1659)
  apps/frontend/app/(main)/_components/Footer.tsx
  renovate.json
Due: none

fix(infra): update env variables (dev to stage)
  .env.development
  .envrc
  .github/workflows/cd-stage.yml
  .github/workflows/ci.yml
  .github/workflows/reset-seed.yml
  .gitignore
  apps/backend/package.json
  apps/frontend/codegen.ts
  apps/iris/main.go
  apps/iris/src/common/constants/constants.go
  apps/iris/src/service/logger/logger.go
  collection/admin/environments/Development.bru
  collection/client/environments/Development.bru
  docker-compose.yml
  scripts/deploy.sh
  scripts/setup.sh
Due: eslint, prettier

fix(infra): check missing variables to change from dev
  .github/workflows/cd-stage.yml
  .github/workflows/reset-seed.yml
  apps/backend/package.json
  apps/grafana-logs/promtail/promtail-config.yml
  scripts/setup.sh
Due: prettier

fix(infra): fix dev.codedang.com to stage.codedang.com
  apollo.config.js
  apps/infra/stage/Caddyfile
Due: eslint, prettier

chore(infra): change file name of bruno
  collection/client/environments/Stage.bru
Due: none

fix(fe): add CommandList
  apps/frontend/app/admin/_components/GroupSelect.tsx
  apps/frontend/components/CheckboxSelect.tsx
  apps/frontend/components/DataTableLangFilter.tsx
Due: none

chore(infra): change file name of bruno admin env
  collection/admin/environments/Stage.bru
Due: none

fix(infra): except .env.stage from .gitignore and add .env.stage file again
  .env.stage
  .gitignore
Due: none

fix(infra): change env variables from dev to stage (#1661)
  .env.stage
  .envrc
  .github/workflows/cd-stage.yml
  .github/workflows/ci.yml
  .github/workflows/reset-seed.yml
  .gitignore
  apollo.config.js
  apps/frontend/codegen.ts
  apps/grafana-logs/promtail/promtail-config.yml
  apps/infra/stage/Caddyfile
  apps/iris/main.go
  apps/iris/src/common/constants/constants.go
  apps/iris/src/service/logger/logger.go
  collection/admin/environments/Development.bru
  collection/admin/environments/Stage.bru
  collection/client/environments/Development.bru
  collection/client/environments/Stage.bru
  docker-compose.yml
  scripts/deploy.sh
  scripts/setup.sh
Due: eslint, prettier

fix(fe): disable signup button after click
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: none

fix(fe): get rid of comments
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: none

fix(fe): change state name
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: none

hotfix(infra): rebuild vercel
  .gitignore
Due: none

fix(infra): rebuild vercel (#1666)
  .gitignore
Due: none

hotfix(infra): rebuild vercel (#1667)
  .gitignore
Due: none

fix(fe): disable register button
  apps/frontend/components/auth/SignUpRegister.tsx
Due: none

fix(fe): add CommandList (#1663)
  apps/frontend/app/admin/_components/GroupSelect.tsx
  apps/frontend/components/CheckboxSelect.tsx
  apps/frontend/components/DataTableLangFilter.tsx
Due: none

fix(fe): disable register button (#1668)
  apps/frontend/components/auth/SignUpRegister.tsx
Due: none

fix: change promtail path
  docker-compose.yml
Due: prettier

fix(infra): change promtail path (#1675)
  docker-compose.yml
Due: prettier

fix: change sparse checkout path
  .github/workflows/cd-stage.yml
Due: prettier

fix(infra): update checkout directory for promtail (#1676)
  .github/workflows/cd-stage.yml
Due: prettier
