Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat(fe): make a new carousel component
  frontend/src/common/assets/codedang_logo.png
  frontend/src/common/assets/dummy.png
  frontend/src/common/layouts/default.vue
  frontend/src/user/home/components/NewCarousel.vue
Due: eslint, prettier

fix(fe): remove blink
  frontend/src/user/home/components/NewCarousel.vue
Due: eslint, prettier

fix(fe): resolve review
  frontend/src/common/assets/skkudingLogo.png
  frontend/src/common/components/Atom/SignatureLogo.story.vue
  frontend/src/common/components/Atom/SignatureLogo.vue
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

fix(fe): change log name
  frontend/src/common/assets/skkudingLogo.png
Due: none

fix(fe): remove hover effect
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

fix(fe): change logo path
  frontend/src/common/layouts/default.vue
Due: eslint, prettier

feat: add github action deploy
  .github/workflows/deploy.yml
Due: prettier

fix(fe): add TODO comment
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

feat(fe): change a nav bar style (#662)
  frontend/src/common/assets/skkudingLogo.png
  frontend/src/common/components/Atom/SignatureLogo.story.vue
  frontend/src/common/components/Atom/SignatureLogo.vue
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

fix(fe): remove unused css style
  frontend/src/common/components/Organism/Header.vue
  frontend/src/user/home/components/NewCarousel.vue
Due: eslint, prettier

chore: change rds instance class
  infra/modules/codedang-infra/db.tf
Due: none

fix(fe): use useIntervalFn
  frontend/src/common/layouts/default.vue
  frontend/src/user/home/components/Carousel.story.vue
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/components/NewCarousel.vue
Due: eslint, prettier

chore: change terraform variables path
  .github/workflows/deploy.yml
  infra/test/main.tf
  infra/test/variable.tf
Due: prettier

chore: change terraform frontend s3 bucket source path
  infra/modules/codedang-infra/s3.tf
Due: none

chore: add github action deploy.yml job dependency
  .github/workflows/deploy.yml
Due: prettier

chore: fix lint error
  backend/apps/client/src/submission/dto/judge-request.class.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.controller.spec.ts
Due: eslint, prettier

chore: change github secret name
  .github/workflows/deploy.yml
Due: prettier

feat(fe): add router link
  frontend/src/common/layouts/default.vue
  frontend/src/user/home/components/Carousel.story.vue
  frontend/src/user/home/components/Carousel.vue
Due: eslint, prettier

feat(fe): remove comment
  frontend/src/common/layouts/default.vue
Due: eslint, prettier

fix(fe): remove mix-blend
  frontend/src/user/home/components/Carousel.vue
Due: eslint, prettier

feat(fe): change design
  frontend/src/common/layouts/default.vue
  frontend/src/user/home/components/Carousel.story.vue
  frontend/src/user/home/components/Carousel.vue
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

fix(fe): align problem
  frontend/src/user/home/components/Carousel.vue
Due: eslint, prettier

fix(fe): remove unused margin top
  frontend/src/user/home/components/Carousel.vue
Due: eslint, prettier

fix(fe): fix some gap issue
  frontend/src/user/home/components/Carousel.vue
Due: eslint, prettier

feat(be): returning isJoined from getGroup
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Due: eslint, prettier

fix(fe): delete pool from sidebar
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

fix(fe): decrease padding
  frontend/src/user/home/components/Carousel.vue
Due: eslint, prettier

test(be): fix test error
  backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

fix(fe): decrease z-index
  frontend/src/user/home/components/Carousel.vue
Due: eslint, prettier

fix(be): return group showOnList=true
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

feat(be): remove createdBy field in getGroup,getGroups,getJoinedGroups
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Due: eslint, prettier

feat(be): modify getGroup and getGroups API (#659)
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  thunder-tests/collections/tc_col_codedang-client-api.json
Due: eslint, prettier

feat(fe): add button for importing problem csv file
  frontend/src/admin/pages/[groupId]/problem/index.vue
Due: eslint, prettier

chore: fix github action deploy.yml
  .github/workflows/deploy.yml
  infra/modules/codedang-infra/variables.tf
  infra/test/main.tf
Due: prettier

fix(fe): fix bug
  frontend/src/admin/pages/[groupId]/problem/index.vue
Due: eslint, prettier

fix(fe): fix dialog message
  frontend/src/admin/pages/[groupId]/problem/index.vue
Due: eslint, prettier

fix(fe): remove unnecessary part
  frontend/src/admin/pages/[groupId]/problem/index.vue
Due: eslint, prettier

feat(fe): add button importing problems with csv file (#670)
  frontend/src/admin/pages/[groupId]/problem/index.vue
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

feat: add terraform random and set secrets
  infra/modules/codedang-infra/backend/task-definition.tftpl
  infra/modules/codedang-infra/db.tf
  infra/modules/codedang-infra/ecs-admin.tf
  infra/modules/codedang-infra/ecs-client.tf
  infra/modules/codedang-infra/main.tf
  infra/modules/codedang-infra/rabbitmq.tf
  infra/modules/codedang-infra/secrets.tf
  infra/test/main.tf
  infra/test/variable.tf
Due: none

chore: remove provider profile
  infra/test/provider.tf
Due: none

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
