Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

refactor(be): update acceptedCount increment logic
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

docs: added JSDoc og createTestcase
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

docs(be): add JSDoc to updateProblemAccepted method in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

docs: added JSDoc of syncTestcase
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

docs: added JSDoc of uploadTestcase
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

docs: added JSDoc of uploadTestcaseZip
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

docs(be): add jsdoc to updateAssignmentProblemRecord
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

docs: added JSDoc of checkProblemEditPermission
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

docs(be): add jsdoc to getAssignmentProblemRecord, isAllAssignmentProblemGraded, autoFinalizeScore
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

docs: added JSDoc of removeAllTestcaseFiles and getProblemTestcases
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

fix(be): add isExercise field to assignment selection in CourseService
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): remove unused variables in assignment retrieval for improved code clarity
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier

fix(fe): apply feedback
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/ProblemStatistics.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/StatisticsSkeletons.tsx
Due: eslint, prettier

chore(fe): remove mt auto
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/ProblemStatistics.tsx
Due: eslint, prettier

refactor(infra): migrate runner service to stage cluster (#3379)
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
  apps/runner/backend/Dockerfile
  apps/runner/backend/compile_opts.go
  apps/runner/backend/go.mod
  apps/runner/backend/go.sum
  apps/runner/backend/main.go
  apps/runner/pod-manager/Dockerfile
  apps/runner/pod-manager/go.mod
  apps/runner/pod-manager/go.sum
  apps/runner/pod-manager/pod-manager.go
  infra/aws/dns/runner.tf
  infra/k8s/argocd/applications/runner.yaml
  infra/k8s/runner/base/configmap.yaml
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/base/kustomization.yaml
  infra/k8s/runner/base/namespace.yaml
  infra/k8s/runner/base/rbac.yaml
  infra/k8s/runner/base/service.yaml
  infra/k8s/runner/overlays/production/configmap.yaml
  infra/k8s/runner/overlays/production/ingress.yaml
  infra/k8s/runner/overlays/production/kustomization.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
  infra/k8s/runner/overlays/stage/ingress.yaml
  infra/k8s/runner/overlays/stage/kustomization.yaml
Due: prettier, terraformfmt

fix(infra): fix ARC runner node affinity and ArgoCD values path
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

fix(infra): fix ARC runner node affinity and ArgoCD values path (#3397)
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

fix(infra): migrate monitoring apps to ApplicationSet (#3382)
  infra/k8s/argocd/applications/internal.yaml
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/argocd/applications/monitoring/otel-collector.yaml
  infra/k8s/argocd/applications/monitoring/prometheus.yaml
  infra/k8s/argocd/applications/monitoring/promtail.yaml
  infra/k8s/argocd/applications/monitoring/tempo.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

fix(infra): fix Grafana GitHub OAuth role and dashboard provisioning
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

docs(be): add JSDoc to calculateFractionalScore method in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

fix(infra): fix tempo ingester replication and enable metrics generator
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

fix(infra): upgrade ARC to 0.13.1 and fix runner immediate exit
  infra/k8s/arc/values.yaml
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

style: apply prettier formatting
  apps/backend/apps/client/src/notice/notice.service.ts
Due: eslint, prettier

chore(fe): change course edit design
  apps/frontend/app/admin/course/_components/UpdateCourseButton.tsx
Due: eslint, prettier

docs(be): add JSDoc to updateSubmissionScore method in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

docs(be): add JSDoc to calculateAssignmentSubmissionScore method in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

refactor(be): simplify logic for updating accepted problem count
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

docs(be): add JSDoc to updateSubmissionResult method in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

docs(be): add JSDoc to updateTestcaseJudgeResult method in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

docs(be): add JSDoc to handleJudgerMessage method in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

refactor(be): enhance problem query by selecting submission and accepted counts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

refactor(be): streamline logic for incrementing submission and accepted counts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

refactor(be): change logic in isOutdatedTestcase method to check for outdated test cases
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

fix(be): use groupleaderguard in check module
  apps/backend/apps/admin/src/check/check.resolver.ts
  apps/backend/apps/admin/src/check/check.service.ts
  apps/backend/schema.gql
  collection/admin/Check/Get Check Request/Succeed.bru
  collection/admin/Check/Get Check Result Detail/Succeed.bru
  collection/admin/Check/Get Cluster/Succeed.bru
  collection/admin/Check/Get Overview By Assignment Problem Id/Succeed.bru
  collection/admin/Check/Get Overview/Succeed.bru
  collection/admin/Check/Request Check/Succeed.bru
Due: eslint, prettier

fix(be): add groupId parameter in bruno docs
  collection/admin/Check/Get Check Request/Succeed.bru
  collection/admin/Check/Get Overview By Assignment Problem Id/Succeed.bru
  collection/admin/Check/Get Overview/Succeed.bru
  collection/admin/Check/Request Check/Succeed.bru
Due: none

refactor(be): optimize submission handling queries
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

refactor(be): replace findMany with count in SubmissionSubscriptionService tests
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
Due: eslint, prettier

refactor(be): optimize contest problem statistics aggregation in SubmissionSubscriptionService
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier
