Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): remove unused components
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateComments.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QuestionAnswerArea.tsx
Due: eslint, prettier

feat(fe): create editor qna (#3651)
  apps/frontend/app/(client)/(code-editor)/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/_components/CreateComments.tsx
  apps/frontend/app/(client)/(code-editor)/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/qna/page.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/exercise/[exerciseId]/problem/[problemId]/qna/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaColumns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/QnaDetailView.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/QnaDetailModal.tsx
  apps/frontend/app/admin/course/_components/QnaDetailModal.tsx
  apps/frontend/graphql/qna/queries.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(be): update registerContest hasRegistered
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

feat(iris): migrate testcase storage from postgres to S3
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/src/handler/generate/models.go
  apps/iris/src/handler/generate/task.go
  apps/iris/src/loader/postgres.go
  apps/iris/src/loader/s3.go
  apps/iris/src/service/testcase/manager.go
Due: none

fix(be): allow course staff to delete course notice comments (#3711)
  apps/backend/apps/client/src/group/group.controller.ts
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): update getContests registeredContestIds
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(be): remove unintended schema change
  apps/backend/prisma/schema.prisma
Due: none

fix(be): client contest record authorization (#3718)
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore: add code owners for core services
  .github/CODEOWNERS
Due: none

fix(infra): restore production admin api ingress
  infra/k8s/admin-api/overlays/production/ingress.yaml
  infra/k8s/admin-api/overlays/production/kustomization.yaml
Due: prettier

fix(infra): restore production admin api ingress (#3721)
  infra/k8s/admin-api/overlays/production/ingress.yaml
  infra/k8s/admin-api/overlays/production/kustomization.yaml
Due: prettier

chore: assign core services to backend maintainers
  .github/CODEOWNERS
Due: none

chore: migrate TypeScript settings to js/ts namespace (#3717)
  .vscode/settings.json
Due: none

feat(be): implement block user API during ongoing contest (#3705)
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/submission-finalization.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Remove User From Contest/Succeed.bru
  collection/admin/Contest/Remove User From Contest/[ERR] Ended Contest.bru
  collection/admin/Contest/Remove User From Contest/[ERR] Nonexistent ContestRecord.bru
  collection/admin/Contest/Remove User From Contest/[ERR] Nonexistent UserContest.bru
  collection/admin/Contest/Remove User From Contest/folder.bru
Due: eslint, prettier

feat(judge): configure request routing keys
  apps/backend/.env.example
  apps/backend/libs/amqp/src/amqp.service.spec.ts
  apps/backend/libs/amqp/src/amqp.service.ts
  apps/backend/libs/constants/src/rabbitmq.constants.ts
Due: eslint, prettier

docs(judge): describe workload routing
  apps/backend/apps/client/src/submission/submission-pub.service.ts
Due: eslint, prettier

feat(judge): deploy workload-specific worker pools
  .envrc
  apps/iris/.env.example
  apps/iris/README.md
  apps/iris/main.go
  infra/k8s/client-api/base/configmap.yaml
  infra/k8s/iris/base/configmap.yaml
  infra/k8s/iris/base/deployment-rejudge.yaml
  infra/k8s/iris/base/deployment-test.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/iris/overlays/stage/kustomization.yaml
  infra/k8s/rabbitmq/base/topology-judging.yaml
  scripts/init-rabbitmq.ts
Due: eslint, prettier

test(judge): satisfy routing test lint rules
  apps/backend/libs/amqp/src/amqp.service.spec.ts
Due: eslint, prettier

fix(fe): arrange course question-answer layout
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseQnaTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/qna/page.tsx
Due: eslint, prettier

fix(judge): keep split routing keys opt-in
  apps/backend/.env.example
Due: none

fix(judge): preserve local submission queue priority
  scripts/init-rabbitmq.ts
Due: eslint, prettier

fix(be): modify url form
  apps/backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

fix(be): add aftereach to updateuser test
  apps/backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

feat(fe): modify button design
  apps/frontend/components/shadcn/button.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

test(fe): add test page
  apps/frontend/app/(client)/tas2891/page.tsx
Due: eslint, prettier

feat(be): add student whitelist to course duplication
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
  apps/backend/apps/admin/src/group/model/duplicate-course.input.ts
  apps/backend/schema.gql
  collection/instructor/Course/Duplicate Course/Succeed.bru
Due: eslint, prettier

feat(be): add Mandeuldang problem create input and temporary output
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.input.ts
  apps/backend/apps/admin/src/mandeuldang/problem/model/problem.output.ts
Due: eslint, prettier

fix(be): replace course whitelist atomically
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier

test(be): await transaction mock queries
  apps/backend/apps/admin/src/group/group.service.spec.ts
Due: eslint, prettier

fix(be): replace course whitelist atomically (#3726)
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier

fix(fe): forbid student id modification
  apps/frontend/app/(client)/(main)/settings/_components/StudentIdSection.tsx
  apps/frontend/app/(client)/(main)/settings/page.tsx
Due: eslint, prettier

feat(dev): configure local Iris worker launches
  .vscode/launch.json
  apps/iris/.env.example
  apps/iris/README.md
Due: none

fix(fe): expand username length limitation
  apps/frontend/components/auth/SignUp/SignUpRegisterAccount.tsx
Due: eslint, prettier

fix(fe): return to course list from management sidebar
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
Due: eslint, prettier
