Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(infra): implement @opentelemetry/instrumentation-amqplib for auto instrumentation of amqp
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.module.ts
  apps/backend/libs/instrumentation.ts
  apps/backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

Revert "feat(infra): implement @opentelemetry/instrumentation-amqplib for auto instrumentation of amqp"
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.module.ts
  apps/backend/libs/instrumentation.ts
  apps/backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(infra): configure OpenTelemetry metrics for enhanced observability
  apps/backend/apps/client/src/app.module.ts
Due: eslint, prettier

feat(infra): integrate @opentelemetry/instrumentation-amqplib for AMQP auto instrumentation fix(infra): remove unnecessary OpenTelemetry context propagation in submission services
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/libs/instrumentation.ts
  apps/backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix(infra): correct context for mq
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/connector/rabbitmq/producer.go
Due: none

fix(infra): normalize header keys to lowercase in convertHeaderCarrierToTable
  apps/iris/src/connector/rabbitmq/converter.go
Due: none

feat(infra): enhance tracing by adding spans
  apps/iris/main.go
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/instrumentation.go
  apps/iris/src/router/router.go
Due: none

refactor(infra): remove loki_url references and log router configuration
  apps/grafana-logs/promtail/promtail-config.yml
  apps/infra/rc/codedang/codedang_service_admin.tf
  apps/infra/rc/codedang/codedang_service_client.tf
  apps/infra/rc/codedang/codedang_service_iris.tf
  apps/infra/rc/codedang/container_definitions/admin_api.json
  apps/infra/rc/codedang/container_definitions/client_api.json
  apps/infra/rc/codedang/container_definitions/iris.json
  apps/infra/rc/codedang/container_definitions/log_router.json
  apps/infra/rc/codedang/variables.tf
  docker-compose.yml
Due: prettier, terraformfmt

fix(infra): remove remaining loki related settings
  .github/workflows/cd-stage.yml
  apps/infra/rc/network/security_group.tf
Due: prettier, terraformfmt

feat(infra): conditionally initialize OpenTelemetry based on ENABLE_OPENTELEMETRY
  .env.development
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/iris/main.go
Due: eslint, prettier

feat(infra): conditionally initialize OpenTelemetry based on APP_ENV and ENABLE_OPENTELEMETRY
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/iris/main.go
Due: eslint, prettier

feat(infra): initialize OpenTelemetry with configurable options in admin and client modules
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/client/src/app.module.ts
  apps/backend/libs/instrumentation.ts
Due: eslint, prettier

feat(infra): setup scripts
  loadtest/.env.development
  loadtest/scripts/login.ts
  loadtest/scripts/signup.ts
  loadtest/scripts/submission/index.ts
  loadtest/scripts/submission/scripts/normal/1.c
  loadtest/scripts/submission/scripts/normal/2.c
  loadtest/scripts/submission/scripts/villain/1.c
  loadtest/scripts/submission/scripts/villain/2.c
Due: eslint, prettier

feat(infra): add k6 test vscode tasks with OpenTelemetry integration
  .vscode/tasks.json
Due: none

docs(infra): add README for load testing setup and usage
  loadtest/README.md
Due: none

fix(test): remove unused headers from message options in submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
Due: eslint, prettier

fix(infra): remove unused headers from message options in publish methods
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
Due: eslint, prettier

fix(fe): only change selected user count when email exists
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
Due: eslint, prettier

fix(fe): fix rendering error
  apps/frontend/app/admin/_components/SummaryForm.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
Due: eslint, prettier

chore: update rc tf lock
  apps/infra/rc/codedang/.terraform.lock.hcl
Due: none

feat(infra): parse logs with fluent-bit json parser (#2703)
  apps/infra/production/codedang/.terraform.lock.hcl
  apps/infra/production/codedang/codedang_service_admin.tf
  apps/infra/production/codedang/codedang_service_client.tf
  apps/infra/production/codedang/codedang_service_iris.tf
  apps/infra/production/codedang/container_definitions/admin_api.json
  apps/infra/production/codedang/container_definitions/client_api.json
  apps/infra/production/codedang/container_definitions/fluentbit.json
  apps/infra/production/codedang/container_definitions/iris.json
  apps/infra/production/codedang/fluent-bit.conf
  apps/infra/production/codedang/fluentbit.tf
  apps/infra/rc/codedang/.terraform.lock.hcl
  apps/infra/rc/codedang/codedang_service_admin.tf
  apps/infra/rc/codedang/codedang_service_client.tf
  apps/infra/rc/codedang/codedang_service_iris.tf
  apps/infra/rc/codedang/container_definitions/admin_api.json
  apps/infra/rc/codedang/container_definitions/client_api.json
  apps/infra/rc/codedang/container_definitions/fluentbit.json
  apps/infra/rc/codedang/container_definitions/iris.json
  apps/infra/rc/codedang/fluent-bit.conf
  apps/infra/rc/codedang/fluentbit.tf
  apps/iris/main.go
  apps/iris/src/connector/factory.go
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/iris/src/loader/postgres.go
  apps/iris/src/loader/s3.go
  apps/iris/src/service/logger/logger.go
Due: terraformfmt

refactor(fe): redesign invitation code
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Due: eslint, prettier

fix(infra): remove bucket name conflict in rc
  apps/infra/rc/codedang/fluentbit.tf
Due: terraformfmt

fix(infra): remove bucket name conflict in rc (#2708)
  apps/infra/rc/codedang/fluentbit.tf
Due: terraformfmt

feat(fe): remove tooltip provider
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Due: eslint, prettier

fix(iris): remove unintentional panic
  apps/iris/src/connector/factory.go
Due: none

fix(iris): remove unintentional panic (#2709)
  apps/iris/src/connector/factory.go
Due: none

refactor(fe): redesign invite manually
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Due: eslint, prettier

feat(fe): set contest enable copy paste default to true
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  collection/admin/Contest/Get Contests/Import Problems to Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Import Problems to Contest/[ERR] Nonexistent Contest.bru
Due: eslint, prettier

chore(fe): disable enter key for hide panel button
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Due: eslint, prettier

feat(fe): add autofill background color b overriding with css
  apps/frontend/app/globals.css
Due: prettier

refactor(fe): redesign email input field ui
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Due: eslint, prettier

feat(fe): add enable copy paste switch
  apps/frontend/app/admin/contest/create/_components/EnableCopyPasteForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

chore(fe): try to find cause
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  collection/admin/Announcement/Create Announcement/Succeed.bru
Due: eslint, prettier

refactor(fe): redesign invite code section and invite email form
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Due: eslint, prettier

fix(fe): remove autofill background color from email input
  apps/frontend/app/globals.css
Due: prettier

refactor(fe): structure invited user lilst
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Due: eslint, prettier

style(fe): customize toast notification styles
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteButton.tsx
Due: eslint, prettier

feat(fe): delete collection
  collection/admin/Contest/Get Contests/Import Problems to Contest/Succeed.bru
  collection/admin/Contest/Get Contests/Import Problems to Contest/[ERR] Nonexistent Contest.bru
Due: none

feat(be): add isExercise on schema
  apps/backend/prisma/migrations/20250429053044_add_exercise/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
