Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): add login page layout
  apps/frontend/app/(client)/login/layout.tsx
  apps/frontend/components/auth/LogInPage/LogInPage.tsx
Due: eslint, prettier

feat(fe): add reusable social login info modal
  apps/frontend/components/auth/LogInPage/InfoModal.tsx
Due: eslint, prettier

fix(fe): fix info modal icon import path
  apps/frontend/components/auth/LogInPage/InfoModal.tsx
Due: eslint, prettier

feat(fe): add social unlinked modal to login page
  apps/frontend/components/auth/LogInPage/LogInPage.tsx
Due: eslint, prettier

feat(fe): capture and store oauthToken from kakao signup redirect
  apps/frontend/components/auth/LogInPage/LogInPage.tsx
  apps/frontend/stores/socialAuth.ts
Due: eslint, prettier

feat(fe): establish nextauth session after kakao login redirect via reissue
  apps/frontend/app/(client)/layout.tsx
  apps/frontend/components/auth/SocialLoginHandler.tsx
  apps/frontend/libs/auth/authOptions.ts
  apps/frontend/libs/auth/authorizeSocial.ts
Due: eslint, prettier

feat(fe): implement social login handler formatting
  apps/frontend/components/auth/SocialLoginHandler.tsx
Due: eslint, prettier

fix(fe): center logo vertically within login/signup background image
  apps/frontend/app/(client)/login/layout.tsx
  apps/frontend/app/(client)/signup/layout.tsx
Due: eslint, prettier

feat(fe): link social account after login and show social login promo modal
  apps/frontend/components/auth/LogInPage/InfoModal.tsx
  apps/frontend/components/auth/LogInPage/LogInPage.tsx
  apps/frontend/libs/auth/socialLoginPromoDismissal.ts
Due: eslint, prettier

refactor(fe): apply gemini review suggestions for login page
  apps/frontend/app/(client)/login/page.tsx
  apps/frontend/components/auth/LogInPage/LogInPage.tsx
  apps/frontend/components/auth/RecoverAccount/FindUserId.tsx
  apps/frontend/components/auth/RecoverAccount/RecoverAccount.tsx
Due: eslint, prettier

chore(infra): prepare-onboarding
  infra/ansible/ssh_publickey/infra.pub
Due: none

chore(infra): prepare-onboarding-2
  infra/ansible/ssh_publickey/infra.pub
Due: none

chore(infra): prepare-onboarding (#3629)
  infra/ansible/ssh_publickey/infra.pub
Due: none

feat(fe): redesign settings page for whitelist removal
  apps/frontend/app/(client)/(main)/settings/_components/AccountLinkingSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/CollegeSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/CurrentPwSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/EmailNotificationSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/EmailSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/EmailVerificationSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/IdSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/LogoSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/MajorSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/NameSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/NewPwSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/NicknameSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/ProfilePhotoSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/PushNotificationSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/ReEnterNewPwSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/SaveButton.tsx
  apps/frontend/app/(client)/(main)/settings/_components/StudentIdSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/TopicSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/context.ts
  apps/frontend/app/(client)/(main)/settings/_libs/hooks/useCheckPassword.ts
  apps/frontend/app/(client)/(main)/settings/_libs/schemas.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/app/(client)/_libs/apis/profile.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): add padding
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

fix: show middle banner button on mobile
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
Due: eslint, prettier

fix(fe): matched sidebar icons colors
  apps/frontend/components/auth/MobileMenu.tsx
  apps/frontend/public/icons/course-sidebar.svg
  apps/frontend/public/icons/notification.svg
  apps/frontend/public/icons/prize.svg
  apps/frontend/public/icons/problem-sidebar.svg
Due: eslint, prettier

fix(fe): add bold
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

fix(fe): add padding (#3630)
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

fix(fe): matched sidebar icons colors (#3632)
  apps/frontend/components/auth/MobileMenu.tsx
  apps/frontend/public/icons/course-sidebar.svg
  apps/frontend/public/icons/notification.svg
  apps/frontend/public/icons/prize.svg
  apps/frontend/public/icons/problem-sidebar.svg
Due: eslint, prettier

fix: show middle banner button on mobile page
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
Due: eslint, prettier

fix: show middle banner button on mobile (#3631)
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
Due: eslint, prettier

fix(fe): adjust responsive design
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

Revert "fix(fe): adjust responsive design"
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

fix(fe): guard settings page and refine email validation
  apps/frontend/app/(client)/(main)/settings/_components/EmailNotificationSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/EmailVerificationSection.tsx
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/middleware.ts
Due: eslint, prettier

chore(infra): remove unused / detach used legacy AWS resources
  infra/legacy/production/codedang/.terraform.lock.hcl
  infra/legacy/production/codedang/codedang_api.tf
  infra/legacy/production/codedang/codedang_iris.tf
  infra/legacy/production/codedang/codedang_service_admin.tf
  infra/legacy/production/codedang/codedang_service_client.tf
  infra/legacy/production/codedang/codedang_service_iris.tf
  infra/legacy/production/codedang/main.tf
  infra/legacy/production/codedang/message_queue.tf
  infra/legacy/production/codedang/message_queue_aws.tf
  infra/legacy/production/codedang/modules/cluster_autoscaling/autoscaling.tf
  infra/legacy/production/codedang/modules/cluster_autoscaling/cluster.tf
  infra/legacy/production/codedang/modules/cluster_autoscaling/outputs.tf
  infra/legacy/production/codedang/modules/cluster_autoscaling/subnets.tf
  infra/legacy/production/codedang/modules/loadbalancing/loadbalancing.tf
  infra/legacy/production/codedang/modules/loadbalancing/outputs.tf
  infra/legacy/production/codedang/modules/loadbalancing/subnets.tf
  infra/legacy/production/codedang/modules/service_autoscaling/appautoscaling_scale_down.tf
  infra/legacy/production/codedang/modules/service_autoscaling/appautoscaling_scale_up.tf
  infra/legacy/production/codedang/modules/service_autoscaling/ecs_service.tf
  infra/legacy/production/codedang/modules/service_autoscaling/iam_task_role.tf
  infra/legacy/production/codedang/modules/service_autoscaling/main.tf
  infra/legacy/production/codedang/removed_resources.tf
  infra/legacy/production/network/cloudfront.tf
  infra/legacy/production/network/outputs.tf
  infra/legacy/production/network/public_network.tf
  infra/legacy/production/network/removed_resources.tf
  infra/legacy/production/network/route53.tf
Due: terraformfmt

chore(infra): detach legacy RabbitMQ topology from state
  infra/legacy/production/codedang/removed_resources.tf
Due: terraformfmt

chore(infra): forget duplicate legacy vpc resources
  infra/legacy/production/codedang/removed_resources.tf
Due: terraformfmt

fix(fe): prevent contest delete modal from opening without selection
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
Due: eslint, prettier

chore(infra): clean up applied legacy terraform removals
  infra/legacy/production/codedang/.terraform.lock.hcl
  infra/legacy/production/codedang/main.tf
  infra/legacy/production/codedang/removed_resources.tf
  infra/legacy/production/network/outputs.tf
  infra/legacy/production/network/removed_resources.tf
Due: terraformfmt

fix(infra): route rabbitmq ingress to tls management port (#3621)
  infra/k8s/rabbitmq/base/ingress.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/serverstransport.yaml
  infra/k8s/rabbitmq/overlays/stage/ingress.yaml
Due: prettier

feat(be): add KAKAO_LINK_CALLBACK_URL to .env.example
  apps/backend/.env.example
Due: none

feat(be): implement kakaoLink method
  apps/backend/apps/client/src/auth/auth.service.ts
Due: eslint, prettier

feat(be): add KakaoLinkStrategy for Kakao OAuth integration
  apps/backend/libs/auth/src/index.ts
  apps/backend/libs/auth/src/kakao/kakao-link.strategy.ts
Due: eslint, prettier

feat(be): add Kakao link redirection and callback handling
  apps/backend/apps/client/src/auth/auth.controller.ts
Due: eslint, prettier

feat(be): add KakaoLinkStrategy to AuthModule providers and strategies
  apps/backend/apps/client/src/auth/auth.module.ts
Due: eslint, prettier

fix(infra): add KAKAO_LINK_CALLBACK_URL and FRONTEND_URL to configmap
  infra/k8s/client-api/overlays/stage/configmap.yaml
Due: prettier

fix(infra): add KAKAO_LINK_CALLBACK_URL and FRONTEND_URL to configmap
  infra/k8s/client-api/overlays/production/configmap.yaml
Due: prettier
