Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

fix(be): fix fieldName filePath into fileContent
  apps/backend/prisma/schema.prisma
Due: none

feat(be): add polygon amqp service logic
  apps/backend/libs/amqp/src/amqp.service.ts
Due: eslint, prettier

chore(be): commit migration file
  apps/backend/prisma/migrations/20260416151922_fix_file_path_into_file_content/migration.sql
Due: none

feat(be): update kakaoLogin method to return oauthToken only
  apps/backend/apps/client/src/auth/auth.controller.ts
  apps/backend/apps/client/src/auth/auth.service.ts
Due: eslint, prettier

feat(be): add message result interface
  apps/backend/apps/admin/src/polygon/interface/polygonToolResult.interface.ts
Due: eslint, prettier

feat(be): add error handling and logging for Kakao unlink process
  apps/backend/apps/client/src/auth/auth.service.ts
Due: eslint, prettier

feat(be): update KakaoStrategy to ensure clientID is retrieved safely
  apps/backend/libs/auth/src/kakao/kakao.strategy.ts
Due: eslint, prettier

feat(be): add StudyRoom handleJoin()
  apps/backend/apps/client/src/study/interface/study-socket.interface.ts
  apps/backend/apps/client/src/study/study-room.service.ts
  apps/backend/apps/client/src/study/study.gateway.ts
  apps/backend/apps/client/src/study/study.module.ts
Due: eslint, prettier

fix(be): add user data handling logic to websocket handler
  apps/backend/libs/auth/src/jwt/jwt-auth.guard.ts
Due: eslint, prettier

fix(be): map user id instead of socket id
  apps/backend/apps/client/src/study/study-room.service.ts
Due: eslint, prettier

fix(be): fix spread to preserve data
  apps/backend/apps/client/src/study/study-room.service.ts
Due: eslint, prettier

fix(be): add params type
  apps/backend/apps/client/src/study/study-room.service.ts
Due: eslint, prettier

feat(be): add StudyRoom handleLeave()
  apps/backend/apps/client/src/study/interface/study-socket.interface.ts
  apps/backend/apps/client/src/study/study-room.service.ts
  apps/backend/apps/client/src/study/study.gateway.ts
Due: eslint, prettier

refactor(be): separate parsePayload logic
  apps/backend/apps/client/src/study/study.gateway.ts
Due: eslint, prettier

feat(be): setup BullMQ for study-room
  apps/backend/apps/client/src/app.module.ts
  apps/backend/apps/client/src/study/study.module.ts
Due: eslint, prettier

feat(be): implement socket disconnect and reconnect recovery logic
  apps/backend/apps/client/src/study/interface/study-socket.interface.ts
  apps/backend/apps/client/src/study/study-room.processor.ts
  apps/backend/apps/client/src/study/study-room.service.ts
  apps/backend/apps/client/src/study/study.gateway.ts
Due: eslint, prettier

refactor(be): use socket data instead of payload for room:leave
  apps/backend/apps/client/src/study/study.gateway.ts
Due: eslint, prettier

feat(be): implement room lifecycle handling with BullMQ
  apps/backend/apps/client/src/study/interface/study-socket.interface.ts
  apps/backend/apps/client/src/study/study-room.processor.ts
  apps/backend/apps/client/src/study/study-room.service.ts
Due: eslint, prettier

fix(be): resolve race conditions in reconnection and handle expired sessions
  apps/backend/apps/client/src/study/study-room.service.ts
  apps/backend/apps/client/src/study/study.gateway.ts
Due: eslint, prettier

chore(be): refine logging and clean up unused code
  apps/backend/apps/client/src/study/study-room.service.ts
  apps/backend/apps/client/src/study/study.gateway.ts
Due: eslint, prettier

chore(be): remove unused res field and simplify socket leave logic
  apps/backend/apps/client/src/study/study-room.service.ts
Due: eslint, prettier

feat(be): basic testcase service implement
  apps/backend/apps/admin/src/polygon/testcase/testcase.service.ts
Due: eslint, prettier

feat(infra): scrape systemd journal logs via promtail
  infra/k8s/monitoring/promtail/values.yaml
Due: prettier

fix(infra): mount host /etc/machine-id for promtail journal scrape
  infra/k8s/monitoring/promtail/values.yaml
Due: prettier

fix(infra): bump promtail journal max_age 12h -> 24h
  infra/k8s/monitoring/promtail/values.yaml
Due: prettier

chore(infra): add trailing newline for prettier
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/values.yaml
Due: prettier

feat(be): reassign host on host leave
  apps/backend/apps/client/src/study/study-room.service.ts
Due: eslint, prettier

feat(infra): improve alert messages with korean and action guidance
  infra/k8s/monitoring/grafana/base/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/values.yaml
Due: prettier

fix(infra): make node-not-ready alert actually fire and clean matcher syntax
  infra/k8s/monitoring/grafana/base/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/values.yaml
Due: prettier

fix(infra): wire alertmanager null receiver to discord via reflector
  infra/k8s/monitoring/grafana/overlays/production/alerting/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

fix(infra): disable k3s-incompatible default rules to avoid false positive
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

fix(infra): split prod and stage alerts into separate discord channels
  infra/k8s/monitoring/grafana/overlays/production/alerting/discord-webhook.yaml
Due: prettier

fix(infra): add severity to group_by and preserve default inhibit_rules
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

feat(infra): scrape systemd journal logs via promtail (#3542)
  infra/k8s/monitoring/promtail/values.yaml
Due: prettier

fix(infra): wire alertmanager null receiver to discord via reflector (#3543)
  infra/k8s/monitoring/grafana/overlays/production/alerting/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/discord-webhook.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

fix(infra): grafana 12 expression migration + alert message improvements (#3530)
  infra/k8s/monitoring/grafana/base/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/alerting/values.yaml
Due: prettier

fix(infra): split promtail journal scrape into 3 jobs per matches limitation
  infra/k8s/monitoring/promtail/values.yaml
Due: prettier

feat(infra): add monitoring stack e2e validation to ci
  .github/workflows/ci-infra.yml
Due: prettier

feat(infra): add layered ci validation (L1-L5 + L7)
  .github/workflows/ci-infra.yml
Due: prettier

fix(infra): drop sshd/sudo journal scrape to remove duplicate ingest
  infra/k8s/monitoring/promtail/values.yaml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
