Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(be): add api for banner contests
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): add api docs for get banner contest
  collection/client/Contest/Get Banner Contests/Succeed.bru
Due: none

feat(iris): add logic to verify RUN_SUCCESS status
  apps/iris/src/handler/judge-handler.go
Due: none

fix(fe): fix import error
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/page.tsx
Due: eslint, prettier

docs(be): add deprecated annotation
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(fe): adjust eslint rule
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/DataTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_libs/dataIfError.ts
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/page.tsx
Due: eslint, prettier

fix(fe): adjust eslint rule
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/error.tsx
Due: eslint, prettier

refactor(be): client function parameter typing (#2193)
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/storage/storage.service.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  collection/admin/Assignment/Create Publicizing Request/Succeed.bru
  collection/admin/Assignment/Get Publicizing Requests/Succeed.bru
  collection/admin/Assignment/Handle Publicizing Request/Succeed.bru
  collection/admin/Contest/Create Publicizing Request/Succeed.bru
Due: eslint, prettier

fix(be): bug fix admin
  apps/backend/apps/admin/src/problem/model/problem.input.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

feat(be): add get-submissions in admin submission model
  apps/backend/apps/admin/src/submission/model/submissions-with-total.output.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

docs(be): add api docs
  collection/admin/Submission/Get Submissions/Succeed.bru
Due: none

docs(be): add error case
  collection/admin/Submission/Get Submissions/[404] Nonexistent Problem.bru
Due: none

fix(be): jsdoc deprecated
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
Due: eslint, prettier

fix(be): add explanation after deprecated tag
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
Due: eslint, prettier

feat(be): merge client problem repository into service (#2198)
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/dto/code-draft.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/problems.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.module.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

feat(be): improve result code consumer logic
  apps/client/src/submission/class/judger-response.dto.ts
  apps/client/src/submission/mock/submissionResult.mock.ts
  apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

feat(be): add assignment support to client problem module & fix parameter types in submission module
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.module.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(fe): reflect reviews from Kohminchae
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/DataTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/page.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/temp_data.json
Due: eslint, prettier

chore: delete useless code and file
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/client/src/submission/class/judger-response.dto.ts
  apps/client/src/submission/mock/submissionResult.mock.ts
  apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

feat(be): edit bruno for assignment in client problem/submission module
  collection/client/Problem/Get Assignment Problem by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problem by ID/[403] Registered but not started.bru
  collection/client/Problem/Get Assignment Problem by ID/[403] Unregistered and not finished.bru
  collection/client/Problem/Get Assignment Problem by ID/[404] Nonexistent Assignment Problem.bru
  collection/client/Problem/Get Assignment Problems/Succeed.bru
  collection/client/Problem/Get Assignment Problems/[403] Registered but Not Started.bru
  collection/client/Problem/Get Assignment Problems/[403] Unregistered and Not Finished.bru
  collection/client/Problem/Get Assignment Problems/[404] Nonexistent Contest.bru
  collection/client/Submission/Create Assignment Submission/404: No Assignment found.bru
  collection/client/Submission/Create Assignment Submission/Succeed.bru
  collection/client/Submission/Create Assignment Submission/Succeed: Assignment(AC).bru
  collection/client/Submission/Create Assignment Submission/Succeed: Assignment(TLE).bru
  collection/client/Submission/Create Assignment Submission/Succeed: Assignment(WA).bru
  collection/client/Submission/Create Contest Submission/404: No Contest found.bru
  collection/client/Submission/Create Contest Submission/Succeed.bru
  collection/client/Submission/Create Contest Submission/Succeed: Contest(AC).bru
  collection/client/Submission/Create Contest Submission/Succeed: Contest(TLE).bru
  collection/client/Submission/Create Contest Submission/Succeed: Contest(WA).bru
Due: none

fix(fe): redesign contest main page table
  apps/frontend/app/(client)/(main)/_components/SearchBar.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/FinishedContestTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/RegisteredContestTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/RegisteredTableColumns.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/public/icons/check-darkgray.svg
Due: eslint, prettier

docs(be): add api documents
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get Contests/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
  collection/client/Contest/Get registered ongoing & upcoming contests/Succeed.bru
Due: eslint, prettier

chore(fe): remove whitespacevisualizer
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Due: eslint, prettier

feat(iris): improve judge result handling (#2294)
  apps/backend/apps/client/src/submission/class/judger-response.dto.ts
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/router/response.go
  apps/iris/src/service/sandbox/sandboxArgs.go
Due: eslint, prettier

fix(fe): reflect review from Minchae 2
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/DataTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/page.tsx
  apps/frontend/components/shadcn/dialog.tsx
  collection/client/environments/Development.bru
Due: eslint, prettier

fix(fe): reflect review from Minchae 3
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Due: eslint, prettier

fix(fe): modify Local.bur
  collection/client/environments/Local.bru
Due: none

fix(be): add orderby options
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(fe): annotate to use Tanstack Query
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
Due: eslint, prettier

chore(fe): erase imcompleted Calendar component in page file
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

chore(fe): remove duplicates in dependencies
  apps/frontend/package.json
Due: none

chore(fe): remove duplicates in dependencies again
  apps/frontend/package.json
Due: none

feat(be): add first solver
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/prisma/migrations/20250127143044_add_firstsolver_column_in_contestproblemrecord/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

fix(fe): follow convention and handle null values in DashboardCalendar
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

fix(fe): use style file instead of style tag
  apps/frontend/app/(client)/(main)/course/_components/CourseStatusTimeDiff.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/style.css
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): fix CI problem by completing CalendarTable componenet
  apps/frontend/app/(client)/(main)/course/_components/CalendarTable.tsx
Due: eslint, prettier

fix(fe): update lockfile to match package.json
  pnpm-lock.yaml
Due: prettier

chore(fe): fix CI issue again
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Sidebar.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
Due: eslint, prettier

chore(fe): resolve CI issue once again
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Sidebar.tsx
Due: eslint, prettier

feat(be): add assignment methods in admin problem&submission module
  apps/backend/apps/admin/src/problem/problem.module.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/submission/enum/submission-order.enum.ts
  apps/backend/apps/admin/src/submission/model/assignment-submission.model.ts
  apps/backend/apps/admin/src/submission/model/get-submissions.input.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  apps/backend/libs/pipe/src/contest-submission-order.pipe.ts
Due: eslint, prettier
