Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(be): add UserNullWhenAuthFailedIfPublic to contest statistics (#3368)
  apps/backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

fix(be): default interval minutes to 0 when timeline is missing (#3369)
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): handle statistics by problem when user null (#3371)
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(fe): adjust contest main page layout spacing and registered icon alignment (#3354)
  apps/frontend/app/(client)/(main)/contest/_components/ContestDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
Due: eslint, prettier

chore(be): add leaderboard seed data for contest 6 (#3375)
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(fe): replace level badge component with badge (#3370)
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
  apps/frontend/app/(client)/(main)/problem/_components/Columns.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemColumns.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentProblemColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/shared/_components/SharedProblemTableColumns.tsx
  apps/frontend/components/LevelBadge.tsx
  apps/frontend/components/notification/NotificationDropdown.tsx
  apps/frontend/components/shadcn/badge.tsx
Due: eslint, prettier

fix(be): contest-problem-stats-correct-answers-by-language (#3376)
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): add JSDoc into NotificationService with Refactoring (#3364)
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
Due: eslint, prettier

feat(infra): add VPC terraform code (#3372)
  infra/aws/vpc/.terraform.lock.hcl
  infra/aws/vpc/elastic-ip.tf
  infra/aws/vpc/modules/security-group/main.tf
  infra/aws/vpc/modules/security-group/outputs.tf
  infra/aws/vpc/modules/security-group/security-group.tf
  infra/aws/vpc/modules/security-group/variables.tf
  infra/aws/vpc/modules/subnet/main.tf
  infra/aws/vpc/modules/subnet/outputs.tf
  infra/aws/vpc/modules/subnet/subnet.tf
  infra/aws/vpc/modules/subnet/variables.tf
  infra/aws/vpc/network-instance.tf
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/private-network.tf
  infra/aws/vpc/public-network.tf
  infra/aws/vpc/route_tables.tf
  infra/aws/vpc/security-group.tf
  infra/aws/vpc/variables.tf
Due: terraformfmt

feat(infra): add server no.2 to stage clusterIp (#3377)
  infra/aws/dns/main.tf
Due: terraformfmt

fix(infra): resolve grafana ArgoCD manifest generation error (#3378)
  infra/k8s/argocd/applications/argocd.yaml
  infra/k8s/argocd/applications/minio-stage.yaml
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/argocd/applications/monitoring/loki.yaml
  infra/k8s/argocd/applications/monitoring/minio.yaml
  infra/k8s/argocd/applications/monitoring/prometheus.yaml
  infra/k8s/argocd/applications/monitoring/tempo.yaml
  infra/k8s/argocd/applications/postgres-stage.yaml
  infra/k8s/argocd/applications/rabbitmq.yaml
  infra/k8s/argocd/applications/redis.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

feat(infra): build storage of failover infra #5
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/private-network.tf
Due: terraformfmt

feat(infra): build storage of failover infra (#3373)
  infra/aws/storage/.terraform.lock.hcl
  infra/aws/storage/README.md
  infra/aws/storage/database.tf
  infra/aws/storage/main.tf
  infra/aws/storage/outputs.tf
  infra/aws/storage/redis.tf
  infra/aws/storage/s3_gateway_vpc_endpoint.tf
  infra/aws/storage/s3_media.tf
  infra/aws/storage/s3_media_iam_user.tf
  infra/aws/storage/s3_testcase.tf
  infra/aws/storage/s3_testcase_iam_user.tf
  infra/aws/storage/variables.tf
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/private-network.tf
Due: terraformfmt

feat(fe): add event listener
  apps/frontend/app/admin/problem/create/_libs/baekjoon.ts
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

fix(infra): remove connection limit from database URL
  infra/aws/storage/database.tf
  infra/legacy/production/storage/database.tf
Due: terraformfmt

fix(infra): add fixed uid to Grafana datasource provisioning
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

chore(fe): update hover in instructor course invite page (#3355)
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteByCode.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteManually.tsx
Due: eslint, prettier

refactor(fe): modify carousel structure
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
  apps/frontend/app/(client)/(main)/course/_components/MobileCourseCard.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

chore(be): add seed data of contest 6 for statistics leaderboard
  apps/backend/prisma/seed.ts
Due: eslint, prettier

chore(be): add seed data of contest 6 for statistics leaderboard (#3386)
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(infra): add sealed-secrets key backup to AWS Secrets Manager
  infra/aws/sealed-secrets-backup/.terraform.lock.hcl
  infra/aws/sealed-secrets-backup/iam.tf
  infra/aws/sealed-secrets-backup/main.tf
  infra/aws/sealed-secrets-backup/secrets-manager.tf
  infra/docs/sealed-secrets-restore.md
  infra/k8s/argocd/applications/sealed-secrets-backup.yaml
  infra/k8s/sealed-secrets-backup/base/configmap.yaml
  infra/k8s/sealed-secrets-backup/base/cronjob.yaml
  infra/k8s/sealed-secrets-backup/base/kustomization.yaml
  infra/k8s/sealed-secrets-backup/base/namespace.yaml
  infra/k8s/sealed-secrets-backup/base/role.yaml
  infra/k8s/sealed-secrets-backup/base/rolebinding.yaml
  infra/k8s/sealed-secrets-backup/base/serviceaccount.yaml
  infra/k8s/sealed-secrets-backup/overlays/production/kustomization.yaml
  infra/k8s/sealed-secrets-backup/overlays/production/secrets/aws-credentials.yaml
  infra/k8s/sealed-secrets-backup/overlays/stage/kustomization.yaml
  infra/k8s/sealed-secrets-backup/overlays/stage/secrets/aws-credentials.yaml
Due: prettier, terraformfmt

style(infra): fix prettier formatting for cronjob and role
  infra/k8s/sealed-secrets-backup/base/cronjob.yaml
  infra/k8s/sealed-secrets-backup/base/role.yaml
Due: prettier

Added & moved files
  apps/runner/backend/Dockerfile
  apps/runner/backend/compile_opts.go
  apps/runner/backend/go.mod
  apps/runner/backend/go.sum
  apps/runner/backend/main.go
  apps/runner/pod-manager/Dockerfile
  apps/runner/pod-manager/go.mod
  apps/runner/pod-manager/go.sum
  apps/runner/pod-manager/pod-manager.go
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/base/kustomization.yaml
  infra/k8s/runner/base/namespace.yaml
  infra/k8s/runner/base/rbac.yaml
  infra/k8s/runner/base/service.yaml
  infra/k8s/runner/overlays/production/ingress.yaml
  infra/k8s/runner/overlays/production/kustomization.yaml
  infra/k8s/runner/overlays/stage/ingress.yaml
  infra/k8s/runner/overlays/stage/kustomization.yaml
Due: prettier

Edited pod-manager.go and pasted all k8s runner config
  apps/runner/pod-manager/pod-manager.go
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/base/kustomization.yaml
  infra/k8s/runner/base/namespace.yaml
  infra/k8s/runner/base/rbac.yaml
  infra/k8s/runner/base/service.yaml
  infra/k8s/runner/overlays/production/ingress.yaml
  infra/k8s/runner/overlays/production/kustomization.yaml
  infra/k8s/runner/overlays/stage/ingress.yaml
  infra/k8s/runner/overlays/stage/kustomization.yaml
Due: prettier

Changed backend image name to
  apps/runner/pod-manager/pod-manager.go
Due: none

Completed base migration setup
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
  apps/runner/pod-manager/pod-manager.go
  infra/aws/dns/runner.tf
  infra/k8s/argocd/applications/runner.yaml
  infra/k8s/runner/base/configmap.yaml
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/base/kustomization.yaml
  infra/k8s/runner/overlays/production/configmap.yaml
  infra/k8s/runner/overlays/production/kustomization.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
  infra/k8s/runner/overlays/stage/kustomization.yaml
Due: prettier, terraformfmt

Dockerfile change and linted .yamls
  apps/runner/backend/Dockerfile
  infra/k8s/runner/overlays/production/ingress.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
  infra/k8s/runner/overlays/stage/ingress.yaml
Due: prettier

Excluded sticky cookies
  infra/k8s/runner/overlays/production/ingress.yaml
  infra/k8s/runner/overlays/stage/ingress.yaml
Due: prettier

Linted again
  infra/k8s/runner/base/configmap.yaml
  infra/k8s/runner/base/rbac.yaml
  infra/k8s/runner/overlays/production/configmap.yaml
Due: prettier

fix(be): modify decimal point 1 to 3 for acceptedRate
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): modify decimal point 1 to 3 for acceptedRate (#3388)
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(be): add argument startTime and endTime in Timeline function
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(be): fix createTime of seed data in contestID 6
  apps/backend/prisma/seed.ts
Due: eslint, prettier

chore(be): delete unnecessary comment
  apps/backend/prisma/seed.ts
Due: eslint, prettier

chore(be): fix contest problem stats seed (#3389)
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(plag): resolve out of range error due to empty template
  apps/plag/src/loader/postgres.go
Due: none

chore(be): change error message when unmarshalling template data
  apps/plag/src/loader/postgres.go
Due: none

fix(be): optimize group service methods for better performance and clarity
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier

fix(be): optimize group service methods for improved member counting and whitelist checks
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier
