Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): integrate account recovery into login page
  apps/frontend/components/auth/RecoverAccount/FindUserId.tsx
  apps/frontend/components/auth/RecoverAccount/RecoverAccount.tsx
  apps/frontend/components/auth/RecoverAccount/ResetPasswordEmailVerify.tsx
Due: eslint, prettier

feat(fe): implement social login button
  apps/frontend/components/auth/LogInPage/LogInPage.tsx
Due: eslint, prettier

fix(infra): update devcontainer base image (#3601)
  .devcontainer/Dockerfile
Due: none

feat(fe): add reusable social login info modal
  apps/frontend/components/auth/LogInPage/InfoModal.tsx
Due: eslint, prettier

feat(fe): add social unlinked modal to login page
  apps/frontend/components/auth/LogInPage/LogInPage.tsx
Due: eslint, prettier

chore(be): add where condition
  apps/backend/prisma/migrations/20260528070352_add_not_null_constraint_to_profile_image_url_field/migration.sql
Due: none

feat(be): add profileImageUrl to updateUser
  apps/backend/apps/client/src/user/dto/updateUser.dto.ts
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

feat(be): add default profileImageUrl to createUserProfile
  apps/backend/apps/client/src/user/interface/create-userprofile.interface.ts
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

revert: revert image optimization commit 1ed087fb
  apps/frontend/public/banners/main_banner.png
  apps/frontend/public/banners/mainpage_middle_banner.png
Due: none

fix: skip image compression for release prs
  .github/workflows/compress-image.yml
  apps/frontend/public/banners/main_banner.png
  apps/frontend/public/banners/mainpage_middle_banner.png
Due: prettier

fix: skip image compression for release prs
  .github/workflows/compress-image.yml
Due: prettier

fix(infra): skip image compression for release prs (#3604)
  .github/workflows/compress-image.yml
Due: prettier

fix(infra): enable TSDB index pre-loading for historical log queries
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

fix(infra): enable TSDB index pre-loading for loki (#3605)
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

fix(infra): align RABBITMQ_SSL check and remove unused reflection annotations
  apps/iris/main.go
  apps/plag/main.go
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: prettier

fix(infra): rabbitmq-tls-unify-insecure-skip-verify (#3595)
  apps/backend/libs/amqp/src/amqp.module.ts
  apps/iris/main.go
  apps/iris/src/connector/rabbitmq/consumer.go
  apps/iris/src/connector/rabbitmq/producer.go
  apps/plag/main.go
  apps/plag/src/connector/rabbitmq/consumer.go
  apps/plag/src/connector/rabbitmq/producer.go
  infra/k8s/admin-api/base/deployment.yaml
  infra/k8s/admin-api/base/kustomization.yaml
  infra/k8s/admin-api/base/rabbitmq-ca-cert.yaml
  infra/k8s/client-api/base/deployment.yaml
  infra/k8s/client-api/base/kustomization.yaml
  infra/k8s/client-api/base/rabbitmq-ca-cert.yaml
  infra/k8s/iris/base/deployment.yaml
  infra/k8s/iris/base/kustomization.yaml
  infra/k8s/iris/base/rabbitmq-ca-cert.yaml
  infra/k8s/plag/base/deployment.yaml
  infra/k8s/plag/base/kustomization.yaml
  infra/k8s/plag/base/rabbitmq-ca-cert.yaml
  infra/k8s/rabbitmq/base/tls-certificate.yaml
Due: eslint, prettier

fix(infra): keep production apps renderable
  infra/k8s/argocd/applications/monitoring/grafana.yaml
  infra/k8s/argocd/applications/redis.yaml
Due: prettier

fix(infra): keep production apps renderable during release lag
  infra/k8s/monitoring/grafana/base/alerting/values.yaml
  infra/k8s/monitoring/grafana/overlays/production/alerting/values.yaml
  infra/k8s/redis/overlays/production/kustomization.yaml
  infra/k8s/redis/values-production.yaml
Due: prettier

fix(infra): add production redis credentials placeholder
  infra/k8s/redis/base/admin-credentials.yaml
  infra/k8s/redis/base/kustomization.yaml
  infra/k8s/redis/overlays/production/credentials.yaml
  infra/k8s/redis/overlays/production/kustomization.yaml
Due: prettier

fix(infra): add production redis credentials placeholder
  infra/k8s/redis/overlays/production/kustomization.yaml
Due: prettier

fix(infra): add production redis credentials placeholder (#3612)
  infra/k8s/redis/overlays/production/kustomization.yaml
Due: prettier

fix(infra): restore rabbitmq and app production config
  infra/k8s/iris/overlays/production/configmap-patch.yaml
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/plag/overlays/production/configmap-patch.yaml
  infra/k8s/plag/overlays/production/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
Due: prettier

fix(infra): restore rabbitmq and app production config (#3613)
  infra/k8s/iris/overlays/production/configmap-patch.yaml
  infra/k8s/iris/overlays/production/kustomization.yaml
  infra/k8s/plag/overlays/production/configmap-patch.yaml
  infra/k8s/plag/overlays/production/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
Due: prettier

feat(fe): blur main banner image
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
  apps/frontend/app/(client)/(main)/_components/MainBanner.tsx
  apps/frontend/app/(client)/(main)/page.tsx
Due: eslint, prettier

Update apps/frontend/app/(client)/(main)/_components/MainBanner.tsx
  apps/frontend/app/(client)/(main)/_components/MainBanner.tsx
Due: eslint, prettier

fix(fe): restore banner
  apps/frontend/app/(client)/(main)/_components/MainBanner.tsx
Due: eslint, prettier

chore(be): set default '' to profileImageUrl
  apps/backend/prisma/migrations/20260528070352_add_not_null_constraint_to_profile_image_url_field/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(fe): modify course end month logic
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
Due: eslint, prettier

fix(fe): modify file name
  apps/frontend/app/(client)/(main)/_components/MainBanner.tsx
  apps/frontend/public/banners/desktop_main_banner.png
Due: eslint, prettier

fix(fe): modify course end month logic (#3616)
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
Due: eslint, prettier

fix(fe): change latest plagiarism check request to first item
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/plagiarism/_components/PlagiarismCheckRequestButton.tsx
Due: eslint, prettier

fix(fe): change latest plagiarism check request to first item (#3617)
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/plagiarism/_components/PlagiarismCheckRequestButton.tsx
Due: eslint, prettier

feat(fe): blur main banner image (#3615)
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
  apps/frontend/app/(client)/(main)/_components/MainBanner.tsx
  apps/frontend/app/(client)/(main)/page.tsx
  apps/frontend/public/banners/desktop_main_banner.png
Due: eslint, prettier

fix(fe): track latest plag request with id
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/plagiarism/_components/PlagiarismCheckRequestButton.tsx
Due: eslint, prettier

Update apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/plagiarism/_components/PlagiarismCheckRequestButton.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/plagiarism/_components/PlagiarismCheckRequestButton.tsx
Due: eslint, prettier

revert(fe): revert middle banner change
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
Due: eslint, prettier

fix(fe): hide middle banner in main page
  apps/frontend/app/(client)/(main)/page.tsx
Due: eslint, prettier

fix(fe): modify type handling from string to number
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/plagiarism/_components/PlagiarismCheckRequestButton.tsx
Due: eslint, prettier

fix(fe): disable problem create button in main page
  apps/frontend/app/(client)/(main)/_components/MiddleBanner.tsx
  apps/frontend/app/(client)/(main)/page.tsx
Due: eslint, prettier
