Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(fe): add cdninstagram.com to remotePatterns in next.config.ts
  apps/frontend/next.config.ts
Due: eslint, prettier

fix(infra): rename ingress resource to minio-ingress for consistency
  infra/k8s/minio/ingress.yaml
Due: prettier

feat(infra): add NEXT_PUBLIC_GTM_MEASUREMENT_ID to production frontend env var
  infra/k8s/frontend/overlays/production/configmap.yaml
  infra/k8s/frontend/overlays/production/kustomization.yaml
Due: prettier

fix: update cert-manager cluster issuer to letsencrypt-dns01 (#3253)
  infra/k8s/admin-api/base/ingress.yaml
  infra/k8s/admin-api/overlays/stage/ingress.yaml
  infra/k8s/argocd/ingress.yaml
  infra/k8s/client-api/base/ingress.yaml
  infra/k8s/client-api/overlays/stage/ingress.yaml
  infra/k8s/cloud-beaver/ingress.yaml
  infra/k8s/frontend/base/ingress.yaml
  infra/k8s/internal/base/cluster-issuer-http01.yaml
  infra/k8s/internal/base/dashboard-ingress.yaml
  infra/k8s/minio/ingress.yaml
  infra/k8s/monitoring/grafana/values.yaml
  infra/k8s/monitoring/minio/ingress.yaml
  infra/k8s/monitoring/prometheus/values.yaml
  infra/k8s/rabbitmq/base/ingress.yaml
Due: prettier

fix(infra): correct route53 credential reference in cluster issuer configuration
  infra/k8s/internal/base/cluster-issuer-dns01.yaml
Due: prettier

fix(infra): correct route53 credential reference in cluster issuer configuration (#3255)
  infra/k8s/internal/base/cluster-issuer-dns01.yaml
Due: prettier

chore(fe): add gtm tag (#3248)
  apps/frontend/app/layout.tsx
  infra/k8s/frontend/overlays/production/configmap.yaml
  infra/k8s/frontend/overlays/production/kustomization.yaml
Due: eslint, prettier

fix(fe): admin course assessment tab bug fix
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/page.tsx
Due: eslint, prettier

fix(fe): delete useRef
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
Due: eslint, prettier

fix(fe): add error boundary
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/page.tsx
Due: eslint, prettier

fix(fe): restore participanttablebyproblem
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
Due: eslint, prettier

feat(fe): enable switch between assessment problem score and testcase
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsOverall.tsx
Due: eslint, prettier

fix(fe): redesign Contest Overview (#3197)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/ContestOverviewLayout.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/GotoContestListButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/PrevNextProblemButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterCancelButton.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/public/icons/clock_red.svg
  apps/frontend/public/icons/subtract.svg
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): modify Invite Register Modal
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/_components/RegisterButton.tsx
Due: eslint, prettier

fix(be): fix plag sh
  apps/plag/entrypoint.sh
Due: none

fix(infra): update grafana source configuration in argocd application
  infra/k8s/argocd/applications/monitoring/grafana.yaml
Due: prettier

fix(infra): update repoURL for actions-runner-controller in argocd applications
  infra/k8s/argocd/applications/actions-runner-controller.yaml
  infra/k8s/argocd/applications/arc-runner-scale-set.yaml
Due: prettier

fix(infra): use public dns instead of cluster fqdn for stage minio (#3254)
  apps/frontend/next.config.ts
  infra/aws/dns/minio.tf
  infra/k8s/admin-api/overlays/stage/configmap.yaml
  infra/k8s/client-api/overlays/stage/configmap.yaml
  infra/k8s/frontend/base/configmap.yaml
  infra/k8s/iris/overlays/stage/configmap.yaml
  infra/k8s/minio/ingress.yaml
  infra/k8s/minio/tenant.yaml
Due: eslint, prettier, terraformfmt

feat(fix): fix bug for checking problem count
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
Due: eslint, prettier

chore(be): comment out unused api getContestRoles
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(fe): comment out unused api getContestRoles
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

fix(be): avoid error when template is empty
  apps/plag/src/loader/postgres.go
Due: none

docs(be): standardize the Client Bruno format
  collection/client/Contest/Create Contest QnA Comment/Succeed.bru
  collection/client/Contest/Create Contest QnA/Succeed(General).bru
  collection/client/Contest/Create Contest QnA/Succeed(Problem).bru
  collection/client/Contest/Create Contest QnA/[401] Cannot post QnA without logging in.bru
  collection/client/Contest/Create Contest QnA/[404] Nonexistent Contest.bru
  collection/client/Contest/Delete Contest QnA Comment/Succeed.bru
  collection/client/Contest/Delete Contest QnA Comment/[401] Cannot delete Comment without logging in.bru
  collection/client/Contest/Delete Contest QnA Comment/[403] Cannot delete others Comment.bru
  collection/client/Contest/Delete Contest QnA Comment/[404] Nonexistent Contest QnA Comment.bru
  collection/client/Contest/Delete Contest QnA Comment/[404] Nonexistent Contest QnA.bru
  collection/client/Contest/Delete Contest QnA Comment/[404] Nonexistent Contest.bru
  collection/client/Contest/Delete Contest QnA/Succeed.bru
  collection/client/Contest/Delete Contest QnA/[401] Cannot delete QnA without logging in.bru
  collection/client/Contest/Delete Contest QnA/[403] Cannot delete others QnA.bru
  collection/client/Contest/Delete Contest QnA/[404] Nonexistent Contest QnA.bru
  collection/client/Contest/Delete Contest QnA/[404] Nonexistent Contest.bru
  collection/client/Contest/Get Banner Contests/Succeed.bru
  collection/client/Contest/Get Banner Contests/[404] Nonexistent Upcoming Contests.bru
  collection/client/Contest/Get Contest QnA/Succeed.bru
  collection/client/Contest/Get Contest QnA/[403] Cannot access to others QnA during contest.bru
  collection/client/Contest/Get Contest QnAs/Succeed.bru
  collection/client/Contest/Get Contest QnAs/[403] Cannot access QnAs in ongoing contest without logging in.bru
  collection/client/Contest/Get Contest QnAs/[404] Nonexistent Contest.bru
  collection/client/Contest/Get Contest Roles/Succeed.bru
  collection/client/Contest/Get Contests/Succeed.bru
  collection/client/Contest/Get Leaderboard/succeed.bru
  collection/client/Contest/Get contest by ID/[404] Nonexistent Contest.bru
  collection/client/Contest/Participate Contest/Succeed.bru
  collection/client/Contest/Participate Contest/[401] Unauthorized.bru
  collection/client/Contest/Participate Contest/[409] Already Participated.bru
  collection/client/Contest/Unregister Contest/Succeed.bru
  collection/client/Contest/Unregister Contest/[404] Nonexistent Contest.bru
  collection/client/Contest/Unregister Contest/[404] Nonexistent ContestRecord.bru
Due: none

fix(be): resolve ci
  .github/workflows/ci.yml
Due: prettier

fix(infra): update minio service port from 9000 to 80 in ingress configuration
  infra/k8s/minio/ingress.yaml
Due: prettier

fix(infra): update minio service port from 9000 to 80 in ingress configuration (#3264)
  infra/k8s/minio/ingress.yaml
Due: prettier

refactor(be): refactor contest (#3250)
  apps/backend/apps/admin/src/contest/contest-problem.resolver.ts
  apps/backend/apps/admin/src/contest/contest-problem.service.ts
  apps/backend/apps/admin/src/contest/contest-qna.service.ts
  apps/backend/apps/admin/src/contest/contest.module.ts
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/test/contest-problem.service.spec.ts
  apps/backend/apps/admin/src/contest/test/contest-qna.service.spec.ts
  apps/backend/apps/admin/src/contest/test/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/frontend/graphql/contest/queries.ts
  collection/client/Contest/Get Leaderboard/Succeed.bru
  collection/client/Contest/Register Contest/Succeed.bru
  collection/client/Contest/Register Contest/[404] Nonexistent Contest.bru
  collection/client/Contest/Register Contest/[409] Already Participated.bru
  collection/client/Contest/Register Contest/[409] Invalid Invitation Code.bru
  collection/client/Contest/Register Contest/[409] Registration closed.bru
Due: eslint, prettier

feat(be): impl problem statistics
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Create Contest QnA Comment/folder.bru
  collection/client/Contest/Create Contest QnA/folder.bru
  collection/client/Contest/Delete Contest QnA Comment/folder.bru
  collection/client/Contest/Delete Contest QnA/folder.bru
  collection/client/Contest/Get Banner Contests/folder.bru
  collection/client/Contest/Get Contest Problems/Succeed.bru
  collection/client/Contest/Get Contest Problems/folder.bru
  collection/client/Contest/Get Contest QnA/folder.bru
  collection/client/Contest/Get Contest QnAs/folder.bru
  collection/client/Contest/Get Contest Roles/folder.bru
  collection/client/Contest/Get Contests/folder.bru
  collection/client/Contest/Get Leaderboard/folder.bru
  collection/client/Contest/Get contest by ID/folder.bru
  collection/client/Contest/Participate Contest/folder.bru
  collection/client/Contest/Unregister Contest/folder.bru
Due: eslint, prettier

feat(infra): rabbitMQ for plag
  infra/k8s/rabbitmq/base/check-request-queue.yaml
  infra/k8s/rabbitmq/base/check-result-queue.yaml
  infra/k8s/rabbitmq/base/exchange.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
Due: prettier

feat(infra): minio bucket for plag
  infra/k8s/minio/tenant.yaml
Due: prettier

fix(fe): match each submission with according problem based on problemId (#3182)
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
Due: eslint, prettier

fix(infra): change bitnami/minio tag to latest (#3174)
  .github/workflows/ci.yml
Due: prettier

chore(be): refactor announcement bruno (#3173)
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
  collection/admin/Announcement/Create Announcement/[ERR] Nonexistent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Nonexistent Problem.bru
  collection/admin/Announcement/Get Announcement By Id/Succeed.bru
  collection/admin/Announcement/Get Announcement By Id/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Get Announcements By ContestId/Succeed.bru
  collection/admin/Announcement/Get Announcements By ContestId/[ERR] Nonexistent Contest.bru
  collection/admin/Announcement/Remove Announcement/Succeed.bru
  collection/admin/Announcement/Remove Announcement/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/Update Announcement/Succeed.bru
  collection/admin/Announcement/Update Announcement/[ERR] Nonexistent Announcement.bru
  collection/admin/Announcement/folder.bru
  collection/client/Announcement/Get Announcements/Succeed.bru
  collection/client/Announcement/Get Announcements/[400] Related ID Not Given.bru
  collection/client/Announcement/Get Announcements/[404] Nonexistent Contest.bru
  collection/client/Announcement/Get Announcements/[422] Contest ID Not Given.bru
Due: none

chore(be): add updateContentTime to problem (#3178)
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/mock/problem.mock.ts
  apps/backend/prisma/migrations/20250921123231_add_update_content_time_in_problem/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
Due: eslint, prettier

feat(fe): impl admin qna detail page (#3094)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaDetailDeleteButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/AdminCommentPostArea.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/AdminQnaCommentArea.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/AdminQnaContentArea.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/AdminQnaSingleComment.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/QnaDetailButton.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/page.tsx
  apps/frontend/components/DeleteButton.tsx
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

fix(fe): update qna main page alert modal design (#3163)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAAlertModal.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
  apps/frontend/public/icons/info-blue.svg
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
