Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

refactor(be): refactor order of functions
  backend/src/user/user.service.ts
Due: eslint, prettier

test(be): complete user service unit tests
  backend/src/user/user.service.spec.ts
Due: eslint, prettier

chore: resolve broken lock file
  pnpm-lock.yaml
Due: prettier

chore(be): delete unused references
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
Due: eslint, prettier

style(be): lint hbs file
  backend/src/email/templates/email-auth.hbs
Due: none

chore(be): delete unused references
  backend/src/user/user.service.spec.ts
Due: eslint, prettier

chore: use swc in ts-node
  backend/tsconfig.json
Due: none

feat: add database seed data
  backend/package.json
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  pnpm-lock.yaml
Due: eslint, prettier

chore: integrate user related functions
  backend/prisma/seed.ts
Due: eslint, prettier

fix: add all users to public group
  backend/prisma/seed.ts
Due: eslint, prettier

fix: move nestjs server port
  .gitpod.yml
  backend/src/main.ts
  frontend/vite.config.ts
Due: eslint, prettier

style: don't specify height
  frontend/src/common/components/Organism/CodeEditor.vue
Due: eslint, prettier

fix(fe): problem header directory & name
  frontend/src/user/problem/components/ProblemHeader.story.vue
  frontend/src/user/problem/components/ProblemHeader.vue
Due: eslint, prettier

fix(fe): user icon class
  frontend/src/user/problem/components/ProblemHeader.vue
Due: eslint, prettier

fix: closing bracket duplicates
  frontend/src/common/components/Organism/CodeEditor.vue
Due: eslint, prettier

chore(fe): delete unused codes
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

chore(fe): add description of CardItem
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

feat(fe): modify description props
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

docs: setup thunder client api collection
  .eslintignore
  .gitignore
  .prettierignore
  .vscode/settings.json
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: none

feat: setup thunder client env
  scripts/setup.sh
  thunder-tests/thunderEnvironmentBase.json
Due: none

fix: remove dist before nest build
  backend/package.json
Due: none

fix: ignore mocha setup file on build
  backend/tsconfig.build.json
Due: none

feat(fe): add code editor component (#313)
  frontend/package.json
  frontend/src/common/components/Organism/CodeEditor.story.vue
  frontend/src/common/components/Organism/CodeEditor.vue
  pnpm-lock.yaml
Due: eslint, prettier

docs: add details to login api
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: none

docs: add details to logout api
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: none

docs: add details to reissue token api
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: none

docs: add details to contest api
  backend/src/contest/contest.controller.ts
  backend/src/contest/contest.service.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

chore(fe): simplify import logic
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

fix(fe): includes to startwith
  frontend/src/common/components/Organism/Header.vue
Due: eslint, prettier

fix(fe): remove pagination table scroll bar
  frontend/src/common/components/Organism/PaginationTable.vue
Due: eslint, prettier

fix(fe): rerender page after path changes
  frontend/src/App.vue
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
Due: eslint, prettier

chore(fe): delete unnecessary 'Register Contests'
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

chore(fe): update 'No Contest' logic
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

refactor: collect similar logic
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
Due: eslint, prettier

chore(fe): remove useless class
  frontend/src/user/problem/components/ProblemHeader.vue
Due: eslint, prettier

fix(fe): remove problem header story & rename to Header
  frontend/src/user/problem/components/Header.vue
  frontend/src/user/problem/components/ProblemHeader.story.vue
Due: eslint, prettier

chore(fe): simplify v-if logic
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

feat(fe): add notice list and detail (#244)
  frontend/src/App.vue
  frontend/src/common/components/Organism/Header.vue
  frontend/src/common/components/Organism/PaginationTable.vue
  frontend/src/user/notice/composables/notice.ts
  frontend/src/user/notice/pages/[id].vue
  frontend/src/user/notice/pages/index.vue
Due: eslint, prettier

fix(fe): remove padding
  frontend/src/user/group/pages/[id]/index.vue
  frontend/src/user/group/pages/index.vue
Due: eslint, prettier

fix(fe): icon color white
  frontend/src/user/problem/components/Header.vue
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
