Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(fe): use secret manager for token & make next route for instagram data (#3012)
  apps/frontend/app/(client)/(main)/_components/InstagramArea.tsx
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
  apps/frontend/app/my_api/instagram/route.ts
  apps/frontend/app/my_api/revalidate-instagram/route.ts
  apps/frontend/libs/instagram.ts
  apps/frontend/package.json
  apps/frontend/types/instagram.d.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): apply multi sort
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/_components/table/DataTableRoot.tsx
Due: eslint, prettier

chore(be): add SuperAdmin permission
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): modify contestQnAs filtering bruno collection
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-qna.input.ts
  apps/backend/schema.gql
Due: eslint, prettier

docs(be): test and modify contestQnAs filtering bruno collection
  collection/admin/Contest/Get Contest QnAs/Succeed.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get All QnAs.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get QnAs by Search Title.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get Resolved QnAs.bru
  collection/admin/Contest/Get Contest QnAs/[succeed] Get Unresolved QnAs.bru
Due: none

fix(fe): use Warning of Alert Modal
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
Due: eslint, prettier

chore(be): add SuperAdmin permission (#3118)
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(fe): revise qna main page (#3115)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnACategoryFilter.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAMainTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
Due: eslint, prettier

feat(fe): update modal for signing up v2 (#3072)
  apps/frontend/app/admin/_components/OptionSelect.tsx
  apps/frontend/components/auth/AuthLabel.tsx
  apps/frontend/components/auth/AuthMessage.tsx
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpRegister.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterAccount.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterMajor.tsx
  apps/frontend/components/auth/SignUp/SignUpSendEmail.tsx
  apps/frontend/components/auth/SignUp/SignUpVerifyEmail.tsx
  apps/frontend/components/auth/SignUp/SignUpWelcome.tsx
  apps/frontend/components/shadcn/button.tsx
  apps/frontend/components/shadcn/select.tsx
  apps/frontend/stores/signUpModal.ts
Due: eslint, prettier

feat(fe): make contestStaff delete user comments (#3117)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
Due: eslint, prettier

fix(infra): correct path in otel-collector configuration
  apps/k8s/argocd/applications/monitoring/otel-collector.yaml
Due: prettier

feat(fe): add Confirm Modal when Changing Language (#3110)
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
Due: eslint, prettier

chore(fe): white push badge icon (#3116)
  apps/frontend/public/logos/codedang-badge.png
Due: none

fix(fe): complete add college filed
  apps/frontend/app/(client)/(main)/settings/_components/MajorSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/context.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/app/(client)/_libs/apis/profile.ts
Due: eslint, prettier

feat(fe): add tooltip
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
Due: eslint, prettier

chore(fe): change useeffect handling
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
Due: eslint, prettier

feat(fe): prevent editting testcase if submission exists (#3106)
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/graphql/submission/queries.ts
Due: eslint, prettier

fix(fe): update regex and block submit when not selecting major
  apps/frontend/app/(client)/(main)/settings/_libs/schemas.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
Due: eslint, prettier

fix(fe): fix solution manually infinite error (#3108)
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionTable.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
Due: eslint, prettier

feat(fe): let modifying affliation and major (#3120)
  apps/frontend/app/(client)/(main)/settings/_components/MajorSection.tsx
  apps/frontend/app/(client)/(main)/settings/_components/context.ts
  apps/frontend/app/(client)/(main)/settings/_libs/schemas.ts
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/app/(client)/_libs/apis/profile.ts
Due: eslint, prettier

feat(fe): impl multi sort
  apps/frontend/app/admin/_components/table/DataTableColumnHeader.tsx
  apps/frontend/app/admin/_components/table/DataTableRoot.tsx
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
Due: eslint, prettier

fix(fe): apply requested changes(3)
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteManually.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteUserButton.tsx
Due: eslint, prettier

feat(fe): main page design of instagram cards
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
  apps/frontend/next.config.ts
  apps/frontend/public/icons/instagram-logo.svg
Due: eslint, prettier

feat(infra): add headers for Loki's multi-tenancy support
  apps/k8s/monitoring/otel-collector/otel-collector.yaml
Due: prettier

update next.config.ts
  apps/frontend/next.config.ts
Due: eslint, prettier

fix error
  apps/frontend/next.config.ts
Due: eslint, prettier

update InstagramCards.tsx
  apps/frontend/app/(client)/(main)/_components/InstagramCards.tsx
Due: eslint, prettier

feat(be): add bruno for course notice
  apps/backend/apps/admin/src/notice/model/course_notice.input.ts
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/apps/client/src/notice/dto/courseNotice.dto.ts
  apps/backend/apps/client/src/notice/notice.controller.ts
  apps/backend/apps/client/src/notice/notice.service.ts
  collection/admin/Notice/Clone Course Notice/Succeed.bru
  collection/admin/Notice/Create Course Notice/Succeed.bru
  collection/admin/Notice/Delete Course Notice/Succeed.bru
  collection/admin/Notice/Update Course Notice/Succeed.bru
  collection/client/Notice/Create course notice comment/Succeed.bru
  collection/client/Notice/Delete course notice comment/Succeed.bru
  collection/client/Notice/Get all course notices/Succeed.bru
  collection/client/Notice/Get course notice by ID/Succeed.bru
  collection/client/Notice/Get course notice comments/Succeed.bru
  collection/client/Notice/Modify course notice comment/Succeed.bru
Due: eslint, prettier

fix(be): fix errors occured during test
  apps/backend/apps/admin/src/notice/model/course_notice.input.ts
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/schema.gql
  collection/admin/Notice/Clone Course Notice/Succeed.bru
  collection/admin/Notice/Update Course Notice/Succeed.bru
  collection/client/Notice/Create course notice comment/Succeed.bru
  collection/client/Notice/Get all course notices/Succeed.bru
  collection/client/Notice/Get course notice by ID/Succeed.bru
  collection/client/Notice/Get course notice comments/Succeed.bru
  collection/client/Notice/Modify course notice comment/Succeed.bru
Due: eslint, prettier

feat(infra): add cluster issuer with dns01 challenge (#3103)
  apps/infra/production/k8s-iam/letsencrypt.tf
  apps/k8s/argocd/applications/frontend-preview.yaml
  apps/k8s/argocd/applications/internal.yaml
  apps/k8s/internal/base/admin-user.yaml
  apps/k8s/internal/base/cluster-issuer-dns01.yaml
  apps/k8s/internal/base/cluster-issuer-http01.yaml
  apps/k8s/internal/base/dashboard-ingress.yaml
  apps/k8s/internal/base/kustomization.yaml
  apps/k8s/internal/overlays/production/kustomization.yaml
  apps/k8s/internal/overlays/production/route53-credentials.yaml
  apps/k8s/internal/overlays/stage/kustomization.yaml
  apps/k8s/internal/overlays/stage/route53-credentials.yaml
Due: prettier, terraformfmt

fix(be): delete problem relation in course notice
  apps/backend/apps/admin/src/notice/model/course_notice.input.ts
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/apps/client/src/notice/enum/course_notice-order.enum.ts
  apps/backend/apps/client/src/notice/notice.controller.ts
  apps/backend/apps/client/src/notice/notice.service.ts
  apps/backend/libs/pipe/src/course-notice-order.pipe.ts
  apps/backend/libs/pipe/src/index.ts
  apps/backend/prisma/migrations/20250901080917_remove_problem_relation_in_course_notice/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
  collection/admin/Notice/Clone Course Notice/Succeed.bru
  collection/admin/Notice/Create Course Notice/Succeed.bru
  collection/admin/Notice/Delete Course Notice/Succeed.bru
  collection/admin/Notice/Update Course Notice/Succeed.bru
Due: eslint, prettier

feat(infra): add X-Scope-OrgID=1 header for loki auth
  apps/k8s/monitoring/grafana/values.yaml
Due: prettier

fix(infra): correct X-Scope-OrgID format in headers
  apps/k8s/monitoring/otel-collector/otel-collector.yaml
Due: prettier

feat(infra): setup grafana (#3090)
  apps/k8s/argocd/applications/monitoring/grafana.yaml
  apps/k8s/argocd/applications/monitoring/minio.yaml
  apps/k8s/monitoring/grafana/admin-user.yaml
  apps/k8s/monitoring/grafana/kustomization.yaml
  apps/k8s/monitoring/grafana/namespace.yaml
  apps/k8s/monitoring/grafana/values.yaml
Due: prettier

fix(infra): correct path in otel-collector configuration (#3119)
  apps/k8s/argocd/applications/monitoring/otel-collector.yaml
Due: prettier

docs(infra): update section title for clarity on Grafana usage
  apps/k8s/monitoring/prometheus/README.md
Due: none

feat(infra): add headers for Loki's multi-tenancy support (#3123)
  apps/k8s/monitoring/otel-collector/otel-collector.yaml
Due: prettier

feat(infra): setup prometheus (#3109)
  apps/k8s/argocd/applications/monitoring/prometheus.yaml
  apps/k8s/monitoring/prometheus/README.md
  apps/k8s/monitoring/prometheus/values.yaml
Due: prettier

fix(infra): replace custom minio with chart's custom one
  apps/k8s/monitoring/loki/values.yaml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
