Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(be): validate judge limits before marking assignment problem as submitted
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(fe): align submission progress with Figma and handle request failures
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.test.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.test.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/SubmissionProgressPanel.test.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/SubmissionProgressPanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/TestPollingStoreProvider.tsx
  apps/frontend/app/(client)/(code-editor)/_libs/submissionProgress.test.ts
  apps/frontend/app/(client)/(code-editor)/_libs/submissionProgress.ts
  apps/frontend/components/shadcn/progress.tsx
  apps/frontend/public/images/submission-progress/accepted.svg
  apps/frontend/public/images/submission-progress/compiling-dot.svg
  apps/frontend/public/images/submission-progress/compiling.png
  apps/frontend/public/images/submission-progress/divider.svg
  apps/frontend/public/images/submission-progress/waiting.svg
  apps/frontend/public/images/submission-progress/wrong-answer.svg
Due: eslint, prettier

fix(fe): change DataTableFallback design (#3767)
  apps/frontend/app/admin/_components/table/DataTableFallback.tsx
  apps/frontend/app/admin/contest/page.tsx
Due: eslint, prettier

fix(infra): place APP_ENV under configmap data and update local guide
  docker/observability/README.md
  infra/k8s/admin-api/overlays/production/configmap.yaml
  infra/k8s/admin-api/overlays/stage/configmap.yaml
  infra/k8s/client-api/overlays/production/configmap.yaml
  infra/k8s/client-api/overlays/stage/configmap.yaml
Due: prettier

fix(be): redact auth headers and cookies from request logs
  apps/backend/libs/logger/src/pino-option.logger.spec.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
  apps/backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix(be): redact response auth headers and email-auth tokens
  apps/backend/libs/logger/src/pino-option.logger.spec.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

fix(be): redact top-level password field
  apps/backend/libs/logger/src/pino-option.logger.spec.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

refactor: set service name in code instead of env vars
  apps/backend/.env.example
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/libs/instrumentation.ts
  apps/iris/.env.example
  apps/iris/main.go
  apps/iris/src/instrumentation.go
  apps/plag/.env.example
  apps/plag/main.go
  apps/plag/src/instrumentation.go
  docker/observability/README.md
  infra/k8s/admin-api/base/configmap.yaml
  infra/k8s/client-api/base/configmap.yaml
  infra/k8s/iris/base/configmap.yaml
  infra/k8s/plag/base/configmap.yaml
Due: eslint, prettier

fix(be): redact credential headers in production only
  apps/backend/libs/logger/src/pino-option.logger.spec.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

docs(infra): note event replay limits on alloy restart
  infra/k8s/monitoring/alloy/README.md
Due: none

fix(be): mask credentials unless APP_ENV is stage
  apps/backend/libs/logger/src/pino-option.logger.spec.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

feat(be): add Mandeuldang collaborator roles guard
  apps/backend/apps/admin/src/mandeuldang/auth/mandeuldang-auth.module.ts
  apps/backend/apps/admin/src/mandeuldang/auth/mandeuldang-roles.decorator.ts
  apps/backend/apps/admin/src/mandeuldang/auth/mandeuldang-roles.guard.spec.ts
  apps/backend/apps/admin/src/mandeuldang/auth/mandeuldang-roles.guard.ts
  apps/backend/apps/admin/src/mandeuldang/auth/mandeuldang-roles.metadata.ts
Due: eslint, prettier

fix(fe): preserve testcase tab selection during submission polling
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.test.tsx
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Due: eslint, prettier

feat(infra): enable tempo mcp server
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

fix(plag): load .env before reading env vars
  apps/plag/go.mod
  apps/plag/go.sum
  apps/plag/main.go
Due: none

feat(infra): enable tempo mcp server on the local stack
  docker-compose.yml
  docker/observability/tempo.yaml
Due: prettier

feat(infra): link logs and traces in grafana
  docker/observability/grafana-datasources.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

fix(fe): impl disabled icon
  apps/frontend/components/shadcn/button.tsx
Due: eslint, prettier

feat(fe): modify button design (#3738)
  apps/frontend/components/shadcn/button.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

revert: this reverts the tempo mcp server config from 80f97af5 and 4fb423e7
  docker-compose.yml
  docker/observability/tempo.yaml
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

fix(fe): apply review
  apps/frontend/app/admin/course/_components/DropdownForm.tsx
Due: eslint, prettier

fix(infra): index both old and new environment keys in loki
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

refactor(infra): move alloy river config to a file
  .prettierignore
  infra/k8s/argocd/applications/monitoring/alloy.yaml
  infra/k8s/monitoring/alloy/config.alloy
  infra/k8s/monitoring/alloy/values-production.yaml
  infra/k8s/monitoring/alloy/values-stage.yaml
  infra/k8s/monitoring/alloy/values.yaml
Due: prettier

feat(infra): add read-only grafana mcp servers
  .envrc
  .envrc.local.example
  .gitignore
  .mcp.json
  CONTRIBUTING.md
Due: none

refactor(infra): read grafana mcp token from a file
  .envrc
  .envrc.local.example
  .gitignore
  .mcp.json
  CONTRIBUTING.md
Due: none

refactor(infra): take grafana mcp token from claude settings
  .mcp.json
  CONTRIBUTING.md
Due: none

refactor(infra): keep the grafana mcp token in .envrc.local
  .envrc
  .envrc.local.example
  .gitignore
Due: none

style(infra): mark legacy environment key comment as todo
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

chore(be): move pino to devDependencies
  apps/backend/package.json
  pnpm-lock.yaml
Due: prettier

feat(infra): link logs and traces in grafana (#3808)
  docker/observability/grafana-datasources.yaml
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/loki/values.yaml
Due: prettier

fix(be): mask credentials in request and response logs (#3803)
  apps/backend/libs/logger/src/pino-option.logger.spec.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
  apps/backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(fe): implement search context provider
  apps/frontend/app/admin/problem/_components/SearchProvider.tsx
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

feat(fe): add useSearch hook
  apps/frontend/app/admin/problem/_components/SearchProvider.tsx
  apps/frontend/app/admin/problem/_libs/useSearch.ts
Due: eslint, prettier

fix(infra): allow traceql metrics queries beyond 3h
  infra/k8s/monitoring/tempo/values.yaml
Due: prettier

chore: change useSearch return value as const array
  apps/frontend/app/admin/problem/_libs/useSearch.ts
Due: eslint, prettier

feat(fe): add ProblemSearchBar component
  apps/frontend/app/admin/problem/_components/ProblemSearchBar.tsx
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

feat(fe): add SearchInputSync component
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/SearchInputSync.tsx
Due: eslint, prettier

chore(fe): remove unsed import
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
Due: eslint, prettier

chore(fe): add TITLE_COLUMN_ID constant
  apps/frontend/app/admin/_components/table/constants.ts
  apps/frontend/app/admin/problem/_components/SearchInputSync.tsx
Due: eslint, prettier

fix(fe): remove searchBar skeleton from ProblemTable
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
Due: eslint, prettier
