Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(infra): configure kustomize for stage and prod env
  apps/k8s/argocd/applications/minio-production.yaml
  apps/k8s/minio/base/ingress.yaml
  apps/k8s/minio/base/kustomization.yaml
  apps/k8s/minio/base/namespace.yaml
  apps/k8s/minio/kustomization.yaml
  apps/k8s/minio/overlays/production/kustomization.yaml
  apps/k8s/minio/overlays/production/tenant-config.yaml
  apps/k8s/minio/overlays/production/tenant.yaml
  apps/k8s/minio/overlays/production/users.yaml
  apps/k8s/minio/overlays/stage/README.md
  apps/k8s/minio/overlays/stage/ingress.yaml
  apps/k8s/minio/overlays/stage/kustomization.yaml
  apps/k8s/minio/overlays/stage/tenant-config.yaml
  apps/k8s/minio/overlays/stage/tenant.yaml
  apps/k8s/minio/overlays/stage/users.yaml
Due: prettier

feat(fe): add auto finalize button
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
  apps/frontend/graphql/assignment/mutations.ts
Due: eslint, prettier

feat(fe): add overall and byproblem tabs
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ColumnsOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/page.tsx
Due: eslint, prettier

fix(fe): delete AlertModal props
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
Due: eslint, prettier

feat(fe): modify registerDueTime bug
  apps/frontend/components/ContestStatusTimeDiff.tsx
Due: eslint, prettier

fix(be): correct scoreWeight conversion logic (#3036)
  apps/backend/apps/admin/src/problem/model/testcase.input.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/libs/constants/src/score-calculation.constants.ts
  apps/backend/prisma/migrations/20250827171457_set_score_weight_as_not_null/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
  collection/admin/Problem/Create Testcases/Succeed.bru
Due: eslint, prettier

feat(fe): make course page responsive (#3004)
  apps/frontend/app/(client)/(main)/_components/Carousel.tsx
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/app/(client)/(main)/_contexts/HeaderTitleContext.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseInfoBox.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeStatisticsModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ProblemCard.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/layout.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCardList.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
  apps/frontend/app/(client)/(main)/layout.tsx
  apps/frontend/components/auth/MobileMenu.tsx
Due: eslint, prettier

fix(fe): remove test modal from main page
  apps/frontend/app/(client)/(main)/page.tsx
Due: eslint, prettier

refactor(fe): impl modal unification v7 (#3047)
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
  apps/frontend/app/admin/problem/_components/ProblemsUploadButton.tsx
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/AlertModal.tsx
  apps/frontend/components/Modal.tsx
  apps/frontend/public/icons/check-blue.svg
Due: eslint, prettier

chore: add comment for s3 client
  apps/iris/src/loader/s3.go
Due: none

chore: reuse DATABASE_URL env
  apps/k8s/admin-api/overlays/stage/secrets/database-credentials.yaml
  apps/k8s/client-api/overlays/stage/secrets/database-credentials.yaml
  apps/k8s/iris/overlays/stage/database-credentials.yaml
  apps/k8s/postgres/credentials.yaml
  apps/k8s/postgres/url.yaml
Due: prettier

chore: add configmap patch to kustomization
  apps/k8s/iris/overlays/stage/kustomization.yaml
Due: prettier

feat(fe): modify registerDueTime bug (#3046)
  apps/frontend/components/ContestStatusTimeDiff.tsx
Due: eslint, prettier

fix(infra): update targetRevision to 0.16.5 in redis.yaml (#3044)
  apps/k8s/argocd/applications/redis.yaml
Due: prettier

chore: wrong image update target
  apps/k8s/argocd/applications/iris.yaml
Due: prettier

feat(infra): port iris to complete on-prem k8s (#3042)
  apps/infra/production/k8s-iam/iris.tf
  apps/iris/src/loader/s3.go
  apps/k8s/admin-api/overlays/stage/secrets/database-credentials.yaml
  apps/k8s/argocd/applications/iris.yaml
  apps/k8s/iris/base/configmap.yaml
  apps/k8s/iris/base/deployment.yaml
  apps/k8s/iris/base/kustomization.yaml
  apps/k8s/iris/base/namespace.yaml
  apps/k8s/iris/base/rabbitmq-credentials.yaml
  apps/k8s/iris/overlays/production/aws-credentials.yaml
  apps/k8s/iris/overlays/production/database-credentials.yaml
  apps/k8s/iris/overlays/production/kustomization.yaml
  apps/k8s/iris/overlays/stage/configmap.yaml
  apps/k8s/iris/overlays/stage/database-credentials.yaml
  apps/k8s/iris/overlays/stage/kustomization.yaml
  apps/k8s/iris/overlays/stage/minio-credentials.yaml
  apps/k8s/minio/tenant.yaml
  apps/k8s/postgres/credentials.yaml
  apps/k8s/postgres/url.yaml
Due: prettier, terraformfmt

fix(infra): reduce number of iris pods in stage
  apps/k8s/iris/overlays/stage/kustomization.yaml
Due: prettier

feat(fe): implement qna create page (#2973)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/Content.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemDropdown.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/ProblemSelector.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/SubmitButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/Title.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/page.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
  apps/frontend/public/icons/pen.svg
  apps/frontend/types/type.ts
Due: eslint, prettier

chore(infra): add labels to argocd apps for filtering
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/argocd.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend-preview.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/internal.yaml
  apps/k8s/argocd/applications/iris.yaml
  apps/k8s/argocd/applications/minio-stage.yaml
  apps/k8s/argocd/applications/postgres-stage.yaml
  apps/k8s/argocd/applications/rabbitmq.yaml
  apps/k8s/argocd/applications/redis.yaml
Due: prettier

fix: install postgres in argocd
  apps/k8s/argocd/applications/minio-stage.yaml
  apps/k8s/argocd/applications/postgres-stage.yaml
Due: prettier

chore(fe): set showCancelButton to false
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
Due: eslint, prettier

chore(fe): remove unnecessary constants and redirection
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
Due: eslint, prettier

chore(be): correct method in controller
  apps/backend/apps/admin/src/submission/submission.controller.ts
Due: eslint, prettier

refactor(be): use unified env variables for minio
  .env.development
  apps/backend/apps/admin/src/problem/services/file.service.ts
  apps/backend/libs/storage/src/s3.provider.ts
  apps/backend/libs/storage/src/storage.service.ts
  scripts/init-storage.ts
Due: eslint, prettier

feat(fe): require login for logged out users during ongoing contest
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/LoginButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
Due: eslint, prettier

chore(infra): add labels to argocd apps for filtering (#3049)
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/argocd.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend-preview.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/internal.yaml
  apps/k8s/argocd/applications/iris.yaml
  apps/k8s/argocd/applications/minio-stage.yaml
  apps/k8s/argocd/applications/postgres-stage.yaml
  apps/k8s/argocd/applications/rabbitmq.yaml
  apps/k8s/argocd/applications/redis.yaml
Due: prettier

feat(fe): make accordion height 0 when other one opened
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
Due: eslint, prettier

fix: inject s3client
  apps/backend/libs/storage/src/s3.provider.ts
  apps/backend/libs/storage/src/storage.module.ts
Due: eslint, prettier

chore: add comment
  apps/backend/libs/storage/src/s3.provider.ts
Due: eslint, prettier

fix: update env in github actions
  .github/workflows/ci.yml
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.spec.ts
  apps/backend/libs/storage/src/storage.service.spec.ts
Due: eslint, prettier

feat(fe): impl qna detail page and comment (#2958)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentPostArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaDeleteButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaErrorPage.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaSingleComment.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/context/QnaCommentStoreProvider.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
  apps/frontend/components/DeleteButton.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

refactor(be): use unified env variables for minio (#3050)
  .env.development
  .github/workflows/ci.yml
  apps/backend/apps/admin/src/problem/services/file.service.ts
  apps/backend/apps/admin/src/problem/services/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.spec.ts
  apps/backend/libs/storage/src/s3.provider.ts
  apps/backend/libs/storage/src/storage.module.ts
  apps/backend/libs/storage/src/storage.service.spec.ts
  apps/backend/libs/storage/src/storage.service.ts
  scripts/init-storage.ts
Due: eslint, prettier

chore(fe): fix type.ts
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): problem usage modal design complete
  apps/frontend/app/admin/problem/_components/ProblemUsage.tsx
  apps/frontend/graphql/assignment/queries.ts
  apps/frontend/public/icons/arrow-bottom.svg
  apps/frontend/public/icons/file-pen.svg
  apps/frontend/public/icons/info-gray.svg
  apps/frontend/public/icons/mail-line.svg
  apps/frontend/public/icons/prize.svg
  apps/frontend/public/icons/task-complete.svg
Due: eslint, prettier

feat(fe): impl register account
  apps/frontend/components/auth/AuthMessage.tsx
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterAccount.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo2.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterMajor.tsx
  apps/frontend/components/auth/SignUp/SignUpSendEmail.tsx
  apps/frontend/components/auth/SignUp/SignUpVerifyEmail.tsx
  apps/frontend/components/shadcn/button.tsx
  apps/frontend/stores/signUpModal.ts
Due: eslint, prettier

fix(infra): reduce number of iris pods in stage (#3048)
  apps/k8s/iris/overlays/stage/kustomization.yaml
Due: prettier

fix(infra): set helm release name of redis
  apps/k8s/argocd/applications/redis.yaml
Due: prettier

chore(fe): enable null check
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

fix(be): do no allow autoFinalizeScore before dueTime
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  pnpm-workspace.yaml
Due: eslint, prettier
