Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat(be): add username, email, pin for load test
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

feat(be): add sign-up api for load test
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

feat(cd): edit iris dockerfile to run sh to get containerId feat(infra): add containerId parameter on metric code
  apps/iris/Dockerfile
  apps/iris/entrypoint.sh
  apps/iris/main.go
  apps/iris/src/observability/metric.go
Due: none

feat(cd): edit iris dockerfile to run sh to get containerId (#1679)
  apps/iris/Dockerfile
  apps/iris/entrypoint.sh
  apps/iris/main.go
  apps/iris/src/observability/metric.go
Due: none

fix(cd): add terraform init upgrade
  .github/workflows/cd-prod.yml
  pnpm-lock.yaml
Due: prettier

fix(chore): pnpm-lock resolve conflict
  pnpm-lock.yaml
Due: prettier

fix(chore): pnpm-lock conflict resolve again
  pnpm-lock.yaml
Due: prettier

fix(cd): edit cd-prod adding updagrade (#1680)
  .github/workflows/cd-prod.yml
  pnpm-lock.yaml
Due: prettier

feat: update asg in api cluster
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-admin.tf
  apps/infra/modules/codedang-infra/ecs-api-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client.tf
Due: none

feat(be): add pino logger option to disable log
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

feat(be): add username, email, pin for load test (#1677)
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

chore: change dash to underscore
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-iris-service-asg.tf
Due: none

feat(infra): update asg in api cluster (#1682)
  apps/infra/modules/codedang-infra/backend/admin-task-definition.tftpl
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-admin.tf
  apps/infra/modules/codedang-infra/ecs-api-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client.tf
  apps/infra/modules/codedang-infra/ecs-iris-service-asg.tf
Due: none

fix: add metricAggregationType in asg
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
Due: none

fix(infra): add containerId to ServiceName attribute
  apps/iris/main.go
  apps/iris/src/observability/metric.go
  pnpm-lock.yaml
Due: prettier

fix(infra): add metricAggregationType in asg (#1683)
  apps/infra/modules/codedang-infra/ecs-api-admin-service-asg.tf
  apps/infra/modules/codedang-infra/ecs-api-client-service-asg.tf
Due: none

fix(infra): add container id to service name of attribute metrics (#1684)
  apps/iris/main.go
  apps/iris/src/observability/metric.go
  pnpm-lock.yaml
Due: prettier

Revert "fix(infra): add container id to service name of attribute metrics (#1…"
  apps/iris/main.go
  apps/iris/src/observability/metric.go
  pnpm-lock.yaml
Due: prettier

chore(be): signup-for-load-test
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

chore(be): enable no-log
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

chore(fe): remove duplicated types and arrange by categories
  apps/frontend/types/type.ts
Due: eslint, prettier

chore: disable vscode extension verifySignature
  .devcontainer/devcontainer.json
Due: none

chore: disable vscode extension verifySignature (#1688)
  .devcontainer/devcontainer.json
Due: none

feat(be): add finding max cpu, memory and sorting with order option
  apps/backend/apps/client/src/submission/enum/submission-order.enum.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): add order in query
  apps/backend/apps/client/src/submission/submission.controller.ts
Due: eslint, prettier

fix(be): add submission mock data
  apps/backend/apps/client/src/submission/mock/submission.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): addd mock user d
  apps/backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

fix(be): fix mock data
  apps/backend/apps/client/src/submission/mock/submission.mock.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): add date order option
  apps/backend/apps/client/src/submission/enum/submission-order.enum.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

chore(fe): remove duplicated types and arrange by categories (#1687)
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(be): match options for count total
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/apps/client/src/notice/notice.service.ts
Due: eslint, prettier

chore(be): parallelize image-delete api
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(fe): prevent unnecessary rerenders in editor page
  apps/frontend/components/EditorResizablePanel.tsx
Due: none

fix(fe): prevent unnecessary rerenders in editor page (#1693)
  apps/frontend/components/EditorResizablePanel.tsx
Due: none

fix(infra): fix terraform version error
  .github/workflows/cd-prod.yml
  apps/infra/deploy/.terraform.lock.hcl
Due: prettier

fix(infra): set prisma maximum connection pool to 30
  apps/infra/modules/codedang-infra/ecs-api-client.tf
  pnpm-lock.yaml
Due: prettier

fix(infra): add env variables
  apps/infra/modules/codedang-infra/backend/client-task-definition.tftpl
Due: none

fix(infra): turn on log of backend
  apps/backend/libs/logger/src/pino-option.logger.ts
Due: eslint, prettier

feat(be): add admin ProblemWithIsVisible
  apps/backend/apps/admin/src/problem/model/problem.output.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  collection/admin/Problem/Get Problems/Succeed.bru
  pnpm-lock.yaml
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
