Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(infra): modify ingress path of admin-api for REST API (#3311)
  apps/backend/apps/admin/src/problem/controllers/problem.controller.ts
  apps/backend/apps/admin/src/submission/submission.controller.ts
  collection/admin/environments/Local.bru
  collection/admin/environments/Stage.bru
  infra/k8s/admin-api/overlays/stage/ingress.yaml
Due: eslint, prettier

refactor(fe): set variant and size for button in editor and apply globally
  apps/frontend/app/(client)/(code-editor)/_components/AssignmentProblemDropdown.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/_components/code-editor/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/problem/[problemId]/preview/page.tsx
  apps/frontend/components/shadcn/button.tsx
Due: eslint, prettier

feat(infra): add n8n values file and dns
  infra/aws/dns/n8n.tf
  infra/k8s/n8n/README.md
  infra/k8s/n8n/values.yaml
Due: prettier, terraformfmt

chore(infra): remove unused worker and webhook configurations from n8n values
  infra/k8s/n8n/values.yaml
Due: prettier

docs: add TODO section for provisioning user, credentials, and workflows in n8n README
  infra/k8s/n8n/README.md
Due: none

docs: update n8n README with installation instructions and expand TODO list
  infra/k8s/n8n/README.md
Due: none

feat(fe): modify left section of the double sidebar
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
Due: eslint, prettier

refactor(fe): refactor code-editor 1 (#3309)
  apps/frontend/app/(client)/(code-editor)/_components/AssignmentProblemDropdown.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorDescription.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/EditorHeader.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorHeader/RunTestButton.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/ExerciseProblemDropdown.tsx
  apps/frontend/app/(client)/_libs/queries/assignmentProblem.ts
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/_components/code-editor/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionAssessment.tsx
  apps/frontend/app/admin/problem/[problemId]/preview/page.tsx
  apps/frontend/components/shadcn/button.tsx
  apps/frontend/components/shadcn/tabs.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

fix(fe): modify submission testcase table (#3297)
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
Due: eslint, prettier

feat(fe): add course name and modify condition of main sidebar open
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
Due: eslint, prettier

feat(fe): modify request
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemInfiniteTable.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/components/auth/MobileMenu.tsx
Due: eslint, prettier

feat(fe): modify request
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
Due: eslint, prettier

feat(fe): change position of sidebar, logo, alarm
  apps/frontend/app/(client)/(main)/_components/Header.tsx
Due: eslint, prettier

feat(fe): add mobile service cards layout
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

feat(fe): replace hexacode with Tailwind color tokens
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/code-editor/AssignmentHeader.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/FinalScoreForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
Due: eslint, prettier

refactor(fe): refactor header
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/components/auth/MobileMenu.tsx
Due: eslint, prettier

feat(fe): reflect API changes
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/problem/shared/_components/SharedProblemTable.tsx
  apps/frontend/app/admin/problem/shared/page.tsx
Due: eslint, prettier

feat(fe): make problem download
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
  apps/frontend/app/admin/problem/shared/_components/SharedProblemTable.tsx
Due: eslint, prettier

feat(fe): download as json
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
Due: eslint, prettier

fix(be): fix encoding and auth error
  apps/backend/apps/admin/src/problem/controllers/problem.controller.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): fix encoding and auth error (#3316)
  apps/backend/apps/admin/src/problem/controllers/problem.controller.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

feat(fe): modify left section of the double sidebar (#3313)
  apps/frontend/app/admin/_components/ManagementSidebar.tsx
Due: eslint, prettier

fix(infra): inject missing RUNNER_BASEURL for frontend
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
Due: prettier

feat(fe): modify request
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/_components/SubmissionTestcase.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/page.tsx
Due: eslint, prettier

chore(infra): set ADMIN REST URL env to dockerfile
  .github/workflows/cd-stage-k8s.yml
  apps/frontend/Dockerfile
Due: prettier

feat(fe): make sidebar on mobile (#3275)
  apps/frontend/app/(client)/(main)/_components/Header.tsx
  apps/frontend/app/(client)/(main)/contest/page.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemInfiniteTable.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/components/auth/MobileMenu.tsx
  apps/frontend/components/shadcn/sheet.tsx
  apps/frontend/public/icons/course-sidebar.svg
  apps/frontend/public/icons/detail-on-mobile.svg
  apps/frontend/public/icons/login-mobile.svg
  apps/frontend/public/icons/logout-mobile.svg
  apps/frontend/public/icons/problem-sidebar.svg
Due: eslint, prettier

feat(fe): delete about blank
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
Due: eslint, prettier

chore(fe): add ADMIN_REST_URL env to dockerfile
  apps/frontend/Dockerfile
Due: none

chore(fe): add quotation mark to env
  apps/frontend/Dockerfile
Due: none

fix(fe): use fetch to handle with credentials
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
Due: eslint, prettier

fix(fe): use adminSafeFetcherWithAuth
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
  apps/frontend/libs/constants.ts
  apps/frontend/libs/utils.ts
Due: eslint, prettier

fix(fe): direct use blob
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
Due: eslint, prettier

feat(fe): remove comment and useless 'e'
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
Due: eslint, prettier

feat(fe): make problem download (#3315)
  .github/workflows/cd-stage-k8s.yml
  apps/frontend/Dockerfile
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemsDownload.tsx
  apps/frontend/app/admin/problem/shared/_components/SharedProblemTable.tsx
  apps/frontend/libs/constants.ts
  apps/frontend/libs/utils.ts
Due: eslint, prettier

fix(infra): inject missing RUNNER_BASEURL for frontend (#3318)
  .github/workflows/cd-prod-k8s.yml
  .github/workflows/cd-stage-k8s.yml
Due: prettier

chore(infra): add workflow
  infra/k8s/n8n/workflows/workflow.json
Due: none
