Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(infra): fix rc-mask-db workflow and terraform
  .github/workflows/rc-mask-db.yml
  apps/infra/rc/codedang/.terraform.lock.hcl
  apps/infra/rc/codedang/cloudfront.tf
  apps/infra/rc/storage/.terraform.lock.hcl
  apps/infra/rc/storage/database.tf
Due: prettier, terraformfmt

fix(infra): fix rc-mask-db workflow and terraform (#2552)
  .github/workflows/rc-mask-db.yml
  apps/infra/rc/codedang/.terraform.lock.hcl
  apps/infra/rc/codedang/cloudfront.tf
  apps/infra/rc/storage/.terraform.lock.hcl
  apps/infra/rc/storage/database.tf
Due: prettier, terraformfmt

fix(infra): fix rc-mask-db workflow
  .github/workflows/rc-mask-db.yml
Due: prettier

feat(fe): create UseInfoModal
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UseInfoModal.tsx
Due: eslint, prettier

fix(infra): fix rc-mask-db
  .github/workflows/rc-mask-db.yml
Due: prettier

fix(fe): prevent moving to problem detail page when opening dialog
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UseInfoModal.tsx
Due: eslint, prettier

fix(infra): fix rc-mask-db workflow(2) (#2553)
  .github/workflows/rc-mask-db.yml
Due: prettier

fix(fe): align column widths
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UseInfoModal.tsx
Due: eslint, prettier

feat(fe): put contest Update History
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

feat(fe): change delete member modal design
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
Due: eslint, prettier

fix(infra): fix rc-mask-db workflow(3) (#2556)
  .github/workflows/rc-mask-db.yml
Due: prettier

feat(fe): let start and end time optional
  apps/frontend/app/admin/course/[courseId]/assignment/_libs/schemas.ts
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
Due: eslint, prettier

feat(infra): update rc workflow
  .github/workflows/rc-deploy-target.yml
Due: prettier

fix(infra): fix rc-mask-db workflow(4) (#2557)
  .github/workflows/rc-mask-db.yml
Due: prettier

feat(infra): update rc workflow (6) (#2558)
  .github/workflows/rc-deploy-target.yml
Due: prettier

chore(be): finish editing bruno
  collection/admin/Problem/Delete File/NOT_FOUND.bru
  collection/admin/Problem/Delete File/Succeed.bru
Due: none

fix(infra): fix rc-mask-db workflow(5) (#2559)
  .github/workflows/rc-mask-db.yml
Due: prettier

feat(be): upload pdf on problem description (#2550)
  apps/backend/apps/admin/src/problem/model/file.output.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/storage/storage.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/prisma/migrations/20250321184121_rename_image_to_file/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Problem/Delete File/NOT_FOUND.bru
  collection/admin/Problem/Delete File/Succeed.bru
  collection/admin/Problem/Upload File/Succeed.bru
  collection/admin/Problem/Upload File/sample.pdf
Due: eslint, prettier

chore(fe): install wasm clang and python formatter
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): impl format code button
  apps/frontend/app/admin/problem/_components/CodeForm.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
Due: eslint, prettier

fix(fe): split config and function files
  apps/frontend/app/admin/problem/_components/CodeForm.tsx
  apps/frontend/app/admin/problem/_components/editor/formatConfigs.ts
  apps/frontend/app/admin/problem/_components/editor/formatters.ts
  apps/frontend/app/admin/problem/_components/editor/index.ts
Due: eslint, prettier

chore(fe): add todo comment
  apps/frontend/app/admin/problem/_components/editor/formatters.ts
Due: eslint, prettier

feat(fe): remove isVisible switch by checking role
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

chore(fe): remove unused stuff
  apps/frontend/app/admin/problem/_components/UploadDialog.tsx
Due: eslint, prettier

fix(fe): fix lint error with type narrowing
  apps/frontend/app/admin/problem/_components/CodeForm.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
  apps/frontend/app/admin/problem/_components/editor/CodeEditor.tsx
  apps/frontend/app/admin/problem/_components/editor/formatConfigs.ts
Due: eslint, prettier

fix(infra): fix rc-mask-db workflow (#2561)
  .github/workflows/rc-mask-db.yml
Due: prettier

chore: fix comment typo
  apps/frontend/app/admin/problem/_components/editor/formatters.ts
Due: eslint, prettier

feat(fe): change delete member modal design (#2555)
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
Due: eslint, prettier

fix(infra): fix rc-destroy-target workflow
  .github/workflows/rc-destroy-target.yml
Due: prettier

feat(fe): add problem preview page
  apps/frontend/app/admin/_components/code-editor/PreviewEditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/[problemId]/preview/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(fe): add preview link to import problem table
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
Due: eslint, prettier

feat(fe): add preview button in problem detail page
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/[problemId]/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(fe): add preview link in problem table
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
Due: eslint, prettier

feat(fe): modify detail scroll move
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContesLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier
