Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat: ky fetcher
  frontend-client/app/(main)/page.tsx
  frontend-client/lib/utils.ts
Due: eslint, prettier

feat: header username
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
Due: none

docs(be): modify add-contest-problems api docs - `groupId` 인자를 추가로 받게 됨에 따른 변경
  collection/admin/Contest/Add Contest Problems/Error: Nonexistent Contest.bru
  collection/admin/Contest/Add Contest Problems/Succeed.bru
Due: none

fix(be): exception handler
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/announcement/announcement.service.ts
  backend/libs/pipe/src/cursor-validation.pipe.ts
  backend/prisma/seed.ts
  collection/client/Announcement/getPublicProblemAnnouncements/Succeed.bru
  collection/client/Clarification/Get Clarifications by Contest/Succeed.bru
  collection/client/Clarification/Get Clarifications by Group Contest/Succeed.bru
  collection/client/Clarification/Get Clarifications by Group Problem/Succeed.bru
  collection/client/Clarification/Get Clarifications by Problem/Succeed.bru
Due: eslint, prettier

chore(be): delete useless comments
  backend/libs/pipe/src/cursor-validation.pipe.ts
Due: eslint, prettier

fix(be): rename bruno
  collection/client/Announcement/Get Problem Announcements/Succeed.bru
Due: none

test(be): modify add-contest-problems test code
  backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

chore(be): apply group-leader-guard - addContestProblems api에 Group Leader 이상 권한만 접근 가능하도록 변경
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

feat(be): change submission id type
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Due: eslint, prettier

chore(be): modify codes
  backend/apps/client/src/submission/dto/judger-response.dto.ts
  backend/apps/client/src/submission/mock/submission.mock.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): fix typo (submission_result table)
  backend/prisma/migrations/20240104072555_change_submission_result_table_name/migration.sql
  backend/prisma/schema.prisma
Due: none

fix(be): client announcement module modification (#1142)
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/announcement/announcement.service.ts
  backend/prisma/seed.ts
  collection/client/Announcement/Get Problem Announcements/Succeed.bru
  collection/client/Clarification/Get Clarifications by Contest/Succeed.bru
  collection/client/Clarification/Get Clarifications by Group Contest/Succeed.bru
  collection/client/Clarification/Get Clarifications by Group Problem/Succeed.bru
  collection/client/Clarification/Get Clarifications by Problem/Succeed.bru
Due: eslint, prettier

chore(be): remove warnings in migrate files
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
  backend/prisma/migrations/20240104072555_change_submission_result_table_name/migration.sql
Due: none

feat(be): add participants
  backend/apps/client/src/contest/contest.service.ts
  iris/go.mod
Due: eslint, prettier

fix(be): add regexp replace
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
Due: none

fix(be): change sql migration file
  backend/prisma/migrations/20240104063238_change_submission_id_type/migration.sql
Due: none

fix(be): modify import-problems to set expose-time - problem이 contest에 추가될 때 expose time을 설정하도록 수정 - update, create를 transaction으로 한번에 처리
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): modify import-problems test code - transaction 사용에 따른 테스트 코드 수정
  backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

docs(be): modify import-problems api docs
  collection/admin/Contest/Import Problems/404: Nonexistent Problem.bru
  collection/admin/Contest/Import Problems/Error: Nonexistent Contest.bru
  collection/admin/Contest/Import Problems/Succeed.bru
Due: none

chore(be): integrate import-problems and add-contest-problems - 기능 상 유사한 함수 통합 - 함수명 importProblemsToContest로 변경
  backend/apps/admin/src/contest/contest.resolver.ts
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): modify function name
  collection/admin/Contest/Add Contest Problems/Error: Nonexistent Contest.bru
  collection/admin/Contest/Add Contest Problems/Succeed.bru
  collection/admin/Contest/Import Problems to Contest/Error: Nonexistent Contest.bru
  collection/admin/Contest/Import Problems to Contest/Succeed.bru
Due: none

feat(be): add bruno asserts
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
Due: none

fix(fe): change auth store to auth modal store
  frontend-client/app/(main)/_components/AuthModal.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/stores/auth.ts
  frontend-client/stores/authModal.ts
Due: eslint, prettier

feat(fe): add problem editor page
  frontend-client/app/problem/[id]/_components/HeaderEditor.tsx
  frontend-client/app/problem/[id]/_components/MainResizablePanel.tsx
  frontend-client/app/problem/[id]/_components/SelectScrollable.tsx
  frontend-client/app/problem/[id]/page.tsx
  frontend-client/components/ui/select.tsx
  frontend-client/components/ui/switch.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(ci): apply object-shorthand eslint rule
  .eslintrc.js
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/auth/src/roles/roles.service.ts
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend/src/user/workbook/composables/workbook.ts
Due: eslint, prettier

feat(ci): apply object-shorthand eslint rule (#1148)
  .eslintrc.js
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/announcement/announcement.service.spec.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/auth/src/roles/roles.service.ts
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend/src/user/workbook/composables/workbook.ts
Due: eslint, prettier

feat: reissue accestoken
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/api/auth/[...nextauth]/route.ts
  frontend-client/lib/auth.ts
  frontend-client/lib/index.ts
  frontend-client/lib/utils.ts
  frontend-client/lib/vars.ts
  frontend-client/types/next-auth.d.ts
Due: eslint, prettier

fix: api auth no cache
  frontend-client/app/api/auth/[...nextauth]/route.ts
  frontend-client/lib/utils.ts
  frontend-client/next.config.js
Due: eslint, prettier

fix: change expire
  frontend-client/app/api/auth/[...nextauth]/route.ts
Due: eslint, prettier

fix: simplify type declaration
  frontend-client/types/next-auth.d.ts
Due: eslint, prettier

fix: remove as
  frontend-client/app/(main)/page.tsx
Due: none

fix: fetch to fetcher
  frontend-client/app/api/auth/[...nextauth]/route.ts
Due: eslint, prettier

feat(be): use strict null check
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/auth/auth.service.spec.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  backend/libs/auth/src/roles/group-leader.guard.ts
  backend/libs/auth/src/roles/group-member.guard.ts
  backend/libs/auth/src/roles/roles.guard.ts
  backend/libs/auth/src/roles/roles.service.spec.ts
  backend/libs/auth/src/roles/roles.service.ts
  backend/package.json
  backend/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier

docs: add comments
  frontend-client/app/(main)/page.tsx
Due: none

fix(fe): change main page to dynamic page (#1128)
  frontend-client/app/(main)/page.tsx
Due: none

fix: use null for invalid value
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix: replace tuple with object for cache items
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/group/group.service.ts
  backend/libs/types/src/group-join-request.type.ts
  backend/libs/types/src/index.ts
  backend/libs/types/tsconfig.lib.json
  backend/nest-cli.json
  backend/tsconfig.json
Due: eslint, prettier

fix: format tsconfig
  backend/tsconfig.json
Due: none

fix: fix test
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

feat(be): use strict null check (#1151)
  backend/apps/admin/src/contest/contest.service.spec.ts
  backend/apps/admin/src/contest/contest.service.ts
  backend/apps/admin/src/group/group.service.spec.ts
  backend/apps/admin/src/group/group.service.ts
  backend/apps/admin/src/problem/mock/mock.ts
  backend/apps/admin/src/problem/problem.service.spec.ts
  backend/apps/admin/src/problem/problem.service.ts
  backend/apps/admin/src/storage/s3.provider.ts
  backend/apps/admin/src/storage/storage.service.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
  backend/apps/client/src/auth/auth.service.spec.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/mock/problem.mock.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/auth/src/jwt/jwt-auth.service.spec.ts
  backend/libs/auth/src/roles/group-leader.guard.ts
  backend/libs/auth/src/roles/group-member.guard.ts
  backend/libs/auth/src/roles/roles.guard.ts
  backend/libs/auth/src/roles/roles.service.spec.ts
  backend/libs/auth/src/roles/roles.service.ts
  backend/libs/types/src/group-join-request.type.ts
  backend/libs/types/src/index.ts
  backend/libs/types/tsconfig.lib.json
  backend/nest-cli.json
  backend/package.json
  backend/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
