Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

test(be): add testcases
  collection/client/Submission/Get Submission by ID/[403] Forbidden.bru
Due: none

chore(be): modify testcase
  collection/client/Submission/Get Submission by ID/[403] Forbidden.bru
Due: none

fix(fe): apply prisma breaking change
  apps/backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

chore: render with useEffect
  apps/frontend/components/EditorDescription.tsx
Due: none

feat(fe): save
  apps/frontend/app/admin/problem/[id]/page.tsx
Due: none

feat: change katex render function with useRef
  apps/frontend/components/EditorDescription.tsx
Due: none

feat: add katex rendering function
  apps/frontend/components/EditorDescription.tsx
Due: none

fix(fe): delete annotation
  apps/frontend/app/admin/problem/[id]/page.tsx
Due: none

feat(fe): add Katex editor (#1752)
  apps/frontend/app/admin/problem/[id]/page.tsx
  apps/frontend/components/EditorDescription.tsx
Due: none

fix(fe): change contest problem interface
  apps/frontend/components/EditorLayout.tsx
Due: none

feat: implement indent extension
  apps/frontend/components/TextEditor.tsx
Due: none

fix(fe): change contest problem interface (#1758)
  apps/frontend/components/EditorLayout.tsx
Due: none

fix(infra): fix e2e test run bruno collection script
  .github/workflows/cd-stage.yml
Due: prettier

fix(infra): fix e2e test run bruno collection script (#1762)
  .github/workflows/cd-stage.yml
Due: prettier

chore: replace textarea with texteditor
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
Due: none

chore(fe): prevent modal closing when clicking outside
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: none

fix(fe): handle undefined for fixed notices
  apps/frontend/app/(main)/notice/_components/NoticeTable.tsx
Due: none

chore(fe): delete spaces
  apps/frontend/app/(main)/notice/_components/NoticeTable.tsx
Due: none

feat(fe): implement indent extension (#1759)
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/components/TextEditor.tsx
Due: none

fix(fe): fix notice stage server error (#1765)
  apps/frontend/app/(main)/notice/_components/NoticeTable.tsx
Due: none

chore(fe): prevent signup modal reset (#1757)
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: none

fix(be): include-template-in-problem-select-option
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

fix(fe): handle null user in submission
  apps/frontend/app/problem/[problemId]/submission/_components/Columns.tsx
Due: none

fix(fe): handle null user in submission (#1769)
  apps/frontend/app/problem/[problemId]/submission/_components/Columns.tsx
Due: none

fix(be): include-template-in-problem-select-option (#1767)
  apps/backend/apps/client/src/problem/dto/problem.response.dto.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
Due: eslint, prettier

refactor: add iam user for s3 buckets
  apps/infra/production/storage/s3_media_iam_user.tf
  apps/infra/production/storage/s3_testcase_iam_user.tf
Due: none

fix(be): remove duplicate expressions
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): resolve admin problem test error
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

refactor: saperate errormessage, formsection, infoform, titleform and visibleform
  apps/frontend/app/admin/problem/_components/ErrorMessage.tsx
  apps/frontend/app/admin/problem/_components/FormSection.tsx
  apps/frontend/app/admin/problem/_components/InfoForm.tsx
  apps/frontend/app/admin/problem/_components/TitleForm.tsx
  apps/frontend/app/admin/problem/_components/VisibleForm.tsx
Due: none

fix(be): resolve client group unit test error
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

fix(be): resolve admin problem test error (#1772)
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): resolve client group unit test error (#1773)
  apps/backend/apps/client/src/group/group.service.spec.ts
Due: eslint, prettier

fix(be): resolve client submission test error
  apps/backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

feat(ci): run ci depending on code change (#1697)
  .github/workflows/ci.yml
Due: prettier

fix(fe): update commandlist (#1698)
  apps/frontend/components/ui/command.tsx
Due: none

chore(fe): remove duplicated types and arrange by categories (#1687)
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): prevent unnecessary rerenders in editor page (#1693)
  apps/frontend/components/EditorResizablePanel.tsx
Due: none

fix(be): add argon2 hash options (#1700)
  apps/backend/apps/client/src/user/user.service.ts
  apps/backend/libs/constants/src/argon2.constants.ts
  apps/backend/libs/constants/src/index.ts
Due: eslint, prettier

feat(fe): add vitest for frontend unit testing (#1695)
  apps/frontend/__tests__/components.test.tsx
  apps/frontend/__tests__/utils.test.ts
  apps/frontend/package.json
  apps/frontend/vitest.config.ts
  pnpm-lock.yaml
Due: eslint, prettier
