Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

chore(be): enable cors to local backend admin
  apps/backend/apps/admin/src/main.ts
Due: eslint, prettier

chore(fe): change major list (#1957)
  apps/frontend/components/auth/SignUpRegister.tsx
Due: eslint, prettier

feat(fe): redesign admin contest list
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
  apps/frontend/public/24_invisible.svg
  apps/frontend/public/24_visible.svg
Due: eslint, prettier

fix(infra): add profiles for local minio container
  docker-compose.yml
Due: prettier

chore(be): enable cors on local env backend admin (#1961)
  apps/backend/apps/admin/src/main.ts
Due: eslint, prettier

fix(infra): add profiles for local minio container (#1962)
  docker-compose.yml
Due: prettier

feat(fe): initialize e2e test
  apps/frontend/tsconfig.json
Due: none

feat(fe): initialize e2e test
  playwright-frontend/package.json
  playwright-frontend/pages/auth.page.ts
  playwright-frontend/pages/home.page.ts
  playwright-frontend/playwright.config.ts
  playwright-frontend/tests/auth/login.test.ts
Due: eslint, prettier

fix(ci): revert lefthook to 1.7.1
  pnpm-lock.yaml
Due: prettier

feat(fe): login test
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/pages/auth.page.ts
  apps/frontend/playwright/pages/home.page.ts
  apps/frontend/playwright/test-results/.last-run.json
  apps/frontend/playwright/tests/auth/login.test.ts
  apps/frontend/playwright/tests/auth/signup.test.ts
  apps/frontend/playwright/tests/home/home.test.ts
  apps/frontend/test-results.json
  apps/frontend/test-results/.last-run.json
  playwright-frontend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(fe): add playwright file to gitignore
  apps/frontend/.gitignore
  apps/frontend/test-results.json
  apps/frontend/test-results/.last-run.json
Due: none

feat(fe): adjust admin contest list column width
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
Due: eslint, prettier

feat(fe): initialize e2e test (#1941)
  apps/frontend/.gitignore
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/pages/auth.page.ts
  apps/frontend/playwright/pages/home.page.ts
  apps/frontend/playwright/test-results/.last-run.json
  apps/frontend/playwright/tests/auth/login.test.ts
  apps/frontend/playwright/tests/auth/signup.test.ts
  apps/frontend/playwright/tests/home/home.test.ts
  apps/frontend/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(fe): redesign editorLayout and refactor problem editor
  apps/frontend/app/problem/[problemId]/layout.tsx
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorLayout.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: eslint, prettier

feat(fe): improve datatableadmin click (#1958)
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/components/DataTableAdmin.tsx
Due: eslint, prettier

chore(fe): remove focus condition
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: eslint, prettier

feat(fe): add headerstyle to data table and resolve border issue
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/ui/table.tsx
Due: eslint, prettier

feat(fe): redesign admin table pagination bar
  apps/frontend/components/DataTablePagination.tsx
Due: eslint, prettier

chore(fe): reduce rows per page size
  apps/frontend/components/DataTablePagination.tsx
Due: eslint, prettier

feat(be): add get-score-summaries api
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/score-summary.ts
Due: eslint, prettier

chore(be): remove 'any' type
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): add docs
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
Due: none

fix(iris): handle testcase exec errors (#1940)
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/compiler.go
Due: none

fix(be): integrate problem exposeTime isVisible (#1673)
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/notice/notice.service.spec.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/model/problem.output.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/submission/mock/problem.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/prisma/migrations/20240722144203_rename_expose_time_to_visible_lock_time/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/admin/Contest/Import Problems to Contest/Succeed.bru
  collection/admin/Problem/Get Contest Problems/Succeed.bru
  collection/admin/Problem/Get Problems/Succeed.bru
  collection/admin/Problem/Get WorkbookProblems/Succeed.bru
  collection/admin/Problem/Get a Problem/Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
  collection/admin/Problem/Update a Problem/UNPROCESSABLE (3).bru
  collection/client/Problem/Get problem by ID/Succeed.bru
Due: eslint, prettier

test(be): add user-ip in submission mock data
  apps/backend/apps/client/src/submission/mock/submission.mock.ts
Due: eslint, prettier

refactor(be): submission module (#1872)
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/apps/client/src/problem/dto/create-code-draft.dto.ts
  apps/backend/apps/client/src/submission/class/create-submission.dto.ts
  apps/backend/apps/client/src/submission/class/judge-request.ts
  apps/backend/apps/client/src/submission/class/judger-response.dto.ts
  apps/backend/apps/client/src/submission/interface/testcase.dto.ts
  apps/backend/apps/client/src/submission/mock/contestRecord.mock.ts
  apps/backend/apps/client/src/submission/mock/submission.mock.ts
  apps/backend/apps/client/src/submission/mock/submissionResult.mock.ts
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.controller.ts
  apps/backend/apps/client/src/submission/submission.module.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission-pub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission-sub.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.controller.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

test(be): modify contest unit test
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat(be): select publication of judge results
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/migrations/20240725120844_add_is_judge_result_visible_field_to_contest/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
Due: eslint, prettier

fix(be): fix contest spec in client
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
Due: eslint, prettier

fix(fe): delete height of contest title
  apps/frontend/app/(main)/_components/ContestCard.tsx
Due: eslint, prettier

chore(be): error message
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

feat(be): select publication of judge results in contest create page (#1868)
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20240725120844_add_is_judge_result_visible_field_to_contest/migration.sql
  apps/backend/prisma/schema.prisma
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Create Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Create Contest/[ERR] Nonexistent Group.bru
  collection/admin/Contest/Update Contest/Succeed.bru
  collection/admin/Contest/Update Contest/[ERR] End Time Earlier than Start Time.bru
  collection/admin/Contest/Update Contest/[ERR] Nonexistent Contest.bru
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests (logged in)/Succeed.bru
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Contest/Get registered finished contests/Succeed.bru
Due: eslint, prettier

feat(be): apply transaction
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

feat(be): add get-contest-score-summaries api (#1953)
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/score-summary.ts
  collection/admin/Contest/Get Contest Score Summary of User/Succeed.bru
Due: eslint, prettier

fix(fe): fix type error in data table admin problems
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

chore(be): disable duplicate contest test
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat: implement duplicate contest (#1950)
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/duplicated-contest-response.output.ts
  apps/frontend/app/admin/contest/_components/DuplicateContest.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/lib/utils.ts
  collection/admin/Contest/Duplicate Contest/Succeed.bru
Due: eslint, prettier

fix(ci): change pnpm cache logic and check style all files (#1859)
  .github/actions/setup-pnpm/action.yml
  .github/workflows/ci.yml
Due: prettier

fix(fe): fix contest list toggle problem
  apps/frontend/app/admin/contest/_components/Columns.tsx
Due: eslint, prettier

fix(fe): handle isVisible type error
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
