Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

chore(fe): change title form width
  apps/frontend/app/admin/_components/TitleForm.tsx
Due: eslint, prettier

chore(fe): remove unused page
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordianNew.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/page.tsx
Due: eslint, prettier

chore(fe): comment out grade section from course sidebar
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordianNew.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/CourseSidebar.tsx
Due: eslint, prettier

fix(fe): realign problem values
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordianNew.tsx
Due: eslint, prettier

fix(fe): fix evaluate with sample testcase form
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/create/_components/SampleTestcaseForm.tsx
Due: eslint, prettier

fix(fe): toss assignment instead of assignmentGrade
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordianNew.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
Due: eslint, prettier

fix(fe): fix freeze time form
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/create/_components/FreezeForm.tsx
Due: eslint, prettier

feat(fe): add leaderboard freeze function
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
Due: eslint, prettier

fix(fe): change edit manager form and freeze form
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerColumns.tsx
  apps/frontend/app/admin/contest/_components/ContestManagerReviewerTable.tsx
  apps/frontend/app/admin/contest/_components/DeleteManagerReviewerAlert.tsx
  apps/frontend/app/admin/contest/_components/DeleteManagerReviewerButton.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
  apps/frontend/app/admin/contest/create/_components/FreezeForm.tsx
Due: eslint, prettier

chore(fe): remove console log
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
Due: eslint, prettier

fix(be): rename
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
Due: eslint, prettier

docs(be): rename variables
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Update Contest/Succeed.bru
Due: none

fix(be): change create and update contest to include userContest
  apps/backend/apps/admin/src/contest/contest.service.ts
  collection/admin/Contest/Update Contest/Succeed.bru
Due: eslint, prettier

fix(be): test
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

fix(be): rename result class
  apps/backend/apps/admin/src/user/model/user.output.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
Due: eslint, prettier

fix(infra): typo graceful
  .github/workflows/skku-network-proxy-deploy.yml
Due: prettier

fix(infra): deploy skku-network-proxy for proxying stage api calls (#2586)
  .github/workflows/cd-stage.yml
  .github/workflows/ci.yml
  .github/workflows/skku-network-proxy-deploy.yml
  .github/workflows/skku-network-proxy-init-config.yml
  .github/workflows/stage-reset-seed.yml
  apps/infra/stage/server2/Caddyfile
  apps/infra/stage/skku-network-proxy/.terraform.lock.hcl
  apps/infra/stage/skku-network-proxy/Caddyfile
  apps/infra/stage/skku-network-proxy/instance.tf
  apps/infra/stage/skku-network-proxy/main.tf
  apps/infra/stage/skku-network-proxy/network.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/.terraform.lock.hcl
  apps/infra/stage/skku-network-proxy/terraform-configuration/README.md
  apps/infra/stage/skku-network-proxy/terraform-configuration/backend.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/key_pair.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/main.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/modules/key_pair/key_pair.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/modules/key_pair/main.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/modules/key_pair/variables.tf
  apps/infra/stage/skku-network-proxy/terraform-configuration/variables.tf
  apps/infra/stage/skku-network-proxy/variables.tf
Due: prettier, terraformfmt

fix(infra): fix get_instance_ip step
  .github/workflows/skku-network-proxy-deploy.yml
Due: prettier

fix(infra): fix get_instance_ip step on skku-network-proxy deploy workflow (#2597)
  .github/workflows/skku-network-proxy-deploy.yml
Due: prettier

feat(be): update creation permission (#2582)
  apps/backend/apps/admin/src/user/model/user.output.ts
  apps/backend/apps/admin/src/user/user.resolver.ts
  collection/admin/User/Update Creation Permission/Succeed.bru
Due: eslint, prettier

feat(fe): disable whitespace visualizer on error results
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Due: eslint, prettier

refactor(fe): rename iscompileerror to iserror
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Due: eslint, prettier

feat(be): remove getAssignmentGradeSummary
  apps/backend/apps/client/src/group/group.controller.ts
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

fix(be): rename contest inputs (#2596)
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-with-participants.model.ts
  apps/backend/apps/admin/src/contest/model/contest.input.ts
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Update Contest/Succeed.bru
Due: eslint, prettier

feat(be): remove submittedCount from getAssignment
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
Due: eslint, prettier

chore(fe): refactor admin contest create edit
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/AddManagerReviewerDialog.tsx
  apps/frontend/app/admin/contest/_components/ContestProblemListLabel.tsx
  apps/frontend/app/admin/contest/_components/CreateEditContestLabel.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/_components/FreezeForm.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/libs/constants.ts
Due: eslint, prettier

feat(fe): commit
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
Due: eslint, prettier

fix(fe): change leaderboard modal height
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
Due: eslint, prettier

feat(fe): make modal element component
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardScoreExplanationRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/ModalNumberComponent.tsx
Due: eslint, prettier

fix(fe): change some css
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardScoreExplanationRow.tsx
Due: eslint, prettier

fix(fe): change html tag
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardScoreExplanationRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardSolvedList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/ModalNumberComponent.tsx
Due: eslint, prettier

fix(iris): update version of libjudger to fix segmenation fault
  .devcontainer/Dockerfile
  apps/iris/Dockerfile
Due: none

fix(iris): update version of libjudger to fix segmenation fault (#2598)
  .devcontainer/Dockerfile
  apps/iris/Dockerfile
Due: none

feat(fe): create client leaderboard page ver.2 (#2538)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardSolvedList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContesLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/libs/hooks/useWindowSize.ts
Due: eslint, prettier

feat(fe): add search feature
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(be): implement getMyAssignmentsSummary and refactor
  apps/backend/apps/client/src/assignment/assignment.controller.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
Due: eslint, prettier

feat(be): add and edit bruno
  collection/client/Assignment/Get Anonymized Scores/Succeed.bru
  collection/client/Assignment/Get My Assignments Summary/Succeed.bru
  collection/client/Assignment/Get My Assignments Summary/folder.bru
  collection/client/Assignment/Participate All Ongoing Assignments/Succeed.bru
  collection/client/Assignment/Participate All Ongoing Assignments/folder.bru
  collection/client/Course/Get assignments grade summary/Succeed.bru
Due: none

fix(fe): add break words to prevent overflow in error messages
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Due: eslint, prettier

chore(iris): update opentelemetry and grpc dependencies to latest versions
  apps/iris/go.mod
  apps/iris/go.sum
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
