Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): use convertoletter for problem order
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/StatisticsPage.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/_leaderboardcomponents/LeaderBoardTable.tsx
Due: eslint, prettier

fix(fe): modify to recent layout
  apps/frontend/app/admin/contest/[contestId]/(overall)/layout.tsx
Due: eslint, prettier

feat(fe): use framer motion for switched ranks
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/_leaderboardcomponents/LeaderBoardTable.tsx
Due: eslint, prettier

chore(fe): fix gab for shadcn tab
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/StatisticsPage.tsx
  apps/frontend/components/shadcn/tabs.tsx
Due: eslint, prettier

fix(infra): add missing admin-api path to ingress configuration
  infra/k8s/admin-api/base/ingress.yaml
Due: prettier

fix(infra): add missing admin-api path to ingress configuration (#3332)
  infra/k8s/admin-api/base/ingress.yaml
Due: prettier

docs(infra): add onboarding documentation for Kubernetes deployment
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example
  infra/k8s/onboarding/README.md
Due: terraformfmt

docs(infra): add further steps for advanced Kubernetes deployment practices
  infra/k8s/onboarding/README.md
Due: none

docs(infra): update onboarding guide with detailed Kubernetes deployment steps and best practices
  infra/k8s/onboarding/README.md
Due: none

chore(fe): add null condition
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/ProblemDropdown.tsx
Due: eslint, prettier

fix(fe): complete deadline display change (#3322)
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
  apps/frontend/components/AssignmentStatus.tsx
Due: eslint, prettier

feat(fe): use tab on statistics (#3321)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/ProblemStatistics.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/RealtimeLeaderBoard.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/StatisticsPage.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/UserAnalysis.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ResultBadge.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/qna/_components/ContestQnaTable.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/contest/_components/PosterUploadForm.tsx
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/components/shadcn/tabs.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

chore(fe): change contest codeeditor sync icon alignment
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Due: eslint, prettier

fix(fe): redesign admin contest announcement (#3282)
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/_components/InvitationModal.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/CreateContestAnnouncement.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/DropDownScrollBar.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/ProblemDropdown.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/ProblemSelector.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/_components/UpdateHistoryBox.tsx
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/graphql/contest/queries.ts
  apps/frontend/public/icons/arrow-left-black.svg
  apps/frontend/public/icons/arrow_blue_top.svg
  apps/frontend/public/icons/arrow_bottom_thin.svg
  apps/frontend/public/icons/bullet.svg
  apps/frontend/public/icons/calendar_new.svg
  apps/frontend/public/icons/checkbox_gray.svg
  apps/frontend/public/icons/checkbox_white.svg
  apps/frontend/public/icons/copy_white.svg
Due: eslint, prettier

feat(fe): apply review
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/_components/StatisticsPage.tsx
Due: eslint, prettier

feat(infra): simulate infra onboarding
  infra/k8s/onboarding/test1/deployment.yaml
  infra/k8s/onboarding/test1/ingress.yaml
  infra/k8s/onboarding/test1/service.yaml
Due: prettier

feat(infra): add argocd app and dns for test1
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/test1.yaml
Due: prettier, terraformfmt

chore(fe): change contest codeeditor leaderboard sync icon alignment
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Due: eslint, prettier

feat(infra): implement n8n (#3312)
  infra/aws/dns/n8n.tf
  infra/k8s/n8n/README.md
  infra/k8s/n8n/integration-credentials.yaml
  infra/k8s/n8n/kustomization.yml
  infra/k8s/n8n/user-credentials.yaml
  infra/k8s/n8n/values.yaml
  infra/k8s/n8n/workflows/workflow.json
Due: prettier, terraformfmt

feat(infra): deploy onboarding test1 (#3336)
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/test1.yaml
  infra/k8s/onboarding/test1/deployment.yaml
  infra/k8s/onboarding/test1/ingress.yaml
  infra/k8s/onboarding/test1/service.yaml
Due: prettier, terraformfmt

fix: align service targetPort with container port 9000
  infra/k8s/onboarding/test1/deployment.yaml
  infra/k8s/onboarding/test1/service.yaml
Due: prettier

fix(infra): align service targetPort with container port 9000 (#3338)
  infra/k8s/onboarding/test1/deployment.yaml
  infra/k8s/onboarding/test1/service.yaml
Due: prettier

fix(infra): remove test1 onboarding application
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/test1.yaml
  infra/k8s/onboarding/test1/deployment.yaml
  infra/k8s/onboarding/test1/ingress.yaml
  infra/k8s/onboarding/test1/service.yaml
Due: prettier, terraformfmt

fix(infra): remove test1 onboarding application (#3339)
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/test1.yaml
  infra/k8s/onboarding/test1/deployment.yaml
  infra/k8s/onboarding/test1/ingress.yaml
  infra/k8s/onboarding/test1/service.yaml
Due: prettier, terraformfmt

chore(fe): switch banners for mobile mainpage
  apps/frontend/app/(client)/(main)/_components/Carousel.tsx
  apps/frontend/app/(client)/(main)/_components/MiddleContestBanner.tsx
  apps/frontend/app/(client)/(main)/page.tsx
  apps/frontend/public/banners/mobile_main_banner.png
  apps/frontend/public/banners/mobile_mainpage_middle_banner.png
Due: eslint, prettier

fix(infra): change argocd manifest namespace and dns record value
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example
Due: terraformfmt

docs(infra): add onboarding documentation for Kubernetes deployment (#3334)
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example
  infra/k8s/onboarding/README.md
Due: terraformfmt

docs(infra): add onboarding documentation for Kubernetes deployment (#3341)
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example
  infra/k8s/onboarding/README.md
Due: terraformfmt

feat(infra): deploy onboarding test2
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example-react.yaml
  infra/k8s/onboarding/deployment.yaml
  infra/k8s/onboarding/ingress.yaml
  infra/k8s/onboarding/namespace.yaml
  infra/k8s/onboarding/service.yaml
Due: prettier, terraformfmt

feat(infra): deploy onboarding test2 (#3342)
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example-react.yaml
  infra/k8s/onboarding/deployment.yaml
  infra/k8s/onboarding/ingress.yaml
  infra/k8s/onboarding/namespace.yaml
  infra/k8s/onboarding/service.yaml
Due: prettier, terraformfmt

feat(infra): cleanup after onboarding
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example-react.yaml
  infra/k8s/onboarding/deployment.yaml
  infra/k8s/onboarding/ingress.yaml
  infra/k8s/onboarding/namespace.yaml
  infra/k8s/onboarding/service.yaml
Due: prettier, terraformfmt

feat(infra): clean up after onboarding (#3344)
  infra/aws/dns/_onboarding.tf
  infra/k8s/argocd/applications/onboarding/example-react.yaml
  infra/k8s/onboarding/deployment.yaml
  infra/k8s/onboarding/ingress.yaml
  infra/k8s/onboarding/namespace.yaml
  infra/k8s/onboarding/service.yaml
Due: prettier, terraformfmt

chore(fe): change contest codeeditor sync icon alignment (#3335)
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
Due: eslint, prettier

feat(infra): make files for k8s
  infra/k8s/onboarding/suminOnboarding/deployment.yaml
  infra/k8s/onboarding/suminOnboarding/ingress.yaml
  infra/k8s/onboarding/suminOnboarding/service.yaml
Due: prettier

chore: append userId to get leaderboard
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

feat: impl get all submissions by contest
  apps/backend/apps/client/src/contest/contest.controller.ts
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(be): add seed data for submissions
  apps/backend/prisma/seed.ts
Due: eslint, prettier

docs(be): add bruno
  collection/client/Contest/Get All Submissions By Contest/Succeed.bru
  collection/client/Contest/Get All Submissions By Contest/[403] Contest is not ended.bru
  collection/client/Contest/Get All Submissions By Contest/[404] Nonexistent Contest.bru
  collection/client/Contest/Get All Submissions By Contest/folder.bru
Due: none

refactor(iris): normalize compile error from C/C++ by stripping sandbox path
  apps/iris/src/handler/judge-handler.go
Due: none
