Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

feat(fe): add leaderboard tab in the contest code editor & create dummy leaderboard page
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/DataTable.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/_libs/dataIfError.ts
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/error.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/page.tsx
Due: eslint, prettier

chore(fe): fix crash problem
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

style(fe): change tab border radius
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/tailwind.config.ts
Due: eslint, prettier

feat(be): add test submission model
  apps/backend/prisma/migrations/20250117185702_add_test_submission_model/migration.sql
  apps/backend/prisma/migrations/20250117202041_add_test_submission_result_model/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
Due: none

fix(be): modify test submission result model
  apps/backend/prisma/migrations/20250118095208_add_test_submission_result_table/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(be): create test submission data when submitted
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(fe): create calendar event click modal
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/_components/EventDialog.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

chore(fe): change calendar button color to blue
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
Due: eslint, prettier

refactor(fe): refactor admin contest form (#2307)
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/[contestId]/edit/page.tsx
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

fix(infra): connect s3_testcase with vpc endpoint
  apps/infra/production/storage/s3_testcase.tf
Due: terraformfmt

feat(fe): add calendar textarea input and save feature
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

refactor(fe): delete unused apis and queires
  apps/frontend/app/(client)/(main)/settings/_libs/apis/profile.ts
  apps/frontend/app/(client)/(main)/settings/_libs/queries/profile.ts
Due: eslint, prettier

refactor(fe): add apis and queries
  apps/frontend/app/(client)/_libs/apis/profile.ts
  apps/frontend/app/(client)/_libs/queries/profile.ts
Due: eslint, prettier

refactor(fe): use tanstack query for settings page
  apps/frontend/app/(client)/(main)/settings/page.tsx
Due: eslint, prettier

refactor(fe): fix build error
  apps/frontend/app/(client)/(main)/settings/_components/context.ts
Due: eslint, prettier

refactor(fe): fix build error and check major api error
  apps/frontend/app/(client)/(main)/settings/page.tsx
Due: eslint, prettier

feat(fe): add demo data for test
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/leaderboard/temp_data.json
Due: none

chore(fe): change course page main color to violet
  apps/frontend/app/(client)/(main)/_components/Cover.tsx
  apps/frontend/app/(client)/(main)/course/_components/CourseCard.tsx
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

chore(fe): change color of event to violet
  apps/frontend/app/(client)/(main)/course/_components/DashboardCalendar.tsx
Due: eslint, prettier

fix(fe): fix build error
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
Due: eslint, prettier

chore(fe): add analyze script
  apps/frontend/.gitignore
  apps/frontend/package.json
Due: none

chore(fe): fix build error and add analyze script (#2314)
  apps/frontend/.gitignore
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
  apps/frontend/package.json
Due: eslint, prettier

feat(be): add leaderboard
  apps/backend/prisma/schema.prisma
Due: none

fix(be): change user schema
  apps/backend/prisma/schema.prisma
Due: none

chore(be): migrate
  apps/backend/prisma/migrations/20250120125347_add_leaderboard/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
Due: none

feat(fe): add detail behavior for testcase result tab based on the number of tabs
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/TestcasePanel.tsx
Due: eslint, prettier

fix(be): modify admin assignment resolver to avoid collision with contest
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  collection/admin/Assignment/Create Publicizing Request/Succeed.bru
  collection/admin/Assignment/Get Publicizing Requests/Succeed.bru
  collection/admin/Assignment/Handle Publicizing Request/Succeed.bru
  collection/admin/Contest/Create Publicizing Request/Succeed.bru
Due: eslint, prettier

chore: modify test submission result table
  apps/backend/prisma/migrations/20250117185702_add_test_submission_model/migration.sql
  apps/backend/prisma/migrations/20250118095208_add_test_submission_result_table/migration.sql
  apps/backend/prisma/migrations/20250121032219_add_test_submission_table/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(be): modify create test submission data logic and redis key
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(be): update test submission result data when judged
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

chore: delete useless code
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): import error
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

feat(fe): create course detail page
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Anouncement.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Assignment.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Header.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/Sidebar.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/TodoList.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/page.tsx
  apps/frontend/app/(client)/(main)/course/_components/CalendarTable.tsx
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

fix(fe): modify calendar table arrangement
  apps/frontend/app/(client)/(main)/course/page.tsx
Due: eslint, prettier

chore(fe): use turbo
  apps/frontend/next.config.js
  apps/frontend/package.json
Due: eslint, prettier

chore(fe): apply sentry tree shaking
  apps/frontend/next.config.js
Due: eslint, prettier

chore(fe): reduce js bundle size by splitting module
  apps/frontend/libs/auth.ts
  apps/frontend/libs/auth/getServerSession.ts
Due: eslint, prettier

fix(fe): change banner height
  apps/frontend/app/(client)/(main)/_components/Cover.tsx
Due: eslint, prettier

chore(fe): remove unnecessary option
  apps/frontend/next.config.js
Due: eslint, prettier

chore(fe): update package.json script
  apps/frontend/package.json
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
