Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): visible can be null
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/app/admin/problem/utils.ts
Due: eslint, prettier

fix(fe): fix isvisible to be null if undefined
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

fix(fe): problem cannot be null (#1968)
  apps/frontend/app/admin/problem/_components/Columns.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/app/admin/problem/utils.ts
Due: eslint, prettier

fix(fe): fix again
  apps/frontend/app/admin/problem/_components/Columns.tsx
Due: eslint, prettier

fix(fe): visible cannot be null again (#1969)
  apps/frontend/app/admin/problem/_components/Columns.tsx
Due: eslint, prettier

fix(fe): change management layout (#1931)
  apps/frontend/app/admin/layout.tsx
  apps/frontend/app/admin/notice/page.tsx
  apps/frontend/app/admin/page.tsx
Due: eslint, prettier

feat(be): use user-ip
  apps/backend/apps/admin/src/submission/model/contest-submission-overall.model.ts
  apps/backend/apps/admin/src/submission/model/get-contest-submission-overall.input.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

fix(fe): rollback previous commit
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

fix(fe): checkbox stop propagation
  apps/frontend/app/admin/contest/[id]/_components/Columns.tsx
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/_components/Columns.tsx
Due: eslint, prettier

feat(fe): redesign admin contest list (#1963)
  apps/frontend/app/admin/contest/[id]/_components/Columns.tsx
  apps/frontend/app/admin/contest/_components/Columns.tsx
  apps/frontend/app/admin/contest/create/_components/Columns.tsx
  apps/frontend/app/admin/contest/page.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/components/DataTableAdmin.tsx
  apps/frontend/components/DataTableColumnHeader.tsx
  apps/frontend/components/ui/table.tsx
  apps/frontend/public/24_invisible.svg
  apps/frontend/public/24_visible.svg
Due: eslint, prettier

chore(fe): redesign badge
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/components/EditorLayout.tsx
  apps/frontend/components/ui/badge.tsx
Due: eslint, prettier

fix: componentize contest card carousel
  apps/frontend/app/(main)/contest/_components/ContestCardList.tsx
Due: eslint, prettier

fix(ci): don't check style on file with no file extension
  .github/workflows/ci.yml
Due: prettier

fix(ci): prettier no error on unmatched pattern
  .github/workflows/ci.yml
Due: prettier

feat(be): implement combine score summary and submissions
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/contest/model/contest-submission-summary-for-user.model.ts
Due: eslint, prettier

fix(ci): don't check style on file with no file extension (#1971)
  .github/workflows/ci.yml
Due: prettier

chore(be): handle exceptions
  apps/backend/apps/admin/src/submission/model/contest-submission-summary.model.ts
  apps/backend/apps/admin/src/submission/model/get-contest-submission-summary.input.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

chore: change mock folder name
  apps/frontend/mocks/handlers.ts
  apps/frontend/mocks/node.ts
Due: eslint, prettier

feat: cache session data
  apps/frontend/lib/auth.ts
  apps/frontend/lib/auth/getClientSession.ts
Due: eslint, prettier

test: add getClientSession test
  apps/frontend/lib/auth/getClientSession.spec.ts
  apps/frontend/vitest.config.ts
  apps/frontend/vitest.setup.ts
Due: eslint, prettier

chore(fe): update favicon and icons
  apps/frontend/app/apple-icon.png
  apps/frontend/app/favicon.ico
  apps/frontend/app/icon.png
  apps/frontend/public/android-chrome-192x192.png
  apps/frontend/public/android-chrome-512x512.png
Due: none

feat(fe): redesign header and footer logo
  apps/frontend/app/(main)/_components/Footer.tsx
  apps/frontend/public/codedang.svg
Due: eslint, prettier

feat(fe): redesign header and footer logo (#1974)
  apps/frontend/app/(main)/_components/Footer.tsx
  apps/frontend/public/codedang.svg
Due: eslint, prettier

chore(fe): resize badge, title
  apps/frontend/components/EditorDescription.tsx
  apps/frontend/components/EditorLayout.tsx
Due: eslint, prettier

fix: resize icon.png
  apps/frontend/app/icon.png
Due: none

feat(fe): cache session data (#1973)
  apps/frontend/lib/auth.ts
  apps/frontend/lib/auth/getClientSession.spec.ts
  apps/frontend/lib/auth/getClientSession.ts
  apps/frontend/mocks/handlers.ts
  apps/frontend/mocks/node.ts
  apps/frontend/vitest.config.ts
  apps/frontend/vitest.setup.ts
Due: eslint, prettier

chore(be): comment test
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

feat(fe): redesign management edit button
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
Due: eslint, prettier

fix(be): add type
  apps/backend/apps/admin/src/admin.module.ts
  apps/backend/apps/admin/src/submission/submission.resolver.ts
Due: eslint, prettier

fix(fe): change isVisible type
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

feat(fe): redesign management edit button
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
Due: eslint, prettier

feat(be): redact submission result when is-judge-result-visible is false
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/apps/client/src/submission/test/submission.service.spec.ts
  apps/backend/prisma/migrations/20240819062138_add_blind_on_enum_submission_result/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

feat(fe): redesign management edit button
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
Due: eslint, prettier

fix(fe): fix isVisible type
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

fix(infra): inject minIO info in env.development
  .env.development
Due: none

feat(infra): hide minio_root_user/password in deploy storage
  docker-compose.yml
Due: prettier

fix(infra): inject minIO info from env.development (#1978)
  .env.development
  docker-compose.yml
Due: prettier

fix: rollback compiler.go
  apps/iris/src/service/sandbox/compiler.go
Due: none

feat(fe): change main page components design
  apps/frontend/app/(main)/_components/ContestCard.tsx
  apps/frontend/app/(main)/_components/Header.tsx
  apps/frontend/app/(main)/contest/_components/ContestCardList.tsx
  apps/frontend/app/(main)/contest/layout.tsx
  apps/frontend/app/(main)/layout.tsx
  apps/frontend/app/(main)/notice/layout.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/app/(main)/problem/layout.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
Due: eslint, prettier
