Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

fix(ci): deploy docs only on main branch (#489)
  .github/workflows/documentation.yml
  .github/workflows/storybook.yml
Due: prettier

chore(be): fix typo in error message (#488)
  backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

fix(be): enable eslint for group service (#491)
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
Due: eslint, prettier

chore: add packageManager field
  package.json
Due: none

fix: upgrade pnpm to the latest (#466)
  .devcontainer/devcontainer.json
  package.json
  scripts/setup.sh
Due: none

fix: enable git autocompletion lazily
  scripts/setup.sh
Due: none

fix: enable git autocompletion lazily (#492)
  scripts/setup.sh
Due: none

feat: enable nestjs icon pack
  .vscode/settings.json
Due: none

chore: add missing vscode extensions
  .devcontainer/devcontainer.json
  .gitpod.yml
Due: prettier

chore: add gitlens as a default extension
  .devcontainer/devcontainer.json
  .gitpod.yml
Due: prettier

feat: enable nestjs icon pack (#493)
  .vscode/settings.json
Due: none

chore: add missing vscode extensions (#494)
  .devcontainer/devcontainer.json
  .gitpod.yml
Due: prettier

feat(be): modify prisma import
  backend/apps/admin/src/prisma/prisma.module.ts
  backend/apps/admin/src/prisma/prisma.service.ts
  backend/apps/admin/src/user/user.service.ts
Due: eslint, prettier

feat(be): change createUser method
  backend/apps/admin/src/user/user.service.ts
Due: eslint, prettier

feat(be): change updateUser method
  backend/apps/admin/src/user/user.service.ts
Due: eslint, prettier

feat(be): add PrismaService dependency to admin module
  backend/apps/admin/src/admin.module.ts
Due: eslint, prettier

feat(be): add prisma dependency to userService test
  backend/apps/admin/src/admin.module.ts
  backend/apps/admin/src/user/user.service.spec.ts
Due: eslint, prettier

feat(be): add prisma module to userService test
  backend/apps/admin/src/user/user.service.spec.ts
Due: eslint, prettier

feat(be): add ConfigModule to userService test
  backend/apps/admin/src/user/user.service.spec.ts
Due: eslint, prettier

feat(be): add prisma to userService test
  backend/apps/admin/src/user/user.service.spec.ts
Due: eslint, prettier

feat(be): return to the origin test code
  backend/apps/admin/src/user/user.service.spec.ts
Due: eslint, prettier

feat(be): implement admin user crud api (#484)
  backend/apps/admin/src/schema.gql
  backend/apps/admin/src/user/schema.graphql
  backend/apps/admin/src/user/user.entity.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/admin/src/user/user.service.spec.ts
  backend/apps/admin/src/user/user.service.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

fix: type error
  backend/apps/client/src/user/user.service.spec.ts
Due: eslint, prettier

feat(be): implement submission services
  .vscode/settings.json
  backend/apps/client/src/submission/constants/cpuLimit.constants.ts
  backend/apps/client/src/submission/constants/memoryLimit.constants.ts
  backend/apps/client/src/submission/constants/resultCode.constants.ts
  backend/apps/client/src/submission/dto/update-submission-result.dto.ts
  backend/apps/client/src/submission/guard/contestProblemSubmission.guard.ts
  backend/apps/client/src/submission/guard/workbookProblemSubmission.guard.ts
  backend/apps/client/src/submission/hash/hash.ts
  backend/apps/client/src/submission/submission.service.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix(be): modify submission service
  backend/apps/client/src/submission/constants/rabbitmq.constants.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(be): implements get submission result service
  backend/apps/client/src/submission/dto/submission-result.dto.ts
  backend/apps/client/src/submission/guard/contestProblemSubmission.guard.ts
  backend/apps/client/src/submission/guard/submissionResult.guard.ts
  backend/apps/client/src/submission/guard/workbookProblemSubmission.guard.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(be): implement submission controller
  backend/apps/client/src/submission/submission.controller.ts
Due: eslint, prettier

feat(be): implement admin problem module
  backend/apps/admin/src/problem/dto/create-problem.dto.ts
  backend/apps/admin/src/problem/dto/request-problem.dto.ts
  backend/apps/admin/src/problem/dto/update-problem.dto.ts
  backend/apps/admin/src/problem/problem.resolver.ts
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

feat(be): add basic thunder-client test
  backend/apps/client/src/submission/constants/rabbitmq.constants.ts
  backend/apps/client/src/submission/dto/create-submission.dto.ts
  backend/apps/client/src/submission/submission.controller.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

feat(be): add baseline test code
  backend/apps/client/src/submission/submission.controller.spec.ts
  backend/apps/client/src/submission/submission.service.spec.ts
Due: eslint, prettier

fix: change importing cache module
  backend/apps/client/src/common/cache/cacheConfig.service.ts
Due: eslint, prettier

feat(be): implements test code
  backend/apps/client/src/submission/dto/create-submission.dto.ts
  backend/apps/client/src/submission/mock/problem.mock.ts
  backend/apps/client/src/submission/mock/problemTestcase.mock.ts
  backend/apps/client/src/submission/mock/submission.mock.ts
  backend/apps/client/src/submission/mock/submissionResult.mock.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): pnpm-lock file
  pnpm-lock.yaml
Due: prettier

fix(be): modify controller return type
  backend/apps/client/src/submission/submission.controller.ts
Due: eslint, prettier

fix(be): modify submission result return type
  backend/apps/client/src/submission/dto/submission-result.dto.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.spec.ts
  backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(fe): add margin in admin layout
  frontend/src/common/layouts/admin.vue
Due: eslint, prettier

refactor(fe): update Card component
  frontend/src/admin/pages/index.vue
  frontend/src/common/components/Molecule/Card.vue
Due: eslint, prettier

refactor(fe): update sidebar component
  frontend/src/admin/pages/[groupId]/index.vue
  frontend/src/common/components/Organism/Sidebar.vue
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
