Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): add solution in preview (#2788)
  apps/frontend/app/(client)/(code-editor)/_components/SolutionLayout.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/solution/page.tsx
  apps/frontend/app/admin/_components/code-editor/PreviewEditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/_components/code-editor/SolutionLayout.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/[problemId]/preview/page.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

chore(be): restore bruno file
  collection/admin/Submission/Download SourceCode from URL/Succeed.bru
  collection/client/Submission/Create Assignment Submission/Succeed.bru
Due: none

fix(be): fix fallback filename
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

fix: add comment for Instrumentation.start refactor
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
Due: eslint, prettier

feat(infra): add logger defer for LogWithContext
  apps/iris/src/service/logger/logger.go
  pnpm-lock.yaml
Due: prettier

fix(be): rabbitmq module type error
  apps/backend/apps/client/src/submission/submission.module.ts
Due: eslint, prettier

fix(cd): prevent stage env being overridden
  .github/workflows/cd-stage.yml
Due: prettier

fix(cd): prevent stage env being overridden (#2799)
  .github/workflows/cd-stage.yml
Due: prettier

chore(fe): delete console.log
  apps/frontend/app/admin/problem/_components/ContainedContests.tsx
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

feat(fe): show Problem Visible Toggle to Contest Admin & Contest Manager (#2793)
  apps/frontend/app/admin/problem/_components/ContainedContests.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
  apps/frontend/app/admin/problem/page.tsx
Due: eslint, prettier

fix(cd): remove unused promtail deploy setup
  .github/workflows/cd-stage.yml
Due: prettier

fix(cd): remove unused promtail deploy setup (#2800)
  .github/workflows/cd-stage.yml
Due: prettier

feat(fe): allow contest admin and manager to see the client leaderboard before finish
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContestLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

chore(fe): delete console log
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(fe): remove string cheeze
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(fe): allow contest admin and manager to see the client leaderboard before finish (#2801)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContestLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(fe): remove string cheeze (#2802)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(fe): show real name on admin table
  apps/frontend/app/admin/user/_components/UserTable.tsx
  apps/frontend/graphql/user/queries.ts
Due: eslint, prettier

feat(fe): show real name on admin table (#2803)
  apps/frontend/app/admin/user/_components/UserTable.tsx
  apps/frontend/graphql/user/queries.ts
Due: eslint, prettier

feat(fe): initial commit
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

chore(be): leaderboard userid optional
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): docs
  collection/client/Contest/Get Leaderboard/succeed.bru
Due: none

feat(fe): temp commit
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

chore(be): leaderboard userid optional (#2805)
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get Leaderboard/succeed.bru
Due: eslint, prettier

chore(fe): change variable name
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContestLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

chore(cd): use correct environment variable GITHUB_TOKEN instead of TOKEN
  .github/workflows/cd-stage.yml
Due: prettier

chore(fe): change variable name (#2806)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/apis/getContestLeaderboard.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(fe): merged with main
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

fix: set default value of ENABLE_OPENTELEMETRY as true
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/iris/main.go
Due: eslint, prettier

feat(fe): add statistics introducing page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
  apps/frontend/public/captures/statistics-chart.gif
  apps/frontend/public/captures/statistics-leaderboard.gif
  apps/frontend/public/captures/statistics-submissions.gif
Due: eslint, prettier

feat(fe): no contest no visible toggle
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
Due: eslint, prettier

feat(fe): chore
  apps/frontend/app/admin/problem/_components/ProblemTable.tsx
Due: eslint, prettier

chore(fe): add todo to delete buffer of endTime in statistics page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
Due: eslint, prettier

chore(fe): lint contest statistics page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/page.tsx
Due: eslint, prettier

feat(fe): no contest no visible toggle (#2807)
  apps/frontend/app/admin/problem/_components/ProblemTableColumns.tsx
Due: eslint, prettier

feat(infra): add deployment environment attribute to resource
  apps/iris/src/instrumentation.go
Due: none

refactor(infra): improve APP_ENV environment get logic
  apps/backend/libs/instrumentation.ts
  apps/iris/src/instrumentation.go
Due: eslint, prettier

feat(infra): append environment label for each service (#2809)
  apps/backend/apps/admin/src/main.ts
  apps/backend/apps/client/src/main.ts
  apps/backend/libs/instrumentation.ts
  apps/iris/main.go
  apps/iris/src/instrumentation.go
Due: eslint, prettier
