Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fix): update rc workflow and change DB launch snapshot (#2537)
  .github/workflows/rc-build-image.yml
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/database.tf
Due: prettier, terraformfmt

feat(fe): add math bubble
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/items.tsx
Due: eslint, prettier

fix(fe): set default endtime and send an infinite value if not set
  apps/frontend/app/admin/_components/TimeForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
Due: eslint, prettier

fix(fe): prevent logo from overflowing its boundary
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/_components/ParticipantTable.tsx
  apps/frontend/public/logos/excel.png
Due: eslint, prettier

fix(fe): change plus icon
  apps/frontend/app/admin/course/[courseId]/assignment/page.tsx
Due: eslint, prettier

fix(fe): add error message when selecting no one
  apps/frontend/app/admin/course/[courseId]/user/_components/DeleteUserButton.tsx
Due: eslint, prettier

fix(fe): add error message when selecting nothing
  apps/frontend/app/admin/_components/table/DataTableDeleteButton.tsx
Due: eslint, prettier

feat(fe): add submission tooltip on leaderboard page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
Due: eslint, prettier

feat(fe): add tooltip
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
Due: eslint, prettier

fix(fe): modify icon name
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
Due: eslint, prettier

feat(fe): create client leaderboard page on contest page (#2532)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardColumns.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardDataTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardSolvedList.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTableHeader.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
  apps/frontend/public/icons/file-info-gray.svg
  apps/frontend/public/icons/medal-bronze.svg
  apps/frontend/public/icons/medal-gold.svg
  apps/frontend/public/icons/medal-silver.svg
  apps/frontend/public/icons/search.svg
Due: eslint, prettier

feat(fix): fixing rc workflow update
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/network/README.md
Due: prettier

feat(fe): improve tooltip animation effect
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
Due: eslint, prettier

feat(fix): fixing rc workflow update
  .github/workflows/rc-deploy.yml
Due: prettier

feat(fix): fix rc workflow update (#2539)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/network/README.md
Due: prettier

feat(fe): allow problem creation with empty io
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
Due: eslint, prettier

feat(fix): fixing rc workflow update (#2541)
  .github/workflows/rc-deploy.yml
Due: prettier

feat(fe): add summary form and change TitleForm layout
  apps/frontend/app/admin/_components/SummaryForm.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

feat(fe): change equation button
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/items.tsx
Due: eslint, prettier

feat(fe): handle when equation is empty
  apps/frontend/app/admin/_components/TextEditor.tsx
Due: eslint, prettier

fix(be): add order logic
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

test(be): edit test code
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

fix(be): change input format from id to order (#2536)
  apps/backend/apps/admin/src/announcement/announcement.service.spec.ts
  apps/backend/apps/admin/src/announcement/announcement.service.ts
  apps/backend/apps/admin/src/announcement/model/create-announcement.input.ts
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/prisma/seed.ts
  collection/admin/Announcement/Create Announcement/Succeed.bru
  collection/admin/Announcement/Create Announcement/[ERR] Has No Contest Id.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Contest.bru
  collection/admin/Announcement/Create Announcement/[ERR] Non Existent Problem.bru
  collection/admin/Contest/Create Contest/Succeed.bru
  collection/admin/Contest/Import Problems to Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Contest/Remove Problems From Contest/Succeed.bru
  collection/admin/Contest/Remove Problems From Contest/[ERR] Nonexistent Contest.bru
  collection/admin/Problem/Update ContestProblems Order/Succeed.bru
Due: eslint, prettier

chore(fe): use interface
  apps/frontend/app/admin/_components/SummaryForm.tsx
Due: eslint, prettier

chore(fe): add comment
  apps/frontend/app/admin/_components/DescriptionForm.tsx
Due: eslint, prettier

feat(fe): start adding sample testcase evaluate button
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

feat(fe): add undo redo button
  apps/frontend/app/admin/_components/FullScreenTextEditor.tsx
  apps/frontend/app/admin/_components/TextEditor.tsx
  apps/frontend/app/admin/_components/tiptap/TextStyleBar.tsx
Due: eslint, prettier

fix(fe): fix clipping issue and add cancel button
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
Due: eslint, prettier

feat(fix): fixing rc workflow update
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

feat(fix): fix update rc workflow (#2542)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

feat(fe): make submit button
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/app/admin/contest/[contestId]/_components/ContestOverallTabs.tsx
  apps/frontend/graphql/contest/mutations.ts
Due: eslint, prettier

fix(iris): revert to libjudger.so
  .devcontainer/Dockerfile
  apps/iris/Dockerfile
  apps/iris/src/common/constants/constants.go
  apps/iris/src/service/sandbox/judger/impl.go
Due: none

fix(iris): do not install open jdk 17 as dependency anymore
  .devcontainer/Dockerfile
Due: none

fix(iris): install java via devctontainer feat and change location of javac and java
  .devcontainer/devcontainer.json
  apps/iris/src/service/sandbox/judger/langConfig.go
Due: none

feat(infra): add rc storage outputs
  apps/infra/rc/storage/outputs.tf
Due: terraformfmt

chore(iris): remove invalid compile argument of cpp
  apps/iris/src/service/sandbox/judger/langConfig.go
Due: none

fix(iris): handle compile error message (#2533)
  apps/iris/src/handler/judge-handler.go
  apps/iris/src/service/sandbox/judger/compiler.go
  apps/iris/src/service/sandbox/judger/langConfig.go
Due: none

feat(fe): add leaderboard score modal
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardModalDialog.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardRow.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_components/LeaderboardTable.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/_libs/utils.ts
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/leaderboard/page.tsx
Due: eslint, prettier

feat(infra): add rc-mask-db
  .github/workflows/rc-mask-db.yml
Due: prettier
