Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

refactor(infra): clean up duplicated values
  apps/k8s/argocd/applications/monitoring/loki.yaml
  apps/k8s/monitoring/loki/values.yaml
Due: prettier

fix(be): modify permission of user without logging in for contest (#3071)
  apps/backend/apps/client/src/contest/contest.service.spec.ts
  apps/backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Create Contest QnA Comment/[401] Cannot comment without logging in.bru
  collection/client/Contest/Create Contest QnA/[401] Cannot post QnA without logging in.bru
  collection/client/Contest/Delete Contest QnA Comment/[401] Cannot delete Comment without logging in.bru
  collection/client/Contest/Delete Contest QnA/[401] Cannot delete QnA without logging in.bru
  collection/client/Contest/Get Contest QnAs/[403] Cannot access QnAs in ongoing contest without logging in.bru
Due: eslint, prettier

refactor(infra): remove AWS instance ID retrieval logic
  apps/backend/libs/instrumentation.ts
  apps/iris/src/instrumentation.go
Due: eslint, prettier

fix(be): throw error immediately after finding violation
  apps/backend/libs/policy/src/code-policy.service.ts
Due: eslint, prettier

feat(infra): update OTEL_EXPORTER_OTLP_ENDPOINT_URL in configmaps
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/client-api/base/configmap.yaml
  apps/k8s/iris/base/configmap.yaml
Due: prettier

feat: add new client-api-stage user for SES
  apps/infra/production/k8s-iam/client-api-stage.tf
Due: terraformfmt

feat(infra): add Route 53 record for Grafana
  apps/infra/production/dns/.terraform.lock.hcl
  apps/infra/production/dns/grafana.tf
Due: terraformfmt

feat(infra): add reverse proxy for Grafana
  apps/infra/stage/server2/Caddyfile
Due: none

feat: copy iam credential to minio
  apps/k8s/client-api/overlays/stage/secrets/aws-credentials.yaml
  apps/k8s/minio/kustomization.yaml
  apps/k8s/minio/users.yaml
  apps/k8s/minio/users/admin-api.yaml
  apps/k8s/minio/users/client-api.yaml
  apps/k8s/minio/users/iris.yaml
Due: prettier

fix(infra): assign send-email role to client-api (#3079)
  apps/infra/production/k8s-iam/client-api-stage.tf
  apps/infra/production/k8s-iam/client-api.tf
  apps/k8s/client-api/overlays/stage/secrets/aws-credentials.yaml
  apps/k8s/minio/kustomization.yaml
  apps/k8s/minio/users.yaml
  apps/k8s/minio/users/admin-api.yaml
  apps/k8s/minio/users/client-api.yaml
  apps/k8s/minio/users/iris.yaml
Due: prettier, terraformfmt

style(fe): modify alert modal confirmation text
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
Due: eslint, prettier

feat(infra): use DNS for otel collector
  apps/infra/production/dns/monitoring.tf
  apps/infra/stage/server2/Caddyfile
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/client-api/base/configmap.yaml
  apps/k8s/iris/base/configmap.yaml
Due: prettier, terraformfmt

fix(fe): modify qna category filter z index
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnACategoryFilter.tsx
Due: eslint, prettier

style(fe): improve fallback ui
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
Due: eslint, prettier

fix(infra): connect monitoring (#3080)
  apps/backend/libs/instrumentation.ts
  apps/infra/production/dns/.terraform.lock.hcl
  apps/infra/production/dns/monitoring.tf
  apps/infra/stage/server2/Caddyfile
  apps/iris/src/instrumentation.go
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/client-api/base/configmap.yaml
  apps/k8s/iris/base/configmap.yaml
Due: eslint, prettier, terraformfmt

chore(fe): simplify searchparams definition
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/page.tsx
Due: eslint, prettier

fix(infra): update reverse proxy for grafana to 5000
  apps/infra/stage/server2/Caddyfile
Due: none

fix(infra): update reverse proxy for grafana to 5000 (#3082)
  apps/infra/stage/server2/Caddyfile
Due: none

refactor(infra): diet loki values
  apps/k8s/monitoring/loki/values.yaml
Due: prettier

Update apps/k8s/argocd/applications/monitoring/loki.yaml
  apps/k8s/argocd/applications/monitoring/loki.yaml
Due: prettier

feat(infra): setup loki (#3077)
  apps/k8s/argocd/applications/monitoring/loki.yaml
  apps/k8s/monitoring/loki/values.yaml
Due: prettier

feat(be): implement getPushSubscriptions
  apps/backend/apps/client/src/notification/notification.controller.ts
  apps/backend/apps/client/src/notification/notification.service.ts
Due: eslint, prettier

feat(infra): only build images in cd-stage
  .github/workflows/cd-stage-k8s.yml
  .github/workflows/legacy/cd-stage.yml
Due: prettier

test: test branch
  .github/workflows/cd-stage-k8s.yml
Due: prettier

feat(be): implement notice notification
  apps/backend/apps/admin/src/notice/notice.resolver.ts
  apps/backend/apps/admin/src/notice/notice.service.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
Due: eslint, prettier

feat(be): modify push notificaiton title and message
  apps/backend/apps/admin/src/notification/notification.service.ts
Due: eslint, prettier

chore(be): resolve test error and modify push message
  apps/backend/apps/admin/src/notice/notice.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
Due: eslint, prettier

test(be): add test for getPushSubscriptions
  apps/backend/apps/client/src/notification/notification.service.spec.ts
Due: eslint, prettier

chore(be): add bruno
  collection/client/Push Subscription/Get Push Subscriptions/Succeed.bru
  collection/client/Push Subscription/Get Push Subscriptions/folder.bru
Due: none

feat(be): implement getPushSubscriptions (#3083)
  apps/backend/apps/client/src/notification/notification.controller.ts
  apps/backend/apps/client/src/notification/notification.service.spec.ts
  apps/backend/apps/client/src/notification/notification.service.ts
  collection/client/Push Subscription/Get Push Subscriptions/Succeed.bru
  collection/client/Push Subscription/Get Push Subscriptions/folder.bru
Due: eslint, prettier

fix(infra): apply cors rules to stage api server
  apps/k8s/admin-api/overlays/stage/cors-middleware.yaml
  apps/k8s/admin-api/overlays/stage/ingress.yaml
  apps/k8s/admin-api/overlays/stage/kustomization.yaml
  apps/k8s/client-api/overlays/stage/cors-middleware.yaml
  apps/k8s/client-api/overlays/stage/ingress.yaml
  apps/k8s/client-api/overlays/stage/kustomization.yaml
Due: prettier

fix(fe): prevent autoCapitalize and stuff on mobile
  apps/frontend/components/auth/SignIn.tsx
Due: eslint, prettier

fix(fe): fix password field
  apps/frontend/components/auth/SignIn.tsx
Due: eslint, prettier

fix(infra): reuse tls certificates across frontend previews
  apps/k8s/argocd/applications/frontend-preview.yaml
Due: prettier

chore: remove unused annotation
  apps/k8s/frontend/base/ingress.yaml
Due: prettier

chore: add comment
  apps/k8s/argocd/applications/frontend-preview.yaml
Due: prettier

fix: some resource names must start with alphabet
  apps/k8s/argocd/applications/frontend-preview.yaml
Due: prettier

chore: override secert name to prevent prefix
  apps/k8s/argocd/applications/frontend-preview.yaml
Due: prettier

feat(fe): add notification settings
  apps/frontend/app/(client)/(main)/settings/_components/PushNotificationSection.tsx
  apps/frontend/app/(client)/(main)/settings/page.tsx
  apps/frontend/components/notification/NotificationDropdown.tsx
Due: eslint, prettier
