Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

style: format polygon e2e script
  scripts/e2e-polygon-test.ts
Due: eslint, prettier

feat(be): add unregister API during ongoing contest
  apps/backend/apps/admin/src/contest/contest.resolver.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

feat(be): create MandeuldangRunRequest on generator/validator publish
  apps/backend/apps/admin/src/mandeuldang/mandeuldang-pub.service.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.resolver.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang.service.ts
Due: eslint, prettier

refactor(infra): migrate client-api ingress to gateway
  infra/k8s/client-api/base/HTTPRoutes.yaml
  infra/k8s/client-api/base/ingress.yaml
  infra/k8s/client-api/base/kustomization.yaml
  infra/k8s/client-api/overlays/stage/HTTPRoutes.yaml
  infra/k8s/client-api/overlays/stage/ingress.yaml
  infra/k8s/client-api/overlays/stage/kustomization.yaml
Due: prettier

refactor(infra): migrate cloud-beaver ingress to gateway
  infra/k8s/cloud-beaver/HTTPRoutes.yaml
  infra/k8s/cloud-beaver/ingress.yaml
Due: prettier

refactor(infra): migrate frontend ingress to gateway
  infra/k8s/argocd/applications/frontend-preview.yaml
  infra/k8s/frontend/base/HTTPRoutes.yaml
  infra/k8s/frontend/base/ingress.yaml
  infra/k8s/frontend/base/kustomization.yaml
  infra/k8s/frontend/overlays/stage/HTTPRoutes.yaml
  infra/k8s/frontend/overlays/stage/ingress.yaml
  infra/k8s/frontend/overlays/stage/kustomization.yaml
Due: prettier

refactor(infra): migrate headlamp ingress to gateway
  infra/k8s/headlamp/overlays/production/values.yaml
  infra/k8s/headlamp/overlays/stage/values.yaml
Due: prettier

refactor(infra): migrate minio ingress to gateway
  infra/k8s/minio/HTTPRoutes.yaml
  infra/k8s/minio/ingress.yaml
  infra/k8s/minio/kustomization.yaml
Due: prettier

refactor(infra): migrate monitoring/prometheus ingress to gateway
  infra/k8s/monitoring/prometheus/values-production.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
Due: prettier

refactor(infra): migrate monitoring/grafana ingress to gateway
  infra/k8s/monitoring/grafana/overlays/production/values.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
Due: prettier

refactor(infra): migrate monitoring/minio ingress to gateway
  infra/k8s/monitoring/minio/overlays/production/HTTPRoutes.yaml
  infra/k8s/monitoring/minio/overlays/production/kustomization.yaml
Due: prettier

fix(fe): course/admin/[courseId] Tab central arrangement problem (#3650)
  apps/frontend/app/admin/course/[courseId]/(overview)/layout.tsx
Due: eslint, prettier

chore: revert unrelated formatting changes pulled in from main merge
  infra/k8s/admin-api/base/HTTPRoutes.yaml
  infra/k8s/admin-api/overlays/stage/HTTPRoutes.yaml
  infra/k8s/internal/base/TLSRedirect.yaml
  infra/k8s/internal/base/gateway.yaml
  infra/k8s/internal/base/traefik-config.yaml
  tests/load/submission-load.js
Due: eslint, prettier

fix(infra): detach retired resources before state transfer
  infra/aws/decommission-stage/README.md
  infra/aws/storage/main.tf
  infra/aws/storage/removed.tf
  infra/aws/vpc/main.tf
  infra/aws/vpc/moved.tf
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/public-network.tf
  infra/aws/vpc/removed.tf
  infra/aws/vpc/security-group.tf
Due: terraformfmt

fix(infra): remove duplicate nat route ownership
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/failover-network.tf
  infra/aws/decommission-stage/removed.tf
  infra/aws/vpc/main.tf
  infra/aws/vpc/private-network.tf
Due: terraformfmt

refactor(infra): stage legacy ecs log groups
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/observability.tf
Due: terraformfmt

feat(be): use requestId as AMQP messageId for generator/validator
  apps/backend/apps/admin/src/mandeuldang/mandeuldang-pub.service.ts
  apps/backend/apps/admin/src/mandeuldang/mandeuldang-sub.service.ts
  apps/backend/apps/admin/src/mandeuldang/model/mandeuldang-tool-request.interface.ts
  apps/backend/libs/amqp/src/amqp.service.ts
Due: eslint, prettier

feat(be): add studentName to GroupWhitelist
  apps/backend/prisma/migrations/20260818084642_add_student_name_to_group_whitelist/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat(be): add StudentWhitelistInput to CourseInput
  apps/backend/apps/admin/src/group/model/group.input.ts
Due: eslint, prettier

chore(be): sync GraphQL Schema for StudentWhitelist
  apps/backend/schema.gql
Due: none

fix(be): remove legacy Course QnA assignment fallback
  apps/backend/apps/client/src/group/group.service.ts
Due: eslint, prettier

docs(be): update Course QnA Bruno tests for direct assignment mapping
  collection/client/Course/Create Question/[403] Not a Course Member.bru
  collection/client/Course/Create Question/[404] Nonexistent Problem.bru
  collection/client/Course/Get Question Detail/Succeed.bru
  collection/client/Course/Get Questions List/Succeed.bru
Due: none

fix(fe): remove redundant rounded class
  apps/frontend/app/(client)/(code-editor)/_components/FinishedNoticePanel.tsx
Due: eslint, prettier

refactor(infra): prepare decommission of legacy AWS resources (#3694)
  .github/workflows/legacy/cd-failover-ecs.yml
  infra/aws/decommission-stage/.terraform.lock.hcl
  infra/aws/decommission-stage/README.md
  infra/aws/decommission-stage/cloudfront.tf
  infra/aws/decommission-stage/compute.tf
  infra/aws/decommission-stage/failover-network.tf
  infra/aws/decommission-stage/iam.tf
  infra/aws/decommission-stage/imports.tf
  infra/aws/decommission-stage/legacy-network.tf
  infra/aws/decommission-stage/load-balancing.tf
  infra/aws/decommission-stage/main.tf
  infra/aws/decommission-stage/message-queue.tf
  infra/aws/decommission-stage/observability.tf
  infra/aws/decommission-stage/removed.tf
  infra/aws/dns/acm-validation.tf
  infra/aws/dns/main.tf
  infra/aws/k8s-iam/main.tf
  infra/aws/storage/main.tf
  infra/aws/storage/redis.tf
  infra/aws/storage/removed.tf
  infra/aws/storage/s3_plag.tf
  infra/aws/vpc/moved.tf
  infra/aws/vpc/network-instance.tf
  infra/aws/vpc/outputs.tf
  infra/aws/vpc/private-network.tf
  infra/aws/vpc/public-network.tf
  infra/aws/vpc/removed.tf
  infra/aws/vpc/security-group.tf
  infra/legacy/README.md
  infra/legacy/production/codedang/disabled.tf
  infra/legacy/production/network/disabled.tf
  infra/legacy/production/storage/disabled.tf
  infra/legacy/rc/acm-validation/disabled.tf
  infra/legacy/rc/codedang/disabled.tf
  infra/legacy/rc/network/disabled.tf
  infra/legacy/rc/storage/disabled.tf
  infra/legacy/rc/terraform-configuration/disabled.tf
  infra/legacy/stage/skku-network-proxy/disabled.tf
  infra/legacy/stage/skku-network-proxy/terraform-configuration/disabled.tf
Due: prettier, terraformfmt

refactor(iris): simplify result sender name
  apps/iris/src/handler/generate/task.go
  apps/iris/src/handler/judge/task.go
  apps/iris/src/handler/result.go
  apps/iris/src/handler/run/task.go
  apps/iris/src/handler/runner.go
  apps/iris/src/handler/task.go
  apps/iris/src/handler/validate/task.go
Due: none

refactor(iris): normalize Go file names
  apps/iris/src/common/result/ch_result.go
  apps/iris/src/handler/generate/generate_handler_test.go
  apps/iris/src/handler/judge/judge_handler_test.go
  apps/iris/src/handler/result_code.go
  apps/iris/src/handler/run/run_handler_test.go
  apps/iris/src/handler/validate/validate_handler_test.go
  apps/iris/src/service/sandbox/judger/lang_config.go
  apps/iris/src/service/sandbox/judger/result_code.go
  apps/iris/src/service/sandbox/lang_config.go
  apps/iris/src/service/sandbox/status_code.go
  apps/iris/src/utils/get_env.go
  apps/iris/src/utils/rand_string.go
Due: none

chore: delete apps/iris/.claude/agent-memory/reviewer.md
  apps/iris/.claude/agent-memory/reviewer.md
Due: none

feat(be): separate response into package
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/router/response/judge.go
  apps/iris/src/router/response/response.go
  apps/iris/src/router/router.go
Due: none

feat(be): add Finished property into JudgeResponse
  apps/iris/src/router/response/judge.go
Due: none

feat(be): add submission response struct
  apps/iris/src/router/response/submission.go
Due: none

feat(be): add submission response send logic
  apps/iris/src/router/router.go
Due: none

fix(iris): initialize judgeResponses as empty slice
  apps/iris/src/router/router.go
Due: none

feat(iris): implement batch submission result handling (#3697)
  apps/iris/src/connector/rabbitmq/connector.go
  apps/iris/src/router/response/judge.go
  apps/iris/src/router/response/response.go
  apps/iris/src/router/response/submission.go
  apps/iris/src/router/router.go
Due: none

fix(fe): improve finished contest button UI (#3687)
  apps/frontend/app/(client)/(code-editor)/_components/FinishedNoticePanel.tsx
Due: eslint, prettier

refactor(infra): migrate n8n ingress to gateway
  infra/k8s/n8n/values.yaml
Due: prettier

fix(infra): add domain listener(https-stage-wildcard), tls hostnames and modify section name
  infra/k8s/cloud-beaver/HTTPRoutes.yaml
  infra/k8s/headlamp/overlays/stage/values.yaml
  infra/k8s/internal/base/TLSRedirect.yaml
  infra/k8s/internal/base/gateway.yaml
  infra/k8s/minio/HTTPRoutes.yaml
  infra/k8s/monitoring/grafana/overlays/stage/values.yaml
  infra/k8s/monitoring/prometheus/values-stage.yaml
  infra/k8s/rabbitmq/overlays/stage/HTTPRoutes.yaml
  infra/k8s/runner/overlays/stage/HTTPRoutes.yaml
Due: prettier

fix(infra): modify client-api kustomization and HTTPRoutes configuration
  infra/k8s/client-api/base/kustomization.yaml
  infra/k8s/client-api/overlays/stage/HTTPRoutes.yaml
  infra/k8s/client-api/overlays/stage/kustomization.yaml
Due: prettier

refactor(infra): migrate runner ingress to gateway
  infra/k8s/runner/base/HTTPRoutes.yaml
  infra/k8s/runner/base/kustomization.yaml
  infra/k8s/runner/overlays/production/ingress.yaml
  infra/k8s/runner/overlays/production/kustomization.yaml
  infra/k8s/runner/overlays/stage/HTTPRoutes.yaml
  infra/k8s/runner/overlays/stage/ingress.yaml
  infra/k8s/runner/overlays/stage/kustomization.yaml
Due: prettier

refactor(infra): migrate rabbitmq console ingress to gateway
  infra/k8s/rabbitmq/base/HTTPRoutes.yaml
  infra/k8s/rabbitmq/base/backend-tls-policy.yaml
  infra/k8s/rabbitmq/base/ingress.yaml
  infra/k8s/rabbitmq/base/kustomization.yaml
  infra/k8s/rabbitmq/base/rabbitmq-cluster.yaml
  infra/k8s/rabbitmq/base/serverstransport.yaml
  infra/k8s/rabbitmq/overlays/stage/HTTPRoutes.yaml
  infra/k8s/rabbitmq/overlays/stage/ingress.yaml
  infra/k8s/rabbitmq/overlays/stage/kustomization.yaml
Due: prettier

feat(be): create course with student whitelist
  apps/backend/apps/admin/src/group/group.service.ts
Due: eslint, prettier
