Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): change textarea and texteditor resizable
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TextEditor.tsx
Due: none

feat(be): add max cputime & memoryusage column to submission
  backend/apps/client/src/submission/enum/submission-order.enum.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.service.ts
  backend/libs/pipe/src/index.ts
  backend/libs/pipe/src/submission-order.pipe.ts
  backend/prisma/schema.prisma
Due: eslint, prettier

fix(fe): remove delay at switching visible option
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/components/DataTableAdmin.tsx
Due: none

fix(fe): change div to pre
  frontend-client/components/EditorDescription.tsx
Due: none

chore: add revalidate 1 second
  frontend-client/app/problem/[problemId]/page.tsx
Due: none

fix(fe): remove delay at switching visible option (#1501)
  frontend-client/app/admin/problem/_components/Columns.tsx
  frontend-client/components/DataTableAdmin.tsx
Due: none

feat: set up providers and install react query
  frontend-client/app/(main)/layout.tsx
  frontend-client/app/(main)/providers.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix: move revalidate const to layout
  frontend-client/app/problem/[problemId]/layout.tsx
  frontend-client/app/problem/[problemId]/page.tsx
Due: none

feat(be): change submission seeds
  backend/prisma/migrations/20240226100907_add_max_cpu_time_and_memory_usage/migration.sql
  backend/prisma/seed.ts
Due: eslint, prettier

chore: add todo comment
  frontend-client/app/problem/[problemId]/layout.tsx
Due: none

fix(be): add a create tags mutation
  backend/apps/admin/src/problem/problem-tag.resolver.ts
Due: eslint, prettier

fix(be): add a create tags func
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

docs(be): add bruno graphql docs
  collection/admin/Problem/Create Tags/CONFLICT.bru
  collection/admin/Problem/Create Tags/Succeed.bru
Due: none

feat(fe): add confetti effect on accepted (#1488)
  frontend-client/app/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  frontend-client/components/EditorDescription.tsx
  frontend-client/components/EditorHeader.tsx
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

fix: add global revalidate, add todo comment
  frontend-client/app/layout.tsx
  frontend-client/app/problem/[problemId]/layout.tsx
Due: none

chore: remove vue things
  .devcontainer/devcontainer.json
  .gitpod.yml
  knip.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): fix line break problem and revalidation (#1502)
  frontend-client/app/layout.tsx
  frontend-client/components/EditorDescription.tsx
Due: none

feat(fe): change textarea and texteditor resizable (#1500)
  frontend-client/app/admin/problem/[id]/page.tsx
  frontend-client/app/admin/problem/_components/ExampleTextarea.tsx
  frontend-client/app/admin/problem/create/page.tsx
  frontend-client/components/TextEditor.tsx
Due: none

fix(be): change the name field of each tag record to lowercase plus dash
  backend/prisma/seed.ts
Due: eslint, prettier

fix(be): add a logic of formatting tag names
  backend/apps/admin/src/problem/problem-tag.resolver.ts
Due: eslint, prettier

fix(be): change the parameter name
  backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

docs(be): change the variable values
  collection/admin/Problem/Create Tags/Succeed.bru
Due: none

Revert "feat(infra): rebase main branch"
  backend/apps/client/src/main.ts
  backend/apps/client/src/metric.ts
  backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix: downgrade @nestjs-modules/mailer
  backend/package.json
  pnpm-lock.yaml
Due: prettier

test(be): change the name value of mocking data
  backend/apps/admin/src/problem/mock/mock.ts
Due: eslint, prettier

test(be): add tests for the updated service code
  backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

chore: ignore renovate for @nestjs-modules/mailer
  renovate.json
Due: none

fix: downgrade @nestjs-modules/mailer (#1506)
  backend/package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier

chore(be): seperate total field from get-problems apis
  backend/apps/client/src/problem/dto/problems.response.dto.ts
  backend/apps/client/src/problem/dto/related-problems.response.dto.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

fix: update pnpm filter
  .github/workflows/ci.yml
  apps/backend/Dockerfile
  apps/backend/package.json
  scripts/deploy.sh
  scripts/post-checkout.sh
  scripts/setup.sh
Due: prettier

chore(be): resolve path conflict problem
  backend/apps/client/src/problem/problem.controller.ts
Due: eslint, prettier

docs(be): add get-problem-count api docs
  collection/client/Problem/Get Total Number of Problems/Succeed.bru
  collection/client/Problem/Get problems/Succeed.bru
Due: none

chore(be): remove finished field from returned object of get-finished-contests
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  collection/client/Contest/Get finished contests/Succeed.bru
Due: eslint, prettier

fix: allow email auth headers for cors
  Caddyfile
Due: none

fix: allow email auth headers for cors (#1508)
  Caddyfile
Due: none

docs(be): add user client docs
  backend/apps/client/src/user/user.controller.ts
  backend/prisma/seed.ts
  collection/client/User/(TODO) Sign Up/422- Duplicate Username.bru
  collection/client/User/(TODO) Sign Up/422- Not Authenticated.bru
  collection/client/User/(TODO) Sign Up/Succeed.bru
  collection/client/User/(TODO) Sign Up/[400] Bad Username.bru
  collection/client/User/(TODO) Update Email/401- Unauthorized.bru
  collection/client/User/(TODO) Update Email/422- Not Authenticated.bru
  collection/client/User/(TODO) Update Email/Succeed.bru
  collection/client/User/(TODO) Update Real Name/401- Unauthorized.bru
  collection/client/User/(TODO) Update Real Name/Succeed.bru
  collection/client/User/Delete Own Account/Succeed.bru
  collection/client/User/Reset Password/Succeed.bru
  collection/client/User/Reset Password/[401] Unauthorized.bru
  collection/client/User/Reset Password/[422] Bad Password.bru
  collection/client/User/Send Pin for Password Reset/Succeed.bru
  collection/client/User/Send Pin to New Email/Succeed.bru
  collection/client/User/Sign Up/Succeed.bru
  collection/client/User/Sign Up/[400] Bad Username.bru
  collection/client/User/Sign Up/[401] Unauthorized.bru
  collection/client/User/Sign Up/[409] Duplicate Username.bru
  collection/client/User/Sign Up/[422] Bad Password.bru
  collection/client/User/Sign Up/[422] Not Authenticated.bru
  collection/client/User/Update Email/Succeed.bru
  collection/client/User/Update Email/[401] Unauthorized.bru
  collection/client/User/Update Profile/Succeed.bru
  collection/client/User/Update Profile/[404] Not Found.bru
  collection/client/User/[TODO] Reset Password/Succeed.bru
Due: eslint, prettier

feat(fe): change whitespace visible, change pre tag back to div
  frontend-client/components/EditorDescription.tsx
Due: none
