Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

fix(be): change dto name
  backend/apps/admin/src/user/user.resolver.ts
Due: eslint, prettier

feat(be): implement clarification module
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/clarification/clarification.module.ts
  backend/apps/client/src/clarification/clarification.service.ts
Due: eslint, prettier

test(be): test clarification service
  backend/apps/client/src/clarification/clarification.controller.spec.ts
  backend/apps/client/src/clarification/clarification.service.spec.ts
Due: eslint, prettier

fix(be): add group clarification controller to module
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/clarification/clarification.module.ts
Due: eslint, prettier

docs(be): add clarification api documentation
  backend/prisma/seed.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

style(be): delete an assigned but never-used variable
  backend/apps/client/src/clarification/clarification.service.spec.ts
Due: eslint, prettier

fix: format code
  backend/apps/client/src/clarification/clarification.controller.spec.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/clarification/clarification.module.ts
  backend/apps/client/src/clarification/clarification.service.spec.ts
  backend/apps/client/src/clarification/clarification.service.ts
Due: eslint, prettier

feat(be): modify schema and service logic
  backend/apps/admin/src/problem/problem.service.ts
  backend/prisma/migrations/20230624044048_/migration.sql
  backend/prisma/migrations/20230624050255_add_on_delete_options/migration.sql
  backend/prisma/migrations/20230624052239_/migration.sql
  backend/prisma/schema.prisma
  pnpm-lock.yaml
Due: eslint, prettier

feat(be): implement clarification get api (#553)
  backend/apps/client/src/clarification/clarification.controller.spec.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/clarification/clarification.module.ts
  backend/apps/client/src/clarification/clarification.service.spec.ts
  backend/apps/client/src/clarification/clarification.service.ts
  backend/prisma/migrations/20230624045459_rename_contest_notice_with_clarification/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

fix(be): modify joined group api response to include group leader info
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  thunder-tests/thunderclient.json
Due: eslint, prettier

fix(be): import clarification module in client app
  backend/apps/client/src/app.module.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

fix(be): modify joined group api response to include group leader info (#556)
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/group/interface/group-data.interface.ts
  backend/apps/client/src/group/mock/group.mock.ts
  thunder-tests/thunderclient.json
Due: eslint, prettier

fix(be): import clarification module in client app (#557)
  backend/apps/client/src/app.module.ts
  thunder-tests/thunderCollection.json
  thunder-tests/thunderclient.json
Due: eslint, prettier

fix(fe): connect API in a contest detail page
  frontend/src/user/contest/components/Notice.vue
  frontend/src/user/contest/components/Problem.vue
  frontend/src/user/contest/components/Top.vue
  frontend/src/user/contest/pages/[id].vue
Due: eslint, prettier

fix(fe): remove slicing and sorting
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

fix(fe): fix eslint error
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

fix(fe): eslint error
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

fix(fe): apply a ref
  frontend/src/user/contest/pages/[id].vue
Due: eslint, prettier

fix(fe): connect API in a contest detail page (#558)
  frontend/src/user/contest/components/Notice.vue
  frontend/src/user/contest/components/Problem.vue
  frontend/src/user/contest/components/Top.vue
  frontend/src/user/contest/pages/[id].vue
Due: eslint, prettier

feat(be): move cache service into libs
  backend/apps/client/src/app.module.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/cache/src/cache-config.service.ts
  backend/libs/cache/src/index.ts
  backend/libs/cache/src/keys.ts
  backend/libs/cache/tsconfig.lib.json
  backend/nest-cli.json
  backend/tsconfig.json
Due: eslint, prettier

chore(be): delete unused common dto
  backend/apps/client/src/common/dto/pagination.dto.ts
Due: eslint, prettier

fix: reset notice pagination before update
  frontend/src/App.vue
  frontend/src/user/notice/composables/notice.ts
Due: eslint, prettier

chore(fe): add key in router-view (#512)
  frontend/src/user/notice/composables/notice.ts
Due: eslint, prettier

fix: disable vite-plugin-checker for histoire
  frontend/histoire.config.ts
Due: eslint, prettier

fix(fe): use a contest type in contest page
  frontend/src/user/contest/pages/index.vue
  frontend/src/user/home/pages/index.vue
Due: eslint, prettier

feat: use usedark utility
  frontend/src/common/components/Molecule/Pagination.story.vue
  frontend/src/common/components/Molecule/Pagination.vue
Due: eslint, prettier

feat: setup terraform environment
  .devcontainer/devcontainer.json
  .gitignore
  .gitpod.yml
  .terraform.lock.hcl
  .vscode/settings.json
  main.tf
Due: prettier

chore: create deploy dir
  deploy/.terraform.lock.hcl
  deploy/main.tf
Due: none

feat: create ecs traefik container
  deploy/main.tf
  deploy/task-definitions/traefik.json
  deploy/traefik/Dockerfile
  deploy/traefik/traefik.yml
Due: prettier

feat: create frontend cloudfront distribution
  deploy/main.tf
  deploy/mime.json
Due: none

feat: setup terraform and aws cli
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  docker-compose.yml
Due: prettier

feat: create ecs api server container
  deploy/backend/Dockerfile
  deploy/backend/Dockerfile.dockerignore
  deploy/backend/task-definition.json
  deploy/main.tf
  deploy/traefik/Dockerfile
  deploy/traefik/traefik.yml
Due: prettier

chore: rename folder
  infra/.terraform.lock.hcl
  infra/backend/Dockerfile
  infra/backend/Dockerfile.dockerignore
  infra/backend/task-definition.json
  infra/main.tf
  infra/mime.json
Due: none

chore: upgrade aws provider
  deploy/.terraform.lock.hcl
  deploy/main.tf
Due: none

feat: add backend for terraform state
  deploy/main.tf
Due: none

feat(be): move common classes and constants into libs
  backend/libs/common/src/constants.ts
  backend/libs/common/src/decorator/auth-ignore.decorator.ts
  backend/libs/common/src/decorator/roles.decorator.ts
  backend/libs/common/src/exception/business.exception.ts
  backend/libs/common/src/exception/controller.exception.ts
  backend/libs/common/src/hash.ts
  backend/libs/common/src/pipe/cursor-validation.pipe.ts
  backend/libs/common/tsconfig.lib.json
  backend/nest-cli.json
  backend/package.json
  backend/tsconfig.json
Due: eslint, prettier

chore(be): update imports accordingly
  backend/apps/admin/src/user/guard/roles.guard.ts
  backend/apps/client/src/auth/auth.controller.ts
  backend/apps/client/src/auth/auth.service.spec.ts
  backend/apps/client/src/auth/auth.service.ts
  backend/apps/client/src/auth/guard/jwt-auth.guard.ts
  backend/apps/client/src/clarification/clarification.controller.ts
  backend/apps/client/src/clarification/clarification.service.spec.ts
  backend/apps/client/src/clarification/clarification.service.ts
  backend/apps/client/src/contest/contest-admin.controller.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
  backend/apps/client/src/email/email.service.spec.ts
  backend/apps/client/src/email/email.service.ts
  backend/apps/client/src/group/group.controller.ts
  backend/apps/client/src/group/group.service.spec.ts
  backend/apps/client/src/group/group.service.ts
  backend/apps/client/src/notice/notice-admin.controller.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/notice/notice.service.spec.ts
  backend/apps/client/src/notice/notice.service.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.repository.ts
  backend/apps/client/src/problem/problem.service.spec.ts
  backend/apps/client/src/problem/problem.service.ts
  backend/apps/client/src/user/guard/roles.guard.ts
  backend/apps/client/src/user/user.controller.ts
  backend/apps/client/src/user/user.service.spec.ts
  backend/apps/client/src/user/user.service.ts
  backend/apps/client/src/workbook/workbook-admin.controller.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/apps/client/src/workbook/workbook.service.spec.ts
  backend/apps/client/src/workbook/workbook.service.ts
  backend/prisma/seed.ts
Due: eslint, prettier

feat: setup nginx cluster
  infra/main.tf
  infra/proxy/task-definition.json
Due: none

fix(fe): connect API to contest main page
  frontend/src/user/contest/pages/index.vue
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
