Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

feat(be): add nestjs logger examples and additional logging options (#1170)
  backend/apps/admin/src/main.ts
  backend/apps/admin/src/user/user.resolver.ts
  backend/apps/client/src/email/email.service.ts
  backend/apps/client/src/main.ts
  backend/apps/client/src/user/user.service.ts
  backend/libs/logger/src/pino-option.logger.ts
  backend/libs/prisma/src/prisma.service.ts
  backend/package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): remove unnecessary import statement
  frontend-client/app/(main)/_components/SignUp.tsx
Due: none

refactor(be): modify controllers to query-based url - announcement, contest, notice, submission, workbook 모듈 변경
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/announcement/announcement.module.ts
  backend/apps/client/src/contest/contest.controller.spec.ts
  backend/apps/client/src/contest/contest.controller.ts
  backend/apps/client/src/notice/notice.controller.spec.ts
  backend/apps/client/src/notice/notice.controller.ts
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
  backend/apps/client/src/submission/submission.controller.spec.ts
  backend/apps/client/src/submission/submission.controller.ts
  backend/apps/client/src/submission/submission.module.ts
  backend/apps/client/src/workbook/workbook.controller.spec.ts
  backend/apps/client/src/workbook/workbook.controller.ts
  backend/apps/client/src/workbook/workbook.module.ts
Due: eslint, prettier

chore(be): add use-group-member-guard-or-no-auth decorator
  backend/libs/auth/src/guard.decorator.ts
  backend/libs/pipe/src/id-validation.pipe.ts
Due: eslint, prettier

docs(be): modify api docs - query-based로 refactor한 컨트롤러에 맞춰 api docs 변경
  collection/client/Contest/Get ongoing & upcoming contests/Succeed.bru
  collection/client/Submission/Get Submission/Succeed.bru
  collection/client/Submission/Get Submissions/Succeed.bru
  collection/client/Workbook/Get Group Workbook by ID/403: Forbidden resource.bru
  collection/client/Workbook/Get Group Workbook by ID/404: Nonexistent Workbook.bru
  collection/client/Workbook/Get Group Workbook by ID/Succeed.bru
  collection/client/Workbook/Get Group Workbooks/400: Invalid cursor value.bru
  collection/client/Workbook/Get Group Workbooks/400: Validation failed.bru
  collection/client/Workbook/Get Group Workbooks/403: Forbidden resource.bru
  collection/client/Workbook/Get Group Workbooks/Succeed.bru
  collection/client/Workbook/Get Workbook by ID (open space)/Succeed.bru
  collection/client/Workbook/Get Workbooks (open space)/Succeed.bru
Due: none

feat(fe): combine signin signup modal (#1134)
  frontend-client/app/(main)/_components/AuthModal.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/app/(main)/_components/SignIn.tsx
  frontend-client/app/(main)/_components/SignUp.tsx
  frontend-client/app/(main)/_components/SignUpEmailVerify.tsx
  frontend-client/app/(main)/_components/SignUpRegister.tsx
  frontend-client/app/(main)/_components/SignUpWelcome.tsx
  frontend-client/package.json
  frontend-client/stores/authModal.ts
  frontend-client/stores/signUpModal.ts
  pnpm-lock.yaml
Due: eslint, prettier

fix: reset notice page
  frontend-client/app/(main)/notice/[id]/page.tsx
  frontend-client/app/(main)/notice/_components/NoticeTable.tsx
  frontend-client/app/(main)/notice/page.tsx
Due: none

fix: remove as Route
  frontend-client/app/(main)/_components/Carousel.tsx
  frontend-client/app/(main)/_components/Header.tsx
  frontend-client/app/(main)/_components/NavLink.tsx
  frontend-client/app/(main)/notice/page.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/_components/Carousel.tsx
  frontend-client/app/admin/_components/SideBar.tsx
Due: none

fix: typed error
  frontend-client/app/(main)/_components/Carousel.tsx
  frontend-client/app/(main)/_components/NavLink.tsx
  frontend-client/app/(main)/page.tsx
  frontend-client/app/_components/SignUp.tsx
  frontend-client/app/admin/_components/SideBar.tsx
  frontend-client/app/admin/layout.tsx
Due: none

fix: change vars
  .github/workflows/ci.yml
  frontend-client/app/layout.tsx
  frontend-client/lib/vars.ts
Due: eslint, prettier

fix(fe): remove filter button, remove contest card, change fetch to fetcher
  frontend-client/app/(main)/contest/_components/ContestTable.tsx
  frontend-client/app/(main)/contest/page.tsx
Due: none

feat: change api route
  frontend-client/app/next-auth/api/auth/[...nextauth]/route.ts
  frontend-client/lib/auth.ts
  frontend-client/next.config.js
Due: eslint, prettier

feat(fe): display information on contest detail page
  frontend-client/app/(main)/contest/[id]/page.tsx
Due: none

fix: restore missing take option
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix: isAuth condition
  frontend-client/app/(main)/page.tsx
  frontend-client/app/next-auth/api/auth/[...nextauth]/route.ts
  frontend-client/lib/auth.ts
  frontend-client/lib/utils.ts
  frontend-client/lib/vars.ts
  frontend-client/middleware.ts
  frontend-client/next.config.js
Due: eslint, prettier

chore: remove unused code
  frontend-client/app/(main)/page.tsx
Due: none

fix: reset token info if reissue is failed
  frontend-client/lib/auth.ts
Due: eslint, prettier

chore: change expires time
  frontend-client/lib/auth.ts
Due: eslint, prettier

refactor: change contest participants number finding logic
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

feat(be): asynchronization
  iris/src/connector/rabbitmq/connector.go
  iris/src/handler/judge-handler.go
  iris/src/router/router.go
Due: gofmt

refactor: add ContestSelectResult type
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix: fix wrong logic and missing participants data
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(be): remove redundant guard
  backend/apps/client/src/announcement/announcement.controller.ts
  backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

refactor(be): convert problem module to query-based path
  backend/apps/client/src/problem/contest-problem.controller.ts
  backend/apps/client/src/problem/problem.controller.spec.ts
  backend/apps/client/src/problem/problem.controller.ts
  backend/apps/client/src/problem/problem.module.ts
  backend/apps/client/src/problem/workbook-problem.controller.ts
Due: eslint, prettier

docs(be): modify api docs - query-based path로 변경함에 따른 api docs 수정
  collection/client/Problem/Get contest problem by ID/Succeed.bru
  collection/client/Problem/Get contest problems/Succeed.bru
  collection/client/Problem/Get workbook problem by ID/Succeed.bru
  collection/client/Problem/Get workbook problems/Succeed.bru
  collection/client/Workbook/Get Workbook by ID/404: Nonexistent Workbook.bru
  collection/client/Workbook/Get Workbook by ID/Succeed.bru
  collection/client/Workbook/Get Workbooks/400: Invalid cursor value.bru
  collection/client/Workbook/Get Workbooks/400: Validation failed.bru
  collection/client/Workbook/Get Workbooks/Succeed.bru
Due: none

feat(fe): implement sorting with react-table
  frontend-client/app/(main)/problem/_components/ProblemTable.tsx
  frontend-client/app/(main)/problem/_components/SortableHeader.tsx
  frontend-client/app/(main)/problem/_components/TagSwitch.tsx
  frontend-client/app/(main)/problem/_components/UpandDownButton.tsx
  frontend-client/app/(main)/problem/page.tsx
Due: none

test: fix test cases of contest service
  backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

refactor: use for-loop to seed contest data
  backend/prisma/seed.ts
Due: eslint, prettier

feat: add private group contest seed data
  backend/prisma/seed.ts
Due: eslint, prettier

docs: add contest participants assertion in bruno
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get group contest by ID/Succeed.bru
  collection/client/Contest/Get group finished contests/Succeed.bru
  collection/client/Contest/Get group ongoing & upcoming contests/Succeed.bru
Due: none

feat(be): add more contest seed data (#1182)
  backend/prisma/seed.ts
  collection/client/Contest/Get contest by ID/Succeed.bru
  collection/client/Contest/Get finished contests/Succeed.bru
  collection/client/Contest/Get group contest by ID/Succeed.bru
  collection/client/Contest/Get group finished contests/Succeed.bru
  collection/client/Contest/Get group ongoing & upcoming contests/Succeed.bru
Due: eslint, prettier

feat: middleware control
  frontend-client/app/(main)/_components/Header.tsx
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
  frontend-client/lib/auth.ts
  frontend-client/lib/vars.ts
  frontend-client/middleware.ts
  frontend-client/next.config.js
  frontend-client/package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix: retry error
  frontend-client/lib/utils.ts
Due: eslint, prettier

feat(be): add participants number in finished contest GET API response (#1181)
  backend/apps/client/src/contest/contest.service.spec.ts
  backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore: remove unused package
  frontend-client/app/(main)/_components/HeaderAuthPanel.tsx
Due: none

fix: package version
  frontend-client/package.json
  pnpm-lock.yaml
Due: prettier

feat(fe): add metadata base option (#1156)
  .github/workflows/ci.yml
  frontend-client/app/layout.tsx
  frontend-client/lib/vars.ts
Due: eslint, prettier

feat(be): judge channel implementation
  iris/src/connector/rabbitmq/connector.go
  iris/src/connector/rabbitmq/producer.go
  iris/src/handler/interface.go
  iris/src/handler/judge-handler.go
  iris/src/router/router.go
Due: gofmt

feat(be): admin notice service testcode
  backend/apps/admin/src/notice/notice.resolver.ts
  backend/apps/admin/src/notice/notice.service.spec.ts
  backend/apps/admin/src/notice/notice.service.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,vue}
  prettier: any of: *.{js,ts,vue,css,yaml,yml}
  gofmt: any of: *.go and ^iris/
