Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

chore(be): type error
  apps/backend/apps/client/src/contest/contest.service.spec.ts
Due: eslint, prettier

refactor(be): test code for admin group and user
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
Due: eslint, prettier

chore(be): rename argument
  apps/backend/apps/client/src/submission/submission-sub.service.ts
Due: eslint, prettier

fix(be): use user-id for test, user-test api (#2375)
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(be): add ImportedTestcaseHeader
  apps/backend/apps/admin/src/problem/model/testcase.constants.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): use test-submission id for test, user-test api
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/cache/src/keys.ts
Due: eslint, prettier

fix(be): correct boolean field when submit test, user-test
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): change announcement orderby
  apps/backend/apps/client/src/announcement/announcement.service.ts
Due: eslint, prettier

fix(be): change announcement orderby (#2381)
  apps/backend/apps/client/src/announcement/announcement.service.ts
Due: eslint, prettier

feat(be): add search in leaderboard api
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

chore(be): missed lines
  apps/backend/apps/client/src/contest/contest.controller.ts
Due: eslint, prettier

docs(be): documentation of leaderboard api
  collection/client/Contest/Get Leaderboard/succeed.bru
Due: none

fix(be): remove annotated rank calculation logic
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

docs(be): translate and fix document
  collection/client/Contest/Get Leaderboard/succeed.bru
Due: none

fix(be): return empty array when there is no test submission
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

fix(be): add contest problem array in problem test code
  apps/backend/apps/client/src/problem/problem.controller.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

fix(be): use test-submission id for test, user-test api (#2380)
  apps/backend/apps/client/src/submission/submission-pub.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/cache/src/keys.ts
Due: eslint, prettier

feat: impl LineSelectableCodeEditor
  apps/frontend/app/admin/problem/_components/codeEditor/GutterCheckbox.tsx
  apps/frontend/app/admin/problem/_components/codeEditor/LineSelectableCodeEditor.tsx
  apps/frontend/app/admin/problem/_components/codeEditor/editorConfig.ts
  apps/frontend/app/admin/problem/_components/codeEditor/index.ts
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(be): add week on client assignment module
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
Due: eslint, prettier

feat(be): add week on admin assignment module
  apps/backend/apps/admin/src/assignment/model/assignment.input.ts
  collection/instructor/Assignment/Create Assignment/Succeed.bru
  collection/instructor/Assignment/Create Assignment/[ERR] End Time Earlier than Start Time.bru
  collection/instructor/Assignment/Create Assignment/[ERR] Nonexistent Group.bru
  collection/instructor/Assignment/Delete Assignment/Succeed.bru
  collection/instructor/Assignment/Duplicate Assignment/Succeed.bru
  collection/instructor/Assignment/Get Assignment/NOT_FOUND.bru
  collection/instructor/Assignment/Get Assignment/Succeed.bru
  collection/instructor/Assignment/Get Assignments/Succeed.bru
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
  collection/instructor/Assignment/Update Assignment/Succeed.bru
  collection/instructor/Assignment/Update Assignment/[404] Nonexistent Assignment.bru
  collection/instructor/Assignment/Update Assignment/[422] End Time Earlier than Start Time.bru
Due: eslint, prettier

fix(be): add groupId argument to allow instructor(user) access
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  collection/instructor/Assignment/Get Assignment Score Summaries/Succeed.bru
  collection/instructor/Assignment/Get Assignment Score Summary of User/Succeed.bru
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
  collection/instructor/Assignment/Import Problems to Assignment/Succeed.bru
  collection/instructor/Assignment/Import Problems to Assignment/[ERR] Nonexistent Assignment.bru
Due: eslint, prettier

fix(be): resolve assignment module test error
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
Due: eslint, prettier

refactor(be): improve db query performance in admin assignment
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

feat(be): add week to assignment (#2384)
  apps/backend/apps/admin/src/assignment/assignment.resolver.ts
  apps/backend/apps/admin/src/assignment/assignment.service.spec.ts
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/assignment/model/assignment.input.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  collection/instructor/Assignment/Create Assignment/Succeed.bru
  collection/instructor/Assignment/Create Assignment/[ERR] End Time Earlier than Start Time.bru
  collection/instructor/Assignment/Create Assignment/[ERR] Nonexistent Group.bru
  collection/instructor/Assignment/Delete Assignment/Succeed.bru
  collection/instructor/Assignment/Duplicate Assignment/Succeed.bru
  collection/instructor/Assignment/Get Assignment Score Summaries/Succeed.bru
  collection/instructor/Assignment/Get Assignment Score Summary of User/Succeed.bru
  collection/instructor/Assignment/Get Assignment/NOT_FOUND.bru
  collection/instructor/Assignment/Get Assignment/Succeed.bru
  collection/instructor/Assignment/Get Assignments/Succeed.bru
  collection/instructor/Assignment/Get Belonged Assignments by Problem ID/Succeed.bru
  collection/instructor/Assignment/Import Problems to Assignment/Succeed.bru
  collection/instructor/Assignment/Import Problems to Assignment/[ERR] Nonexistent Assignment.bru
  collection/instructor/Assignment/Update Assignment/Succeed.bru
  collection/instructor/Assignment/Update Assignment/[404] Nonexistent Assignment.bru
  collection/instructor/Assignment/Update Assignment/[422] End Time Earlier than Start Time.bru
Due: eslint, prettier

fix(infra): upgrade version rabbitMQ
  apps/infra/production/codedang/message_queue_aws.tf
  apps/infra/rc/storage/message_queue_aws.tf
  docker-compose.yml
Due: prettier, terraformfmt

fix(infra): upgrade version rabbitMQ (#2385)
  apps/infra/production/codedang/message_queue_aws.tf
  apps/infra/rc/storage/message_queue_aws.tf
  docker-compose.yml
Due: prettier, terraformfmt

feat(fe): make table files
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/_components/DataTableWithToggleWithRoundBolder.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/page.tsx
Due: eslint, prettier

feat(fe): create management course and modify authentication for access management page
  apps/frontend/app/admin/_components/MangementSidebar.tsx
  apps/frontend/app/admin/course/_components/Columns.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/course/_components/DeleteCourseButton.tsx
  apps/frontend/app/admin/course/_components/DuplicateCourseButton.tsx
  apps/frontend/app/admin/course/_components/EditCourseButton.tsx
  apps/frontend/app/admin/course/_components/GroupTable.tsx
  apps/frontend/app/admin/course/page.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/components/auth/HeaderAuthPanel.tsx
  apps/frontend/components/shadcn/button.tsx
  apps/frontend/graphql/course/mutation.ts
  apps/frontend/graphql/course/queries.ts
  apps/frontend/middleware.ts
Due: eslint, prettier

chore(fe): remove comments and unused file
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentTable.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/_components/DataTableWithToggleWithRoundBolder.tsx
Due: eslint, prettier

feat(infra): rc-server temp
  apps/infra/rc/codedang/.terraform.lock.hcl
  apps/infra/rc/codedang/cloudfront.tf
  apps/infra/rc/codedang/main.tf
Due: terraformfmt

feat(infra): rc-server temp
  apps/infra/rc/network/.terraform.lock.hcl
  apps/infra/rc/network/route53.tf
  apps/infra/rc/storage/.terraform.lock.hcl
  apps/infra/rc/storage/database.tf
  apps/infra/rc/storage/main.tf
  apps/infra/rc/terraform-configuration/.terraform.lock.hcl
  collection/client/test.bru
Due: terraformfmt

fix(fe): follow add week on frontend graphql queries
  apps/frontend/app/admin/group/[groupId]/assignment/_components/AssignmentTableColumns.tsx
  apps/frontend/graphql/assignment/mutations.ts
  apps/frontend/graphql/assignment/queries.ts
Due: eslint, prettier

fix(infra): deleted test.bru
  collection/client/test.bru
Due: none

feat(infra): rc-server refactoring early PR (#2387)
  apps/infra/rc/codedang/.terraform.lock.hcl
  apps/infra/rc/codedang/cloudfront.tf
  apps/infra/rc/codedang/main.tf
  apps/infra/rc/codedang/variables.tf
  apps/infra/rc/network/.terraform.lock.hcl
  apps/infra/rc/network/route53.tf
  apps/infra/rc/storage/.terraform.lock.hcl
  apps/infra/rc/storage/database.tf
  apps/infra/rc/storage/main.tf
  apps/infra/rc/storage/message_queue_aws.tf
  apps/infra/rc/terraform-configuration/.terraform.lock.hcl
Due: terraformfmt

fix(infra): resolve terraform ci-cd
  .github/workflows/rc-deploy.yml
Due: prettier

fix(infra): resolve terraform ci-cd (#2389)
  .github/workflows/rc-deploy.yml
Due: prettier

fix(infra): update-for-each
  apps/infra/rc/network/route53.tf
Due: terraformfmt

fix(infra): update-for-each (#2390)
  apps/infra/rc/network/route53.tf
Due: terraformfmt

fix(infra): update ci-cd to execute github action
  .github/workflows/rc-deploy.yml
Due: prettier

fix(infra): delete lock false in ci-cd
  .github/workflows/rc-deploy.yml
Due: prettier
