Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,vue}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,vue,css,yaml,yml}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(be): delete annotation
  apps/backend/apps/client/src/user/user.service.ts
Due: eslint, prettier

fix(fe): change code editor background color
  apps/frontend/components/CodeEditor.tsx
Due: none

feat(be): restore bruno
  collection/client/User/Sign Up/Succeed.bru
Due: none

chore: refactor admin contest folder structure
  apps/frontend/app/admin/contest/[id]/edit/error.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/app/admin/contest/[id]/page.tsx
Due: none

fix(fe): handle undefined template error
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
Due: none

fix(fe): change code for null
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
Due: none

fix(fe): handle undefined template error (#1852)
  apps/frontend/components/EditorHeader.tsx
  apps/frontend/components/EditorResizablePanel.tsx
Due: none

feat(be): review edit
  apps/backend/prisma/migrations/20240711101805_add_student_id_and_major_field/migration.sql
  apps/backend/prisma/migrations/20240722065543_major_optional/migration.sql
  apps/backend/prisma/migrations/20240722083228_add_student_id_major_field/migration.sql
Due: none

feat(fe): redesign problemcard component and see-more button
  apps/frontend/app/(main)/_components/ProblemCard.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/components/ui/button.tsx
Due: none

feat(be): calculate contest participants score (#1643)
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20240408084124_add_finish_time_on_contest_record/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/client/Submission/Create Submission/404: No Contest found.bru
  collection/client/Submission/Create Submission/Succeed: Contest(AC).bru
  collection/client/Submission/Create Submission/Succeed: Contest(TLE).bru
  collection/client/Submission/Create Submission/Succeed: Contest(WA).bru
Due: eslint, prettier

chore(fe): simplify problemcard component and add comment
  apps/frontend/app/(main)/_components/ProblemCard.tsx
Due: none

fix: copy storage module on libs
  apps/backend/apps/client/src/app.module.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/libs/storage/src/content.type.ts
  apps/backend/libs/storage/src/index.ts
  apps/backend/libs/storage/src/s3.provider.ts
  apps/backend/libs/storage/src/storage.module.ts
  apps/backend/libs/storage/src/storage.service.spec.ts
  apps/backend/libs/storage/src/storage.service.ts
  apps/backend/libs/storage/tsconfig.lib.json
  apps/backend/nest-cli.json
  apps/backend/tsconfig.json
Due: eslint, prettier

refactor(fe): refactor admin create contest
  apps/frontend/app/admin/_components/DescriptionForm.tsx
  apps/frontend/app/admin/_components/ErrorMessage.tsx
  apps/frontend/app/admin/_components/FormSection.tsx
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/_components/TimeForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
  apps/frontend/app/admin/problem/[id]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/AddableForm.tsx
  apps/frontend/app/admin/problem/_components/InfoForm.tsx
  apps/frontend/app/admin/problem/_components/LimitForm.tsx
  apps/frontend/app/admin/problem/_components/VisibleForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: none

refactor(fe): refactor edit contest page
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/[id]/edit/page.tsx
  apps/frontend/components/DataTableAdmin.tsx
Due: none

feat(ci): run lint just only changed files
  .github/workflows/ci.yml
Due: prettier

fix: change branch name
  .github/workflows/ci.yml
Due: prettier

chore(ci): add change for test
  apps/backend/libs/cache/src/keys.ts
Due: eslint, prettier

chore: rollback
  apps/backend/libs/cache/src/keys.ts
Due: eslint, prettier

chore: echo branches
  .github/workflows/ci.yml
Due: prettier

chore: fix
  .github/workflows/ci.yml
Due: prettier

chore: echo all
  .github/workflows/ci.yml
Due: prettier

fix: change fetch depth
  .github/workflows/ci.yml
Due: prettier

fix: syntax error
  .github/workflows/ci.yml
Due: prettier

chore: test error
  apps/frontend/app/(main)/problem/error.tsx
  lefthook.yml
  scripts/init-storage.ts
Due: eslint, prettier

fix: style
  scripts/init-storage.ts
Due: eslint, prettier

fix: style
  apps/frontend/app/(main)/problem/error.tsx
Due: none

fix: rollback all error files
  apps/frontend/app/(main)/problem/error.tsx
  lefthook.yml
Due: prettier

test(be): solve test error
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
Due: eslint, prettier

chore(be): remove duplicate exp
  apps/backend/apps/admin/src/contest/contest.service.ts
Due: eslint, prettier

feat(fe): redesign problemcard component and see-more button (#1853)
  apps/frontend/app/(main)/_components/ProblemCard.tsx
  apps/frontend/app/(main)/page.tsx
  apps/frontend/components/ui/button.tsx
Due: none

fix(be): modify seed.ts
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(be): move Visibile Lock Time constants to @libs
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/model/problem.constants.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(ci): run lint just only changed files (#1855)
  .github/workflows/ci.yml
Due: prettier

feat(be): change ExposeTime to visibleLockTime
  apps/backend/apps/admin/src/contest/contest.service.spec.ts
  apps/backend/apps/admin/src/contest/contest.service.ts
  apps/backend/apps/admin/src/problem/mock/mock.ts
  apps/backend/apps/admin/src/problem/model/problem.output.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/client/src/problem/mock/problem.mock.ts
  apps/backend/apps/client/src/problem/problem.repository.ts
  apps/backend/apps/client/src/submission/mock/problem.mock.ts
  apps/backend/apps/client/src/submission/submission.service.spec.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20240529150527_remove_problem_is_visible/migration.sql
  apps/backend/prisma/migrations/20240722144203_rename_expose_time_to_visible_lock_time/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
  collection/client/Problem/Get problem by ID/Succeed.bru
Due: eslint, prettier

test(be): resolve test error
  apps/backend/apps/admin/src/problem/mock/mock.ts
Due: eslint, prettier

feat(infra): add cpu and memory soft limits for API servers in stage
  docker-compose.yml
Due: prettier

feat(infra): add cpu and memory hard limits for API and Iris in stage
  docker-compose.yml
Due: prettier

feat(ci): update pnpm action setup and change cache logic
  .github/actions/setup-pnpm/action.yml
Due: prettier

fix(ci): install only dev dependencies and check style all files
  .github/workflows/ci.yml
Due: prettier
