Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): update course invite modal design (#2940)
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteByCode.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteManually.tsx
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteUserButton.tsx
  apps/frontend/public/icons/email-symbol.svg
  apps/frontend/public/icons/plus-line.svg
Due: eslint, prettier

fix(be): add outdated column to tc
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20250906094931_add_is_outdated_in_problem_testcase/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
Due: eslint, prettier

feat(be): add outdateTime to TC
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/prisma/migrations/20250906094931_add_outdated_in_problem_testcase/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
Due: eslint, prettier

fix(be): fix Test Problem
  apps/backend/schema.gql
Due: none

fix(be): fix seed file
  apps/backend/prisma/seed.ts
Due: eslint, prettier

feat(be): make dueTime nullable
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/assignment/model/assignment.input.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
  apps/backend/apps/client/src/assignment/assignment.service.spec.ts
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20250906133324_make_due_time_nullable/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(be): fix seed file (#3136)
  apps/backend/prisma/seed.ts
Due: eslint, prettier

fix(be): robust assignment record finalScore
  apps/backend/apps/client/src/assignment/assignment.service.ts
Due: eslint, prettier

chore(be): write todo
  apps/backend/prisma/schema.prisma
Due: none

fix(be): fix CI Problem
  apps/backend/apps/admin/src/problem/services/testcase.service.spec.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

feat(be): prevent indirect access to outdated TC
  apps/backend/apps/client/src/problem/problem.service.ts
Due: eslint, prettier

fix(be): robust assignment record finalScore (#3138)
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

fix(be): fix CI Problem 2
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

fix(be): allow get assignment and problem before startTime for instructor
  apps/backend/apps/client/src/assignment/assignment.service.ts
Due: eslint, prettier

chore(be): resolve type error
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

feat(fe): add ga secret
  apps/k8s/frontend/overlays/production/secrets.yaml
Due: prettier

feat(fe): add ga secret (#3140)
  apps/k8s/frontend/overlays/production/secrets.yaml
Due: prettier

feat(fe): make duetime nullable
  apps/backend/schema.gql
  apps/frontend/app/(client)/(code-editor)/_components/EditorLayout.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/ExerciseAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
  apps/frontend/app/(client)/(main)/course/_components/Dashboard.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/_components/AssignmentSolutionTable.tsx
  apps/frontend/app/admin/course/[courseId]/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/_components/EditAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableByProblem.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTableOverall.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
  apps/frontend/app/admin/course/_components/AssignmentTableColumns.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): add duetime parameter
  apps/frontend/app/admin/course/[courseId]/_components/CreateAssignmentForm.tsx
Due: eslint, prettier

fix(be): fix TC update error in updateTestcases
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

feat(be): merge 'implement function for appending testcases' to this
  apps/backend/apps/admin/src/problem/model/testcase.input.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/schema.gql
Due: eslint, prettier

fix(infra): update application branches from main to release
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/internal.yaml
  apps/k8s/argocd/applications/iris.yaml
  apps/k8s/argocd/applications/rabbitmq.yaml
  apps/k8s/argocd/applications/redis.yaml
Due: prettier

feat(infra): append GA measurement ID secret
  apps/k8s/frontend/overlays/production/secrets.yaml
Due: prettier

chore(infra): add todo for application.yaml to replace list with git generator
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/internal.yaml
  apps/k8s/argocd/applications/iris.yaml
  apps/k8s/argocd/applications/rabbitmq.yaml
  apps/k8s/argocd/applications/redis.yaml
Due: prettier

refactor(infra): skip kustomization.yaml
  apps/k8s/argocd/applications/monitoring/otel-collector.yaml
  apps/k8s/monitoring/otel-collector/kustomization.yaml
  apps/k8s/monitoring/otel-collector/namespace.yaml
Due: prettier

fix(infra): remove unused ingress rules for prometheus
  apps/k8s/monitoring/prometheus/values.yaml
Due: prettier

fix(be): fix frontend CI problem
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
Due: eslint, prettier

chore(be): add tc test to Succeed.bru
  collection/admin/Problem/Update a Problem/Succeed.bru
Due: none

fix(fe): restore button cursor;pointer
  apps/frontend/app/globals.css
Due: prettier

fix(be): add outdated column to tc (#3134)
  apps/backend/apps/admin/src/problem/model/testcase.input.ts
  apps/backend/apps/admin/src/problem/services/problem.service.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.spec.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/backend/apps/client/src/problem/problem.service.ts
  apps/backend/apps/client/src/submission/submission-sub.service.ts
  apps/backend/apps/client/src/submission/submission.service.ts
  apps/backend/prisma/migrations/20250906094931_add_outdated_in_problem_testcase/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/schema.gql
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  collection/admin/Problem/Update a Problem/Succeed.bru
Due: eslint, prettier

fix(be): allow only admin and group leader to download codes
  apps/backend/apps/admin/src/submission/submission.controller.ts
  apps/backend/apps/admin/src/submission/submission.service.ts
  collection/admin/Submission/Download Source Codes/Succeed.bru
  collection/admin/login.js
Due: eslint, prettier

chore(be): update bruno docs
  collection/admin/Submission/Download Source Codes/Succeed.bru
Due: none

refactor(infra): use direnv for common env variables
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.development
  .envrc
  .vscode/launch.json
  apps/backend/.env.example
  apps/frontend/.env.example
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  scripts/deploy.sh
  scripts/init-rabbitmq.ts
  scripts/init-storage.ts
  scripts/setup.sh
Due: eslint, prettier

chore: backward compat
  scripts/setup.sh
Due: none

chore(fe): make import problem pagination uncropped
  apps/frontend/app/admin/_components/ImportProblemDescription.tsx
  apps/frontend/app/admin/course/[courseId]/_components/ImportProblemDialog.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/components/Modal.tsx
Due: eslint, prettier

chore: use dotenv in iris
  apps/backend/.env.example
  apps/iris/.env.example
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/main.go
  scripts/setup.sh
Due: none

chore: minimize diff
  docker-compose.yml
Due: prettier

chore: add comment
  apps/iris/.env.example
Due: none

fix(be): allow get assignment and problem before startTime for instructor (#3139)
  apps/backend/apps/client/src/assignment/assignment.service.ts
  apps/backend/apps/client/src/problem/problem.service.spec.ts
Due: eslint, prettier

feat(fe): allow instructor access assignment before starttime
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentLink.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/exercise/[exerciseId]/page.tsx
Due: eslint, prettier
