Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): change search bar height
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
  apps/frontend/app/(client)/(main)/problem/_components/ProblemDataTable.tsx
Due: eslint, prettier

feat(fe): modify table design
  apps/frontend/app/(client)/(main)/notice/_components/NoticeDataTable.tsx
  apps/frontend/app/(client)/(main)/notice/_components/NoticeTable.tsx
Due: eslint, prettier

feat(fe): redesign notice main page
  apps/frontend/app/(client)/(main)/_components/ArticleNavigation.tsx
  apps/frontend/app/(client)/(main)/notice/[noticeId]/page.tsx
  apps/frontend/app/(client)/(main)/notice/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/notice/_components/NoticeDataTable.tsx
  apps/frontend/app/(client)/(main)/notice/_components/NoticeTable.tsx
  apps/frontend/app/(client)/(main)/notice/layout.tsx
  apps/frontend/app/(client)/(main)/notice/page.tsx
Due: eslint, prettier

feat(fe): add hypen to coolneutral
  apps/frontend/app/(client)/(main)/notice/_components/NoticeDataTable.tsx
Due: eslint, prettier

feat(fe): impl verification logic for whitelist removal
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
  apps/frontend/components/auth/SignUpPage/signup.schema.ts
  apps/frontend/components/auth/SignUpPage/signup.type.ts
  apps/frontend/package.json
  apps/frontend/public/icons/reset-gray.svg
  pnpm-lock.yaml
Due: eslint, prettier

fix(fe): add studentId field, remove comments, and fix error message
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
  apps/frontend/components/auth/SignUpPage/signup.schema.ts
  apps/frontend/components/auth/SignUpPage/signup.type.ts
Due: eslint, prettier

fix(fe): apply feedback
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
  apps/frontend/components/auth/SignUpPage/signup.schema.ts
Due: eslint, prettier

fix(infra): migrate sealed-secrets backup to s3 (resolves 64kb limit)
  infra/aws/sealed-secrets-backup/iam.tf
  infra/aws/sealed-secrets-backup/s3.tf
  infra/k8s/sealed-secrets-backup/README.md
  infra/k8s/sealed-secrets-backup/base/configmap.yaml
  infra/k8s/sealed-secrets-backup/base/cronjob.yaml
  infra/k8s/sealed-secrets-backup/overlays/production/kustomization.yaml
  infra/k8s/sealed-secrets-backup/overlays/stage/kustomization.yaml
Due: prettier, terraformfmt

fix(infra): drop legacy secrets manager + apply review feedback
  infra/aws/sealed-secrets-backup/iam.tf
  infra/aws/sealed-secrets-backup/secrets-manager.tf
  infra/k8s/sealed-secrets-backup/README.md
  infra/k8s/sealed-secrets-backup/base/configmap.yaml
  infra/k8s/sealed-secrets-backup/base/cronjob.yaml
  infra/k8s/sealed-secrets-backup/overlays/production/kustomization.yaml
  infra/k8s/sealed-secrets-backup/overlays/stage/kustomization.yaml
Due: prettier, terraformfmt

feat(fe): modify infinite rerender loop
  apps/frontend/app/(client)/(main)/notice/_components/NoticeDataTable.tsx
Due: eslint, prettier

feat(fe): apply searchbar component
  apps/frontend/app/(client)/(main)/notice/_components/NoticeDataTable.tsx
Due: eslint, prettier

chore(infra): add note to bootstrap-cluster.sh pointing to #3553
  infra/bootstrap-cluster.sh
Due: none

fix(infra): migrate sealed-secrets backup to s3 (resolves 64kb limit) (#3553)
  infra/aws/sealed-secrets-backup/iam.tf
  infra/aws/sealed-secrets-backup/s3.tf
  infra/aws/sealed-secrets-backup/secrets-manager.tf
  infra/bootstrap-cluster.sh
  infra/k8s/sealed-secrets-backup/README.md
  infra/k8s/sealed-secrets-backup/base/configmap.yaml
  infra/k8s/sealed-secrets-backup/base/cronjob.yaml
  infra/k8s/sealed-secrets-backup/overlays/production/kustomization.yaml
  infra/k8s/sealed-secrets-backup/overlays/stage/kustomization.yaml
Due: prettier, terraformfmt

fix(fe): cleanup code and refine design
  apps/frontend/components/auth/SignUpPage/SignUpPage.tsx
  apps/frontend/components/auth/SignUpPage/signup.schema.ts
Due: eslint, prettier

chore(fe): update next version to 15.5.18
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier

fix(fe): apply modified promises
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/layout.tsx
Due: eslint, prettier

feat(be): implement collaboration request
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.resolver.ts
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.ts
Due: eslint, prettier

feat(be): block owner role assign
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.ts
Due: eslint, prettier

feat(be): add permission check to getCollaboratorsByStatus
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.resolver.ts
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.ts
Due: eslint, prettier

feat(be): change permission check to unit test
  apps/backend/apps/admin/src/polygon/collaborator/collaborator.service.spec.ts
Due: eslint, prettier

fix(fe): redesign new problem cards
  apps/frontend/app/(client)/(main)/_components/NewProblemCard.tsx
  apps/frontend/app/(client)/(main)/_components/NewProblemCards.tsx
  apps/frontend/app/(client)/(main)/_components/ServiceCards.tsx
Due: eslint, prettier

fix(infra): add redis credentials across namespaces
  infra/k8s/admin-api/base/kustomization.yaml
  infra/k8s/admin-api/base/redis-credentials.yaml
  infra/k8s/client-api/base/kustomization.yaml
  infra/k8s/client-api/base/redis-credentials.yaml
  infra/k8s/redis/base/admin-credentials.yaml
  infra/k8s/redis/overlays/production/kustomization.yaml
  infra/k8s/redis/overlays/stage/kustomization.yaml
  infra/k8s/redis/values.yaml
Due: prettier

fix(infra): drop parens in s3 bucket tag (invalid in aws tag value)
  infra/aws/sealed-secrets-backup/s3.tf
Due: terraformfmt

fix(infra): add redis credentials across namespaces (#3556)
  infra/k8s/admin-api/base/kustomization.yaml
  infra/k8s/admin-api/base/redis-credentials.yaml
  infra/k8s/client-api/base/kustomization.yaml
  infra/k8s/client-api/base/redis-credentials.yaml
  infra/k8s/redis/base/admin-credentials.yaml
  infra/k8s/redis/overlays/production/kustomization.yaml
  infra/k8s/redis/overlays/stage/kustomization.yaml
  infra/k8s/redis/values.yaml
Due: prettier

fix(infra): stage add kakao callback url
  infra/k8s/client-api/overlays/stage/configmap.yaml
Due: prettier

feat(infra): add shared storage(longhorn)
  infra/k8s/argocd/applications/longhorn.yaml
  infra/k8s/argocd/applications/redis.yaml
  infra/k8s/redis/values-production.yaml
  infra/k8s/redis/values-stage.yaml
Due: prettier

fix(fe): modify menubar to full width
  apps/frontend/app/(client)/(main)/_components/Header.tsx
Due: eslint, prettier

fix(fe): erase unused import thing
  apps/frontend/app/(client)/(main)/_components/NewProblemCard.tsx
Due: eslint, prettier

fix(fe): change about comments
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
Due: eslint, prettier

fix(fe): change state design
  apps/frontend/app/(client)/(main)/problem/_components/MyProblem.tsx
  apps/frontend/app/(client)/(main)/problem/_components/MyProblemDataTable.tsx
Due: eslint, prettier

fix(infra): change reclaimPolicy delete to retain(longhorn)
  infra/k8s/argocd/applications/longhorn.yaml
Due: prettier

fix(infra): add production kakao callback url
  infra/k8s/client-api/overlays/production/configmap.yaml
  infra/k8s/client-api/overlays/production/kustomization.yaml
Due: prettier

fix(infra): add kakao callback url env (stage,prod) (#3558)
  infra/k8s/client-api/overlays/production/configmap.yaml
  infra/k8s/client-api/overlays/production/kustomization.yaml
  infra/k8s/client-api/overlays/stage/configmap.yaml
Due: prettier

fix(infra): drop parens in s3 bucket tag (invalid in aws tag value) (#3557)
  infra/aws/sealed-secrets-backup/s3.tf
Due: terraformfmt

feat(be): add jobType and profileImage fields to User and UserProfile models
  apps/backend/prisma/schema.prisma
Due: none

chore(be): upload migration file
  apps/backend/prisma/migrations/20260512124621_modify_user_and_user_profile_schema_for_whitelist_elimination/migration.sql
Due: none

fix(fe): fix build error
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/statistics/layout.tsx
Due: eslint, prettier

refactor(be): add safe Redis member parsing with error handling
  apps/backend/apps/client/src/study/study-room.service.ts
  apps/backend/libs/redis/src/redis.module.ts
Due: eslint, prettier

feat(fe): add filter icon
  apps/frontend/app/(client)/(main)/notice/_components/NoticeDataTable.tsx
  apps/frontend/public/icons/filter.svg
Due: eslint, prettier

feat(fe): add scroll area
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/plagiarism/_components/PlagiarismClusterDialog.tsx
Due: eslint, prettier
