Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

feat(fe): switch api to get my assignment problem record (#2524)
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/grade/_components/GradeDetailModal.tsx
  apps/frontend/app/(client)/_libs/apis/assignmentSubmission.ts
  apps/frontend/app/admin/_components/table/DataTableMultiSelectFilter.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/types/type.ts
  collection/client/Assignment/Get My Assignment Problem Record/Succeed.bru
  collection/client/Assignment/Get assignment by ID/Succeed.bru
  collection/client/Problem/Get Assignment Problems/Succeed.bru
Due: eslint, prettier

feat(fe): add sample testcases form and change invitation code style
  apps/frontend/app/admin/_components/SwitchField.tsx
  apps/frontend/app/admin/contest/create/_components/SampleTestcaseForm.tsx
  apps/frontend/app/admin/contest/create/page.tsx
Due: eslint, prettier

chore(fe): move admin code editor folder
  apps/frontend/app/admin/_components/code-editor/AssignmentProblemDropdown.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/layout.tsx
Due: eslint, prettier

chore(fe): move admin code editor folder (#2544)
  apps/frontend/app/admin/_components/code-editor/AssignmentProblemDropdown.tsx
  apps/frontend/app/admin/_components/code-editor/EditorLayout.tsx
  apps/frontend/app/admin/_components/code-editor/EditorResizablePanel.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/layout.tsx
Due: eslint, prettier

fix(fe): refactor date format
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/submission/[submissionId]/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(code-editor)/course/[courseId]/assignment/[assignmentId]/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/_components/Columns.tsx
  apps/frontend/app/(client)/(code-editor)/problem/[problemId]/submission/_components/SubmissionDetail.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/GradeAccordion.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/SubmissionDetailModal.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/page.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/Columns.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/_components/SubmissionDetailContent.tsx
  apps/frontend/app/(client)/(main)/course/[courseId]/assignment/[assignmentId]/@tabs/problem/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/submission/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/layout.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/_components/SubmissionDetailAdmin.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/participant/[userId]/_components/SubmissionColumns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/_components/AssignmentTableColumns.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/user/[userId]/problem/[problemId]/_components/SubmissionSummary.tsx
  apps/frontend/app/admin/problem/[problemId]/_components/Columns.tsx
Due: eslint, prettier

feat(fe): put valibot
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/announcement/page.tsx
  apps/frontend/app/admin/contest/_libs/schemas.ts
Due: eslint, prettier

fix(fe): change import problem design
  apps/frontend/app/admin/contest/_components/ContestProblemColumns.tsx
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
Due: eslint, prettier

fix(fe): chage import dialog design
  apps/frontend/app/admin/contest/_components/CreateContestLabel.tsx
  apps/frontend/app/admin/contest/_components/ImportDialog.tsx
Due: eslint, prettier

fix(fe): default switch off for sample testcases switch
  apps/frontend/app/admin/contest/create/_components/SampleTestcaseForm.tsx
Due: eslint, prettier

feat(fe): add problem preview when creating or editting
  apps/frontend/app/admin/_components/code-editor/CopyButton.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
  apps/frontend/app/admin/_components/code-editor/EditorSampleField.tsx
  apps/frontend/app/admin/_components/code-editor/ReferenceDialog.tsx
  apps/frontend/app/admin/_components/code-editor/WhitespaceVisualizer.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/PreviewEditorLayout.tsx
  apps/frontend/app/admin/problem/_components/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(fe): add column for import problem table except languages
  apps/frontend/app/admin/_components/TitleForm.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTable.tsx
  apps/frontend/app/admin/contest/_components/ImportProblemTableColumns.tsx
  apps/frontend/graphql/problem/queries.ts
Due: eslint, prettier

feat(fix): fixing rc workflow update
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

feat(fix): fixing rc workflow update
  .github/workflows/rc-deploy-target.yml
Due: prettier

feat(fix): fix update rc workflow (4) (#2548)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

feat(fix): fixing rc workflow update (5) (#2549)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

feat(infra): add rc-mask-db workflow (#2543)
  .github/workflows/rc-mask-db.yml
  apps/infra/rc/storage/outputs.tf
Due: prettier, terraformfmt

feat(fe): impl code form with admin code editor
  apps/frontend/app/admin/problem/_components/CodeForm.tsx
  apps/frontend/app/admin/problem/_components/TemplateField.tsx
  apps/frontend/app/admin/problem/_components/editor/CodeEditor.tsx
  apps/frontend/app/admin/problem/_components/editor/editorConfig.ts
  apps/frontend/app/admin/problem/_components/editor/index.ts
Due: eslint, prettier

feat(be): allow uploading pdf file
  apps/backend/apps/admin/src/problem/model/file.output.ts
  apps/backend/apps/admin/src/problem/problem.resolver.ts
  apps/backend/apps/admin/src/problem/problem.service.ts
  apps/backend/apps/admin/src/storage/storage.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/prisma/migrations/20250321184121_rename_image_to_file/migration.sql
  apps/backend/prisma/schema.prisma
Due: eslint, prettier

feat(be): edit bruno for uploading file
  collection/admin/Problem/Delete File/NOT_FOUND.bru
  collection/admin/Problem/Delete File/Succeed.bru
  collection/admin/Problem/Upload File/Succeed.bru
  collection/admin/Problem/Upload File/sample.pdf
Due: none

chore(be): resolve backend test error
  apps/backend/apps/admin/src/problem/problem.service.spec.ts
Due: eslint, prettier

feat(infra): update OpenTelemetry dependencies and add text map propagator
  apps/iris/go.mod
  apps/iris/go.sum
  apps/iris/src/observability/tracer.go
Due: none

chore(infra): remove deprecated version attribute in docker-compose.yml
  docker-compose.yml
Due: prettier

feat(fe): retrieve scoreweight error message
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
Due: eslint, prettier

feat(fe): add popstate handling
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
Due: eslint, prettier

chore(infra): update volume paths in docker-compose.yml to use relative paths
  docker-compose.yml
Due: prettier

feat(fe): remove default change this message
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
Due: eslint, prettier

chore(fe): remove one router back
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
Due: eslint, prettier

feat(fe): remove required mark from io description sections
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(fe): add problem preview when creating or editting (#2546)
  apps/frontend/app/admin/_components/ConfirmNavigation.tsx
  apps/frontend/app/admin/_components/code-editor/CopyButton.tsx
  apps/frontend/app/admin/_components/code-editor/EditorDescription.tsx
  apps/frontend/app/admin/_components/code-editor/EditorSampleField.tsx
  apps/frontend/app/admin/_components/code-editor/ReferenceDialog.tsx
  apps/frontend/app/admin/_components/code-editor/WhitespaceVisualizer.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/PreviewEditorLayout.tsx
  apps/frontend/app/admin/problem/_components/PreviewEditorResizablePanel.tsx
  apps/frontend/app/admin/problem/create/_components/CreateProblemForm.tsx
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

fix(fe): ensure editor shows for empty description
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
Due: eslint, prettier

chore(fe): add io description default values for create
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(fe): remove required mark from io description in edit page
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
Due: eslint, prettier

feat(fe): allow problem creation with empty io (#2540)
  apps/frontend/app/admin/problem/[problemId]/edit/_components/EditProblemForm.tsx
  apps/frontend/app/admin/problem/[problemId]/edit/page.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

fix(be): do not drop image table
  apps/backend/prisma/migrations/20250321184121_rename_image_to_file/migration.sql
Due: none

fix(fe): remove isvisible and isrankvisible
  apps/frontend/app/admin/contest/[contestId]/edit/_components/EditContestForm.tsx
  apps/frontend/app/admin/contest/_components/ContestTable.tsx
  apps/frontend/app/admin/contest/_components/ContestTableColumns.tsx
  apps/frontend/app/admin/contest/_components/DuplicateContestButton.tsx
  apps/frontend/app/admin/contest/create/_components/CreateContestForm.tsx
  apps/frontend/graphql/contest/mutations.ts
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

chore(fe): remove unused stuff and let export button not be shrinked
  apps/frontend/app/(client)/(main)/course/[courseId]/_components/AssignmentAccordion.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/_components/CreateAssignmentForm.tsx
  apps/frontend/app/admin/course/[courseId]/grade/assignment/[assignmentId]/_components/ParticipantTable.tsx
Due: eslint, prettier

feat(infra): update rc workflow
  apps/infra/rc/storage/database.tf
Due: terraformfmt

feat(infra): update rc workflow
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
Due: prettier

fix update rc workflow (5) and remove repeated db replacement (#2551)
  .github/workflows/rc-deploy-target.yml
  .github/workflows/rc-deploy.yml
  apps/infra/rc/storage/database.tf
Due: prettier, terraformfmt
