Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --check {staged_files}

gofmt:
  run: go fmt -n ./...

terraformfmt:
  run: terraform fmt {staged_files}

chore(be): resolve lint warning
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

feat(fe): add ScrollArea into Modal
  apps/frontend/components/Modal.tsx
Due: eslint, prettier

fix(be): fix week bug on getAssignmentsByProblemId
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

feat(fe): impl register info
  apps/frontend/components/auth/AuthLabel.tsx
  apps/frontend/components/auth/SignUp/SignUp.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterInfo2.tsx
  apps/frontend/components/auth/SignUp/SignUpRegisterMajor.tsx
Due: eslint, prettier

fix(be): fix week bug on getAssignmentsByProblemId (#3055)
  apps/backend/apps/admin/src/assignment/assignment.service.ts
Due: eslint, prettier

chore: reuse redis host in admin-api
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/admin-api/overlays/production/configmap.yaml
  apps/k8s/admin-api/overlays/production/kustomization.yaml
  apps/k8s/admin-api/overlays/stage/configmap.yaml
  apps/k8s/admin-api/overlays/stage/kustomization.yaml
Due: prettier

feat(fe): make create qna in codeEditor (#3000)
  apps/frontend/app/(client)/(code-editor)/_components/EditorResizablePanel.tsx
  apps/frontend/app/(client)/(code-editor)/_components/context/RefetchingQnaCommentsStoreProvider.tsx
  apps/frontend/app/(client)/(code-editor)/_libs/hooks/useSubmissionPolling.ts
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CommentsArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateComments.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/FullHeightAccordionContent.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QnaAccordion.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/QuestionAnswerArea.tsx
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/page.tsx
  apps/frontend/components/ContestStatusTimeDiff.tsx
  apps/frontend/components/shadcn/textarea.tsx
  apps/frontend/types/type.ts
Due: eslint, prettier

fix(fe): modify confirm text
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
Due: eslint, prettier

fix(infra): set helm release name of redis (#3053)
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/admin-api/overlays/production/configmap.yaml
  apps/k8s/admin-api/overlays/production/kustomization.yaml
  apps/k8s/admin-api/overlays/stage/configmap.yaml
  apps/k8s/admin-api/overlays/stage/kustomization.yaml
  apps/k8s/argocd/applications/redis.yaml
Due: prettier

fix(fe): modify confirm text (#3056)
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/create/_components/QnaForm.tsx
Due: eslint, prettier

feat(be): add course notice model on prisma scheme
  apps/backend/prisma/migrations/20250828113501_add_course_notice/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

fix(be): do no allow autoFinalizeScore before dueTime (#3052)
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  pnpm-workspace.yaml
Due: eslint, prettier

fix(fe): preserve original username
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentPostArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaSingleComment.tsx
Due: eslint, prettier

fix(fe): allow another user to post comment in non-ongoing contest
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
Due: eslint, prettier

fix(fe): unify qna created time
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
Due: eslint, prettier

style(fe): modify delete button design
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaDetailDeleteButton.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
  apps/frontend/components/DeleteButton.tsx
Due: eslint, prettier

chore(fe): clean up
  apps/frontend/components/DeleteButton.tsx
Due: eslint, prettier

fix(infra): allow modifying image by argocd-image-updater
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/iris.yaml
Due: prettier

fix(infra): allocate fewer resource to stage pods
  apps/k8s/admin-api/base/deployment.yaml
  apps/k8s/client-api/base/deployment.yaml
  apps/k8s/iris/overlays/stage/kustomization.yaml
Due: prettier

feat(fe): revert backend change
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
  apps/frontend/app/admin/problem/create/page.tsx
Due: eslint, prettier

feat(infra): forward stage frontend to k8s instead of coolify
  .github/workflows/cd-stage.yml
  apps/infra/stage/server2/Caddyfile
Due: prettier

chore(be): delete unnecessary bruno file and add bruno docs
  collection/admin/Submission/Download Source Codes/Succeed.bru
  collection/admin/Submission/Download SourceCode from URL/Succeed.bru
  collection/admin/Submission/Get URL for downloading SourceCode/Succeed.bru
Due: none

feat(infra): forward stage frontend to k8s instead of coolify (#3060)
  .github/workflows/cd-stage.yml
  apps/infra/stage/server2/Caddyfile
Due: prettier

chore: add comment
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/iris.yaml
Due: prettier

chore: more comment
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/iris.yaml
Due: prettier

fix(infra): add aws-credentials.yaml to stage client api
  apps/k8s/client-api/overlays/stage/kustomization.yaml
Due: prettier

fix(fe): fix error handling
  apps/frontend/app/admin/problem/_components/TestcaseField.tsx
  apps/frontend/app/admin/problem/_components/TestcaseItem.tsx
  apps/frontend/app/admin/problem/_libs/schemas.ts
Due: eslint, prettier

fix(infra): allow modifying image by argocd-image-updater (#3058)
  apps/k8s/argocd/applications/admin-api.yaml
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/argocd/applications/frontend.yaml
  apps/k8s/argocd/applications/iris.yaml
Due: prettier

fix(infra): allocate fewer resource to stage pods (#3059)
  apps/k8s/admin-api/base/deployment.yaml
  apps/k8s/client-api/base/deployment.yaml
  apps/k8s/iris/overlays/stage/kustomization.yaml
Due: prettier

fix(infra): add aws-credentials.yaml to stage client api (#3061)
  apps/k8s/client-api/overlays/stage/kustomization.yaml
Due: prettier

fix(be): use passthrough option to use global exception filter
  apps/backend/apps/admin/src/submission/submission.controller.ts
Due: eslint, prettier

chore(be): add exception handling
  apps/backend/apps/admin/src/submission/submission.service.ts
Due: eslint, prettier

feat(fe): change course code system
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/course/_components/CreateCourseForm.tsx
  apps/frontend/app/admin/course/_components/InputForm.tsx
  apps/frontend/app/admin/course/_libs/schema.ts
  apps/frontend/components/Modal.tsx
Due: eslint, prettier

feat(fe): apply design to update
  apps/frontend/app/admin/course/_components/CourseFormFields.tsx
  apps/frontend/app/admin/course/_components/CreateCourseButton.tsx
  apps/frontend/app/admin/course/_components/InputForm.tsx
  apps/frontend/app/admin/course/_components/UpdateCourseButton.tsx
Due: eslint, prettier

feat(fe): set default view
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
Due: eslint, prettier

fix(fe): apply requested changes(2)
  apps/frontend/app/admin/course/[courseId]/user/_components/InviteManually.tsx
Due: eslint, prettier

feat(fe): make title lenth 70
  apps/frontend/app/(client)/(code-editor)/contest/[contestId]/problem/[problemId]/qna/_components/CreateQnaTextArea.tsx
Due: eslint, prettier

fix(fe): show qna title header as problem title
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
  apps/frontend/graphql/contest/queries.ts
Due: eslint, prettier

fix(fe): handle General qna case
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,css,yaml,yml,jsx,tsx}
  gofmt: any of: *.go and ^iris/
  terraformfmt: any of: *.tf
