Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(fe): revert showCancelButton
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnAPostButton.tsx
Due: eslint, prettier

fix(fe): revert revert prevent infinite refetch when refresh (#3030)
  apps/frontend/app/admin/contest/[contestId]/(overall)/@tabs/leaderboard/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/(overall)/@tabs/page.tsx
Due: eslint, prettier

fix(fe): fix pagination controls
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnACategoryFilter.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/_components/QnADataTable.tsx
Due: eslint, prettier

feat(infra): setup client-api k8s for stage/prod env
  .github/workflows/cd-stage.yml
  apps/infra/production/k8s-iam/.terraform.lock.hcl
  apps/infra/production/k8s-iam/client-api.tf
  apps/infra/production/k8s-iam/main.tf
  apps/infra/production/storage/outputs.tf
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/client-api/aws-credentials.yaml
  apps/k8s/client-api/base/configmap.yaml
  apps/k8s/client-api/base/deployment.yaml
  apps/k8s/client-api/base/ingress.yaml
  apps/k8s/client-api/base/kustomization.yaml
  apps/k8s/client-api/base/namespace.yaml
  apps/k8s/client-api/base/rabbitmq-credentials.yaml
  apps/k8s/client-api/base/service.yaml
  apps/k8s/client-api/client-api-credentials.yaml
  apps/k8s/client-api/deployment.yaml
  apps/k8s/client-api/external-secret.yaml
  apps/k8s/client-api/overlays/production/configmap.yaml
  apps/k8s/client-api/overlays/production/kustomization.yaml
  apps/k8s/client-api/overlays/production/secrets/aws-credentials.yaml
  apps/k8s/client-api/overlays/production/secrets/database-credentials.yaml
  apps/k8s/client-api/overlays/production/secrets/oauth-credentials.yaml
  apps/k8s/client-api/overlays/production/secrets/security-keys.yaml
  apps/k8s/client-api/overlays/stage/configmap.yaml
  apps/k8s/client-api/overlays/stage/ingress.yaml
  apps/k8s/client-api/overlays/stage/kustomization.yaml
  apps/k8s/client-api/overlays/stage/secrets/database-credentials.yaml
  apps/k8s/client-api/overlays/stage/secrets/oauth-credentials.yaml
  apps/k8s/client-api/overlays/stage/secrets/security-keys.yaml
  apps/k8s/rabbitmq/overlays/production/admin-credentials.yaml
  apps/k8s/rabbitmq/overlays/stage/admin-credentials.yaml
Due: prettier, terraformfmt

chore: hide username and password as secrets
  apps/k8s/postgres/deployment.yaml
  apps/k8s/postgres/secrets.yaml
Due: prettier

chore: docs
  apps/k8s/postgres/README.md
Due: none

chore: use new credential for stage postgres
  apps/k8s/client-api/overlays/stage/secrets/database-credentials.yaml
Due: prettier

feat(infra): setup postgres in k8s for stage env (#3006)
  apps/k8s/argocd/applications/postgres-stage.yaml
  apps/k8s/postgres/README.md
  apps/k8s/postgres/deployment.yaml
  apps/k8s/postgres/namespace.yaml
  apps/k8s/postgres/pvc.yaml
  apps/k8s/postgres/secrets.yaml
  apps/k8s/postgres/service.yaml
Due: prettier

fix(fe): solve cl problem and delete unused code
  apps/frontend/app/admin/_components/table/constants.ts
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/Columns.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/_components/ParticipantTable.tsx
Due: eslint, prettier

chore: add permission to read s3
  apps/infra/production/k8s-iam/client-api.tf
Due: terraformfmt

chore: add docs
  apps/k8s/minio/README.md
Due: none

feat(infra): install minio k8s operator for stage (#3007)
  apps/k8s/argocd/applications/minio-stage.yaml
  apps/k8s/minio/README.md
  apps/k8s/minio/ingress.yaml
  apps/k8s/minio/kustomization.yaml
  apps/k8s/minio/namespace.yaml
  apps/k8s/minio/tenant-config.yaml
  apps/k8s/minio/tenant.yaml
  apps/k8s/minio/users.yaml
Due: prettier

fix(be): apply code review feedback
  apps/backend/apps/admin/src/notification/interface/notification.interface.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.processor.ts
  apps/backend/apps/admin/src/notification/notification.scheduler.ts
Due: eslint, prettier

fix(fe): seperate error page
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaErrorPage.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
Due: eslint, prettier

style(fe): clean up interfaces
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
Due: eslint, prettier

fix(fe): handle not ongoing contest when logout
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaContentArea.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaSingleComment.tsx
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/page.tsx
Due: eslint, prettier

style(fe): clean up imports
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentArea.tsx
Due: eslint, prettier

fix(fe): remove rounded textarea drag
  apps/frontend/app/(client)/(main)/contest/[contestId]/@tabs/qna/[qnaId]/_components/QnaCommentPostArea.tsx
Due: eslint, prettier

feat(be): send assignment remind push (#3031)
  apps/backend/apps/admin/src/assignment/assignment.service.ts
  apps/backend/apps/admin/src/notification/interface/notification.interface.ts
  apps/backend/apps/admin/src/notification/notification.listener.ts
  apps/backend/apps/admin/src/notification/notification.processor.ts
  apps/backend/apps/admin/src/notification/notification.scheduler.ts
  apps/backend/apps/admin/src/notification/notification.service.spec.ts
  apps/backend/apps/admin/src/notification/notification.service.ts
  apps/backend/libs/constants/src/time.constants.ts
  apps/backend/mocha-fixture.ts
Due: eslint, prettier

fix(fe): fix buili error...
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/(overall)/@tabs/assessment/user/[userId]/problem/[problemId]/layout.tsx
Due: eslint, prettier

fix: inject minio credential for stage env
  apps/backend/libs/storage/src/s3.provider.ts
  apps/k8s/client-api/base/deployment.yaml
  apps/k8s/client-api/overlays/stage/configmap.yaml
  apps/k8s/client-api/overlays/stage/secrets/aws-credentials.yaml
Due: eslint, prettier

feat(infra): setup client-api k8s for stage/prod env (#3034)
  .github/workflows/cd-stage.yml
  apps/backend/libs/storage/src/s3.provider.ts
  apps/infra/production/k8s-iam/.terraform.lock.hcl
  apps/infra/production/k8s-iam/client-api.tf
  apps/infra/production/k8s-iam/main.tf
  apps/infra/production/storage/outputs.tf
  apps/k8s/argocd/applications/client-api.yaml
  apps/k8s/client-api/aws-credentials.yaml
  apps/k8s/client-api/base/configmap.yaml
  apps/k8s/client-api/base/deployment.yaml
  apps/k8s/client-api/base/ingress.yaml
  apps/k8s/client-api/base/kustomization.yaml
  apps/k8s/client-api/base/namespace.yaml
  apps/k8s/client-api/base/rabbitmq-credentials.yaml
  apps/k8s/client-api/base/service.yaml
  apps/k8s/client-api/client-api-credentials.yaml
  apps/k8s/client-api/deployment.yaml
  apps/k8s/client-api/external-secret.yaml
  apps/k8s/client-api/overlays/production/configmap.yaml
  apps/k8s/client-api/overlays/production/kustomization.yaml
  apps/k8s/client-api/overlays/production/secrets/aws-credentials.yaml
  apps/k8s/client-api/overlays/production/secrets/database-credentials.yaml
  apps/k8s/client-api/overlays/production/secrets/oauth-credentials.yaml
  apps/k8s/client-api/overlays/production/secrets/security-keys.yaml
  apps/k8s/client-api/overlays/stage/configmap.yaml
  apps/k8s/client-api/overlays/stage/ingress.yaml
  apps/k8s/client-api/overlays/stage/kustomization.yaml
  apps/k8s/client-api/overlays/stage/secrets/aws-credentials.yaml
  apps/k8s/client-api/overlays/stage/secrets/database-credentials.yaml
  apps/k8s/client-api/overlays/stage/secrets/oauth-credentials.yaml
  apps/k8s/client-api/overlays/stage/secrets/security-keys.yaml
  apps/k8s/rabbitmq/overlays/production/admin-credentials.yaml
  apps/k8s/rabbitmq/overlays/stage/admin-credentials.yaml
Due: eslint, prettier, terraformfmt

feat(infra): configure iam user for admin api
  apps/infra/production/k8s-iam/.terraform.lock.hcl
  apps/infra/production/k8s-iam/admin-api.tf
Due: terraformfmt

feat(infra): add base settings for admin api
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/admin-api/base/deployment.yaml
  apps/k8s/admin-api/base/ingress.yaml
  apps/k8s/admin-api/base/kustomization.yaml
  apps/k8s/admin-api/base/namespace.yaml
  apps/k8s/admin-api/base/service.yaml
Due: prettier

feat(infra): configure environment overlays
  apps/k8s/admin-api/base/configmap.yaml
  apps/k8s/admin-api/overlays/production/configmap.yaml
  apps/k8s/admin-api/overlays/production/kustomization.yaml
  apps/k8s/admin-api/overlays/production/secrets/aws-credentials.yaml
  apps/k8s/admin-api/overlays/production/secrets/database-credentials.yaml
  apps/k8s/admin-api/overlays/production/secrets/security-keys.yaml
  apps/k8s/admin-api/overlays/stage/configmap.yaml
  apps/k8s/admin-api/overlays/stage/ingress.yaml
  apps/k8s/admin-api/overlays/stage/kustomization.yaml
  apps/k8s/admin-api/overlays/stage/secrets/database-credentials.yaml
  apps/k8s/admin-api/overlays/stage/secrets/security-keys.yaml
Due: prettier

feat(infra): apply sealed secrets
  apps/k8s/admin-api/overlays/production/secrets/aws-credentials.yaml
  apps/k8s/admin-api/overlays/production/secrets/security-keys.yaml
  apps/k8s/admin-api/overlays/stage/secrets/database-credentials.yaml
  apps/k8s/admin-api/overlays/stage/secrets/security-keys.yaml
Due: prettier

fix(be): lets get this work
  apps/frontend/app/layout.tsx
Due: eslint, prettier

fix(infra): correct database url for stage
  apps/k8s/admin-api/overlays/stage/secrets/database-credentials.yaml
Due: prettier

chore(fe): test
  apps/frontend/app/layout.tsx
Due: eslint, prettier

fix(ingress): remove trailing slash from /graphql path
  apps/k8s/admin-api/base/ingress.yaml
  apps/k8s/admin-api/overlays/stage/ingress.yaml
Due: prettier

chore(fe): test2
  apps/frontend/app/layout.tsx
Due: eslint, prettier

chore(fe): test3
  apps/frontend/app/layout.tsx
  apps/frontend/public/iPhone_16_Pro_Max_portrait.png
Due: eslint, prettier

chore(fe): test4
  apps/frontend/app/layout.tsx
Due: eslint, prettier

feat(infra): add object storage credentials for stage environment
  apps/k8s/admin-api/base/deployment.yaml
  apps/k8s/admin-api/overlays/stage/kustomization.yaml
  apps/k8s/admin-api/overlays/stage/secrets/object-storage.yaml
Due: prettier

chore(fe): test5
  apps/frontend/app/layout.tsx
Due: eslint, prettier

fix(be): correct scoreWeight convesion logic
  apps/backend/apps/admin/src/problem/model/testcase.input.ts
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

chore(fe): test6
  apps/frontend/app/layout.tsx
Due: eslint, prettier

fix(be): handle case when zero is passed as denominator
  apps/backend/apps/admin/src/problem/services/testcase.service.ts
Due: eslint, prettier

feat(fe): align create assignment page
  apps/frontend/app/admin/course/[courseId]/_components/WeekComboBox.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/[assignmentId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/assignment/create/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/[exerciseId]/edit/page.tsx
  apps/frontend/app/admin/course/[courseId]/exercise/create/page.tsx
  apps/frontend/app/admin/course/_components/AssignmentTableColumns.tsx
  apps/frontend/components/shadcn/date-time-picker-demo.tsx
  apps/frontend/components/shadcn/time-picker-input.tsx
  apps/frontend/graphql/assignment/queries.ts
Due: eslint, prettier
