Repository skkuding/codedang: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm eslint {staged_files}
    prettier:
      glob: '*.{js,ts,css,yaml,yml,jsx,tsx}'
      run: pnpm prettier --check {staged_files}
    gofmt:
      glob: '*.go'
      run: go fmt -n ./...
      root: iris
    terraformfmt:
      glob: '*.tf'
      run: terraform fmt {staged_files}

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit

post-checkout:
  commands:
    setup:
      interactive: true
      run: ./scripts/post-checkout.sh

fix(infra): optimize runner logic for high performance
  apps/runner/pod-manager/pod-manager.go
  apps/runner/pod-manager/runner_state_store.go
  apps/runner/pod-manager/unit_test.go
Due: none

feat(be): add totalStudyTime field to UserGroup model
  apps/backend/prisma/schema.prisma
Due: none

fix(infra): optimize runner logic for high performance (#3469)
  apps/runner/pod-manager/pod-manager.go
  apps/runner/pod-manager/runner_state_store.go
  apps/runner/pod-manager/unit_test.go
Due: none

feat(be): add getStudyGroup endpoint in StudyController and implement logic in StudyService
  apps/backend/apps/client/src/study/study.controller.ts
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

fix(be): return updated study group in updateStudyGroup method
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

feat(be): change getStudyGroups method to support pagination with cursor and take parameters
  apps/backend/apps/client/src/study/study.controller.ts
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier

Revert "fix(infra): optimize runner logic for high performance (#3469)"
  apps/runner/pod-manager/pod-manager.go
  apps/runner/pod-manager/runner_state_store.go
  apps/runner/pod-manager/unit_test.go
Due: none

fix(infra): change algorithm for choosing runner idle pods
  apps/runner/pod-manager/runner_state_store.go
Due: none

fix(be): refatoring and test complete
  apps/backend/apps/client/src/contest/contest.service.ts
  apps/backend/prisma/seed.ts
  collection/client/Contest/Get Leaderboard/Succeed.bru
Due: eslint, prettier

fix(be): remove unused value
  apps/backend/apps/client/src/contest/contest.service.ts
Due: eslint, prettier

fix(fe): adjust styles
  apps/frontend/app/(client)/(main)/_components/DataTable.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainColumns.tsx
  apps/frontend/app/(client)/(main)/contest/_components/ContestMainTable.tsx
Due: eslint, prettier

feat(be): add total_study_time column to user_group table
  apps/backend/prisma/migrations/20260306093824_add_total_study_time_to_usergroup/migration.sql
Due: none

feat(be): add totalStudyTime field to UserGroupData interface and initialize in GroupService
  apps/backend/apps/client/src/group/group.service.spec.ts
  apps/backend/apps/client/src/group/group.service.ts
  apps/backend/apps/client/src/group/interface/user-group-data.interface.ts
Due: eslint, prettier

feat(be): add unit tests for StudyController and StudyService
  apps/backend/apps/client/src/study/study.controller.spec.ts
  apps/backend/apps/client/src/study/study.service.spec.ts
Due: eslint, prettier

feat(be): initialize totalStudyTime field in user group and group mock data
  apps/backend/apps/admin/src/group/group.service.spec.ts
  apps/backend/apps/admin/src/user/user.resolver.spec.ts
  apps/backend/apps/admin/src/user/user.service.spec.ts
  apps/backend/apps/client/src/group/mock/group.mock.ts
  apps/backend/libs/auth/src/roles/roles.service.spec.ts
Due: eslint, prettier

fix(runner): adjust echo message handling in websocket communication
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
  apps/runner/backend/main.go
Due: eslint, prettier

fix(runner): adjust echo message handling in websocket communication (#3472)
  apps/frontend/app/(client)/(code-editor)/_components/TestcasePanel/useRunner.ts
  apps/runner/backend/main.go
Due: eslint, prettier

fix(be): standardize spacing in User model relations
  apps/backend/prisma/schema.prisma
Due: none

fix(be): remove unused fields from User model for optimization
  apps/backend/prisma/schema.prisma
Due: none

hotfix(runner): change replicas from 3 to 1 in deployment.yaml
  infra/k8s/runner/base/deployment.yaml
Due: prettier

fix(runner): improve echo message handling in websocket input processing
  apps/runner/backend/main.go
Due: none

fix(runner): empty enter (#3474)
  apps/runner/backend/main.go
Due: none

fix(infra): git revert - optimize runner logic for high performance (#3470)
  apps/runner/pod-manager/pod-manager.go
  apps/runner/pod-manager/runner_state_store.go
  apps/runner/pod-manager/unit_test.go
Due: none

fix(runner): ensure early return on stdin write error in wsHandler
  apps/runner/backend/main.go
Due: none

fix(runner): reduce pod replicas and pool size for resource optimization
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

fix(runner): ensure early return on stdin write error in wsHandler (#3475)
  apps/runner/backend/main.go
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

hotfix-change-pool-size-to-3
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

fix(runner): change-pool-size-to-3 (#3476)
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

fix(runner): move echo message handling to after stdin write
  apps/runner/backend/main.go
Due: none

fix(runner): move echo message handling to after stdin write (#3477)
  apps/runner/backend/main.go
Due: none

restore replica and pool size
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

feat(be): add script to create assignment records for group leaders
  apps/backend/scripts/add-assignment-record.ts
Due: eslint, prettier

fix(infra): restore replica and pool size (#3478)
  infra/k8s/runner/base/deployment.yaml
  infra/k8s/runner/overlays/stage/configmap.yaml
Due: prettier

fix(runner): revert to original logic
  apps/runner/backend/main.go
Due: none

fix(runner): revert to original logic (#3479)
  apps/runner/backend/main.go
Due: none

feat(fe): create problem tabs
  apps/frontend/app/(client)/(main)/problem/_components/ProblemTabs.tsx
  apps/frontend/app/(client)/(main)/problem/creating/page.tsx
  apps/frontend/app/(client)/(main)/problem/layout.tsx
  apps/frontend/app/(client)/(main)/problem/my-problems/page.tsx
Due: eslint, prettier

fix(fe): change management scroll bar logic
  apps/frontend/app/admin/course/page.tsx
  apps/frontend/app/admin/layout.tsx
  apps/frontend/app/admin/problem/page.tsx
  apps/frontend/components/shadcn/scroll-area.tsx
Due: eslint, prettier

docs(be): add and update description to client/submission
  apps/backend/apps/client/src/submission/submission.service.ts
Due: eslint, prettier

feat(iris): refactor task handling to use channels for result messaging
  apps/iris/src/handler/generate/factory.go
  apps/iris/src/handler/generate/task.go
  apps/iris/src/handler/interface.go
  apps/iris/src/handler/judge/factory.go
  apps/iris/src/handler/judge/task.go
  apps/iris/src/handler/run/factory.go
  apps/iris/src/handler/run/task.go
  apps/iris/src/handler/task_runner.go
  apps/iris/src/handler/validate/task.go
  apps/iris/src/router/router.go
Due: none

fix(be): check problemIds validation
  apps/backend/apps/client/src/study/study.service.ts
Due: eslint, prettier
